<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>媒体组件</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="audio">audio</h4>
<p><strong>注意：1.6.0 版本开始，该组件不再维护。建议使用能力更强的 <a href="../api/createInnerAudioContext.html">wx.createInnerAudioContext</a> 接口</strong></p>
<p>音频。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="媒体组件-id">id</td>
<td>String</td>
<td></td>
<td>audio 组件的唯一标识符</td>
</tr>
<tr>
<td id="媒体组件-src">src</td>
<td>String</td>
<td></td>
<td>要播放音频的资源地址</td>
</tr>
<tr>
<td id="媒体组件-loop">loop</td>
<td>Boolean</td>
<td>false</td>
<td>是否循环播放</td>
</tr>
<tr>
<td id="媒体组件-controls">controls</td>
<td>Boolean</td>
<td>false</td>
<td>是否显示默认控件</td>
</tr>
<tr>
<td id="媒体组件-poster">poster</td>
<td>String</td>
<td></td>
<td>默认控件上的音频封面的图片资源地址，如果 controls 属性值为 false 则设置 poster 无效</td>
</tr>
<tr>
<td id="媒体组件-name">name</td>
<td>String</td>
<td>未知音频</td>
<td>默认控件上的音频名字，如果 controls 属性值为 false 则设置 name 无效</td>
</tr>
<tr>
<td id="媒体组件-author">author</td>
<td>String</td>
<td>未知作者</td>
<td>默认控件上的作者名字，如果 controls 属性值为 false 则设置 author 无效</td>
</tr>
<tr>
<td id="媒体组件-binderror">binderror</td>
<td>EventHandle</td>
<td></td>
<td>当发生错误时触发 error 事件，detail = {errMsg: MediaError.code}</td>
</tr>
<tr>
<td id="媒体组件-bindplay">bindplay</td>
<td>EventHandle</td>
<td></td>
<td>当开始/继续播放时触发play事件</td>
</tr>
<tr>
<td id="媒体组件-bindpause">bindpause</td>
<td>EventHandle</td>
<td></td>
<td>当暂停播放时触发 pause 事件</td>
</tr>
<tr>
<td id="媒体组件-bindtimeupdate">bindtimeupdate</td>
<td>EventHandle</td>
<td></td>
<td>当播放进度改变时触发 timeupdate 事件，detail = {currentTime, duration}</td>
</tr>
<tr>
<td id="媒体组件-bindended">bindended</td>
<td>EventHandle</td>
<td></td>
<td>当播放到末尾时触发 ended 事件</td>
</tr>
</tbody>
</table>
<p><strong>MediaError.code</strong></p>
<table>
<thead>
<tr>
<th>返回错误码</th>
<th>描述</th>
</tr>
</thead>
<tbody>
<tr>
<td>1</td>
<td>获取资源被用户禁止</td>
</tr>
<tr>
<td>2</td>
<td>网络错误</td>
</tr>
<tr>
<td>3</td>
<td>解码错误</td>
</tr>
<tr>
<td>4</td>
<td>不合适资源</td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/NycgqcmS6KYY" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-comment"><!-- audio.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">audio</span> <span class="hljs-attr">poster</span>=<span class="hljs-string">"{{poster}}"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"{{name}}"</span> <span class="hljs-attr">author</span>=<span class="hljs-string">"{{author}}"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"{{src}}"</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"myAudio"</span> <span class="hljs-attr">controls</span> <span class="hljs-attr">loop</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->audio</span>>

<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"audioPlay"</span>></span>播放<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"audioPause"</span>></span>暂停<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"audio14"</span>></span>设置当前播放时间为14秒<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"audioStart"</span>></span>回到开头<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-comment">// audio.js</span>
Page({
  onReady: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
    <span class="hljs-comment">// 使用 wx.createAudioContext 获取 audio 上下文 context</span>
    <span class="hljs-keyword">this</span>.audioCtx = wx.createAudioContext(<span class="hljs-string">'myAudio'</span>)
  },
  data: {
    poster: <span class="hljs-string">'http://y.gtimg.cn/music/photo_new/T002R300x300M000003rsKF44GyaSk.jpg?max_age=2592000'</span>,
    name: <span class="hljs-string">'此时此刻'</span>,
    author: <span class="hljs-string">'许巍'</span>,
    src: <span class="hljs-string">'http://ws.stream.qqmusic.qq.com/M500001VfvsJ21xFqb.mp3?guid=ffffffff82def4af4b12b3cd9337d5e7&uin=346897220&vkey=6292F51E1E384E06DCBDC9AB7C49FD713D632D313AC4858BACB8DDD29067D3C601481D36E62053BF8DFEAF74C0A5CCFADD6471160CAF3E6A&fromtag=46'</span>,
  },
  audioPlay: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.audioCtx.play()
  },
  audioPause: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.audioCtx.pause()
  },
  audio14: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.audioCtx.seek(<span class="hljs-number">14</span>)
  },
  audioStart: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.audioCtx.seek(<span class="hljs-number">0</span>)
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/audio.png?t=2018413" alt="audio"></p>
<p>相关api：<a href="../api/api-audio.html">wx.createAudioContext</a></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>