<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>表单组件</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="button">button</h4>
<p>按钮。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>生效时机</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="表单组件-size">size</td>
<td>String</td>
<td>default</td>
<td>按钮的大小</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-type">type</td>
<td>String</td>
<td>default</td>
<td>按钮的样式类型</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-plain">plain</td>
<td>Boolean</td>
<td>false</td>
<td>按钮是否镂空，背景色透明</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-loading">loading</td>
<td>Boolean</td>
<td>false</td>
<td>名称前是否带 loading 图标</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-form-type">form-type</td>
<td>String</td>
<td></td>
<td>用于 <code></code><form><code></code> 组件，点击分别会触发 <code></code> 组件的 submit/reset 事件</form></td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-open-type">open-type</td>
<td>String</td>
<td></td>
<td>微信开放能力</td>
<td></td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="表单组件-app-parameter">app-parameter</td>
<td>String</td>
<td></td>
<td>打开 APP 时，向 APP 传递的参数</td>
<td>open-type="launchApp"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.5 开始支持，低版本需做兼容处理。">1.9.5</a></td>
</tr>
<tr>
<td id="表单组件-hover-class">hover-class</td>
<td>String</td>
<td>button-hover</td>
<td>指定按钮按下去的样式类。当 <code>hover-class="none"</code> 时，没有点击态效果</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-hover-stop-propagation">hover-stop-propagation</td>
<td>Boolean</td>
<td>false</td>
<td>指定是否阻止本节点的祖先节点出现点击态</td>
<td></td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="表单组件-hover-start-time">hover-start-time</td>
<td>Number</td>
<td>20</td>
<td>按住后多久出现点击态，单位毫秒</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-hover-stay-time">hover-stay-time</td>
<td>Number</td>
<td>70</td>
<td>手指松开后点击态保留时间，单位毫秒</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="表单组件-bindgetuserinfo">bindgetuserinfo</td>
<td>Handler</td>
<td></td>
<td>用户点击该按钮时，会返回获取到的用户信息，从返回参数的detail中获取到的值同<a href="../api/open.html#wxgetuserinfoobject">wx.getUserInfo</a></td>
<td>open-type="getUserInfo'</td>
<td><a href="../framework/compatibility.html" title="基础库 1.3.0 开始支持，低版本需做兼容处理。">1.3.0</a></td>
</tr>
<tr>
<td id="表单组件-lang">lang</td>
<td>String</td>
<td>en</td>
<td>指定返回用户信息的语言，zh_CN 简体中文，zh_TW 繁体中文，en 英文。</td>
<td>open-type="getUserInfo"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.3.0 开始支持，低版本需做兼容处理。">1.3.0</a></td>
</tr>
<tr>
<td id="表单组件-session-from">session-from</td>
<td>String</td>
<td></td>
<td>会话来源</td>
<td>open-type="contact"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
<tr>
<td id="表单组件-send-message-title">send-message-title</td>
<td>String</td>
<td>当前标题</td>
<td>会话内消息卡片标题</td>
<td>open-type="contact"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="表单组件-send-message-path">send-message-path</td>
<td>String</td>
<td>当前分享路径</td>
<td>会话内消息卡片点击跳转小程序路径</td>
<td>open-type="contact"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="表单组件-send-message-img">send-message-img</td>
<td>String</td>
<td>截图</td>
<td>会话内消息卡片图片</td>
<td>open-type="contact"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="表单组件-show-message-card">show-message-card</td>
<td>Boolean</td>
<td>false</td>
<td>显示会话内消息卡片</td>
<td>open-type="contact"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="表单组件-bindcontact">bindcontact</td>
<td>Handler</td>
<td></td>
<td>客服消息回调</td>
<td>open-type="contact"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="表单组件-bindgetphonenumber">bindgetphonenumber</td>
<td>Handler</td>
<td></td>
<td>获取用户手机号回调</td>
<td>open-type="getphonenumber"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.2.0 开始支持，低版本需做兼容处理。">1.2.0</a></td>
</tr>
<tr>
<td id="表单组件-binderror">binderror</td>
<td>Handler</td>
<td></td>
<td>当使用开放能力时，发生错误的回调</td>
<td>open-type="launchApp"</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.5 开始支持，低版本需做兼容处理。">1.9.5</a></td>
</tr>
</tbody>
</table>
<!--
| bindrealnameauth       | Handler |              | 获取实名授权的auth_token                                                                                                       | open-type="realnameAuth"   | [1.7.0](/framework/compatibility.md "基础库 1.7.0 开始支持，低版本需做兼容处理。") |
-->
<ul>
<li><strong>注1：<code>button-hover</code> 默认为<code>{background-color: rgba(0, 0, 0, 0.1); opacity: 0.7;}</code></strong></li>
<li><strong>注2：<code>bindgetphonenumber</code> 从1.2.0 开始支持，但是在1.5.3以下版本中无法使用<code>wx.canIUse</code>进行检测，建议使用基础库版本进行判断。</strong></li>
<li><strong>注3: 在<code>bindgetphonenumber</code> 等返回加密信息的回调中调用 <code>wx.login</code> 登录，可能会刷新登录态。此时服务器使用 code 换取的 sessionKey 不是加密时使用的 sessionKey，导致解密失败。建议开发者提前进行 <code>login</code>；或者在回调中先使用 <code>checkSession</code> 进行登录态检查，避免 <code>login</code> 刷新登录态。</strong></li>
</ul>
<p><strong>size 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>default</td>
<td></td>
</tr>
<tr>
<td>mini</td>
</tr>
</tbody>
</table>
<p><strong>type 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>primary</td>
<td></td>
</tr>
<tr>
<td>default</td>
<td></td>
</tr>
<tr>
<td>warn</td>
</tr>
</tbody>
</table>
<p><strong>form-type 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>submit</td>
<td>提交表单</td>
</tr>
<tr>
<td>reset</td>
<td>重置表单</td>
</tr>
</tbody>
</table>
<p><strong>open-type 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td>contact</td>
<td>打开客服会话</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td>share</td>
<td>触发用户转发，使用前建议先阅读<a href="../api/share.html#使用指引">使用指引</a></td>
<td><a href="../framework/compatibility.html" title="基础库 1.2.0 开始支持，低版本需做兼容处理。">1.2.0</a></td>
</tr>
<tr>
<td>getUserInfo</td>
<td>获取用户信息，可以从bindgetuserinfo回调中获取到用户信息</td>
<td><a href="../framework/compatibility.html" title="基础库 1.3.0 开始支持，低版本需做兼容处理。">1.3.0</a></td>
</tr>
<tr>
<td>getPhoneNumber</td>
<td>获取用户手机号，可以从bindgetphonenumber回调中获取到用户信息，<a href="../api/getPhoneNumber.html">具体说明</a></td>
<td><a href="../framework/compatibility.html" title="基础库 1.2.0 开始支持，低版本需做兼容处理。">1.2.0</a></td>
</tr>
<tr>
<td>launchApp</td>
<td>打开APP，可以通过app-parameter属性设定向APP传的参数<a href="../api/launchApp.html">具体说明</a></td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.5 开始支持，低版本需做兼容处理。">1.9.5</a></td>
</tr>
</tbody>
</table>
<!--
| getRealnameAuthInfo | 进入实名授权流程，可从bindrealnameauth回调中获取auth_token                          | [1.7.0](/framework/compatibility.md "基础库 1.7.0 开始支持，低版本需做兼容处理。")           |
-->
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/DJaYicms6lY5" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-css"><span class="hljs-comment">/** wxss **/</span>
<span class="hljs-comment">/** 修改button默认的点击态样式类**/</span>
<span class="hljs-selector-class">.button-hover</span> {
  <span class="hljs-attribute">background-color</span>: red;
}
<span class="hljs-comment">/** 添加自定义button点击态样式类**/</span>
<span class="hljs-selector-class">.other-button-hover</span> {
  <span class="hljs-attribute">background-color</span>: blue;
}
</code></pre>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"default"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"{{defaultSize}}"</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"{{loading}}"</span> <span class="hljs-attr">plain</span>=<span class="hljs-string">"{{plain}}"</span>
        <span class="hljs-attr">disabled</span>=<span class="hljs-string">"{{disabled}}"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"default"</span> <span class="hljs-attr">hover-class</span>=<span class="hljs-string">"other-button-hover"</span>></span> default <span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"{{primarySize}}"</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"{{loading}}"</span> <span class="hljs-attr">plain</span>=<span class="hljs-string">"{{plain}}"</span>
        <span class="hljs-attr">disabled</span>=<span class="hljs-string">"{{disabled}}"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"primary"</span>></span> primary <span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"warn"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"{{warnSize}}"</span> <span class="hljs-attr">loading</span>=<span class="hljs-string">"{{loading}}"</span> <span class="hljs-attr">plain</span>=<span class="hljs-string">"{{plain}}"</span>
        <span class="hljs-attr">disabled</span>=<span class="hljs-string">"{{disabled}}"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"warn"</span>></span> warn <span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"setDisabled"</span>></span>点击设置以上按钮disabled属性<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"setPlain"</span>></span>点击设置以上按钮plain属性<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"setLoading"</span>></span>点击设置以上按钮loading属性<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">open-type</span>=<span class="hljs-string">"contact"</span>></span>进入客服会话<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
</code></pre>
<pre><code class="lang-js"><span class="hljs-keyword">var</span> types = [<span class="hljs-string">'default'</span>, <span class="hljs-string">'primary'</span>, <span class="hljs-string">'warn'</span>]
<span class="hljs-keyword">var</span> pageObject = {
  data: {
    defaultSize: <span class="hljs-string">'default'</span>,
    primarySize: <span class="hljs-string">'default'</span>,
    warnSize: <span class="hljs-string">'default'</span>,
    disabled: <span class="hljs-literal">false</span>,
    plain: <span class="hljs-literal">false</span>,
    loading: <span class="hljs-literal">false</span>
  },
  setDisabled: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      disabled: !<span class="hljs-keyword">this</span>.data.disabled
    })
  },
  setPlain: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      plain: !<span class="hljs-keyword">this</span>.data.plain
    })
  },
  setLoading: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      loading: !<span class="hljs-keyword">this</span>.data.loading
    })
  }
}

<span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i < types.length; ++i) {
  (<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">type</span>) </span>{
    pageObject[type] = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
      <span class="hljs-keyword">var</span> key = type + <span class="hljs-string">'Size'</span>
      <span class="hljs-keyword">var</span> changedData = {}
      changedData[key] =
        <span class="hljs-keyword">this</span>.data[key] === <span class="hljs-string">'default'</span> ? <span class="hljs-string">'mini'</span> : <span class="hljs-string">'default'</span>
      <span class="hljs-keyword">this</span>.setData(changedData)
    }
  })(types[i])
}

Page(pageObject)
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/button.png?t=2018413" alt="button"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>