<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>&#x8868;&#x5355;&#x7EC4;&#x4EF6;</title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h4 id="button">button</h4>
<p>&#x6309;&#x94AE;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x751F;&#x6548;&#x65F6;&#x673A;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-size">size</td>
<td>String</td>
<td>default</td>
<td>&#x6309;&#x94AE;&#x7684;&#x5927;&#x5C0F;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-type">type</td>
<td>String</td>
<td>default</td>
<td>&#x6309;&#x94AE;&#x7684;&#x6837;&#x5F0F;&#x7C7B;&#x578B;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-plain">plain</td>
<td>Boolean</td>
<td>false</td>
<td>&#x6309;&#x94AE;&#x662F;&#x5426;&#x9542;&#x7A7A;&#xFF0C;&#x80CC;&#x666F;&#x8272;&#x900F;&#x660E;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-loading">loading</td>
<td>Boolean</td>
<td>false</td>
<td>&#x540D;&#x79F0;&#x524D;&#x662F;&#x5426;&#x5E26; loading &#x56FE;&#x6807;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-form-type">form-type</td>
<td>String</td>
<td></td>
<td>&#x7528;&#x4E8E; <a href="form.html"><code>&lt;form&gt;</code></a> &#x7EC4;&#x4EF6;&#xFF0C;&#x70B9;&#x51FB;&#x5206;&#x522B;&#x4F1A;&#x89E6;&#x53D1; <a href="form.html"><code>&lt;form&gt;</code></a> &#x7EC4;&#x4EF6;&#x7684; submit/reset &#x4E8B;&#x4EF6;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-open-type">open-type</td>
<td>String</td>
<td></td>
<td>&#x5FAE;&#x4FE1;&#x5F00;&#x653E;&#x80FD;&#x529B;</td>
<td></td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.1.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-hover-class">hover-class</td>
<td>String</td>
<td>button-hover</td>
<td>&#x6307;&#x5B9A;&#x6309;&#x94AE;&#x6309;&#x4E0B;&#x53BB;&#x7684;&#x6837;&#x5F0F;&#x7C7B;&#x3002;&#x5F53; <code>hover-class=&quot;none&quot;</code> &#x65F6;&#xFF0C;&#x6CA1;&#x6709;&#x70B9;&#x51FB;&#x6001;&#x6548;&#x679C;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-hover-stop-propagation">hover-stop-propagation</td>
<td>Boolean</td>
<td>false</td>
<td>&#x6307;&#x5B9A;&#x662F;&#x5426;&#x963B;&#x6B62;&#x672C;&#x8282;&#x70B9;&#x7684;&#x7956;&#x5148;&#x8282;&#x70B9;&#x51FA;&#x73B0;&#x70B9;&#x51FB;&#x6001;</td>
<td></td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-hover-start-time">hover-start-time</td>
<td>Number</td>
<td>20</td>
<td>&#x6309;&#x4F4F;&#x540E;&#x591A;&#x4E45;&#x51FA;&#x73B0;&#x70B9;&#x51FB;&#x6001;&#xFF0C;&#x5355;&#x4F4D;&#x6BEB;&#x79D2;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-hover-stay-time">hover-stay-time</td>
<td>Number</td>
<td>70</td>
<td>&#x624B;&#x6307;&#x677E;&#x5F00;&#x540E;&#x70B9;&#x51FB;&#x6001;&#x4FDD;&#x7559;&#x65F6;&#x95F4;&#xFF0C;&#x5355;&#x4F4D;&#x6BEB;&#x79D2;</td>
<td></td>
<td></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-lang">lang</td>
<td>String</td>
<td>en</td>
<td>&#x6307;&#x5B9A;&#x8FD4;&#x56DE;&#x7528;&#x6237;&#x4FE1;&#x606F;&#x7684;&#x8BED;&#x8A00;&#xFF0C;zh_CN &#x7B80;&#x4F53;&#x4E2D;&#x6587;&#xFF0C;zh_TW &#x7E41;&#x4F53;&#x4E2D;&#x6587;&#xFF0C;en &#x82F1;&#x6587;&#x3002;</td>
<td>open-type=&quot;getUserInfo&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.3.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.3.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-bindgetuserinfo">bindgetuserinfo</td>
<td>Handler</td>
<td></td>
<td>&#x7528;&#x6237;&#x70B9;&#x51FB;&#x8BE5;&#x6309;&#x94AE;&#x65F6;&#xFF0C;&#x4F1A;&#x8FD4;&#x56DE;&#x83B7;&#x53D6;&#x5230;&#x7684;&#x7528;&#x6237;&#x4FE1;&#x606F;&#xFF0C;&#x56DE;&#x8C03;&#x7684;detail&#x6570;&#x636E;&#x4E0E;<a href="../api/wx.getUserInfo.html">wx.getUserInfo</a>&#x8FD4;&#x56DE;&#x7684;&#x4E00;&#x81F4;</td>
<td>open-type=&quot;getUserInfo&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.3.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.3.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-session-from">session-from</td>
<td>String</td>
<td></td>
<td>&#x4F1A;&#x8BDD;&#x6765;&#x6E90;</td>
<td>open-type=&quot;contact&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-send-message-title">send-message-title</td>
<td>String</td>
<td>&#x5F53;&#x524D;&#x6807;&#x9898;</td>
<td>&#x4F1A;&#x8BDD;&#x5185;&#x6D88;&#x606F;&#x5361;&#x7247;&#x6807;&#x9898;</td>
<td>open-type=&quot;contact&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-send-message-path">send-message-path</td>
<td>String</td>
<td>&#x5F53;&#x524D;&#x5206;&#x4EAB;&#x8DEF;&#x5F84;</td>
<td>&#x4F1A;&#x8BDD;&#x5185;&#x6D88;&#x606F;&#x5361;&#x7247;&#x70B9;&#x51FB;&#x8DF3;&#x8F6C;&#x5C0F;&#x7A0B;&#x5E8F;&#x8DEF;&#x5F84;</td>
<td>open-type=&quot;contact&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-send-message-img">send-message-img</td>
<td>String</td>
<td>&#x622A;&#x56FE;</td>
<td>&#x4F1A;&#x8BDD;&#x5185;&#x6D88;&#x606F;&#x5361;&#x7247;&#x56FE;&#x7247;</td>
<td>open-type=&quot;contact&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-show-message-card">show-message-card</td>
<td>Boolean</td>
<td>false</td>
<td>&#x663E;&#x793A;&#x4F1A;&#x8BDD;&#x5185;&#x6D88;&#x606F;&#x5361;&#x7247;</td>
<td>open-type=&quot;contact&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-bindcontact">bindcontact</td>
<td>Handler</td>
<td></td>
<td>&#x5BA2;&#x670D;&#x6D88;&#x606F;&#x56DE;&#x8C03;</td>
<td>open-type=&quot;contact&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-bindgetphonenumber">bindgetphonenumber</td>
<td>Handler</td>
<td></td>
<td>&#x83B7;&#x53D6;&#x7528;&#x6237;&#x624B;&#x673A;&#x53F7;&#x56DE;&#x8C03;</td>
<td>open-type=&quot;getPhoneNumber&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.2.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.2.0</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-app-parameter">app-parameter</td>
<td>String</td>
<td></td>
<td>&#x6253;&#x5F00; APP &#x65F6;&#xFF0C;&#x5411; APP &#x4F20;&#x9012;&#x7684;&#x53C2;&#x6570;</td>
<td>open-type=&quot;launchApp&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.5 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.5</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-binderror">binderror</td>
<td>Handler</td>
<td></td>
<td>&#x5F53;&#x4F7F;&#x7528;&#x5F00;&#x653E;&#x80FD;&#x529B;&#x65F6;&#xFF0C;&#x53D1;&#x751F;&#x9519;&#x8BEF;&#x7684;&#x56DE;&#x8C03;</td>
<td>open-type=&quot;launchApp&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.5 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.5</a></td>
</tr>
<tr>
<td id="&#x8868;&#x5355;&#x7EC4;&#x4EF6;-bindopensetting">bindopensetting</td>
<td>Handler</td>
<td></td>
<td>&#x5728;&#x6253;&#x5F00;&#x6388;&#x6743;&#x8BBE;&#x7F6E;&#x9875;&#x540E;&#x56DE;&#x8C03;</td>
<td>open-type=&quot;openSetting&quot;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.0.7 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.0.7</a></td>
</tr>
</tbody>
</table>
<ul>
<li><strong>&#x6CE8;1&#xFF1A;<code>button-hover</code> &#x9ED8;&#x8BA4;&#x4E3A;<code>{background-color: rgba(0, 0, 0, 0.1); opacity: 0.7;}</code></strong></li>
<li><strong>&#x6CE8;2&#xFF1A;<code>bindgetphonenumber</code> &#x4ECE;1.2.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F46;&#x662F;&#x5728;1.5.3&#x4EE5;&#x4E0B;&#x7248;&#x672C;&#x4E2D;&#x65E0;&#x6CD5;&#x4F7F;&#x7528;<a href="../api/wx.canIUse.html"><code>wx.canIUse</code></a>&#x8FDB;&#x884C;&#x68C0;&#x6D4B;&#xFF0C;&#x5EFA;&#x8BAE;&#x4F7F;&#x7528;&#x57FA;&#x7840;&#x5E93;&#x7248;&#x672C;&#x8FDB;&#x884C;&#x5224;&#x65AD;&#x3002;</strong></li>
<li><strong>&#x6CE8;3&#xFF1A;&#x5728;<code>bindgetphonenumber</code> &#x7B49;&#x8FD4;&#x56DE;&#x52A0;&#x5BC6;&#x4FE1;&#x606F;&#x7684;&#x56DE;&#x8C03;&#x4E2D;&#x8C03;&#x7528; <a href="../api/wx.login.html"><code>wx.login</code></a> &#x767B;&#x5F55;&#xFF0C;&#x53EF;&#x80FD;&#x4F1A;&#x5237;&#x65B0;&#x767B;&#x5F55;&#x6001;&#x3002;&#x6B64;&#x65F6;&#x670D;&#x52A1;&#x5668;&#x4F7F;&#x7528; code &#x6362;&#x53D6;&#x7684; sessionKey &#x4E0D;&#x662F;&#x52A0;&#x5BC6;&#x65F6;&#x4F7F;&#x7528;&#x7684; sessionKey&#xFF0C;&#x5BFC;&#x81F4;&#x89E3;&#x5BC6;&#x5931;&#x8D25;&#x3002;&#x5EFA;&#x8BAE;&#x5F00;&#x53D1;&#x8005;&#x63D0;&#x524D;&#x8FDB;&#x884C; <code>login</code>&#xFF1B;&#x6216;&#x8005;&#x5728;&#x56DE;&#x8C03;&#x4E2D;&#x5148;&#x4F7F;&#x7528; <code>checkSession</code> &#x8FDB;&#x884C;&#x767B;&#x5F55;&#x6001;&#x68C0;&#x67E5;&#xFF0C;&#x907F;&#x514D; <code>login</code> &#x5237;&#x65B0;&#x767B;&#x5F55;&#x6001;&#x3002;</strong></li>
<li><strong>&#x6CE8;4&#xFF1A;&#x4ECE; 2.1.0 &#x8D77;&#xFF0C;button &#x53EF;&#x4F5C;&#x4E3A;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x7684;&#x5B50;&#x8282;&#x70B9;&#x5D4C;&#x5165;&#xFF0C;&#x4EE5;&#x4FBF;&#x5728;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4E0A;&#x4F7F;&#x7528; <code>open-type</code> &#x7684;&#x80FD;&#x529B;</strong></li>
</ul>
<p><strong>size &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>default</td>
<td>&#x9ED8;&#x8BA4;&#x5927;&#x5C0F;</td>
</tr>
<tr>
<td>mini</td>
<td>&#x5C0F;&#x5C3A;&#x5BF8;</td>
</tr>
</tbody>
</table>
<p><strong>type &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>primary</td>
<td>&#x7EFF;&#x8272;</td>
</tr>
<tr>
<td>default</td>
<td>&#x767D;&#x8272;</td>
</tr>
<tr>
<td>warn</td>
<td>&#x7EA2;&#x8272;</td>
</tr>
</tbody>
</table>
<p><strong>form-type &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>submit</td>
<td>&#x63D0;&#x4EA4;&#x8868;&#x5355;</td>
</tr>
<tr>
<td>reset</td>
<td>&#x91CD;&#x7F6E;&#x8868;&#x5355;</td>
</tr>
</tbody>
</table>
<p><strong>open-type &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>contact</td>
<td>&#x6253;&#x5F00;&#x5BA2;&#x670D;&#x4F1A;&#x8BDD;&#xFF0C;&#x5982;&#x679C;&#x7528;&#x6237;&#x5728;&#x4F1A;&#x8BDD;&#x4E2D;&#x70B9;&#x51FB;&#x6D88;&#x606F;&#x5361;&#x7247;&#x540E;&#x8FD4;&#x56DE;&#x5C0F;&#x7A0B;&#x5E8F;&#xFF0C;&#x53EF;&#x4EE5;&#x4ECE; bindcontact &#x56DE;&#x8C03;&#x4E2D;&#x83B7;&#x5F97;&#x5177;&#x4F53;&#x4FE1;&#x606F;&#xFF0C;<a href="../framework/open-ability/customer-message/customer-message.html">&#x5177;&#x4F53;&#x8BF4;&#x660E;</a></td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.1.0</a></td>
</tr>
<tr>
<td>share</td>
<td>&#x89E6;&#x53D1;&#x7528;&#x6237;&#x8F6C;&#x53D1;&#xFF0C;&#x4F7F;&#x7528;&#x524D;&#x5EFA;&#x8BAE;&#x5148;&#x9605;&#x8BFB;<a href="../framework/open-ability/share.html#&#x4F7F;&#x7528;&#x6307;&#x5F15;">&#x4F7F;&#x7528;&#x6307;&#x5F15;</a></td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.2.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.2.0</a></td>
</tr>
<tr>
<td>getUserInfo</td>
<td>&#x83B7;&#x53D6;&#x7528;&#x6237;&#x4FE1;&#x606F;&#xFF0C;&#x53EF;&#x4EE5;&#x4ECE;bindgetuserinfo&#x56DE;&#x8C03;&#x4E2D;&#x83B7;&#x53D6;&#x5230;&#x7528;&#x6237;&#x4FE1;&#x606F;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.3.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.3.0</a></td>
</tr>
<tr>
<td>getPhoneNumber</td>
<td>&#x83B7;&#x53D6;&#x7528;&#x6237;&#x624B;&#x673A;&#x53F7;&#xFF0C;&#x53EF;&#x4EE5;&#x4ECE;bindgetphonenumber&#x56DE;&#x8C03;&#x4E2D;&#x83B7;&#x53D6;&#x5230;&#x7528;&#x6237;&#x4FE1;&#x606F;&#xFF0C;<a href="../framework/open-ability/getPhoneNumber.html">&#x5177;&#x4F53;&#x8BF4;&#x660E;</a></td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.2.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.2.0</a></td>
</tr>
<tr>
<td>launchApp</td>
<td>&#x6253;&#x5F00;APP&#xFF0C;&#x53EF;&#x4EE5;&#x901A;&#x8FC7;app-parameter&#x5C5E;&#x6027;&#x8BBE;&#x5B9A;&#x5411;APP&#x4F20;&#x7684;&#x53C2;&#x6570;<a href="../framework/open-ability/launchApp.html">&#x5177;&#x4F53;&#x8BF4;&#x660E;</a></td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.5 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.5</a></td>
</tr>
<tr>
<td>openSetting</td>
<td>&#x6253;&#x5F00;&#x6388;&#x6743;&#x8BBE;&#x7F6E;&#x9875;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.0.7 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.0.7</a></td>
</tr>
<tr>
<td>feedback</td>
<td>&#x6253;&#x5F00;&#x201C;&#x610F;&#x89C1;&#x53CD;&#x9988;&#x201D;&#x9875;&#x9762;&#xFF0C;&#x7528;&#x6237;&#x53EF;&#x63D0;&#x4EA4;&#x53CD;&#x9988;&#x5185;&#x5BB9;&#x5E76;&#x4E0A;&#x4F20;<a href="../api/wx.getLogManager.html">&#x65E5;&#x5FD7;</a>&#xFF0C;&#x5F00;&#x53D1;&#x8005;&#x53EF;&#x4EE5;&#x767B;&#x5F55;<a href="https://mp.weixin.qq.com/" target="_blank">&#x5C0F;&#x7A0B;&#x5E8F;&#x7BA1;&#x7406;&#x540E;&#x53F0;</a>&#x540E;&#x8FDB;&#x5165;&#x5DE6;&#x4FA7;&#x83DC;&#x5355;&#x201C;&#x5BA2;&#x670D;&#x53CD;&#x9988;&#x201D;&#x9875;&#x9762;&#x83B7;&#x53D6;&#x5230;&#x53CD;&#x9988;&#x5185;&#x5BB9;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.1.0</a></td>
</tr>
</tbody>
</table>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="https://developers.weixin.qq.com/s/ZHrWZqm66cZy" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-css"><span class="hljs-comment">/** wxss **/</span>
<span class="hljs-comment">/** &#x4FEE;&#x6539;button&#x9ED8;&#x8BA4;&#x7684;&#x70B9;&#x51FB;&#x6001;&#x6837;&#x5F0F;&#x7C7B;**/</span>
<span class="hljs-selector-class">.button-hover</span> {
  <span class="hljs-attribute">background-color</span>: red;
}
<span class="hljs-comment">/** &#x6DFB;&#x52A0;&#x81EA;&#x5B9A;&#x4E49;button&#x70B9;&#x51FB;&#x6001;&#x6837;&#x5F0F;&#x7C7B;**/</span>
<span class="hljs-selector-class">.other-button-hover</span> {
  <span class="hljs-attribute">background-color</span>: blue;
}
</code></pre>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">button</span>
  <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;default&quot;</span>
  <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;{{defaultSize}}&quot;</span>
  <span class="hljs-attr">loading</span>=<span class="hljs-string">&quot;{{loading}}&quot;</span>
  <span class="hljs-attr">plain</span>=<span class="hljs-string">&quot;{{plain}}&quot;</span>
  <span class="hljs-attr">disabled</span>=<span class="hljs-string">&quot;{{disabled}}&quot;</span>
  <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;default&quot;</span>
  <span class="hljs-attr">hover-class</span>=<span class="hljs-string">&quot;other-button-hover&quot;</span>
&gt;</span>
  default
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span>
  <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;primary&quot;</span>
  <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;{{primarySize}}&quot;</span>
  <span class="hljs-attr">loading</span>=<span class="hljs-string">&quot;{{loading}}&quot;</span>
  <span class="hljs-attr">plain</span>=<span class="hljs-string">&quot;{{plain}}&quot;</span>
  <span class="hljs-attr">disabled</span>=<span class="hljs-string">&quot;{{disabled}}&quot;</span>
  <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;primary&quot;</span>
&gt;</span>
  primary
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span>
  <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;warn&quot;</span>
  <span class="hljs-attr">size</span>=<span class="hljs-string">&quot;{{warnSize}}&quot;</span>
  <span class="hljs-attr">loading</span>=<span class="hljs-string">&quot;{{loading}}&quot;</span>
  <span class="hljs-attr">plain</span>=<span class="hljs-string">&quot;{{plain}}&quot;</span>
  <span class="hljs-attr">disabled</span>=<span class="hljs-string">&quot;{{disabled}}&quot;</span>
  <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;warn&quot;</span>
&gt;</span>
  warn
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;setDisabled&quot;</span>&gt;</span>&#x70B9;&#x51FB;&#x8BBE;&#x7F6E;&#x4EE5;&#x4E0A;&#x6309;&#x94AE;disabled&#x5C5E;&#x6027;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;setPlain&quot;</span>&gt;</span>&#x70B9;&#x51FB;&#x8BBE;&#x7F6E;&#x4EE5;&#x4E0A;&#x6309;&#x94AE;plain&#x5C5E;&#x6027;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;setLoading&quot;</span>&gt;</span>&#x70B9;&#x51FB;&#x8BBE;&#x7F6E;&#x4EE5;&#x4E0A;&#x6309;&#x94AE;loading&#x5C5E;&#x6027;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">open-type</span>=<span class="hljs-string">&quot;contact&quot;</span>&gt;</span>&#x8FDB;&#x5165;&#x5BA2;&#x670D;&#x4F1A;&#x8BDD;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">open-type</span>=<span class="hljs-string">&quot;getUserInfo&quot;</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">&quot;zh_CN&quot;</span> <span class="hljs-attr">bindgetuserinfo</span>=<span class="hljs-string">&quot;onGotUserInfo&quot;</span>&gt;</span>
  &#x83B7;&#x53D6;&#x7528;&#x6237;&#x4FE1;&#x606F;
<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">open-type</span>=<span class="hljs-string">&quot;openSetting&quot;</span>&gt;</span>&#x6253;&#x5F00;&#x6388;&#x6743;&#x8BBE;&#x7F6E;&#x9875;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
</code></pre>
<pre><code class="language-js"><span class="hljs-keyword">const</span> types = [<span class="hljs-string">&apos;default&apos;</span>, <span class="hljs-string">&apos;primary&apos;</span>, <span class="hljs-string">&apos;warn&apos;</span>]
<span class="hljs-keyword">const</span> pageObject = {
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">defaultSize</span>: <span class="hljs-string">&apos;default&apos;</span>,
    <span class="hljs-attr">primarySize</span>: <span class="hljs-string">&apos;default&apos;</span>,
    <span class="hljs-attr">warnSize</span>: <span class="hljs-string">&apos;default&apos;</span>,
    <span class="hljs-attr">disabled</span>: <span class="hljs-literal">false</span>,
    <span class="hljs-attr">plain</span>: <span class="hljs-literal">false</span>,
    <span class="hljs-attr">loading</span>: <span class="hljs-literal">false</span>
  },
  setDisabled(e) {
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">disabled</span>: !<span class="hljs-keyword">this</span>.data.disabled
    })
  },
  setPlain(e) {
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">plain</span>: !<span class="hljs-keyword">this</span>.data.plain
    })
  },
  setLoading(e) {
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">loading</span>: !<span class="hljs-keyword">this</span>.data.loading
    })
  },
  onGotUserInfo(e) {
    <span class="hljs-built_in">console</span>.log(e.detail.errMsg)
    <span class="hljs-built_in">console</span>.log(e.detail.userInfo)
    <span class="hljs-built_in">console</span>.log(e.detail.rawData)
  },
}

<span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i &lt; types.length; ++i) {
  (<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">type</span>) </span>{
    pageObject[type] = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
      <span class="hljs-keyword">const</span> key = type + <span class="hljs-string">&apos;Size&apos;</span>
      <span class="hljs-keyword">const</span> changedData = {}
      changedData[key] =
        <span class="hljs-keyword">this</span>.data[key] === <span class="hljs-string">&apos;default&apos;</span> ? <span class="hljs-string">&apos;mini&apos;</span> : <span class="hljs-string">&apos;default&apos;</span>
      <span class="hljs-keyword">this</span>.setData(changedData)
    }
  }(types[i]))
}

Page(pageObject)
</code></pre>
<p><img src="../image/pic/button.png" alt="button"></p>
<h5 id="bug--tip">Bug &amp; Tip</h5>
<ol>
<li><code>tip</code>: &#x76EE;&#x524D;&#xFF0C;&#x8BBE;&#x7F6E;&#x4E86; <code>form-type</code> &#x7684; <code>button</code> &#x53EA;&#x4F1A;&#x5BF9;&#x5F53;&#x524D;&#x7EC4;&#x4EF6;&#x4E2D;&#x7684; <code>form</code> &#x6709;&#x6548;&#x3002;&#x56E0;&#x800C;&#xFF0C;&#x5C06; <code>button</code> &#x5C01;&#x88C5;&#x5728;&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x4E2D;&#xFF0C;&#x800C; <code>from</code> &#x5728;&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x5916;&#xFF0C;&#x5C06;&#x4F1A;&#x4F7F;&#x8FD9;&#x4E2A; <code>button</code> &#x7684; <code>form-type</code> &#x5931;&#x6548;&#x3002;</li>
</ol>

                            </section>
                        </div>
                        
                    </div>
                


</body></html>