<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>camera</title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h4 id="camera">camera</h4>
<blockquote>
<p>&#x57FA;&#x7840;&#x5E93; 1.6.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;<a href="../framework/compatibility.html">&#x517C;&#x5BB9;&#x5904;&#x7406;</a>&#x3002;</p>
</blockquote>
<p>&#x7CFB;&#x7EDF;&#x76F8;&#x673A;&#x3002;&#x8BE5;&#x7EC4;&#x4EF6;&#x662F;<a href="native-component.html">&#x539F;&#x751F;&#x7EC4;&#x4EF6;</a>&#xFF0C;&#x4F7F;&#x7528;&#x65F6;&#x8BF7;&#x6CE8;&#x610F;&#x76F8;&#x5173;&#x9650;&#x5236;&#x3002;
&#x626B;&#x7801;&#x4E8C;&#x7EF4;&#x7801;&#x529F;&#x80FD;&#xFF0C;&#x9700;&#x5347;&#x7EA7;&#x5FAE;&#x4FE1;&#x5BA2;&#x6237;&#x7AEF;&#x81F3;6.7.3&#x3002;</p>
<p>&#x9700;&#x8981;<a href="../framework/open-ability/authorize.html">&#x7528;&#x6237;&#x6388;&#x6743;</a> scope.camera</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="camera-mode">mode</td>
<td>String</td>
<td>normal</td>
<td>&#x6709;&#x6548;&#x503C;&#x4E3A; normal, scanCode</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.1.0</a></td>
</tr>
<tr>
<td id="camera-device-position">device-position</td>
<td>String</td>
<td>back</td>
<td>&#x524D;&#x7F6E;&#x6216;&#x540E;&#x7F6E;&#xFF0C;&#x503C;&#x4E3A;front, back</td>
<td></td>
</tr>
<tr>
<td id="camera-flash">flash</td>
<td>String</td>
<td>auto</td>
<td>&#x95EA;&#x5149;&#x706F;&#xFF0C;&#x503C;&#x4E3A;auto, on, off</td>
<td></td>
</tr>
<tr>
<td id="camera-bindstop">bindstop</td>
<td>EventHandle</td>
<td></td>
<td>&#x6444;&#x50CF;&#x5934;&#x5728;&#x975E;&#x6B63;&#x5E38;&#x7EC8;&#x6B62;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;&#x5982;&#x9000;&#x51FA;&#x540E;&#x53F0;&#x7B49;&#x60C5;&#x51B5;</td>
<td></td>
</tr>
<tr>
<td id="camera-binderror">binderror</td>
<td>EventHandle</td>
<td></td>
<td>&#x7528;&#x6237;&#x4E0D;&#x5141;&#x8BB8;&#x4F7F;&#x7528;&#x6444;&#x50CF;&#x5934;&#x65F6;&#x89E6;&#x53D1;</td>
<td></td>
</tr>
<tr>
<td id="camera-bindscancode">bindscancode</td>
<td>EventHandle</td>
<td></td>
<td>&#x5728;&#x626B;&#x7801;&#x8BC6;&#x522B;&#x6210;&#x529F;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;&#x4EC5;&#x5728; mode=&quot;scanCode&quot; &#x65F6;&#x751F;&#x6548;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.1.0</a>&#x652F;&#x6301;&#x4E00;&#x7EF4;&#x7801;&#xFF0C;<a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.4.0</a>&#x652F;&#x6301;&#x4E8C;&#x7EF4;&#x7801;</td>
</tr>
</tbody>
</table>
<p>&#x76F8;&#x5173;api&#xFF1A;<a href="../api/media/camera/wx.createCameraContext.html">wx.createCameraContext</a></p>
<h5 id="bug--tip">Bug &amp; Tip</h5>
<ol>
<li>&#x8BF7;&#x6CE8;&#x610F;<a href="native-component.html#&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x7684;&#x4F7F;&#x7528;&#x9650;&#x5236;">&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4F7F;&#x7528;&#x9650;&#x5236;</a>&#x3002;</li>
<li><code>tip</code>: &#x540C;&#x4E00;&#x9875;&#x9762;&#x53EA;&#x80FD;&#x63D2;&#x5165;&#x4E00;&#x4E2A; <code>camera</code> &#x7EC4;&#x4EF6;&#x3002;</li>
</ol>
<p><strong>&#x793A;&#x4F8B;&#xFF1A;</strong></p>
<p><a href="https://developers.weixin.qq.com/s/VBZ3Jim26zYu" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-comment">&lt;!-- camera.wxml --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">camera</span> <span class="hljs-attr">device-position</span>=<span class="hljs-string">&quot;back&quot;</span> <span class="hljs-attr">flash</span>=<span class="hljs-string">&quot;off&quot;</span> <span class="hljs-attr">binderror</span>=<span class="hljs-string">&quot;error&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;width: 100%; height: 300px;&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">camera</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;primary&quot;</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;takePhoto&quot;</span>&gt;</span>&#x62CD;&#x7167;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span>&#x9884;&#x89C8;<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">image</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">&quot;widthFix&quot;</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;{{src}}&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">image</span>&gt;</span>
</code></pre>
<pre><code class="language-javascript"><span class="hljs-comment">// camera.js</span>
Page({
	takePhoto() {
		<span class="hljs-keyword">const</span> ctx = wx.createCameraContext()
		ctx.takePhoto({
			<span class="hljs-attr">quality</span>: <span class="hljs-string">&apos;high&apos;</span>,
			<span class="hljs-attr">success</span>: <span class="hljs-function">(<span class="hljs-params">res</span>) =&gt;</span> {
				<span class="hljs-keyword">this</span>.setData({
					<span class="hljs-attr">src</span>: res.tempImagePath
				})
			}
		})
	},
	error(e) {
		<span class="hljs-built_in">console</span>.log(e.detail)
	}
})
</code></pre>

                            </section>
                        </div>
                        
                    </div>
                


</body></html>