<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>camera</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="camera">camera</h4>
<blockquote>
<p>基础库 1.6.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>系统相机。</p>
<p>需要<a href="../api/authorize-index.html">用户授权</a> scope.camera</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="camera-device-position">device-position</td>
<td>String</td>
<td>back</td>
<td>前置或后置，值为front, back</td>
</tr>
<tr>
<td id="camera-flash">flash</td>
<td>String</td>
<td>auto</td>
<td>闪光灯，值为auto, on, off</td>
</tr>
<tr>
<td id="camera-bindstop">bindstop</td>
<td>EventHandle</td>
<td></td>
<td>摄像头在非正常终止时触发，如退出后台等情况</td>
</tr>
<tr>
<td id="camera-binderror">binderror</td>
<td>EventHandle</td>
<td></td>
<td>用户不允许使用摄像头时触发</td>
</tr>
</tbody>
</table>
<p>相关api：<a href="../api/api-camera.html">wx.createCameraContext</a></p>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: <code>camera</code> 组件是由客户端创建的原生组件，它的层级是最高的，不能通过 z-index 控制层级。可使用 <code>cover-view</code> <code>cover-image</code>覆盖在上面。</li>
<li><code>tip</code>: 同一页面只能插入一个 <code>camera</code> 组件。</li>
<li><code>tip</code>: 请勿在 <code>scroll-view</code>、<code>swiper</code>、<code>picker-view</code>、<code>movable-view</code> 中使用 <code>camera</code> 组件。</li>
</ol>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/VBZ3Jim26zYu" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-comment"><!-- camera.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">camera</span> <span class="hljs-attr">device-position</span>=<span class="hljs-string">"back"</span> <span class="hljs-attr">flash</span>=<span class="hljs-string">"off"</span> <span class="hljs-attr">binderror</span>=<span class="hljs-string">"error"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width: 100%; height: 300px;"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->camera</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"primary"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"takePhoto"</span>></span>拍照<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span>预览<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">image</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"widthFix"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"{{src}}"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->image</span>>
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-comment">// camera.js</span>
Page({
    takePhoto() {
        <span class="hljs-keyword">const</span> ctx = wx.createCameraContext()
        ctx.takePhoto({
            quality: <span class="hljs-string">'high'</span>,
            success: (res) => {
                <span class="hljs-keyword">this</span>.setData({
                    src: res.tempImagePath
                })
            }
        })
    },
    error(e) {
        <span class="hljs-built_in">console</span>.log(e.detail)
    }
})
</code></pre>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>