<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>checkbox</title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h4 id="checkbox-group">checkbox-group</h4>
<p>&#x591A;&#x9879;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x5185;&#x90E8;&#x7531;&#x591A;&#x4E2A;<code>checkbox</code>&#x7EC4;&#x6210;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="checkbox-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td><a href="checkbox.html"><code>&lt;checkbox-group&gt;</code></a>&#x4E2D;&#x9009;&#x4E2D;&#x9879;&#x53D1;&#x751F;&#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;detail = {value:[&#x9009;&#x4E2D;&#x7684;checkbox&#x7684;value&#x7684;&#x6570;&#x7EC4;]}</td>
</tr>
</tbody>
</table>
<h4 id="checkbox">checkbox</h4>
<p>&#x591A;&#x9009;&#x9879;&#x76EE;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="checkbox-value">value</td>
<td>String</td>
<td></td>
<td><a href="checkbox.html"><code>&lt;checkbox&gt;</code></a>&#x6807;&#x8BC6;&#xFF0C;&#x9009;&#x4E2D;&#x65F6;&#x89E6;&#x53D1;<a href="checkbox.html"><code>&lt;checkbox-group&gt;</code></a>&#x7684; change &#x4E8B;&#x4EF6;&#xFF0C;&#x5E76;&#x643A;&#x5E26; <a href="checkbox.html"><code>&lt;checkbox&gt;</code></a> &#x7684; value</td>
<td></td>
</tr>
<tr>
<td id="checkbox-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
<tr>
<td id="checkbox-checked">checked</td>
<td>Boolean</td>
<td>false</td>
<td>&#x5F53;&#x524D;&#x662F;&#x5426;&#x9009;&#x4E2D;&#xFF0C;&#x53EF;&#x7528;&#x6765;&#x8BBE;&#x7F6E;&#x9ED8;&#x8BA4;&#x9009;&#x4E2D;</td>
<td></td>
</tr>
<tr>
<td id="checkbox-color">color</td>
<td>Color</td>
<td></td>
<td>checkbox&#x7684;&#x989C;&#x8272;&#xFF0C;&#x540C;css&#x7684;color</td>
<td></td>
</tr>
<tr>
<td id="checkbox-aria-label">aria-label</td>
<td>String</td>
<td></td>
<td>&#x65E0;&#x969C;&#x788D;&#x8BBF;&#x95EE;&#xFF0C;&#xFF08;&#x5C5E;&#x6027;&#xFF09;&#x5143;&#x7D20;&#x7684;&#x989D;&#x5916;&#x63CF;&#x8FF0;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.5.0</a></td>
</tr>
</tbody>
</table>
<p><strong>&#x793A;&#x4F8B;&#xFF1A;</strong></p>
<p><a href="https://developers.weixin.qq.com/s/hGa3DcmW6qYw" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">checkbox-group</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;checkboxChange&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;checkbox&quot;</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">&quot;{{items}}&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">checkbox</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;{{item.name}}&quot;</span> <span class="hljs-attr">checked</span>=<span class="hljs-string">&quot;{{item.checked}}&quot;</span> /&gt;</span>
    {{item.value}}
  <span class="hljs-tag">&lt;/<span class="hljs-name">label</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">checkbox-group</span>&gt;</span>
</code></pre>
<pre><code class="language-js">Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">items</span>: [
      {<span class="hljs-attr">name</span>: <span class="hljs-string">&apos;USA&apos;</span>, <span class="hljs-attr">value</span>: <span class="hljs-string">&apos;&#x7F8E;&#x56FD;&apos;</span>},
      {<span class="hljs-attr">name</span>: <span class="hljs-string">&apos;CHN&apos;</span>, <span class="hljs-attr">value</span>: <span class="hljs-string">&apos;&#x4E2D;&#x56FD;&apos;</span>, <span class="hljs-attr">checked</span>: <span class="hljs-string">&apos;true&apos;</span>},
      {<span class="hljs-attr">name</span>: <span class="hljs-string">&apos;BRA&apos;</span>, <span class="hljs-attr">value</span>: <span class="hljs-string">&apos;&#x5DF4;&#x897F;&apos;</span>},
      {<span class="hljs-attr">name</span>: <span class="hljs-string">&apos;JPN&apos;</span>, <span class="hljs-attr">value</span>: <span class="hljs-string">&apos;&#x65E5;&#x672C;&apos;</span>},
      {<span class="hljs-attr">name</span>: <span class="hljs-string">&apos;ENG&apos;</span>, <span class="hljs-attr">value</span>: <span class="hljs-string">&apos;&#x82F1;&#x56FD;&apos;</span>},
      {<span class="hljs-attr">name</span>: <span class="hljs-string">&apos;TUR&apos;</span>, <span class="hljs-attr">value</span>: <span class="hljs-string">&apos;&#x6CD5;&#x56FD;&apos;</span>},
    ]
  },
  checkboxChange(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;checkbox&#x53D1;&#x751F;change&#x4E8B;&#x4EF6;&#xFF0C;&#x643A;&#x5E26;value&#x503C;&#x4E3A;&#xFF1A;&apos;</span>, e.detail.value)
  }
})
</code></pre>
<p><img src="https://developers.weixin.qq.com/miniprogram/dev/image/pic/checkbox.png?t=19012216" alt="checkbox"></p>

                            </section>
                        </div>
                        
                    </div>
                


</body></html>