<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>cover-view</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="cover-view">cover-view</h4>
<blockquote>
<p>基础库 1.4.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>覆盖在原生组件之上的文本视图，可覆盖的原生组件包括<code>map</code>、<code>video</code>、<code>canvas</code>、<code>camera</code>，只支持嵌套<code>cover-view</code>、<code>cover-image</code>。</p>
<table>
<thead>
<tr>
<th>属性名</th>
</tr>
</thead>
<tbody>
<tr>
<td id="cover-view-无">无</td>
</tr>
</tbody>
</table>
<h4 id="cover-image">cover-image</h4>
<blockquote>
<p>基础库 1.4.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>覆盖在原生组件之上的图片视图，可覆盖的原生组件同<code>cover-view</code>，支持嵌套在cover-view里。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="cover-view-src">src</td>
<td>String</td>
<td></td>
<td>图标路径，支持临时路径、网络地址（1.6.0起支持）。暂不支持base64格式。</td>
</tr>
</tbody>
</table>
<h5 id="bug--tips">Bug & Tips</h5>
<ol>
<li><code>tip</code>: 基础库 1.9.90 起 <code>cover-view</code> 支持 <code>overflow: scroll</code>，但不支持动态更新 <code>overflow</code></li>
<li><code>tip</code>: 基础库 1.9.90 起最外层 <code>cover-view</code> 支持 <code>position: fixed</code></li>
<li><code>tip</code>: 基础库 1.9.0 起支持插在 <code>view</code> 等标签下。在此之前只可嵌套在原生组件<code>map</code>、<code>video</code>、<code>canvas</code>、<code>camera</code>内，避免嵌套在其他组件内。</li>
<li><code>tip</code>: 基础库 1.6.0 起支持css transition动画，<code>transition-property</code>只支持<code>transform (translateX, translateY)</code>与<code>opacity</code>。</li>
<li><code>tip</code>: 基础库 1.6.0 起支持css opacity。</li>
<li><code>tip</code>: 事件模型遵循冒泡模型，但不会冒泡到原生组件。</li>
<li><code>tip</code>: 文本建议都套上cover-view标签，避免排版错误。</li>
<li><code>tip</code>: 只支持基本的定位、布局、文本样式。不支持设置<code>单边的border</code>、<code>background-image</code>、<code>shadow</code>、<code>overflow: visible</code>等。</li>
<li><code>tip</code>: 建议子节点不要溢出父节点</li>
<li><code>tip</code>: 默认设置的样式有：<code>white-space: nowrap;</code> <code>line-height: 1.2;</code> <code>display: block;</code></li>
</ol>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/IBYfximo6AYL" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">video</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"myVideo"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"http://wxsnsdy.tc.qq.com/105/20210/snsdyvideodownload?filekey=30280201010421301f0201690402534804102ca905ce620b1241b726bc41dcff44e00204012882540400&bizid=1023&hy=SH&fileparam=302c020101042530230204136ffd93020457e3c4ff02024ef202031e8d7f02030f42400204045a320a0201000400"</span> <span class="hljs-attr">controls</span>=<span class="hljs-string">"{{false}}"</span> <span class="hljs-attr">event-model</span>=<span class="hljs-string">"bubble"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"controls"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"play"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"play"</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">cover-image</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/path/to/icon_play"</span> /></span>
    <span class="hljs-tag"><!--<span class="hljs-name"-->cover-view</span>>
    <span class="hljs-tag"><<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"pause"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"pause"</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">cover-image</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"img"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"/path/to/icon_pause"</span> /></span>
    <span class="hljs-tag"><!--<span class="hljs-name"-->cover-view</span>>
    <span class="hljs-tag"><<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"time"</span>></span>00:00<span class="hljs-tag"><!--<span class="hljs-name"-->cover-view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->cover-view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->video</span>>
</code></pre>
<pre><code class="lang-css"><span class="hljs-selector-class">.controls</span> {
  <span class="hljs-attribute">position</span>: relative;
  <span class="hljs-attribute">top</span>: <span class="hljs-number">50%</span>;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">50px</span>;
  <span class="hljs-attribute">margin-top</span>: -<span class="hljs-number">25px</span>;
  <span class="hljs-attribute">display</span>: flex;
}
<span class="hljs-selector-class">.play</span>,<span class="hljs-selector-class">.pause</span>,<span class="hljs-selector-class">.time</span> {
  <span class="hljs-attribute">flex</span>: <span class="hljs-number">1</span>;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">100%</span>;
}
<span class="hljs-selector-class">.time</span> {
  <span class="hljs-attribute">text-align</span>: center;
  <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">rgba</span>(0, 0, 0, .5);
  <span class="hljs-attribute">color</span>: white;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">50px</span>;
}
<span class="hljs-selector-class">.img</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">40px</span>;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">40px</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">5px</span> auto;
}
</code></pre>
<pre><code class="lang-javascript">Page({
  onReady() {
    <span class="hljs-keyword">this</span>.videoCtx = wx.createVideoContext(<span class="hljs-string">'myVideo'</span>)
  },
  play() {
    <span class="hljs-keyword">this</span>.videoCtx.play()
  },
  pause() {
    <span class="hljs-keyword">this</span>.videoCtx.pause()
  }
})
</code></pre>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>