<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>cover-view</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h4 id="cover-view">cover-view</h4>
<blockquote>
<p>&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;<a href="../framework/compatibility.html">&#x517C;&#x5BB9;&#x5904;&#x7406;</a>&#x3002;</p>
</blockquote>
<p>&#x8986;&#x76D6;&#x5728;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4E4B;&#x4E0A;&#x7684;&#x6587;&#x672C;&#x89C6;&#x56FE;&#xFF0C;&#x53EF;&#x8986;&#x76D6;&#x7684;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x5305;&#x62EC;<code>map</code>&#x3001;<code>video</code>&#x3001;<code>canvas</code>&#x3001;<code>camera</code>&#x3001;<code>live-player</code>&#x3001;<code>live-pusher</code>&#xFF0C;&#x53EA;&#x652F;&#x6301;&#x5D4C;&#x5957;<code>cover-view</code>&#x3001;<code>cover-image</code>&#xFF0C;&#x53EF;&#x5728;<code>cover-view</code>&#x4E2D;&#x4F7F;&#x7528;<code>button</code>&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>scroll-top</td>
<td>Number</td>
<td></td>
<td>&#x8BBE;&#x7F6E;&#x9876;&#x90E8;&#x6EDA;&#x52A8;&#x504F;&#x79FB;&#x91CF;&#xFF0C;&#x4EC5;&#x5728;&#x8BBE;&#x7F6E;&#x4E86; overflow-y: scroll &#x6210;&#x4E3A;&#x6EDA;&#x52A8;&#x5143;&#x7D20;&#x540E;&#x751F;&#x6548;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.1.0</a></td>
</tr>
</tbody>
</table>
<h4 id="cover-image">cover-image</h4>
<blockquote>
<p>&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;<a href="../framework/compatibility.html">&#x517C;&#x5BB9;&#x5904;&#x7406;</a>&#x3002;</p>
</blockquote>
<p>&#x8986;&#x76D6;&#x5728;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4E4B;&#x4E0A;&#x7684;&#x56FE;&#x7247;&#x89C6;&#x56FE;&#xFF0C;&#x53EF;&#x8986;&#x76D6;&#x7684;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x540C;<code>cover-view</code>&#xFF0C;&#x652F;&#x6301;&#x5D4C;&#x5957;&#x5728;cover-view&#x91CC;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>src</td>
<td>String</td>
<td></td>
<td>&#x56FE;&#x6807;&#x8DEF;&#x5F84;&#xFF0C;&#x652F;&#x6301;&#x4E34;&#x65F6;&#x8DEF;&#x5F84;&#x3001;&#x7F51;&#x7EDC;&#x5730;&#x5740;&#xFF08;1.6.0&#x8D77;&#x652F;&#x6301;&#xFF09;&#x3001;&#x4E91;&#x6587;&#x4EF6;ID&#xFF08;2.2.3&#x8D77;&#x652F;&#x6301;&#xFF09;&#x3002;&#x6682;&#x4E0D;&#x652F;&#x6301;base64&#x683C;&#x5F0F;&#x3002;</td>
<td></td>
</tr>
<tr>
<td>bindload</td>
<td>EventHandle</td>
<td></td>
<td>&#x56FE;&#x7247;&#x52A0;&#x8F7D;&#x6210;&#x529F;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.1.0</a></td>
</tr>
<tr>
<td>binderror</td>
<td>EventHandle</td>
<td></td>
<td>&#x56FE;&#x7247;&#x52A0;&#x8F7D;&#x5931;&#x8D25;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.1.0</a></td>
</tr>
</tbody>
</table>
<h5 id="bug--tips">Bug &amp; Tips</h5>
<ol>
<li><code>tip</code>: &#x57FA;&#x7840;&#x5E93; 2.2.4 &#x8D77;&#x652F;&#x6301; touch &#x76F8;&#x5173;&#x4E8B;&#x4EF6;&#xFF0C;&#x4E5F;&#x53EF;&#x4F7F;&#x7528; hover-class &#x8BBE;&#x7F6E;&#x70B9;&#x51FB;&#x6001;</li>
<li><code>tip</code>: &#x57FA;&#x7840;&#x5E93; 2.1.0 &#x8D77;&#x652F;&#x6301;&#x8BBE;&#x7F6E; <code>scale</code> <code>rotate</code> &#x7684; css &#x6837;&#x5F0F;&#xFF0C;&#x5305;&#x62EC; transition &#x52A8;&#x753B;</li>
<li><code>tip</code>: &#x57FA;&#x7840;&#x5E93; 1.9.90 &#x8D77; <code>cover-view</code> &#x652F;&#x6301; <code>overflow: scroll</code>&#xFF0C;&#x4F46;&#x4E0D;&#x652F;&#x6301;&#x52A8;&#x6001;&#x66F4;&#x65B0; <code>overflow</code></li>
<li><code>tip</code>: &#x57FA;&#x7840;&#x5E93; 1.9.90 &#x8D77;&#x6700;&#x5916;&#x5C42; <code>cover-view</code> &#x652F;&#x6301; <code>position: fixed</code></li>
<li><code>tip</code>: &#x57FA;&#x7840;&#x5E93; 1.9.0 &#x8D77;&#x652F;&#x6301;&#x63D2;&#x5728; <code>view</code> &#x7B49;&#x6807;&#x7B7E;&#x4E0B;&#x3002;&#x5728;&#x6B64;&#x4E4B;&#x524D;&#x53EA;&#x53EF;&#x5D4C;&#x5957;&#x5728;&#x539F;&#x751F;&#x7EC4;&#x4EF6;<code>map</code>&#x3001;<code>video</code>&#x3001;<code>canvas</code>&#x3001;<code>camera</code>&#x5185;&#xFF0C;&#x907F;&#x514D;&#x5D4C;&#x5957;&#x5728;&#x5176;&#x4ED6;&#x7EC4;&#x4EF6;&#x5185;&#x3002;</li>
<li><code>tip</code>: &#x57FA;&#x7840;&#x5E93; 1.6.0 &#x8D77;&#x652F;&#x6301;css transition&#x52A8;&#x753B;&#xFF0C;<code>transition-property</code>&#x53EA;&#x652F;&#x6301;<code>transform (translateX, translateY)</code>&#x4E0E;<code>opacity</code>&#x3002;</li>
<li><code>tip</code>: &#x57FA;&#x7840;&#x5E93; 1.6.0 &#x8D77;&#x652F;&#x6301;css opacity&#x3002;</li>
<li><code>tip</code>: &#x4E8B;&#x4EF6;&#x6A21;&#x578B;&#x9075;&#x5FAA;&#x5192;&#x6CE1;&#x6A21;&#x578B;&#xFF0C;&#x4F46;&#x4E0D;&#x4F1A;&#x5192;&#x6CE1;&#x5230;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x3002;</li>
<li><code>tip</code>: &#x6587;&#x672C;&#x5EFA;&#x8BAE;&#x90FD;&#x5957;&#x4E0A;cover-view&#x6807;&#x7B7E;&#xFF0C;&#x907F;&#x514D;&#x6392;&#x7248;&#x9519;&#x8BEF;&#x3002;</li>
<li><code>tip</code>: &#x53EA;&#x652F;&#x6301;&#x57FA;&#x672C;&#x7684;&#x5B9A;&#x4F4D;&#x3001;&#x5E03;&#x5C40;&#x3001;&#x6587;&#x672C;&#x6837;&#x5F0F;&#x3002;&#x4E0D;&#x652F;&#x6301;&#x8BBE;&#x7F6E;<code>&#x5355;&#x8FB9;&#x7684;border</code>&#x3001;<code>background-image</code>&#x3001;<code>shadow</code>&#x3001;<code>overflow: visible</code>&#x7B49;&#x3002;</li>
<li><code>tip</code>: &#x5EFA;&#x8BAE;&#x5B50;&#x8282;&#x70B9;&#x4E0D;&#x8981;&#x6EA2;&#x51FA;&#x7236;&#x8282;&#x70B9;</li>
<li><code>tip</code>: &#x9ED8;&#x8BA4;&#x8BBE;&#x7F6E;&#x7684;&#x6837;&#x5F0F;&#x6709;&#xFF1A;<code>white-space: nowrap;</code> <code>line-height: 1.2;</code> <code>display: block;</code></li>
<li><code>bug</code>: &#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x5D4C;&#x5957; <code>cover-view</code> &#x65F6;&#xFF0C;&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x7684; slot &#x53CA;&#x5176;&#x7236;&#x8282;&#x70B9;&#x6682;&#x4E0D;&#x652F;&#x6301;&#x901A;&#x8FC7; wx:if &#x63A7;&#x5236;&#x663E;&#x9690;&#xFF0C;&#x5426;&#x5219;&#x4F1A;&#x5BFC;&#x81F4; <code>cover-view</code> &#x4E0D;&#x663E;&#x793A;</li>
</ol>
<p><strong>&#x793A;&#x4F8B;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/IBYfximo6AYL" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">video</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;myVideo&quot;</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;http://wxsnsdy.tc.qq.com/105/20210/snsdyvideodownload?filekey=30280201010421301f0201690402534804102ca905ce620b1241b726bc41dcff44e00204012882540400&amp;bizid=1023&amp;hy=SH&amp;fileparam=302c020101042530230204136ffd93020457e3c4ff02024ef202031e8d7f02030f42400204045a320a0201000400&quot;</span> <span class="hljs-attr">controls</span>=<span class="hljs-string">&quot;{{false}}&quot;</span> <span class="hljs-attr">event-model</span>=<span class="hljs-string">&quot;bubble&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;controls&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;play&quot;</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;play&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">cover-image</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;img&quot;</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;/path/to/icon_play&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">cover-view</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;pause&quot;</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;pause&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">cover-image</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;img&quot;</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;/path/to/icon_pause&quot;</span> /&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">cover-view</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">cover-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;time&quot;</span>&gt;</span>00:00<span class="hljs-tag">&lt;/<span class="hljs-name">cover-view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">cover-view</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">video</span>&gt;</span>
</code></pre>
<pre><code class="language-css"><span class="hljs-selector-class">.controls</span> {
  <span class="hljs-attribute">position</span>: relative;
  <span class="hljs-attribute">top</span>: <span class="hljs-number">50%</span>;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">50px</span>;
  <span class="hljs-attribute">margin-top</span>: -<span class="hljs-number">25px</span>;
  <span class="hljs-attribute">display</span>: flex;
}
<span class="hljs-selector-class">.play</span>,<span class="hljs-selector-class">.pause</span>,<span class="hljs-selector-class">.time</span> {
  <span class="hljs-attribute">flex</span>: <span class="hljs-number">1</span>;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">100%</span>;
}
<span class="hljs-selector-class">.time</span> {
  <span class="hljs-attribute">text-align</span>: center;
  <span class="hljs-attribute">background-color</span>: <span class="hljs-built_in">rgba</span>(0, 0, 0, .5);
  <span class="hljs-attribute">color</span>: white;
  <span class="hljs-attribute">line-height</span>: <span class="hljs-number">50px</span>;
}
<span class="hljs-selector-class">.img</span> {
  <span class="hljs-attribute">width</span>: <span class="hljs-number">40px</span>;
  <span class="hljs-attribute">height</span>: <span class="hljs-number">40px</span>;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">5px</span> auto;
}
</code></pre>
<pre><code class="language-javascript">Page({
  onReady() {
    <span class="hljs-keyword">this</span>.videoCtx = wx.createVideoContext(<span class="hljs-string">&apos;myVideo&apos;</span>)
  },
  play() {
    <span class="hljs-keyword">this</span>.videoCtx.play()
  },
  pause() {
    <span class="hljs-keyword">this</span>.videoCtx.pause()
  }
})
</code></pre>

                            </section>      
                        </div>
                        
                    </div>
                
</body>
</html>
