<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>form</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="form">form</h4>
<p>表单，将组件内的用户输入的<code><switch></switch></code> <code><input></code> <code><checkbox></checkbox></code> <code><slider></slider></code> <code><radio></radio></code> <code><picker></picker></code> 提交。</p>
<p>当点击 <code></code></p><form> 表单中 formType 为 submit 的 <code></code><button><code></code> 组件时，会将表单组件中的 value 值进行提交，需要在表单组件中加上 name 来作为 key。<p></p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="form-report-submit">report-submit</td>
<td>Boolean</td>
<td>是否返回 formId 用于发送<a href="../api/notice.html">模板消息</a></td>
<td></td>
</tr>
<tr>
<td id="form-bindsubmit">bindsubmit</td>
<td>EventHandle</td>
<td>携带 form 中的数据触发 submit 事件，event.detail = {value : {'name': 'value'} , formId: ''}</td>
<td></td>
</tr>
<tr>
<td id="form-bindreset">bindreset</td>
<td>EventHandle</td>
<td>表单重置时会触发 reset 事件</td>
</tr>
</tbody>
</table>
<!--
| bindautofill      | EventHandle | 表单项有被快速填充时触发                                                                     | [1.2.0](/framework/compatibility.md "基础库 1.2.0 开始支持，低版本需做兼容处理。") |
| bindautofillerror | EventHandle | 快速填写出错时触发                                                                          | [1.6.0](/framework/compatibility.md "基础库 1.6.0 开始支持，低版本需做兼容处理。") |


#### <a name="autofill"></a>快速填写表单
快速填充表单是在表单提交时记住用户在input、textarea、picker组件填写的内容，下次填写时可进行快速填充。需要给input、textarea、picker指定auto-fill字段，字段定义如下：

| 分组                  | 字段名 | 字段定义 | 说明 |
| ----                 | ----   | ----     | ---- |
| 公共字段              | name<br>id_card_num<br>phone | 姓名<br>身份证号<br>手机号 | 可以与任意分组组合 |
| base_info            | email<br>sex<br>birthday<br>nationality<br>ethnic_group | 邮箱<br>性别<br>生日<br>国籍<br>民族 | 基础信息 |
| driving_licence_info | licence_num<br>licence_file_num<br>licence_plate_num<br>engine_num<br>licence_hassis_num | 驾驶证号<br>驾驶证档案编号<br>行驶证车牌号<br>行驶证发动机号<br>行驶证车架号 | 车辆信息 |
| address_info         | nationality<br>address<br>address_detail<br>postcode | 国家<br>省<br>详细地址<br>邮编 | 收货地址 |
| passport             | passport_num<br>validity<br>issue_at<br>first_name_zh<br>last_name_zh<br>first_name_en<br>last_name_en<br>birth_place<br>residence_place | 护照号<br>护照有效期<br>签发地<br>名字（中文）<br>姓氏（中文）<br>名字（英文）<br>姓氏（英文）<br>户口出生地<br>户口所在地 | 护照 |
| hk_macau_passport    | passport_num<br>validity<br>issue_at<br>first_name_zh<br>last_name_zh<br>first_name_en<br>last_name_en<br>birth_place<br>residence_place | 港澳通行证号<br>通行证有效期<br>签发地<br>名字（中文）<br>姓氏（中文）<br>名字（英文）<br>姓氏（英文）<br>户口出生地<br>户口所在地 | 护照 |
| social_security      | card_num | 社保卡号 | 社保 |
-->
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/MUaz7cmy6AYq" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">form</span> <span class="hljs-attr">bindsubmit</span>=<span class="hljs-string">"formSubmit"</span> <span class="hljs-attr">bindreset</span>=<span class="hljs-string">"formReset"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>switch<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">switch</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"switch"</span>/></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>slider<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">slider</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"slider"</span> <span class="hljs-attr">show-value</span> ></span><span class="hljs-tag"><!--<span class="hljs-name"-->slider</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>

  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>input<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"input"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"please input here"</span> /></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>radio<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">radio-group</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"radio-group"</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">label</span>></span><span class="hljs-tag"><<span class="hljs-name">radio</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"radio1"</span>/></span>radio1<span class="hljs-tag"><!--<span class="hljs-name"-->label</span>>
      <span class="hljs-tag"><<span class="hljs-name">label</span>></span><span class="hljs-tag"><<span class="hljs-name">radio</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"radio2"</span>/></span>radio2<span class="hljs-tag"><!--<span class="hljs-name"-->label</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->radio-group</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>checkbox<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">checkbox-group</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"checkbox"</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">label</span>></span><span class="hljs-tag"><<span class="hljs-name">checkbox</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"checkbox1"</span>/></span>checkbox1<span class="hljs-tag"><!--<span class="hljs-name"-->label</span>>
      <span class="hljs-tag"><<span class="hljs-name">label</span>></span><span class="hljs-tag"><<span class="hljs-name">checkbox</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"checkbox2"</span>/></span>checkbox2<span class="hljs-tag"><!--<span class="hljs-name"-->label</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->checkbox-group</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">formType</span>=<span class="hljs-string">"submit"</span>></span>Submit<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">formType</span>=<span class="hljs-string">"reset"</span>></span>Reset<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->form</span>>
</code></pre>
<pre><code class="lang-js">Page({
  formSubmit: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'form发生了submit事件，携带数据为：'</span>, e.detail.value)
  },
  formReset: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'form发生了reset事件'</span>)
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/form.png?t=2018413" alt="form"></p>

                                
                                </button></form></section>
                            
    </div>
    
</div>

                        


</body></html>