<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>基础内容</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="icon">icon</h4>
<p>图标。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="基础内容-type">type</td>
<td>String</td>
<td></td>
<td>icon的类型，有效值：success, success_no_circle, info, warn, waiting, cancel, download, search, clear</td>
</tr>
<tr>
<td id="基础内容-size">size</td>
<td>Number</td>
<td>23</td>
<td>icon的大小，单位px</td>
</tr>
<tr>
<td id="基础内容-color">color</td>
<td>Color</td>
<td></td>
<td>icon的颜色，同css的color</td>
</tr>
</tbody>
</table>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/LK9tzcmM6QYj" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"group"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">block</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{iconSize}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"success"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"{{item}}"</span>/></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->block</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>

<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"group"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">block</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{iconType}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"{{item}}"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"40"</span>/></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->block</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>


<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"group"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">block</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{iconColor}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">icon</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"success"</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"40"</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"{{item}}"</span>/></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->block</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    iconSize: [<span class="hljs-number">20</span>, <span class="hljs-number">30</span>, <span class="hljs-number">40</span>, <span class="hljs-number">50</span>, <span class="hljs-number">60</span>, <span class="hljs-number">70</span>],
    iconColor: [
      <span class="hljs-string">'red'</span>, <span class="hljs-string">'orange'</span>, <span class="hljs-string">'yellow'</span>, <span class="hljs-string">'green'</span>, <span class="hljs-string">'rgb(0,255,255)'</span>, <span class="hljs-string">'blue'</span>, <span class="hljs-string">'purple'</span>
    ],
    iconType: [
      <span class="hljs-string">'success'</span>, <span class="hljs-string">'success_no_circle'</span>, <span class="hljs-string">'info'</span>, <span class="hljs-string">'warn'</span>, <span class="hljs-string">'waiting'</span>, <span class="hljs-string">'cancel'</span>, <span class="hljs-string">'download'</span>, <span class="hljs-string">'search'</span>, <span class="hljs-string">'clear'</span>
    ]
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/icon.png?t=2018413" alt="icon"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>