<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>image</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="image">image</h4>
<p>图片。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="image-src">src</td>
<td>String</td>
<td></td>
<td>图片资源地址</td>
<td></td>
</tr>
<tr>
<td id="image-mode">mode</td>
<td>String</td>
<td>'scaleToFill'</td>
<td>图片裁剪、缩放的模式</td>
<td></td>
</tr>
<tr>
<td id="image-lazy-load">lazy-load</td>
<td>Boolean</td>
<td>false</td>
<td>图片懒加载。只针对page与scroll-view下的image有效</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="image-binderror">binderror</td>
<td>HandleEvent</td>
<td></td>
<td>当错误发生时，发布到 AppService 的事件名，事件对象event.detail = {errMsg: 'something wrong'}</td>
<td></td>
</tr>
<tr>
<td id="image-bindload">bindload</td>
<td>HandleEvent</td>
<td></td>
<td>当图片载入完毕时，发布到 AppService 的事件名，事件对象event.detail = {height:'图片高度px', width:'图片宽度px'}</td>
</tr>
</tbody>
</table>
<p><strong>注：image组件默认宽度300px、高度225px</strong></p>
<p><strong>mode 有效值：</strong></p>
<p>mode 有 13 种模式，其中 4 种是缩放模式，9 种是裁剪模式。</p>
<table>
<thead>
<tr>
<th>模式</th>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>缩放</td>
<td>scaleToFill</td>
<td>不保持纵横比缩放图片，使图片的宽高完全拉伸至填满 image 元素</td>
</tr>
<tr>
<td>缩放</td>
<td>aspectFit</td>
<td>保持纵横比缩放图片，使图片的长边能完全显示出来。也就是说，可以完整地将图片显示出来。</td>
</tr>
<tr>
<td>缩放</td>
<td>aspectFill</td>
<td>保持纵横比缩放图片，只保证图片的短边能完全显示出来。也就是说，图片通常只在水平或垂直方向是完整的，另一个方向将会发生截取。</td>
</tr>
<tr>
<td>缩放</td>
<td>widthFix</td>
<td>宽度不变，高度自动变化，保持原图宽高比不变</td>
</tr>
<tr>
<td>裁剪</td>
<td>top</td>
<td>不缩放图片，只显示图片的顶部区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>bottom</td>
<td>不缩放图片，只显示图片的底部区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>center</td>
<td>不缩放图片，只显示图片的中间区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>left</td>
<td>不缩放图片，只显示图片的左边区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>right</td>
<td>不缩放图片，只显示图片的右边区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>top left</td>
<td>不缩放图片，只显示图片的左上边区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>top right</td>
<td>不缩放图片，只显示图片的右上边区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>bottom left</td>
<td>不缩放图片，只显示图片的左下边区域</td>
</tr>
<tr>
<td>裁剪</td>
<td>bottom right</td>
<td>不缩放图片，只显示图片的右下边区域</td>
</tr>
</tbody>
</table>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/8Mc01cmS6WY" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"page"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"page__hd"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">text</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"page__title"</span>></span>image<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>>
    <span class="hljs-tag"><<span class="hljs-name">text</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"page__desc"</span>></span>图片<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"page__bd"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{array}}"</span> <span class="hljs-attr">wx:for-item</span>=<span class="hljs-string">"item"</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>{{item.text}}<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
      <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__ctn"</span>></span>
        <span class="hljs-tag"><<span class="hljs-name">image</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width: 200px; height: 200px; background-color: #eeeeee;"</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"{{item.mode}}"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"{{src}}"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->image</span>>
      <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    array: [{
      mode: <span class="hljs-string">'scaleToFill'</span>,
      text: <span class="hljs-string">'scaleToFill：不保持纵横比缩放图片，使图片完全适应'</span>
    }, { 
      mode: <span class="hljs-string">'aspectFit'</span>,
      text: <span class="hljs-string">'aspectFit：保持纵横比缩放图片，使图片的长边能完全显示出来'</span>
    }, { 
      mode: <span class="hljs-string">'aspectFill'</span>,
      text: <span class="hljs-string">'aspectFill：保持纵横比缩放图片，只保证图片的短边能完全显示出来'</span>
    }, { 
      mode: <span class="hljs-string">'top'</span>,
      text: <span class="hljs-string">'top：不缩放图片，只显示图片的顶部区域'</span> 
    }, {      
      mode: <span class="hljs-string">'bottom'</span>,
      text: <span class="hljs-string">'bottom：不缩放图片，只显示图片的底部区域'</span>
    }, { 
      mode: <span class="hljs-string">'center'</span>,
      text: <span class="hljs-string">'center：不缩放图片，只显示图片的中间区域'</span>
    }, { 
      mode: <span class="hljs-string">'left'</span>,
      text: <span class="hljs-string">'left：不缩放图片，只显示图片的左边区域'</span>
    }, { 
      mode: <span class="hljs-string">'right'</span>,
      text: <span class="hljs-string">'right：不缩放图片，只显示图片的右边边区域'</span>
    }, { 
      mode: <span class="hljs-string">'top left'</span>,
      text: <span class="hljs-string">'top left：不缩放图片，只显示图片的左上边区域'</span> 
    }, { 
      mode: <span class="hljs-string">'top right'</span>,
      text: <span class="hljs-string">'top right：不缩放图片，只显示图片的右上边区域'</span>
    }, { 
      mode: <span class="hljs-string">'bottom left'</span>,
      text: <span class="hljs-string">'bottom left：不缩放图片，只显示图片的左下边区域'</span>
    }, { 
      mode: <span class="hljs-string">'bottom right'</span>,
      text: <span class="hljs-string">'bottom right：不缩放图片，只显示图片的右下边区域'</span>
    }],
    src: <span class="hljs-string">'../../resources/cat.jpg'</span>
  },
  imageError: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'image3发生error事件，携带值为'</span>, e.detail.errMsg)
  }
})
</code></pre>
<h5 id="原图">原图</h5>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/0.jpg?t=2018413" alt="image"></p>
<h5 id="scaletofill">scaleToFill</h5>
<p>不保持纵横比缩放图片，使图片完全适应</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/1.png?t=2018413" alt="image"></p>
<h5 id="aspectfit">aspectFit</h5>
<p>保持纵横比缩放图片，使图片的长边能完全显示出来</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/2.png?t=2018413" alt="image"></p>
<h5 id="aspectfill">aspectFill</h5>
<p>保持纵横比缩放图片，只保证图片的短边能完全显示出来</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/3.png?t=2018413" alt="image"></p>
<h5 id="top">top</h5>
<p>不缩放图片，只显示图片的顶部区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/4.png?t=2018413" alt="image"></p>
<h5 id="bottom">bottom</h5>
<p>不缩放图片，只显示图片的底部区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/5.png?t=2018413" alt="image"></p>
<h5 id="center">center</h5>
<p>不缩放图片，只显示图片的中间区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/6.png?t=2018413" alt="image"></p>
<h5 id="left">left</h5>
<p>不缩放图片，只显示图片的左边区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/7.png?t=2018413" alt="image"></p>
<h5 id="right">right</h5>
<p>不缩放图片，只显示图片的右边边区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/8.png?t=2018413" alt="image"></p>
<h5 id="top-left">top left</h5>
<p>不缩放图片，只显示图片的左上边区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/9.png?t=2018413" alt="image"></p>
<h5 id="top-right">top right</h5>
<p>不缩放图片，只显示图片的右上边区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/10.png?t=2018413" alt="image"></p>
<h5 id="bottom-left">bottom left</h5>
<p>不缩放图片，只显示图片的左下边区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/11.png?t=2018413" alt="image"></p>
<h5 id="bottom-right">bottom right</h5>
<p>不缩放图片，只显示图片的右下边区域</p>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/cat/12.png?t=2018413" alt="image"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>