<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>&#x7EC4;&#x4EF6;</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h1 id="&#x57FA;&#x7840;&#x7EC4;&#x4EF6;">&#x57FA;&#x7840;&#x7EC4;&#x4EF6;</h1>
<p><strong>&#x89C6;&#x56FE;&#x5BB9;&#x5668;(View Container)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x7EC4;&#x4EF6;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="view.html">view</a></td>
<td>&#x89C6;&#x56FE;&#x5BB9;&#x5668;</td>
</tr>
<tr>
<td><a href="scroll-view.html">scroll-view</a></td>
<td>&#x53EF;&#x6EDA;&#x52A8;&#x89C6;&#x56FE;&#x5BB9;&#x5668;</td>
</tr>
<tr>
<td><a href="swiper.html">swiper</a></td>
<td>&#x6ED1;&#x5757;&#x89C6;&#x56FE;&#x5BB9;&#x5668;</td>
</tr>
<tr>
<td><a href="movable-view.html">movable-view</a>/<a href="movable-view.html#movable-area">movable-aera</a></td>
<td>&#x53EF;&#x79FB;&#x52A8;&#x7684;&#x89C6;&#x56FE;&#x5BB9;&#x5668;</td>
</tr>
<tr>
<td><a href="cover-view.html">cover-view</a></td>
<td>&#x8986;&#x76D6;&#x5728;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4E4B;&#x4E0A;&#x7684;&#x6587;&#x672C;&#x89C6;&#x56FE;</td>
</tr>
<tr>
<td><a href="cover-view.html#cover-image">cover-image</a></td>
<td>&#x8986;&#x76D6;&#x5728;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4E4B;&#x4E0A;&#x7684;&#x56FE;&#x7247;&#x89C6;&#x56FE;</td>
</tr>
</tbody>
</table>
<p><strong>&#x57FA;&#x7840;&#x5185;&#x5BB9;(Basic Content)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x7EC4;&#x4EF6;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="icon.html">icon</a></td>
<td>&#x56FE;&#x6807;</td>
</tr>
<tr>
<td><a href="text.html">text</a></td>
<td>&#x6587;&#x5B57;</td>
</tr>
<tr>
<td><a href="rich-text.html">rich-text</a></td>
<td>&#x5BCC;&#x6587;&#x672C;</td>
</tr>
<tr>
<td><a href="progress.html">progress</a></td>
<td>&#x8FDB;&#x5EA6;&#x6761;</td>
</tr>
</tbody>
</table>
<p><strong>&#x8868;&#x5355;(Form)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x6807;&#x7B7E;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="button.html">button</a></td>
<td>&#x6309;&#x94AE;</td>
</tr>
<tr>
<td><a href="checkbox.html">checkbox</a></td>
<td>&#x591A;&#x9879;&#x9009;&#x62E9;&#x5668;</td>
</tr>
<tr>
<td><a href="form.html">form</a></td>
<td>&#x8868;&#x5355;</td>
</tr>
<tr>
<td><a href="input.html">input</a></td>
<td>&#x8F93;&#x5165;&#x6846;</td>
</tr>
<tr>
<td><a href="label.html">label</a></td>
<td>&#x6807;&#x7B7E;</td>
</tr>
<tr>
<td><a href="picker.html">picker</a></td>
<td>&#x5217;&#x8868;&#x9009;&#x62E9;&#x5668;</td>
</tr>
<tr>
<td><a href="picker-view.html">picker-view</a></td>
<td>&#x5185;&#x5D4C;&#x5217;&#x8868;&#x9009;&#x62E9;&#x5668;</td>
</tr>
<tr>
<td><a href="radio.html">radio</a></td>
<td>&#x5355;&#x9879;&#x9009;&#x62E9;&#x5668;</td>
</tr>
<tr>
<td><a href="slider.html">slider</a></td>
<td>&#x6EDA;&#x52A8;&#x9009;&#x62E9;&#x5668;</td>
</tr>
<tr>
<td><a href="switch.html">switch</a></td>
<td>&#x5F00;&#x5173;&#x9009;&#x62E9;&#x5668;</td>
</tr>
<tr>
<td><a href="textarea.html">textarea</a></td>
<td>&#x591A;&#x884C;&#x8F93;&#x5165;&#x6846;</td>
</tr>
</tbody>
</table>
<p><strong>&#x5BFC;&#x822A;(Navigation)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x7EC4;&#x4EF6;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="navigator.html">navigator</a></td>
<td>&#x9875;&#x9762;&#x94FE;&#x63A5;</td>
</tr>
<tr>
<td><a href="functional-page-navigator.html">functional-page-navigator</a></td>
<td>&#x8DF3;&#x8F6C;&#x5230;&#x63D2;&#x4EF6;&#x529F;&#x80FD;&#x9875;</td>
</tr>
</tbody>
</table>
<p><strong>&#x591A;&#x5A92;&#x4F53;(Media)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x7EC4;&#x4EF6;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="audio.html">audio</a></td>
<td>&#x97F3;&#x9891;</td>
</tr>
<tr>
<td><a href="image.html">image</a></td>
<td>&#x56FE;&#x7247;</td>
</tr>
<tr>
<td><a href="video.html">video</a></td>
<td>&#x89C6;&#x9891;</td>
</tr>
<tr>
<td><a href="camera.html">camera</a></td>
<td>&#x7CFB;&#x7EDF;&#x76F8;&#x673A;</td>
</tr>
<tr>
<td><a href="live-player.html">live-player</a></td>
<td>&#x5B9E;&#x65F6;&#x97F3;&#x89C6;&#x9891;&#x64AD;&#x653E;</td>
</tr>
<tr>
<td><a href="live-pusher.html">live-pusher</a></td>
<td>&#x5B9E;&#x65F6;&#x97F3;&#x89C6;&#x9891;&#x5F55;&#x5236;</td>
</tr>
</tbody>
</table>
<p><strong>&#x5730;&#x56FE;(Map)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x7EC4;&#x4EF6;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="map.html">map</a></td>
<td>&#x5730;&#x56FE;</td>
</tr>
</tbody>
</table>
<p><strong>&#x753B;&#x5E03;(Canvas)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x7EC4;&#x4EF6;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="canvas.html">canvas</a></td>
<td>&#x753B;&#x5E03;</td>
</tr>
</tbody>
</table>
<p><strong>&#x5F00;&#x653E;&#x80FD;&#x529B;(Open Ability)&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x7EC4;&#x4EF6;&#x540D;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="open-data.html">open-data</a></td>
<td>&#x5C55;&#x793A;&#x5FAE;&#x4FE1;&#x5F00;&#x653E;&#x7684;&#x6570;&#x636E;</td>
</tr>
<tr>
<td><a href="web-view.html">web-view</a></td>
<td>&#x627F;&#x8F7D;&#x7F51;&#x9875;&#x7684;&#x5BB9;&#x5668;</td>
</tr>
<tr>
<td><a href="ad.html">ad</a></td>
<td>&#x5E7F;&#x544A;</td>
</tr>
<tr>
<td><a href="official-account.html">official-account</a></td>
<td>&#x5173;&#x6CE8;&#x516C;&#x4F17;&#x53F7;</td>
</tr>
</tbody>
</table>

                            </section>
                        </div>
                        
                    </div>
                


</body></html>