<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>组件</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="基础组件">基础组件</h1>
<p>框架为开发者提供了一系列基础组件，开发者可以通过组合这些基础组件进行快速开发。</p>
<p>什么是组件：</p>
<ul>
<li>组件是视图层的基本组成单元。</li>
<li>组件自带一些功能与微信风格的样式。</li>
<li><p>一个组件通常包括<code>开始标签</code>和<code>结束标签</code>，<code>属性</code>用来修饰这个组件，<code>内容</code>在两个标签之内。</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">tagname</span> <span class="hljs-attr">property</span>=<span class="hljs-string">"value"</span>></span>
  Content goes here ...
<span class="hljs-tag"><!--<span class="hljs-name"-->tagname</span>>
</code></pre>
<p><strong>注意：所有组件与属性都是小写，以连字符<code>-</code>连接</strong></p>
</li>
</ul>
<h3 id="属性类型">属性类型</h3>
<table>
<thead>
<tr>
<th>类型</th>
<th>描述</th>
<th>注解</th>
</tr>
</thead>
<tbody>
<tr>
<td>Boolean</td>
<td>布尔值</td>
<td>组件写上该属性，不管该属性等于什么，其值都为<code>true</code>，只有组件上没有写该属性时，属性值才为<code>false</code>。如果属性值为变量，变量的值会被转换为Boolean类型</td>
</tr>
<tr>
<td>Number</td>
<td>数字</td>
<td><code>1</code>, <code>2.5</code></td>
</tr>
<tr>
<td>String</td>
<td>字符串</td>
<td><code>"string"</code></td>
</tr>
<tr>
<td>Array</td>
<td>数组</td>
<td><code>[ 1, "string" ]</code></td>
</tr>
<tr>
<td>Object</td>
<td>对象</td>
<td><code>{ key: value }</code></td>
</tr>
<tr>
<td>EventHandler</td>
<td>事件处理函数名</td>
<td><code>"handlerName"</code> 是 <a href="../framework/app-service/page.html">Page</a>中定义的事件处理函数名</td>
</tr>
<tr>
<td>Any</td>
<td>任意属性</td>
</tr>
</tbody>
</table>
<h3 id="共同属性类型">共同属性类型</h3>
<p>所有组件都有的属性：</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>描述</th>
<th>注解</th>
</tr>
</thead>
<tbody>
<tr>
<td id="组件-id">id</td>
<td>String</td>
<td>组件的唯一标示</td>
<td>保持整个页面唯一</td>
</tr>
<tr>
<td id="组件-class">class</td>
<td>String</td>
<td>组件的样式类</td>
<td>在对应的 WXSS 中定义的样式类</td>
</tr>
<tr>
<td id="组件-style">style</td>
<td>String</td>
<td>组件的内联样式</td>
<td>可以动态设置的内联样式</td>
</tr>
<tr>
<td id="组件-hidden">hidden</td>
<td>Boolean</td>
<td>组件是否显示</td>
<td>所有组件默认显示</td>
</tr>
<tr>
<td id="组件-data-*">data-*</td>
<td>Any</td>
<td>自定义属性</td>
<td>组件上触发的事件时，会发送给事件处理函数</td>
</tr>
<tr>
<td id="组件-bind* / catch*">bind* / catch*</td>
<td>EventHandler</td>
<td>组件的事件</td>
<td>详见<a href="../framework/view/wxml/event.html">事件</a></td>
</tr>
</tbody>
</table>
<h3 id="特殊属性">特殊属性</h3>
<p>几乎所有组件都有各自定义的属性，可以对该组件的功能或样式进行修饰，请参考各个<a href="#组件列表">组件</a>的定义。</p>
<h3 id="组件列表">组件列表</h3>
<p>基础组件分为以下七大类：</p>
<p><strong>视图容器(View Container)：</strong></p>
<table>
<thead>
<tr>
<th>组件名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="view.html">view</a></td>
<td>视图容器</td>
</tr>
<tr>
<td><a href="scroll-view.html">scroll-view</a></td>
<td>可滚动视图容器</td>
</tr>
<tr>
<td><a href="swiper.html">swiper</a></td>
<td>滑块视图容器</td>
</tr>
</tbody>
</table>
<p><strong>基础内容(Basic Content)：</strong></p>
<table>
<thead>
<tr>
<th>组件名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="icon.html">icon</a></td>
<td>图标</td>
</tr>
<tr>
<td><a href="text.html">text</a></td>
<td>文字</td>
</tr>
<tr>
<td><a href="progress.html">progress</a></td>
<td>进度条</td>
</tr>
</tbody>
</table>
<p><strong>表单(Form)：</strong></p>
<table>
<thead>
<tr>
<th>标签名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="button.html">button</a></td>
<td>按钮</td>
</tr>
<tr>
<td><a href="form.html">form</a></td>
<td>表单</td>
</tr>
<tr>
<td><a href="input.html">input</a></td>
<td>输入框</td>
</tr>
<tr>
<td><a href="checkbox.html">checkbox</a></td>
<td>多项选择器</td>
</tr>
<tr>
<td><a href="radio.html">radio</a></td>
<td>单项选择器</td>
</tr>
<tr>
<td><a href="picker.html">picker</a></td>
<td>列表选择器</td>
</tr>
<tr>
<td><a href="picker-view.html">picker-view</a></td>
<td>内嵌列表选择器</td>
</tr>
<tr>
<td><a href="slider.html">slider</a></td>
<td>滚动选择器</td>
</tr>
<tr>
<td><a href="switch.html">switch</a></td>
<td>开关选择器</td>
</tr>
<tr>
<td><a href="label.html">label</a></td>
<td>标签</td>
</tr>
</tbody>
</table>
<p><strong>导航(Navigation)：</strong></p>
<table>
<thead>
<tr>
<th>组件名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="navigator.html">navigator</a></td>
<td>应用链接</td>
</tr>
</tbody>
</table>
<p><strong>多媒体(Media)：</strong></p>
<table>
<thead>
<tr>
<th>组件名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="audio.html">audio</a></td>
<td>音频</td>
</tr>
<tr>
<td><a href="image.html">image</a></td>
<td>图片</td>
</tr>
<tr>
<td><a href="video.html">video</a></td>
<td>视频</td>
</tr>
</tbody>
</table>
<p><strong>地图(Map)：</strong></p>
<table>
<thead>
<tr>
<th>组件名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="map.html">map</a></td>
<td>地图</td>
</tr>
</tbody>
</table>
<p><strong>画布(Canvas)：</strong></p>
<table>
<thead>
<tr>
<th>组件名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="canvas.html">canvas</a></td>
<td>画布</td>
</tr>
</tbody>
</table>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>