<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>input</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h4 id="input">input</h4>
<p>&#x8F93;&#x5165;&#x6846;&#x3002;&#x8BE5;&#x7EC4;&#x4EF6;&#x662F;<a href="native-component.html">&#x539F;&#x751F;&#x7EC4;&#x4EF6;</a>&#xFF0C;&#x4F7F;&#x7528;&#x65F6;&#x8BF7;&#x6CE8;&#x610F;&#x76F8;&#x5173;&#x9650;&#x5236;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>value</td>
<td>String</td>
<td></td>
<td>&#x8F93;&#x5165;&#x6846;&#x7684;&#x521D;&#x59CB;&#x5185;&#x5BB9;</td>
<td></td>
</tr>
<tr>
<td>type</td>
<td>String</td>
<td>&quot;text&quot;</td>
<td>input &#x7684;&#x7C7B;&#x578B;</td>
<td></td>
</tr>
<tr>
<td>password</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x662F;&#x5BC6;&#x7801;&#x7C7B;&#x578B;</td>
<td></td>
</tr>
<tr>
<td>placeholder</td>
<td>String</td>
<td></td>
<td>&#x8F93;&#x5165;&#x6846;&#x4E3A;&#x7A7A;&#x65F6;&#x5360;&#x4F4D;&#x7B26;</td>
<td></td>
</tr>
<tr>
<td>placeholder-style</td>
<td>String</td>
<td></td>
<td>&#x6307;&#x5B9A; placeholder &#x7684;&#x6837;&#x5F0F;</td>
<td></td>
</tr>
<tr>
<td>placeholder-class</td>
<td>String</td>
<td>&quot;input-placeholder&quot;</td>
<td>&#x6307;&#x5B9A; placeholder &#x7684;&#x6837;&#x5F0F;&#x7C7B;</td>
<td></td>
</tr>
<tr>
<td>disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
<tr>
<td>maxlength</td>
<td>Number</td>
<td>140</td>
<td>&#x6700;&#x5927;&#x8F93;&#x5165;&#x957F;&#x5EA6;&#xFF0C;&#x8BBE;&#x7F6E;&#x4E3A; -1 &#x7684;&#x65F6;&#x5019;&#x4E0D;&#x9650;&#x5236;&#x6700;&#x5927;&#x957F;&#x5EA6;</td>
<td></td>
</tr>
<tr>
<td>cursor-spacing</td>
<td>Number</td>
<td>0</td>
<td>&#x6307;&#x5B9A;&#x5149;&#x6807;&#x4E0E;&#x952E;&#x76D8;&#x7684;&#x8DDD;&#x79BB;&#xFF0C;&#x5355;&#x4F4D; px &#x3002;&#x53D6; input &#x8DDD;&#x79BB;&#x5E95;&#x90E8;&#x7684;&#x8DDD;&#x79BB;&#x548C; cursor-spacing &#x6307;&#x5B9A;&#x7684;&#x8DDD;&#x79BB;&#x7684;&#x6700;&#x5C0F;&#x503C;&#x4F5C;&#x4E3A;&#x5149;&#x6807;&#x4E0E;&#x952E;&#x76D8;&#x7684;&#x8DDD;&#x79BB;</td>
<td></td>
</tr>
<tr>
<td>auto-focus</td>
<td>Boolean</td>
<td>false</td>
<td>(&#x5373;&#x5C06;&#x5E9F;&#x5F03;&#xFF0C;&#x8BF7;&#x76F4;&#x63A5;&#x4F7F;&#x7528; focus )&#x81EA;&#x52A8;&#x805A;&#x7126;&#xFF0C;&#x62C9;&#x8D77;&#x952E;&#x76D8;</td>
<td></td>
</tr>
<tr>
<td>focus</td>
<td>Boolean</td>
<td>false</td>
<td>&#x83B7;&#x53D6;&#x7126;&#x70B9;</td>
<td></td>
</tr>
<tr>
<td>confirm-type</td>
<td>String</td>
<td>&quot;done&quot;</td>
<td>&#x8BBE;&#x7F6E;&#x952E;&#x76D8;&#x53F3;&#x4E0B;&#x89D2;&#x6309;&#x94AE;&#x7684;&#x6587;&#x5B57;&#xFF0C;&#x4EC5;&#x5728;type=&apos;text&apos;&#x65F6;&#x751F;&#x6548;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.1.0</a></td>
</tr>
<tr>
<td>confirm-hold</td>
<td>Boolean</td>
<td>false</td>
<td>&#x70B9;&#x51FB;&#x952E;&#x76D8;&#x53F3;&#x4E0B;&#x89D2;&#x6309;&#x94AE;&#x65F6;&#x662F;&#x5426;&#x4FDD;&#x6301;&#x952E;&#x76D8;&#x4E0D;&#x6536;&#x8D77;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.1.0</a></td>
</tr>
<tr>
<td>cursor</td>
<td>Number</td>
<td></td>
<td>&#x6307;&#x5B9A;focus&#x65F6;&#x7684;&#x5149;&#x6807;&#x4F4D;&#x7F6E;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td>selection-start</td>
<td>Number</td>
<td>-1</td>
<td>&#x5149;&#x6807;&#x8D77;&#x59CB;&#x4F4D;&#x7F6E;&#xFF0C;&#x81EA;&#x52A8;&#x805A;&#x96C6;&#x65F6;&#x6709;&#x6548;&#xFF0C;&#x9700;&#x4E0E;selection-end&#x642D;&#x914D;&#x4F7F;&#x7528;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td>selection-end</td>
<td>Number</td>
<td>-1</td>
<td>&#x5149;&#x6807;&#x7ED3;&#x675F;&#x4F4D;&#x7F6E;&#xFF0C;&#x81EA;&#x52A8;&#x805A;&#x96C6;&#x65F6;&#x6709;&#x6548;&#xFF0C;&#x9700;&#x4E0E;selection-start&#x642D;&#x914D;&#x4F7F;&#x7528;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td>adjust-position</td>
<td>Boolean</td>
<td>true</td>
<td>&#x952E;&#x76D8;&#x5F39;&#x8D77;&#x65F6;&#xFF0C;&#x662F;&#x5426;&#x81EA;&#x52A8;&#x4E0A;&#x63A8;&#x9875;&#x9762;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>bindinput</td>
<td>EventHandle</td>
<td></td>
<td>&#x952E;&#x76D8;&#x8F93;&#x5165;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;event.detail = {value, cursor, keyCode}&#xFF0C;keyCode &#x4E3A;&#x952E;&#x503C;&#xFF0C;2.1.0 &#x8D77;&#x652F;&#x6301;&#xFF0C;&#x5904;&#x7406;&#x51FD;&#x6570;&#x53EF;&#x4EE5;&#x76F4;&#x63A5; return &#x4E00;&#x4E2A;&#x5B57;&#x7B26;&#x4E32;&#xFF0C;&#x5C06;&#x66FF;&#x6362;&#x8F93;&#x5165;&#x6846;&#x7684;&#x5185;&#x5BB9;&#x3002;</td>
<td></td>
</tr>
<tr>
<td>bindfocus</td>
<td>EventHandle</td>
<td></td>
<td>&#x8F93;&#x5165;&#x6846;&#x805A;&#x7126;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;event.detail = { value, height }&#xFF0C;height &#x4E3A;&#x952E;&#x76D8;&#x9AD8;&#x5EA6;&#xFF0C;&#x5728;&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x8D77;&#x652F;&#x6301;</td>
<td></td>
</tr>
<tr>
<td>bindblur</td>
<td>EventHandle</td>
<td></td>
<td>&#x8F93;&#x5165;&#x6846;&#x5931;&#x53BB;&#x7126;&#x70B9;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td>bindconfirm</td>
<td>EventHandle</td>
<td></td>
<td>&#x70B9;&#x51FB;&#x5B8C;&#x6210;&#x6309;&#x94AE;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;event.detail = {value: value}</td>
<td></td>
</tr>
</tbody>
</table>

<p><strong>type &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>text</td>
<td>&#x6587;&#x672C;&#x8F93;&#x5165;&#x952E;&#x76D8;</td>
</tr>
<tr>
<td>number</td>
<td>&#x6570;&#x5B57;&#x8F93;&#x5165;&#x952E;&#x76D8;</td>
</tr>
<tr>
<td>idcard</td>
<td>&#x8EAB;&#x4EFD;&#x8BC1;&#x8F93;&#x5165;&#x952E;&#x76D8;</td>
</tr>
<tr>
<td>digit</td>
<td>&#x5E26;&#x5C0F;&#x6570;&#x70B9;&#x7684;&#x6570;&#x5B57;&#x952E;&#x76D8;</td>
</tr>
</tbody>
</table>
<p><strong>confirm-type &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>send</td>
<td>&#x53F3;&#x4E0B;&#x89D2;&#x6309;&#x94AE;&#x4E3A;&#x201C;&#x53D1;&#x9001;&#x201D;</td>
</tr>
<tr>
<td>search</td>
<td>&#x53F3;&#x4E0B;&#x89D2;&#x6309;&#x94AE;&#x4E3A;&#x201C;&#x641C;&#x7D22;&#x201D;</td>
</tr>
<tr>
<td>next</td>
<td>&#x53F3;&#x4E0B;&#x89D2;&#x6309;&#x94AE;&#x4E3A;&#x201C;&#x4E0B;&#x4E00;&#x4E2A;&#x201D;</td>
</tr>
<tr>
<td>go</td>
<td>&#x53F3;&#x4E0B;&#x89D2;&#x6309;&#x94AE;&#x4E3A;&#x201C;&#x524D;&#x5F80;&#x201D;</td>
</tr>
<tr>
<td>done</td>
<td>&#x53F3;&#x4E0B;&#x89D2;&#x6309;&#x94AE;&#x4E3A;&#x201C;&#x5B8C;&#x6210;&#x201D;</td>
</tr>
</tbody>
</table>
<ul>
<li>&#x6CE8;&#xFF1A;confirm-type&#x7684;&#x6700;&#x7EC8;&#x8868;&#x73B0;&#x4E0E;&#x624B;&#x673A;&#x8F93;&#x5165;&#x6CD5;&#x672C;&#x8EAB;&#x7684;&#x5B9E;&#x73B0;&#x6709;&#x5173;&#xFF0C;&#x90E8;&#x5206;&#x5B89;&#x5353;&#x7CFB;&#x7EDF;&#x8F93;&#x5165;&#x6CD5;&#x548C;&#x7B2C;&#x4E09;&#x65B9;&#x8F93;&#x5165;&#x6CD5;&#x53EF;&#x80FD;&#x4E0D;&#x652F;&#x6301;&#x6216;&#x4E0D;&#x5B8C;&#x5168;&#x652F;&#x6301;&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/JYwgZ6ml6rYP" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-comment">&lt;!--input.wxml--&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x8FD9;&#x662F;&#x4E00;&#x4E2A;&#x53EF;&#x4EE5;&#x81EA;&#x52A8;&#x805A;&#x7126;&#x7684;input&quot;</span> <span class="hljs-attr">auto-focus</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x8FD9;&#x4E2A;&#x53EA;&#x6709;&#x5728;&#x6309;&#x94AE;&#x70B9;&#x51FB;&#x7684;&#x65F6;&#x5019;&#x624D;&#x805A;&#x7126;&quot;</span> <span class="hljs-attr">focus</span>=<span class="hljs-string">&quot;{{focus}}&quot;</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;btn-area&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;bindButtonTap&quot;</span>&gt;</span>&#x4F7F;&#x5F97;&#x8F93;&#x5165;&#x6846;&#x83B7;&#x53D6;&#x7126;&#x70B9;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span>  <span class="hljs-attr">maxlength</span>=<span class="hljs-string">&quot;10&quot;</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x6700;&#x5927;&#x8F93;&#x5165;&#x957F;&#x5EA6;10&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>&#x4F60;&#x8F93;&#x5165;&#x7684;&#x662F;&#xFF1A;{{inputValue}}<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span>  <span class="hljs-attr">bindinput</span>=<span class="hljs-string">&quot;bindKeyInput&quot;</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x8F93;&#x5165;&#x540C;&#x6B65;&#x5230;view&#x4E2D;&quot;</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span>  <span class="hljs-attr">bindinput</span>=<span class="hljs-string">&quot;bindReplaceInput&quot;</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x8FDE;&#x7EED;&#x7684;&#x4E24;&#x4E2A;1&#x4F1A;&#x53D8;&#x6210;2&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">password</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;number&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">password</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;text&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;digit&quot;</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x5E26;&#x5C0F;&#x6570;&#x70B9;&#x7684;&#x6570;&#x5B57;&#x952E;&#x76D8;&quot;</span>/&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;idcard&quot;</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x8EAB;&#x4EFD;&#x8BC1;&#x8F93;&#x5165;&#x952E;&#x76D8;&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">placeholder-style</span>=<span class="hljs-string">&quot;color:red&quot;</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">&quot;&#x5360;&#x4F4D;&#x7B26;&#x5B57;&#x4F53;&#x662F;&#x7EA2;&#x8272;&#x7684;&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-javascript"><span class="hljs-comment">//input.js</span>
Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">focus</span>: <span class="hljs-literal">false</span>,
    <span class="hljs-attr">inputValue</span>: <span class="hljs-string">&apos;&apos;</span>
  },
  <span class="hljs-attr">bindButtonTap</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">focus</span>: <span class="hljs-literal">true</span>
    })
  },
  <span class="hljs-attr">bindKeyInput</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">inputValue</span>: e.detail.value
    })
  },
  <span class="hljs-attr">bindReplaceInput</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">var</span> value = e.detail.value
    <span class="hljs-keyword">var</span> pos = e.detail.cursor
    <span class="hljs-keyword">if</span>(pos != <span class="hljs-number">-1</span>){
      <span class="hljs-comment">//&#x5149;&#x6807;&#x5728;&#x4E2D;&#x95F4;</span>
      <span class="hljs-keyword">var</span> left = e.detail.value.slice(<span class="hljs-number">0</span>,pos)
      <span class="hljs-comment">//&#x8BA1;&#x7B97;&#x5149;&#x6807;&#x7684;&#x4F4D;&#x7F6E;</span>
      pos = left.replace(<span class="hljs-regexp">/11/g</span>,<span class="hljs-string">&apos;2&apos;</span>).length
    }

    <span class="hljs-comment">//&#x76F4;&#x63A5;&#x8FD4;&#x56DE;&#x5BF9;&#x8C61;&#xFF0C;&#x53EF;&#x4EE5;&#x5BF9;&#x8F93;&#x5165;&#x8FDB;&#x884C;&#x8FC7;&#x6EE4;&#x5904;&#x7406;&#xFF0C;&#x540C;&#x65F6;&#x53EF;&#x4EE5;&#x63A7;&#x5236;&#x5149;&#x6807;&#x7684;&#x4F4D;&#x7F6E;</span>
    <span class="hljs-keyword">return</span> {
      <span class="hljs-attr">value</span>: value.replace(<span class="hljs-regexp">/11/g</span>,<span class="hljs-string">&apos;2&apos;</span>),
      <span class="hljs-attr">cursor</span>: pos
    }

    <span class="hljs-comment">//&#x6216;&#x8005;&#x76F4;&#x63A5;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32;,&#x5149;&#x6807;&#x5728;&#x6700;&#x540E;&#x8FB9;</span>
    <span class="hljs-comment">//return value.replace(/11/g,&apos;2&apos;),</span>
  }
})
</code></pre>
<p><img src="https://developers.weixin.qq.com/miniprogram/dev/image/pic/input.png?t=18091218" alt="input"></p>
<h4 id="bug--tip">Bug &amp; Tip</h4>
<ol>
<li>&#x8BF7;&#x6CE8;&#x610F;<a href="native-component.html#&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x7684;&#x4F7F;&#x7528;&#x9650;&#x5236;">&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4F7F;&#x7528;&#x9650;&#x5236;</a>&#x3002;</li>
<li><code>bug</code> : &#x5FAE;&#x4FE1;&#x7248;&#x672C; <code>6.3.30</code>, focus &#x5C5E;&#x6027;&#x8BBE;&#x7F6E;&#x65E0;&#x6548;&#xFF1B;</li>
<li><code>bug</code> : &#x5FAE;&#x4FE1;&#x7248;&#x672C; <code>6.3.30</code>, placeholder &#x5728;&#x805A;&#x7126;&#x65F6;&#x51FA;&#x73B0;&#x91CD;&#x5F71;&#x95EE;&#x9898;&#xFF1B;</li>
<li><code>tip</code> : input &#x7EC4;&#x4EF6;&#x662F;&#x4E00;&#x4E2A;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#xFF0C;&#x5B57;&#x4F53;&#x662F;&#x7CFB;&#x7EDF;&#x5B57;&#x4F53;&#xFF0C;&#x6240;&#x4EE5;&#x65E0;&#x6CD5;&#x8BBE;&#x7F6E; font-family&#xFF1B;</li>
<li><code>tip</code> : &#x5728; input &#x805A;&#x7126;&#x671F;&#x95F4;&#xFF0C;&#x907F;&#x514D;&#x4F7F;&#x7528; css &#x52A8;&#x753B;&#xFF1B;</li>
<li><code>tip</code> : &#x5BF9;&#x4E8E;&#x5C06; <code>input</code> &#x5C01;&#x88C5;&#x5728;&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x4E2D;&#x3001;&#x800C; <code>from</code> &#x5728;&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x5916;&#x7684;&#x60C5;&#x51B5;&#xFF0C; <code>form</code> &#x5C06;&#x4E0D;&#x80FD;&#x83B7;&#x5F97;&#x8FD9;&#x4E2A;&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x4E2D; <code>input</code> &#x7684;&#x503C;&#x3002;&#x6B64;&#x65F6;&#x9700;&#x8981;&#x4F7F;&#x7528;&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;&#x7684; <a href="../framework/custom-component/behaviors.html">&#x5185;&#x7F6E; behaviors</a> <code>wx://form-field</code>&#x3002;</li>
</ol>

                            </section>      
                        </div>
                        
                    </div>
                
</body>
</html>
