<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>input</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="input">input</h4>
<p>输入框。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="input-value">value</td>
<td>String</td>
<td></td>
<td>输入框的初始内容</td>
<td></td>
</tr>
<tr>
<td id="input-type">type</td>
<td>String</td>
<td>"text"</td>
<td>input 的类型</td>
<td></td>
</tr>
<tr>
<td id="input-password">password</td>
<td>Boolean</td>
<td>false</td>
<td>是否是密码类型</td>
<td></td>
</tr>
<tr>
<td id="input-placeholder">placeholder</td>
<td>String</td>
<td></td>
<td>输入框为空时占位符</td>
<td></td>
</tr>
<tr>
<td id="input-placeholder-style">placeholder-style</td>
<td>String</td>
<td></td>
<td>指定 placeholder 的样式</td>
<td></td>
</tr>
<tr>
<td id="input-placeholder-class">placeholder-class</td>
<td>String</td>
<td>"input-placeholder"</td>
<td>指定 placeholder 的样式类</td>
<td></td>
</tr>
<tr>
<td id="input-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
<td></td>
</tr>
<tr>
<td id="input-maxlength">maxlength</td>
<td>Number</td>
<td>140</td>
<td>最大输入长度，设置为 -1 的时候不限制最大长度</td>
<td></td>
</tr>
<tr>
<td id="input-cursor-spacing">cursor-spacing</td>
<td>Number</td>
<td>0</td>
<td>指定光标与键盘的距离，单位 px 。取 input 距离底部的距离和 cursor-spacing 指定的距离的最小值作为光标与键盘的距离</td>
<td></td>
</tr>
<tr>
<td id="input-auto-focus">auto-focus</td>
<td>Boolean</td>
<td>false</td>
<td>(即将废弃，请直接使用 focus )自动聚焦，拉起键盘</td>
<td></td>
</tr>
<tr>
<td id="input-focus">focus</td>
<td>Boolean</td>
<td>false</td>
<td>获取焦点</td>
<td></td>
</tr>
<tr>
<td id="input-confirm-type">confirm-type</td>
<td>String</td>
<td>"done"</td>
<td>设置键盘右下角按钮的文字</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="input-confirm-hold">confirm-hold</td>
<td>Boolean</td>
<td>false</td>
<td>点击键盘右下角按钮时是否保持键盘不收起</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="input-cursor">cursor</td>
<td>Number</td>
<td></td>
<td>指定focus时的光标位置</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="input-selection-start">selection-start</td>
<td>Number</td>
<td>-1</td>
<td>光标起始位置，自动聚集时有效，需与selection-end搭配使用</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="input-selection-end">selection-end</td>
<td>Number</td>
<td>-1</td>
<td>光标结束位置，自动聚集时有效，需与selection-start搭配使用</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="input-adjust-position">adjust-position</td>
<td>Boolean</td>
<td>true</td>
<td>键盘弹起时，是否自动上推页面</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td id="input-bindinput">bindinput</td>
<td>EventHandle</td>
<td></td>
<td>当键盘输入时，触发input事件，event.detail = {value, cursor}，处理函数可以直接 return 一个字符串，将替换输入框的内容。</td>
<td></td>
</tr>
<tr>
<td id="input-bindfocus">bindfocus</td>
<td>EventHandle</td>
<td></td>
<td>输入框聚焦时触发，event.detail = { value, height }，height 参数在基础库 1.9.90 起支持</td>
<td></td>
</tr>
<tr>
<td id="input-bindblur">bindblur</td>
<td>EventHandle</td>
<td></td>
<td>输入框失去焦点时触发，event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td id="input-bindconfirm">bindconfirm</td>
<td>EventHandle</td>
<td></td>
<td>点击完成按钮时触发，event.detail = {value: value}</td>
</tr>
</tbody>
</table>
<!--
| auto-fill         | String      |                     | 快速填写表单字段，字段请看[定义](./form.md#autofill)                        | [1.2.0](/framework/compatibility.md "基础库 1.2.0 开始支持，低版本需做兼容处理。") |
-->
<p><strong>type 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>text</td>
<td>文本输入键盘</td>
</tr>
<tr>
<td>number</td>
<td>数字输入键盘</td>
</tr>
<tr>
<td>idcard</td>
<td>身份证输入键盘</td>
</tr>
<tr>
<td>digit</td>
<td>带小数点的数字键盘</td>
</tr>
</tbody>
</table>
<p><strong>confirm-type 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>send</td>
<td>右下角按钮为“发送”</td>
</tr>
<tr>
<td>search</td>
<td>右下角按钮为“搜索”</td>
</tr>
<tr>
<td>next</td>
<td>右下角按钮为“下一个”</td>
</tr>
<tr>
<td>go</td>
<td>右下角按钮为“前往”</td>
</tr>
<tr>
<td>done</td>
<td>右下角按钮为“完成”</td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/JYwgZ6ml6rYP" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-comment"><!--input.wxml--></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"这是一个可以自动聚焦的input"</span> <span class="hljs-attr">auto-focus</span>/></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"这个只有在按钮点击的时候才聚焦"</span> <span class="hljs-attr">focus</span>=<span class="hljs-string">"{{focus}}"</span> /></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"bindButtonTap"</span>></span>使得输入框获取焦点<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span>  <span class="hljs-attr">maxlength</span>=<span class="hljs-string">"10"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"最大输入长度10"</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>你输入的是：{{inputValue}}<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">input</span>  <span class="hljs-attr">bindinput</span>=<span class="hljs-string">"bindKeyInput"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"输入同步到view中"</span>/></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span>  <span class="hljs-attr">bindinput</span>=<span class="hljs-string">"bindReplaceInput"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"连续的两个1会变成2"</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">password</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"number"</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">password</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text"</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"digit"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"带小数点的数字键盘"</span>/></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"idcard"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"身份证输入键盘"</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">placeholder-style</span>=<span class="hljs-string">"color:red"</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"占位符字体是红色的"</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-comment">//input.js</span>
Page({
  data: {
    focus: <span class="hljs-literal">false</span>,
    inputValue: <span class="hljs-string">''</span>
  },
  bindButtonTap: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      focus: <span class="hljs-literal">true</span>
    })
  },
  bindKeyInput: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      inputValue: e.detail.value
    })
  },
  bindReplaceInput: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">var</span> value = e.detail.value
    <span class="hljs-keyword">var</span> pos = e.detail.cursor
    <span class="hljs-keyword">if</span>(pos != <span class="hljs-number">-1</span>){
      <span class="hljs-comment">//光标在中间</span>
      <span class="hljs-keyword">var</span> left = e.detail.value.slice(<span class="hljs-number">0</span>,pos)
      <span class="hljs-comment">//计算光标的位置</span>
      pos = left.replace(<span class="hljs-regexp">/11/g</span>,<span class="hljs-string">'2'</span>).length
    }

    <span class="hljs-comment">//直接返回对象，可以对输入进行过滤处理，同时可以控制光标的位置</span>
    <span class="hljs-keyword">return</span> {
      value: value.replace(<span class="hljs-regexp">/11/g</span>,<span class="hljs-string">'2'</span>),
      cursor: pos
    }

    <span class="hljs-comment">//或者直接返回字符串,光标在最后边</span>
    <span class="hljs-comment">//return value.replace(/11/g,'2'),</span>
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/input.png?t=2018413" alt="input"></p>
<h4 id="bug--tip">Bug & Tip</h4>
<ol>
<li><code>bug</code> : 微信版本 <code>6.3.30</code>, focus 属性设置无效；</li>
<li><code>bug</code> : 微信版本 <code>6.3.30</code>, placeholder 在聚焦时出现重影问题；</li>
<li><code>tip</code> : input 组件是一个 native 组件，字体是系统字体，所以无法设置 font-family；</li>
<li><code>tip</code> : 在 input 聚焦期间，避免使用 css 动画；</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>