<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>label</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="label">label</h4>
<p>用来改进表单组件的可用性，使用<code>for</code>属性找到对应的<code>id</code>，或者将控件放在该标签下，当点击时，就会触发对应的控件。</p>
<p><code>for</code>优先级高于内部控件，内部有多个控件的时候默认触发第一个控件。</p>
<p>目前可以绑定的控件有：<code></code><button><code></code>, <code><checkbox></checkbox></code>, <code><radio></radio></code>, <code><switch></switch></code>。<p></p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="label-for">for</td>
<td>String</td>
<td>绑定控件的 id</td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/alak1cmR6JYU" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>表单组件在label内<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">checkbox-group</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"group"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"checkboxChange"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-1"</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{checkboxItems}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">label</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">checkbox</span> <span class="hljs-attr">hidden</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{item.name}}"</span> <span class="hljs-attr">checked</span>=<span class="hljs-string">"{{item.checked}}"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->checkbox</span>>
      <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-1__icon"</span>></span>
        <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-1__icon-checked"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"opacity:{{item.checked ? 1: 0}}"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
      <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
      <span class="hljs-tag"><<span class="hljs-name">text</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-1__text"</span>></span>{{item.value}}<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->label</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->checkbox-group</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>

<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>label用for标识表单组件<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">radio-group</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"group"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"radioChange"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-2"</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{radioItems}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">radio</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"{{item.name}}"</span> <span class="hljs-attr">hidden</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{item.name}}"</span> <span class="hljs-attr">checked</span>=<span class="hljs-string">"{{item.checked}}"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->radio</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-2__icon"</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-2__icon-checked"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"opacity:{{item.checked ? 1: 0}}"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"label-2__text"</span> <span class="hljs-attr">for</span>=<span class="hljs-string">"{{item.name}}"</span>></span><span class="hljs-tag"><<span class="hljs-name">text</span>></span>{{item.name}}<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>><span class="hljs-tag"><!--<span class="hljs-name"-->label</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->radio-group</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    checkboxItems: [
      {name: <span class="hljs-string">'USA'</span>, value: <span class="hljs-string">'美国'</span>},
      {name: <span class="hljs-string">'CHN'</span>, value: <span class="hljs-string">'中国'</span>, checked: <span class="hljs-string">'true'</span>},
      {name: <span class="hljs-string">'BRA'</span>, value: <span class="hljs-string">'巴西'</span>},
      {name: <span class="hljs-string">'JPN'</span>, value: <span class="hljs-string">'日本'</span>, checked: <span class="hljs-string">'true'</span>},
      {name: <span class="hljs-string">'ENG'</span>, value: <span class="hljs-string">'英国'</span>},
      {name: <span class="hljs-string">'TUR'</span>, value: <span class="hljs-string">'法国'</span>},
    ],
    radioItems: [
      {name: <span class="hljs-string">'USA'</span>, value: <span class="hljs-string">'美国'</span>},
      {name: <span class="hljs-string">'CHN'</span>, value: <span class="hljs-string">'中国'</span>, checked: <span class="hljs-string">'true'</span>},
      {name: <span class="hljs-string">'BRA'</span>, value: <span class="hljs-string">'巴西'</span>},
      {name: <span class="hljs-string">'JPN'</span>, value: <span class="hljs-string">'日本'</span>},
      {name: <span class="hljs-string">'ENG'</span>, value: <span class="hljs-string">'英国'</span>},
      {name: <span class="hljs-string">'TUR'</span>, value: <span class="hljs-string">'法国'</span>},
    ],
    hidden: <span class="hljs-literal">false</span>
  },
  checkboxChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">var</span> checked = e.detail.value
    <span class="hljs-keyword">var</span> changed = {}
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i < <span class="hljs-keyword">this</span>.data.checkboxItems.length; i ++) {
      <span class="hljs-keyword">if</span> (checked.indexOf(<span class="hljs-keyword">this</span>.data.checkboxItems[i].name) !== <span class="hljs-number">-1</span>) {
        changed[<span class="hljs-string">'checkboxItems['</span>+i+<span class="hljs-string">'].checked'</span>] = <span class="hljs-literal">true</span>
      } <span class="hljs-keyword">else</span> {
        changed[<span class="hljs-string">'checkboxItems['</span>+i+<span class="hljs-string">'].checked'</span>] = <span class="hljs-literal">false</span>
      }
    }
    <span class="hljs-keyword">this</span>.setData(changed)
  },
  radioChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">var</span> checked = e.detail.value
    <span class="hljs-keyword">var</span> changed = {}
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i < <span class="hljs-keyword">this</span>.data.radioItems.length; i ++) {
      <span class="hljs-keyword">if</span> (checked.indexOf(<span class="hljs-keyword">this</span>.data.radioItems[i].name) !== <span class="hljs-number">-1</span>) {
        changed[<span class="hljs-string">'radioItems['</span>+i+<span class="hljs-string">'].checked'</span>] = <span class="hljs-literal">true</span>
      } <span class="hljs-keyword">else</span> {
        changed[<span class="hljs-string">'radioItems['</span>+i+<span class="hljs-string">'].checked'</span>] = <span class="hljs-literal">false</span>
      }
    }
    <span class="hljs-keyword">this</span>.setData(changed)
  }
})
</code></pre>
<pre><code class="lang-css"><span class="hljs-selector-class">.label-1</span>, <span class="hljs-selector-class">.label-2</span>{
    <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">15px</span>;
}
<span class="hljs-selector-class">.label-1__text</span>, <span class="hljs-selector-class">.label-2__text</span> {
    <span class="hljs-attribute">display</span>: inline-block;
    <span class="hljs-attribute">vertical-align</span>: middle;
}

<span class="hljs-selector-class">.label-1__icon</span> {
    <span class="hljs-attribute">position</span>: relative;
    <span class="hljs-attribute">margin-right</span>: <span class="hljs-number">10px</span>;
    <span class="hljs-attribute">display</span>: inline-block;
    <span class="hljs-attribute">vertical-align</span>: middle;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">18px</span>;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">18px</span>;
    <span class="hljs-attribute">background</span>: <span class="hljs-number">#fcfff4</span>;
}

<span class="hljs-selector-class">.label-1__icon-checked</span> {
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">3px</span>;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">3px</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">12px</span>;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">12px</span>;
    <span class="hljs-attribute">background</span>: <span class="hljs-number">#1aad19</span>;
}


<span class="hljs-selector-class">.label-2__icon</span> {
    <span class="hljs-attribute">position</span>: relative;
    <span class="hljs-attribute">display</span>: inline-block;
    <span class="hljs-attribute">vertical-align</span>: middle;
    <span class="hljs-attribute">margin-right</span>: <span class="hljs-number">10px</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">18px</span>;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">18px</span>;
    <span class="hljs-attribute">background</span>: <span class="hljs-number">#fcfff4</span>;
    <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">50px</span>;
}

<span class="hljs-selector-class">.label-2__icon-checked</span> {
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">3px</span>;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">3px</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">12px</span>;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">12px</span>;
    <span class="hljs-attribute">background</span>: <span class="hljs-number">#1aad19</span>;
    <span class="hljs-attribute">border-radius</span>: <span class="hljs-number">50%</span>;
}

<span class="hljs-selector-class">.label-4_text</span>{
    <span class="hljs-attribute">text-align</span>: center;
    <span class="hljs-attribute">margin-top</span>: <span class="hljs-number">15px</span>;
}
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/label.png?t=2018413" alt="label"></p>

                                
                                </button></p></section>
                            
    </div>
    
</div>

                        


</body></html>