<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>live-player</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="live-player">live-player</h4>
<blockquote>
<p>基础库 1.7.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>实时音视频播放。</p>
<p>暂只针对如下类目开放，需要先通过类目审核，再在小程序管理后台，“设置”-“接口设置”中自助开通该组件权限。</p>
<table>
<thead>
<tr>
<th>一级类目</th>
<th>二级类目</th>
</tr>
</thead>
<tbody>
<tr>
<td>社交</td>
<td>直播</td>
</tr>
<tr>
<td>教育</td>
<td>在线教育</td>
</tr>
<tr>
<td>医疗</td>
<td>互联网医院，公立医院</td>
</tr>
<tr>
<td>政务民生</td>
<td>所有二级类目</td>
</tr>
<tr>
<td>金融</td>
<td>基金、信托、保险、银行、证券/期货、非金融机构自营小额贷款、征信业务、消费金融</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="live-player-src">src</td>
<td>String</td>
<td></td>
<td>音视频地址。目前仅支持 flv, rtmp 格式</td>
<td></td>
</tr>
<tr>
<td id="live-player-mode">mode</td>
<td>String</td>
<td>live</td>
<td>live（直播），RTC（实时通话）</td>
<td></td>
</tr>
<tr>
<td id="live-player-autoplay">autoplay</td>
<td>Boolean</td>
<td>false</td>
<td>自动播放</td>
<td></td>
</tr>
<tr>
<td id="live-player-muted">muted</td>
<td>Boolean</td>
<td>false</td>
<td>是否静音</td>
<td></td>
</tr>
<tr>
<td id="live-player-orientation">orientation</td>
<td>String</td>
<td>vertical</td>
<td>画面方向，可选值有 vertical，horizontal</td>
<td></td>
</tr>
<tr>
<td id="live-player-object-fit">object-fit</td>
<td>String</td>
<td>contain</td>
<td>填充模式，可选值有 contain，fillCrop</td>
<td></td>
</tr>
<tr>
<td id="live-player-background-mute">background-mute</td>
<td>Boolean</td>
<td>false</td>
<td>进入后台时是否静音</td>
<td></td>
</tr>
<tr>
<td id="live-player-min-cache">min-cache</td>
<td>Number</td>
<td>1</td>
<td>最小缓冲区，单位s</td>
<td></td>
</tr>
<tr>
<td id="live-player-max-cache">max-cache</td>
<td>Number</td>
<td>3</td>
<td>最大缓冲区，单位s</td>
<td></td>
</tr>
<tr>
<td id="live-player-bindstatechange">bindstatechange</td>
<td>EventHandle</td>
<td></td>
<td>播放状态变化事件，detail = {code}</td>
<td></td>
</tr>
<tr>
<td id="live-player-bindfullscreenchange">bindfullscreenchange</td>
<td>EventHandle</td>
<td></td>
<td>全屏变化事件，detail = {direction, fullScreen}</td>
<td></td>
</tr>
<tr>
<td id="live-player-bindnetstatus">bindnetstatus</td>
<td>EventHandle</td>
<td></td>
<td>网络状态通知，detail = {info}</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
</tbody>
</table>
<p><strong>注意：</strong></p>
<ul>
<li><code><live-player></live-player></code> 默认宽度300px、高度225px，可通过wxss设置宽高。</li>
<li>开发者工具上暂不支持。</li>
<li>相关api：<a href="../api/api-live-player.html">wx.createLivePlayerContext</a></li>
</ul>
<h5 id="状态码">状态码</h5>
<table>
<thead>
<tr>
<th>代码</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>2001</td>
<td>已经连接服务器</td>
</tr>
<tr>
<td>2002</td>
<td>已经连接服务器,开始拉流</td>
</tr>
<tr>
<td>2003</td>
<td>网络接收到首个视频数据包(IDR)</td>
</tr>
<tr>
<td>2004</td>
<td>视频播放开始</td>
</tr>
<tr>
<td>2005</td>
<td>视频播放进度</td>
</tr>
<tr>
<td>2006</td>
<td>视频播放结束</td>
</tr>
<tr>
<td>2007</td>
<td>视频播放Loading</td>
</tr>
<tr>
<td>2008</td>
<td>解码器启动</td>
</tr>
<tr>
<td>2009</td>
<td>视频分辨率改变</td>
</tr>
<tr>
<td>-2301</td>
<td>网络断连，且经多次重连抢救无效，更多重试请自行重启播放</td>
</tr>
<tr>
<td>-2302</td>
<td>获取加速拉流地址失败</td>
</tr>
<tr>
<td>2101</td>
<td>当前视频帧解码失败</td>
</tr>
<tr>
<td>2102</td>
<td>当前音频帧解码失败</td>
</tr>
<tr>
<td>2103</td>
<td>网络断连, 已启动自动重连</td>
</tr>
<tr>
<td>2104</td>
<td>网络来包不稳：可能是下行带宽不足，或由于主播端出流不均匀</td>
</tr>
<tr>
<td>2105</td>
<td>当前视频播放出现卡顿</td>
</tr>
<tr>
<td>2106</td>
<td>硬解启动失败，采用软解</td>
</tr>
<tr>
<td>2107</td>
<td>当前视频帧不连续，可能丢帧</td>
</tr>
<tr>
<td>2108</td>
<td>当前流硬解第一个I帧失败，SDK自动切软解</td>
</tr>
<tr>
<td>3001</td>
<td>RTMP -DNS解析失败</td>
</tr>
<tr>
<td>3002</td>
<td>RTMP服务器连接失败</td>
</tr>
<tr>
<td>3003</td>
<td>RTMP服务器握手失败</td>
</tr>
<tr>
<td>3005</td>
<td>RTMP 读/写失败</td>
</tr>
</tbody>
</table>
<h5 id="网络状态数据">网络状态数据</h5>
<table>
<thead>
<tr>
<th>键名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>videoBitrate</td>
<td>当前视频编/码器输出的比特率，单位 kbps</td>
</tr>
<tr>
<td>audioBitrate</td>
<td>当前音频编/码器输出的比特率，单位 kbps</td>
</tr>
<tr>
<td>videoFPS</td>
<td>当前视频帧率</td>
</tr>
<tr>
<td>videoGOP</td>
<td>当前视频 GOP,也就是每两个关键帧(I帧)间隔时长，单位 s</td>
</tr>
<tr>
<td>netSpeed</td>
<td>当前的发送/接收速度</td>
</tr>
<tr>
<td>netJitter</td>
<td>网络抖动情况，抖动越大，网络越不稳定</td>
</tr>
<tr>
<td>videoWidth</td>
<td>视频画面的宽度</td>
</tr>
<tr>
<td>videoHeight</td>
<td>视频画面的高度</td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/UzWEzmm763Y4" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">live-player</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"https://domain/pull_stream"</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"RTC"</span> <span class="hljs-attr">autoplay</span> <span class="hljs-attr">bindstatechange</span>=<span class="hljs-string">"statechange"</span> <span class="hljs-attr">binderror</span>=<span class="hljs-string">"error"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width: 300px; height: 225px;"</span> /></span>
</code></pre>
<pre><code class="lang-javascript">Page({
  statechange(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'live-player code:'</span>, e.detail.code)
  },
  error(e) {
      <span class="hljs-built_in">console</span>.error(<span class="hljs-string">'live-player error:'</span>, e.detail.errMsg)
  }
})
</code></pre>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: <code>live-player</code> 组件是由客户端创建的原生组件，它的层级是最高的，不能通过 z-index 控制层级。可使用 <code>cover-view</code> <code>cover-image</code>覆盖在上面。</li>
<li><code>tip</code>: 请勿在 <code>scroll-view</code>、<code>swiper</code>、<code>picker-view</code>、<code>movable-view</code> 中使用 <code>live-player</code> 组件。</li>
<li><code>tip</code>: <code>css</code> 动画对 <code>live-player</code> 组件无效。</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>