<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>live-pusher</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="live-pusher">live-pusher</h4>
<blockquote>
<p>基础库 1.7.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>实时音视频录制。</p>
<p>需要<a href="../api/authorize-index.html">用户授权</a> scope.camera、scope.record</p>
<p>暂只针对如下类目开放，需要先通过类目审核，再在小程序管理后台，“设置”-“接口设置”中自助开通该组件权限。</p>
<table>
<thead>
<tr>
<th>一级类目</th>
<th>二级类目</th>
</tr>
</thead>
<tbody>
<tr>
<td>社交</td>
<td>直播</td>
</tr>
<tr>
<td>教育</td>
<td>在线教育</td>
</tr>
<tr>
<td>医疗</td>
<td>互联网医院，公立医院</td>
</tr>
<tr>
<td>政务民生</td>
<td>所有二级类目</td>
</tr>
<tr>
<td>金融</td>
<td>基金、信托、保险、银行、证券/期货、非金融机构自营小额贷款、征信业务、消费金融</td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="live-pusher-url">url</td>
<td>String</td>
<td></td>
<td>推流地址。目前仅支持 flv, rtmp 格式</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-mode">mode</td>
<td>String</td>
<td>RTC</td>
<td>SD（标清）, HD（高清）, FHD（超清）, RTC（实时通话）</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-autopush">autopush</td>
<td>Boolean</td>
<td>false</td>
<td>自动推流</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-muted">muted</td>
<td>Boolean</td>
<td>false</td>
<td>是否静音</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-enable-camera">enable-camera</td>
<td>Boolean</td>
<td>true</td>
<td>开启摄像头</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-auto-focus">auto-focus</td>
<td>Boolean</td>
<td>true</td>
<td>自动聚集</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-orientation">orientation</td>
<td>String</td>
<td>vertical</td>
<td>vertical，horizontal</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-beauty">beauty</td>
<td>Number</td>
<td>0</td>
<td>美颜</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-whiteness">whiteness</td>
<td>Number</td>
<td>0</td>
<td>美白</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-aspect">aspect</td>
<td>String</td>
<td>9:16</td>
<td>宽高比，可选值有 3:4, 9:16</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-min-bitrate">min-bitrate</td>
<td>Number</td>
<td>200</td>
<td>最小码率</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-max-bitrate">max-bitrate</td>
<td>Number</td>
<td>1000</td>
<td>最大码率</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-waiting-image">waiting-image</td>
<td>String</td>
<td></td>
<td>进入后台时推流的等待画面</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-waiting-image-md5">waiting-image-md5</td>
<td>String</td>
<td></td>
<td>等待画面资源的MD5值</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-background-mute">background-mute</td>
<td>Boolean</td>
<td>false</td>
<td>进入后台时是否静音</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-bindstatechange">bindstatechange</td>
<td>EventHandle</td>
<td></td>
<td>状态变化事件，detail = {code}</td>
<td></td>
</tr>
<tr>
<td id="live-pusher-bindnetstatus">bindnetstatus</td>
<td>EventHandle</td>
<td></td>
<td>网络状态通知，detail = {info}</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="live-pusher-binderror">binderror</td>
<td>EventHandle</td>
<td></td>
<td>渲染错误事件，detail = {errMsg, errCode}</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.4 开始支持，低版本需做兼容处理。">1.7.4</a></td>
</tr>
</tbody>
</table>
<p><strong>注意：</strong></p>
<ul>
<li><code><live-player></live-player></code> 默认宽度为100%、无默认高度，请通过wxss设置宽高。</li>
<li>开发者工具上暂不支持。</li>
<li>相关api：<a href="../api/api-live-pusher.html">wx.createLivePusherContext</a></li>
</ul>
<h5 id="错误码（errcode）">错误码（errCode）</h5>
<table>
<thead>
<tr>
<th>代码</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>1001</td>
<td>用户禁止使用摄像头</td>
</tr>
<tr>
<td>1002</td>
<td>用户禁止使用录音</td>
</tr>
</tbody>
</table>
<h5 id="状态码（code）">状态码（code）</h5>
<table>
<thead>
<tr>
<th>代码</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>1001</td>
<td>已经连接推流服务器</td>
</tr>
<tr>
<td>1002</td>
<td>已经与服务器握手完毕,开始推流</td>
</tr>
<tr>
<td>1003</td>
<td>打开摄像头成功</td>
</tr>
<tr>
<td>1004</td>
<td>录屏启动成功</td>
</tr>
<tr>
<td>1005</td>
<td>推流动态调整分辨率</td>
</tr>
<tr>
<td>1006</td>
<td>推流动态调整码率</td>
</tr>
<tr>
<td>1007</td>
<td>首帧画面采集完成</td>
</tr>
<tr>
<td>1008</td>
<td>编码器启动</td>
</tr>
<tr>
<td>-1301</td>
<td>打开摄像头失败</td>
</tr>
<tr>
<td>-1302</td>
<td>打开麦克风失败</td>
</tr>
<tr>
<td>-1303</td>
<td>视频编码失败</td>
</tr>
<tr>
<td>-1304</td>
<td>音频编码失败</td>
</tr>
<tr>
<td>-1305</td>
<td>不支持的视频分辨率</td>
</tr>
<tr>
<td>-1306</td>
<td>不支持的音频采样率</td>
</tr>
<tr>
<td>-1307</td>
<td>网络断连，且经多次重连抢救无效，更多重试请自行重启推流</td>
</tr>
<tr>
<td>-1308</td>
<td>开始录屏失败，可能是被用户拒绝</td>
</tr>
<tr>
<td>-1309</td>
<td>录屏失败，不支持的Android系统版本，需要5.0以上的系统</td>
</tr>
<tr>
<td>-1310</td>
<td>录屏被其他应用打断了</td>
</tr>
<tr>
<td>-1311</td>
<td>Android Mic打开成功，但是录不到音频数据</td>
</tr>
<tr>
<td>-1312</td>
<td>录屏动态切横竖屏失败</td>
</tr>
<tr>
<td>1101</td>
<td>网络状况不佳：上行带宽太小，上传数据受阻</td>
</tr>
<tr>
<td>1102</td>
<td>网络断连, 已启动自动重连</td>
</tr>
<tr>
<td>1103</td>
<td>硬编码启动失败,采用软编码</td>
</tr>
<tr>
<td>1104</td>
<td>视频编码失败</td>
</tr>
<tr>
<td>1105</td>
<td>新美颜软编码启动失败，采用老的软编码</td>
</tr>
<tr>
<td>1106</td>
<td>新美颜软编码启动失败，采用老的软编码</td>
</tr>
<tr>
<td>3001</td>
<td>RTMP -DNS解析失败</td>
</tr>
<tr>
<td>3002</td>
<td>RTMP服务器连接失败</td>
</tr>
<tr>
<td>3003</td>
<td>RTMP服务器握手失败</td>
</tr>
<tr>
<td>3004</td>
<td>RTMP服务器主动断开，请检查推流地址的合法性或防盗链有效期</td>
</tr>
<tr>
<td>3005</td>
<td>RTMP 读/写失败</td>
</tr>
</tbody>
</table>
<h5 id="网络状态数据（info）">网络状态数据（info）</h5>
<table>
<thead>
<tr>
<th>键名</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>videoBitrate</td>
<td>当前视频编/码器输出的比特率，单位 kbps</td>
</tr>
<tr>
<td>audioBitrate</td>
<td>当前音频编/码器输出的比特率，单位 kbps</td>
</tr>
<tr>
<td>videoFPS</td>
<td>当前视频帧率</td>
</tr>
<tr>
<td>videoGOP</td>
<td>当前视频 GOP,也就是每两个关键帧(I帧)间隔时长，单位 s</td>
</tr>
<tr>
<td>netSpeed</td>
<td>当前的发送/接收速度</td>
</tr>
<tr>
<td>netJitter</td>
<td>网络抖动情况，抖动越大，网络越不稳定</td>
</tr>
<tr>
<td>videoWidth</td>
<td>视频画面的宽度</td>
</tr>
<tr>
<td>videoHeight</td>
<td>视频画面的高度</td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/KvWD9mmA62Yk" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html">  <span class="hljs-tag"><<span class="hljs-name">live-pusher</span> <span class="hljs-attr">url</span>=<span class="hljs-string">"https://domain/push_stream"</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"RTC"</span> <span class="hljs-attr">autopush</span> <span class="hljs-attr">bindstatechange</span>=<span class="hljs-string">"statechange"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width: 300px; height: 225px;"</span> /></span>
</code></pre>
<pre><code class="lang-javascript">Page({
  statechange(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'live-pusher code:'</span>, e.detail.code)
  }
})
</code></pre>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: <code>live-pusher</code> 组件是由客户端创建的原生组件，它的层级是最高的，不能通过 z-index 控制层级。可使用 <code>cover-view</code> <code>cover-image</code>覆盖在上面。</li>
<li><code>tip</code>: 请勿在 <code>scroll-view</code>、<code>swiper</code>、<code>picker-view</code>、<code>movable-view</code> 中使用 <code>live-pusher</code> 组件。</li>
<li><code>tip</code>: <code>css</code> 动画对 <code>live-pusher</code> 组件无效。</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>