<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>导航</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="navigator">navigator</h4>
<p>页面链接。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="导航-url">url</td>
<td>String</td>
<td></td>
<td>应用内的跳转链接</td>
<td></td>
</tr>
<tr>
<td id="导航-open-type">open-type</td>
<td>String</td>
<td>navigate</td>
<td>跳转方式</td>
<td></td>
</tr>
<tr>
<td id="导航-delta">delta</td>
<td>Number</td>
<td></td>
<td>当 open-type 为 'navigateBack' 时有效，表示回退的层数</td>
<td></td>
</tr>
<tr>
<td id="导航-hover-class">hover-class</td>
<td>String</td>
<td>navigator-hover</td>
<td>指定点击时的样式类，当<code>hover-class="none"</code>时，没有点击态效果</td>
<td></td>
</tr>
<tr>
<td id="导航-hover-stop-propagation">hover-stop-propagation</td>
<td>Boolean</td>
<td>false</td>
<td>指定是否阻止本节点的祖先节点出现点击态</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="导航-hover-start-time">hover-start-time</td>
<td>Number</td>
<td>50</td>
<td>按住后多久出现点击态，单位毫秒</td>
<td></td>
</tr>
<tr>
<td id="导航-hover-stay-time">hover-stay-time</td>
<td>Number</td>
<td>600</td>
<td>手指松开后点击态保留时间，单位毫秒</td>
</tr>
</tbody>
</table>
<p><strong>open-type 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td>navigate</td>
<td>对应 <code>wx.navigateTo</code> 的功能</td>
<td></td>
</tr>
<tr>
<td>redirect</td>
<td>对应 <code>wx.redirectTo</code> 的功能</td>
<td></td>
</tr>
<tr>
<td>switchTab</td>
<td>对应 <code>wx.switchTab</code> 的功能</td>
<td></td>
</tr>
<tr>
<td>reLaunch</td>
<td>对应 <code>wx.reLaunch</code> 的功能</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td>navigateBack</td>
<td>对应 <code>wx.navigateBack</code> 的功能</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
</tbody>
</table>
<p><strong>注：<code>navigator-hover</code> 默认为 <code>{background-color: rgba(0, 0, 0, 0.1); opacity: 0.7;}</code>, <code><navigator></navigator></code> 的子节点背景色应为透明色</strong></p>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/2Ec11cmI6BY1" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-css"><span class="hljs-comment">/** wxss **/</span>
<span class="hljs-comment">/** 修改默认的navigator点击态 **/</span>
<span class="hljs-selector-class">.navigator-hover</span> {
    <span class="hljs-attribute">color</span>:blue;
}
<span class="hljs-comment">/** 自定义其他点击态样式类 **/</span>
<span class="hljs-selector-class">.other-navigator-hover</span> {
    <span class="hljs-attribute">color</span>:red;
}
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- sample.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">navigator</span> <span class="hljs-attr">url</span>=<span class="hljs-string">"/page/navigate/navigate?title=navigate"</span> <span class="hljs-attr">hover-class</span>=<span class="hljs-string">"navigator-hover"</span>></span>跳转到新页面<span class="hljs-tag"><!--<span class="hljs-name"-->navigator</span>>
  <span class="hljs-tag"><<span class="hljs-name">navigator</span> <span class="hljs-attr">url</span>=<span class="hljs-string">"../../redirect/redirect/redirect?title=redirect"</span> <span class="hljs-attr">open-type</span>=<span class="hljs-string">"redirect"</span> <span class="hljs-attr">hover-class</span>=<span class="hljs-string">"other-navigator-hover"</span>></span>在当前页打开<span class="hljs-tag"><!--<span class="hljs-name"-->navigator</span>>
  <span class="hljs-tag"><<span class="hljs-name">navigator</span> <span class="hljs-attr">url</span>=<span class="hljs-string">"/page/index/index"</span> <span class="hljs-attr">open-type</span>=<span class="hljs-string">"switchTab"</span> <span class="hljs-attr">hover-class</span>=<span class="hljs-string">"other-navigator-hover"</span>></span>切换 Tab<span class="hljs-tag"><!--<span class="hljs-name"-->navigator</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- navigator.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"text-align:center"</span>></span> {{title}} <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> 点击左上角返回回到之前页面 <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- redirect.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"text-align:center"</span>></span> {{title}} <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> 点击左上角返回回到上级页面 <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js"><span class="hljs-comment">// redirect.js navigator.js</span>
Page({
  onLoad: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">options</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      title: options.title
    })
  }
})
</code></pre>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>