<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>official-account</title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h4 id="official-account">official-account</h4>
<blockquote>
<p>&#x57FA;&#x7840;&#x5E93; 2.3.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;<a href="../framework/compatibility.html">&#x517C;&#x5BB9;&#x5904;&#x7406;</a>&#x3002;</p>
</blockquote>
<p>&#x7528;&#x6237;&#x626B;&#x7801;&#x6253;&#x5F00;&#x5C0F;&#x7A0B;&#x5E8F;&#x65F6;&#xFF0C;&#x5F00;&#x53D1;&#x8005;&#x53EF;&#x5728;&#x5C0F;&#x7A0B;&#x5E8F;&#x5185;&#x914D;&#x7F6E;&#x516C;&#x4F17;&#x53F7;&#x5173;&#x6CE8;&#x7EC4;&#x4EF6;&#xFF0C;&#x65B9;&#x4FBF;&#x7528;&#x6237;&#x5FEB;&#x6377;&#x5173;&#x6CE8;&#x516C;&#x4F17;&#x53F7;&#xFF0C;&#x53EF;&#x5D4C;&#x5957;&#x5728;&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x5185;&#x3002;</p>
<p><strong>Tips:</strong></p>
<ol>
<li>
<p>&#x4F7F;&#x7528;&#x7EC4;&#x4EF6;&#x524D;&#xFF0C;&#x9700;&#x524D;&#x5F80;&#x5C0F;&#x7A0B;&#x5E8F;&#x540E;&#x53F0;&#xFF0C;&#x5728;&#x201C;&#x8BBE;&#x7F6E;&#x201D;-&gt;&#x201C;&#x63A5;&#x53E3;&#x8BBE;&#x7F6E;&#x201D;-&gt;&#x201C;&#x516C;&#x4F17;&#x53F7;&#x5173;&#x6CE8;&#x7EC4;&#x4EF6;&#x201D;&#x4E2D;&#x8BBE;&#x7F6E;&#x8981;&#x5C55;&#x793A;&#x7684;&#x516C;&#x4F17;&#x53F7;&#x3002;</p>
<p><strong>&#x6CE8;&#xFF1A;&#x8BBE;&#x7F6E;&#x7684;&#x516C;&#x4F17;&#x53F7;&#x9700;&#x4E0E;&#x5C0F;&#x7A0B;&#x5E8F;&#x4E3B;&#x4F53;&#x4E00;&#x81F4;&#x3002;</strong></p>
</li>
<li>
<p>&#x5728;&#x4E00;&#x4E2A;&#x5C0F;&#x7A0B;&#x5E8F;&#x7684;&#x751F;&#x547D;&#x5468;&#x671F;&#x5185;&#xFF0C;&#x53EA;&#x6709;&#x4ECE;&#x4EE5;&#x4E0B;&#x573A;&#x666F;&#x8FDB;&#x5165;&#x5C0F;&#x7A0B;&#x5E8F;&#xFF0C;&#x624D;&#x5177;&#x6709;&#x5C55;&#x793A;&#x5F15;&#x5BFC;&#x5173;&#x6CE8;&#x516C;&#x4F17;&#x53F7;&#x7EC4;&#x4EF6;&#x7684;&#x80FD;&#x529B;:</p>
<ul>
<li>&#x5F53;&#x5C0F;&#x7A0B;&#x5E8F;&#x4ECE;&#x626B;&#x4E8C;&#x7EF4;&#x7801;&#x573A;&#x666F;&#xFF08;&#x573A;&#x666F;&#x503C;1011&#xFF09;&#x6253;&#x5F00;&#x65F6;</li>
<li>&#x5F53;&#x5C0F;&#x7A0B;&#x5E8F;&#x4ECE;&#x626B;&#x5C0F;&#x7A0B;&#x5E8F;&#x7801;&#x573A;&#x666F;&#xFF08;&#x573A;&#x666F;&#x503C;1047&#xFF09;&#x6253;&#x5F00;&#x65F6;</li>
<li>&#x5F53;&#x5C0F;&#x7A0B;&#x5E8F;&#x4ECE;&#x804A;&#x5929;&#x9876;&#x90E8;&#x573A;&#x666F;&#xFF08;&#x573A;&#x666F;&#x503C;1089&#xFF09;&#x4E2D;&#x7684;&#x300C;&#x6700;&#x8FD1;&#x4F7F;&#x7528;&#x300D;&#x5185;&#x6253;&#x5F00;&#x65F6;&#xFF0C;&#x82E5;&#x5C0F;&#x7A0B;&#x5E8F;&#x4E4B;&#x524D;&#x672A;&#x88AB;&#x9500;&#x6BC1;&#xFF0C;&#x5219;&#x8BE5;&#x7EC4;&#x4EF6;&#x4FDD;&#x6301;&#x4E0A;&#x4E00;&#x6B21;&#x6253;&#x5F00;&#x5C0F;&#x7A0B;&#x5E8F;&#x65F6;&#x7684;&#x72B6;&#x6001;</li>
<li>&#x5F53;&#x4ECE;&#x5176;&#x4ED6;&#x5C0F;&#x7A0B;&#x5E8F;&#x8FD4;&#x56DE;&#x5C0F;&#x7A0B;&#x5E8F;&#xFF08;&#x573A;&#x666F;&#x503C;1038&#xFF09;&#x65F6;&#xFF0C;&#x82E5;&#x5C0F;&#x7A0B;&#x5E8F;&#x4E4B;&#x524D;&#x672A;&#x88AB;&#x9500;&#x6BC1;&#xFF0C;&#x5219;&#x8BE5;&#x7EC4;&#x4EF6;&#x4FDD;&#x6301;&#x4E0A;&#x4E00;&#x6B21;&#x6253;&#x5F00;&#x5C0F;&#x7A0B;&#x5E8F;&#x65F6;&#x7684;&#x72B6;&#x6001;</li>
</ul>
</li>
<li>
<p>&#x7EC4;&#x4EF6;&#x9650;&#x5B9A;&#x6700;&#x5C0F;&#x5BBD;&#x5EA6;&#x4E3A;300px&#xFF0C;&#x9AD8;&#x5EA6;&#x4E3A;&#x5B9A;&#x503C;84px&#x3002;</p>
</li>
<li>
<p>&#x6BCF;&#x4E2A;&#x9875;&#x9762;&#x53EA;&#x80FD;&#x914D;&#x7F6E;&#x4E00;&#x4E2A;&#x8BE5;&#x7EC4;&#x4EF6;&#x3002;</p>
</li>
</ol>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="official-account-bindload">bindload</td>
<td>EventHandle</td>
<td>&#x7EC4;&#x4EF6;&#x52A0;&#x8F7D;&#x6210;&#x529F;&#x65F6;&#x89E6;&#x53D1;</td>
</tr>
<tr>
<td id="official-account-binderror">binderror</td>
<td>EventHandle</td>
<td>&#x7EC4;&#x4EF6;&#x52A0;&#x8F7D;&#x5931;&#x8D25;&#x65F6;&#x89E6;&#x53D1;</td>
</tr>
</tbody>
</table>
<h5 id="detail&#x5BF9;&#x8C61;">detail&#x5BF9;&#x8C61;</h5>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="official-account-status">status</td>
<td>Number</td>
<td>&#x72B6;&#x6001;&#x7801;</td>
</tr>
<tr>
<td id="official-account-errMsg">errMsg</td>
<td>String</td>
<td>&#x9519;&#x8BEF;&#x4FE1;&#x606F;</td>
</tr>
</tbody>
</table>
<h5 id="&#x72B6;&#x6001;&#x7801;">&#x72B6;&#x6001;&#x7801;</h5>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>-2</td>
<td>&#x7F51;&#x7EDC;&#x9519;&#x8BEF;</td>
</tr>
<tr>
<td>-1</td>
<td>&#x6570;&#x636E;&#x89E3;&#x6790;&#x9519;&#x8BEF;</td>
</tr>
<tr>
<td>0</td>
<td>&#x52A0;&#x8F7D;&#x6210;&#x529F;</td>
</tr>
<tr>
<td>1</td>
<td>&#x5C0F;&#x7A0B;&#x5E8F;&#x5173;&#x6CE8;&#x516C;&#x4F17;&#x53F7;&#x529F;&#x80FD;&#x88AB;&#x5C01;&#x7981;</td>
</tr>
<tr>
<td>2</td>
<td>&#x5173;&#x8054;&#x516C;&#x4F17;&#x53F7;&#x88AB;&#x5C01;&#x7981;</td>
</tr>
<tr>
<td>3</td>
<td>&#x5173;&#x8054;&#x5173;&#x7CFB;&#x89E3;&#x9664;&#x6216;&#x672A;&#x9009;&#x4E2D;&#x5173;&#x8054;&#x516C;&#x4F17;&#x53F7;</td>
</tr>
<tr>
<td>4</td>
<td>&#x672A;&#x5F00;&#x542F;&#x5173;&#x6CE8;&#x516C;&#x4F17;&#x53F7;&#x529F;&#x80FD;</td>
</tr>
<tr>
<td>5</td>
<td>&#x573A;&#x666F;&#x503C;&#x9519;&#x8BEF;</td>
</tr>
<tr>
<td>6</td>
<td>&#x91CD;&#x590D;&#x521B;&#x5EFA;</td>
</tr>
</tbody>
</table>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">official-account</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">official-account</span>&gt;</span>
</code></pre>

                            </section>
                        </div>
                        
                    </div>
                


</body></html>