<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>开放能力</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h4 id="open-data">open-data</h4>
<blockquote>
<p>&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;<a href="../framework/compatibility.html">&#x517C;&#x5BB9;&#x5904;&#x7406;</a>&#x3002;</p>
</blockquote>
<p>&#x7528;&#x4E8E;&#x5C55;&#x793A;&#x5FAE;&#x4FE1;&#x5F00;&#x653E;&#x7684;&#x6570;&#x636E;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>type</td>
<td>String</td>
<td></td>
<td>&#x5F00;&#x653E;&#x6570;&#x636E;&#x7C7B;&#x578B;</td>
</tr>
<tr>
<td>open-gid</td>
<td>String</td>
<td></td>
<td>&#x5F53; type=&quot;groupName&quot; &#x65F6;&#x751F;&#x6548;, &#x7FA4;id</td>
</tr>
<tr>
<td>lang</td>
<td>String</td>
<td>en</td>
<td>&#x5F53; type=&quot;user*&quot; &#x65F6;&#x751F;&#x6548;&#xFF0C;&#x4EE5;&#x54EA;&#x79CD;&#x8BED;&#x8A00;&#x5C55;&#x793A; userInfo&#xFF0C;&#x6709;&#x6548;&#x503C;&#x6709;&#xFF1A;en, zh_CN, zh_TW</td>
</tr>
</tbody>
</table>
<p><strong>type &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>groupName</td>
<td>&#x62C9;&#x53D6;&#x7FA4;&#x540D;&#x79F0;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a></td>
</tr>
<tr>
<td>userNickName</td>
<td>&#x7528;&#x6237;&#x6635;&#x79F0;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>userAvatarUrl</td>
<td>&#x7528;&#x6237;&#x5934;&#x50CF;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>userGender</td>
<td>&#x7528;&#x6237;&#x6027;&#x522B;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>userCity</td>
<td>&#x7528;&#x6237;&#x6240;&#x5728;&#x57CE;&#x5E02;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>userProvince</td>
<td>&#x7528;&#x6237;&#x6240;&#x5728;&#x7701;&#x4EFD;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>userCountry</td>
<td>&#x7528;&#x6237;&#x6240;&#x5728;&#x56FD;&#x5BB6;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>userLanguage</td>
<td>&#x7528;&#x6237;&#x7684;&#x8BED;&#x8A00;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
</tbody>
</table>
<p><strong>Tips:</strong> &#x53EA;&#x6709;&#x5F53;&#x524D;&#x7528;&#x6237;&#x5728;&#x6B64;&#x7FA4;&#x5185;&#x624D;&#x80FD;&#x62C9;&#x53D6;&#x5230;&#x7FA4;&#x540D;&#x79F0;</p>
<p><strong>&#x793A;&#x4F8B;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/vbdmRcmV67YB" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">open-data</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;groupName&quot;</span> <span class="hljs-attr">open-gid</span>=<span class="hljs-string">&quot;xxxxxx&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">open-data</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">open-data</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;userAvatarUrl&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">open-data</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">open-data</span> <span class="hljs-attr">type</span>=<span class="hljs-string">&quot;userGender&quot;</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">&quot;zh_CN&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">open-data</span>&gt;</span>
</code></pre>
<p><strong>Tips:</strong>
&#x5173;&#x4E8E;open-gid&#x7684;&#x83B7;&#x53D6;&#x8BF7;&#x4F7F;&#x7528; <a href="../api/share/wx.getShareInfo.html">wx.getShareInfo</a></p>

                            </section>      
                        </div>
                        
                    </div>
                
</body>
</html>
