<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>开放能力</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="open-data">open-data</h4>
<blockquote>
<p>基础库 1.4.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>用于展示微信开放的数据。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="开放能力-type">type</td>
<td>String</td>
<td></td>
<td>开放数据类型</td>
</tr>
<tr>
<td id="开放能力-open-gid">open-gid</td>
<td>String</td>
<td></td>
<td>当 type="groupName" 时生效, 群id</td>
</tr>
<tr>
<td id="开放能力-lang">lang</td>
<td>String</td>
<td>en</td>
<td>当 type="user*" 时生效，以哪种语言展示 userInfo，有效值有：en, zh_CN, zh_TW</td>
</tr>
</tbody>
</table>
<p><strong>type 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td>groupName</td>
<td>拉取群名称</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
<tr>
<td>userNickName</td>
<td>用户昵称</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td>userAvatarUrl</td>
<td>用户头像</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td>userGender</td>
<td>用户性别</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td>userCity</td>
<td>用户所在城市</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td>userProvince</td>
<td>用户所在省份</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td>userCountry</td>
<td>用户所在国家</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td>userLanguage</td>
<td>用户的语言</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
</tbody>
</table>
<p><strong>Tips:</strong> 只有当前用户在此群内才能拉取到群名称</p>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/vbdmRcmV67YB" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">open-data</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"groupName"</span> <span class="hljs-attr">open-gid</span>=<span class="hljs-string">"xxxxxx"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->open-data</span>>
<span class="hljs-tag"><<span class="hljs-name">open-data</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"userAvatarUrl"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->open-data</span>>
<span class="hljs-tag"><<span class="hljs-name">open-data</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"userGender"</span> <span class="hljs-attr">lang</span>=<span class="hljs-string">"zh_CN"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->open-data</span>>
</code></pre>
<p><strong>Tips:</strong>
关于open-gid的获取请查看 <a href="../api/share.html#wxgetshareinfoobject">转发</a></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>