<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>picker</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h4 id="picker">picker</h4>
<p>&#x4ECE;&#x5E95;&#x90E8;&#x5F39;&#x8D77;&#x7684;&#x6EDA;&#x52A8;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x73B0;&#x652F;&#x6301;&#x4E94;&#x79CD;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x901A;&#x8FC7;mode&#x6765;&#x533A;&#x5206;&#xFF0C;&#x5206;&#x522B;&#x662F;&#x666E;&#x901A;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x591A;&#x5217;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x65F6;&#x95F4;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x65E5;&#x671F;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x7701;&#x5E02;&#x533A;&#x9009;&#x62E9;&#x5668;&#xFF0C;&#x9ED8;&#x8BA4;&#x662F;&#x666E;&#x901A;&#x9009;&#x62E9;&#x5668;&#x3002;</p>
<p><strong>&#x666E;&#x901A;&#x9009;&#x62E9;&#x5668;&#xFF1A;mode = selector</strong></p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>range</td>
<td>Array / Object Array</td>
<td>[]</td>
<td>mode&#x4E3A; selector &#x6216; multiSelector &#x65F6;&#xFF0C;range &#x6709;&#x6548;</td>
<td></td>
</tr>
<tr>
<td>range-key</td>
<td>String</td>
<td></td>
<td>&#x5F53; range &#x662F;&#x4E00;&#x4E2A; Object Array &#x65F6;&#xFF0C;&#x901A;&#x8FC7; range-key &#x6765;&#x6307;&#x5B9A; Object &#x4E2D; key &#x7684;&#x503C;&#x4F5C;&#x4E3A;&#x9009;&#x62E9;&#x5668;&#x663E;&#x793A;&#x5185;&#x5BB9;</td>
<td></td>
</tr>
<tr>
<td>value</td>
<td>Number</td>
<td>0</td>
<td>value &#x7684;&#x503C;&#x8868;&#x793A;&#x9009;&#x62E9;&#x4E86; range &#x4E2D;&#x7684;&#x7B2C;&#x51E0;&#x4E2A;&#xFF08;&#x4E0B;&#x6807;&#x4ECE; 0 &#x5F00;&#x59CB;&#xFF09;</td>
<td></td>
</tr>
<tr>
<td>bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value &#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td>disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
<tr>
<td>bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>&#x53D6;&#x6D88;&#x9009;&#x62E9;&#x6216;&#x70B9;&#x906E;&#x7F69;&#x5C42;&#x6536;&#x8D77; picker &#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
</tbody>
</table>

<p><strong>&#x591A;&#x5217;&#x9009;&#x62E9;&#x5668;&#xFF1A;mode = multiSelector</strong>&#xFF08;&#x6700;&#x4F4E;&#x7248;&#x672C;&#xFF1A;<a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a>&#xFF09;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>range</td>
<td>&#x4E8C;&#x7EF4;Array / &#x4E8C;&#x7EF4;Object Array</td>
<td>[]</td>
<td>mode&#x4E3A; selector &#x6216; multiSelector &#x65F6;&#xFF0C;range &#x6709;&#x6548;&#x3002;&#x4E8C;&#x7EF4;&#x6570;&#x7EC4;&#xFF0C;&#x957F;&#x5EA6;&#x8868;&#x793A;&#x591A;&#x5C11;&#x5217;&#xFF0C;&#x6570;&#x7EC4;&#x7684;&#x6BCF;&#x9879;&#x8868;&#x793A;&#x6BCF;&#x5217;&#x7684;&#x6570;&#x636E;&#xFF0C;&#x5982;<code>[[&quot;a&quot;,&quot;b&quot;], [&quot;c&quot;,&quot;d&quot;]]</code></td>
<td></td>
</tr>
<tr>
<td>range-key</td>
<td>String</td>
<td></td>
<td>&#x5F53; range &#x662F;&#x4E00;&#x4E2A; &#x4E8C;&#x7EF4;Object Array &#x65F6;&#xFF0C;&#x901A;&#x8FC7; range-key &#x6765;&#x6307;&#x5B9A; Object &#x4E2D; key &#x7684;&#x503C;&#x4F5C;&#x4E3A;&#x9009;&#x62E9;&#x5668;&#x663E;&#x793A;&#x5185;&#x5BB9;</td>
<td></td>
</tr>
<tr>
<td>value</td>
<td>Array</td>
<td>[]</td>
<td>value &#x6BCF;&#x4E00;&#x9879;&#x7684;&#x503C;&#x8868;&#x793A;&#x9009;&#x62E9;&#x4E86; range &#x5BF9;&#x5E94;&#x9879;&#x4E2D;&#x7684;&#x7B2C;&#x51E0;&#x4E2A;&#xFF08;&#x4E0B;&#x6807;&#x4ECE; 0 &#x5F00;&#x59CB;&#xFF09;</td>
<td></td>
</tr>
<tr>
<td>bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value &#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td>bindcolumnchange</td>
<td>EventHandle</td>
<td></td>
<td>&#x67D0;&#x4E00;&#x5217;&#x7684;&#x503C;&#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; columnchange &#x4E8B;&#x4EF6;&#xFF0C;event.detail = {column: column, value: value}&#xFF0C;column &#x7684;&#x503C;&#x8868;&#x793A;&#x6539;&#x53D8;&#x4E86;&#x7B2C;&#x51E0;&#x5217;&#xFF08;&#x4E0B;&#x6807;&#x4ECE;0&#x5F00;&#x59CB;&#xFF09;&#xFF0C;value &#x7684;&#x503C;&#x8868;&#x793A;&#x53D8;&#x66F4;&#x503C;&#x7684;&#x4E0B;&#x6807;</td>
<td></td>
</tr>
<tr>
<td>bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>&#x53D6;&#x6D88;&#x9009;&#x62E9;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
</tbody>
</table>
<p><strong>&#x65F6;&#x95F4;&#x9009;&#x62E9;&#x5668;&#xFF1A;mode = time</strong></p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>value</td>
<td>String</td>
<td></td>
<td>&#x8868;&#x793A;&#x9009;&#x4E2D;&#x7684;&#x65F6;&#x95F4;&#xFF0C;&#x683C;&#x5F0F;&#x4E3A;&quot;hh:mm&quot;</td>
<td></td>
</tr>
<tr>
<td>start</td>
<td>String</td>
<td></td>
<td>&#x8868;&#x793A;&#x6709;&#x6548;&#x65F6;&#x95F4;&#x8303;&#x56F4;&#x7684;&#x5F00;&#x59CB;&#xFF0C;&#x5B57;&#x7B26;&#x4E32;&#x683C;&#x5F0F;&#x4E3A;&quot;hh:mm&quot;</td>
<td></td>
</tr>
<tr>
<td>end</td>
<td>String</td>
<td></td>
<td>&#x8868;&#x793A;&#x6709;&#x6548;&#x65F6;&#x95F4;&#x8303;&#x56F4;&#x7684;&#x7ED3;&#x675F;&#xFF0C;&#x5B57;&#x7B26;&#x4E32;&#x683C;&#x5F0F;&#x4E3A;&quot;hh:mm&quot;</td>
<td></td>
</tr>
<tr>
<td>bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value &#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td>bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>&#x53D6;&#x6D88;&#x9009;&#x62E9;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
</tbody>
</table>
<p><strong>&#x65E5;&#x671F;&#x9009;&#x62E9;&#x5668;&#xFF1A;mode = date</strong></p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>value</td>
<td>String</td>
<td>0</td>
<td>&#x8868;&#x793A;&#x9009;&#x4E2D;&#x7684;&#x65E5;&#x671F;&#xFF0C;&#x683C;&#x5F0F;&#x4E3A;&quot;YYYY-MM-DD&quot;</td>
<td></td>
</tr>
<tr>
<td>start</td>
<td>String</td>
<td></td>
<td>&#x8868;&#x793A;&#x6709;&#x6548;&#x65E5;&#x671F;&#x8303;&#x56F4;&#x7684;&#x5F00;&#x59CB;&#xFF0C;&#x5B57;&#x7B26;&#x4E32;&#x683C;&#x5F0F;&#x4E3A;&quot;YYYY-MM-DD&quot;</td>
<td></td>
</tr>
<tr>
<td>end</td>
<td>String</td>
<td></td>
<td>&#x8868;&#x793A;&#x6709;&#x6548;&#x65E5;&#x671F;&#x8303;&#x56F4;&#x7684;&#x7ED3;&#x675F;&#xFF0C;&#x5B57;&#x7B26;&#x4E32;&#x683C;&#x5F0F;&#x4E3A;&quot;YYYY-MM-DD&quot;</td>
<td></td>
</tr>
<tr>
<td>fields</td>
<td>String</td>
<td>day</td>
<td>&#x6709;&#x6548;&#x503C; year,month,day&#xFF0C;&#x8868;&#x793A;&#x9009;&#x62E9;&#x5668;&#x7684;&#x7C92;&#x5EA6;</td>
<td></td>
</tr>
<tr>
<td>bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value &#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td>bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>&#x53D6;&#x6D88;&#x9009;&#x62E9;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
</tbody>
</table>
<p><strong>fields &#x6709;&#x6548;&#x503C;&#xFF1A;</strong></p>
<table>
<thead>
<tr>
<th>&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>year</td>
<td>&#x9009;&#x62E9;&#x5668;&#x7C92;&#x5EA6;&#x4E3A;&#x5E74;</td>
</tr>
<tr>
<td>month</td>
<td>&#x9009;&#x62E9;&#x5668;&#x7C92;&#x5EA6;&#x4E3A;&#x6708;&#x4EFD;</td>
</tr>
<tr>
<td>day</td>
<td>&#x9009;&#x62E9;&#x5668;&#x7C92;&#x5EA6;&#x4E3A;&#x5929;</td>
</tr>
</tbody>
</table>
<p><strong>&#x7701;&#x5E02;&#x533A;&#x9009;&#x62E9;&#x5668;&#xFF1A;mode = region</strong>&#xFF08;&#x6700;&#x4F4E;&#x7248;&#x672C;&#xFF1A;<a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a>&#xFF09;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>value</td>
<td>Array</td>
<td>[]</td>
<td>&#x8868;&#x793A;&#x9009;&#x4E2D;&#x7684;&#x7701;&#x5E02;&#x533A;&#xFF0C;&#x9ED8;&#x8BA4;&#x9009;&#x4E2D;&#x6BCF;&#x4E00;&#x5217;&#x7684;&#x7B2C;&#x4E00;&#x4E2A;&#x503C;</td>
<td></td>
</tr>
<tr>
<td>custom-item</td>
<td>String</td>
<td></td>
<td>&#x53EF;&#x4E3A;&#x6BCF;&#x4E00;&#x5217;&#x7684;&#x9876;&#x90E8;&#x6DFB;&#x52A0;&#x4E00;&#x4E2A;&#x81EA;&#x5B9A;&#x4E49;&#x7684;&#x9879;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td>bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value &#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;event.detail = {value: value, code: code, postcode: postcode}&#xFF0C;&#x5176;&#x4E2D;&#x5B57;&#x6BB5;code&#x662F;&#x7EDF;&#x8BA1;&#x7528;&#x533A;&#x5212;&#x4EE3;&#x7801;&#xFF0C;postcode&#x662F;&#x90AE;&#x653F;&#x7F16;&#x7801;</td>
<td></td>
</tr>
<tr>
<td>bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>&#x53D6;&#x6D88;&#x9009;&#x62E9;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.90 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.90</a></td>
</tr>
<tr>
<td>disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
</tbody>
</table>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/pZb21cmH6qYX" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>&#x666E;&#x901A;&#x9009;&#x62E9;&#x5668;<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">picker</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;bindPickerChange&quot;</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;{{index}}&quot;</span> <span class="hljs-attr">range</span>=<span class="hljs-string">&quot;{{array}}&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;picker&quot;</span>&gt;</span>
      &#x5F53;&#x524D;&#x9009;&#x62E9;&#xFF1A;{{array[index]}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">picker</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>&#x591A;&#x5217;&#x9009;&#x62E9;&#x5668;<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">&quot;multiSelector&quot;</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;bindMultiPickerChange&quot;</span> <span class="hljs-attr">bindcolumnchange</span>=<span class="hljs-string">&quot;bindMultiPickerColumnChange&quot;</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;{{multiIndex}}&quot;</span> <span class="hljs-attr">range</span>=<span class="hljs-string">&quot;{{multiArray}}&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;picker&quot;</span>&gt;</span>
      &#x5F53;&#x524D;&#x9009;&#x62E9;&#xFF1A;{{multiArray[0][multiIndex[0]]}}&#xFF0C;{{multiArray[1][multiIndex[1]]}}&#xFF0C;{{multiArray[2][multiIndex[2]]}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">picker</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>&#x65F6;&#x95F4;&#x9009;&#x62E9;&#x5668;<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">&quot;time&quot;</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;{{time}}&quot;</span> <span class="hljs-attr">start</span>=<span class="hljs-string">&quot;09:01&quot;</span> <span class="hljs-attr">end</span>=<span class="hljs-string">&quot;21:01&quot;</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;bindTimeChange&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;picker&quot;</span>&gt;</span>
      &#x5F53;&#x524D;&#x9009;&#x62E9;: {{time}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">picker</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>&#x65E5;&#x671F;&#x9009;&#x62E9;&#x5668;<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">&quot;date&quot;</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;{{date}}&quot;</span> <span class="hljs-attr">start</span>=<span class="hljs-string">&quot;2015-09-01&quot;</span> <span class="hljs-attr">end</span>=<span class="hljs-string">&quot;2017-09-01&quot;</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;bindDateChange&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;picker&quot;</span>&gt;</span>
      &#x5F53;&#x524D;&#x9009;&#x62E9;: {{date}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">picker</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>&#x7701;&#x5E02;&#x533A;&#x9009;&#x62E9;&#x5668;<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">&quot;region&quot;</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;bindRegionChange&quot;</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;{{region}}&quot;</span> <span class="hljs-attr">custom-item</span>=<span class="hljs-string">&quot;{{customItem}}&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;picker&quot;</span>&gt;</span>
      &#x5F53;&#x524D;&#x9009;&#x62E9;&#xFF1A;{{region[0]}}&#xFF0C;{{region[1]}}&#xFF0C;{{region[2]}}
    <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">picker</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-js">Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">array</span>: [<span class="hljs-string">&apos;&#x7F8E;&#x56FD;&apos;</span>, <span class="hljs-string">&apos;&#x4E2D;&#x56FD;&apos;</span>, <span class="hljs-string">&apos;&#x5DF4;&#x897F;&apos;</span>, <span class="hljs-string">&apos;&#x65E5;&#x672C;&apos;</span>],
    <span class="hljs-attr">objectArray</span>: [
      {
        <span class="hljs-attr">id</span>: <span class="hljs-number">0</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x7F8E;&#x56FD;&apos;</span>
      },
      {
        <span class="hljs-attr">id</span>: <span class="hljs-number">1</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x4E2D;&#x56FD;&apos;</span>
      },
      {
        <span class="hljs-attr">id</span>: <span class="hljs-number">2</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x5DF4;&#x897F;&apos;</span>
      },
      {
        <span class="hljs-attr">id</span>: <span class="hljs-number">3</span>,
        <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x65E5;&#x672C;&apos;</span>
      }
    ],
    <span class="hljs-attr">index</span>: <span class="hljs-number">0</span>,
    <span class="hljs-attr">multiArray</span>: [[<span class="hljs-string">&apos;&#x65E0;&#x810A;&#x67F1;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x810A;&#x67F1;&#x52A8;&#x7269;&apos;</span>], [<span class="hljs-string">&apos;&#x6241;&#x6027;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x7EBF;&#x5F62;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x73AF;&#x8282;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x8F6F;&#x4F53;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x8282;&#x80A2;&#x52A8;&#x7269;&apos;</span>], [<span class="hljs-string">&apos;&#x732A;&#x8089;&#x7EE6;&#x866B;&apos;</span>, <span class="hljs-string">&apos;&#x5438;&#x8840;&#x866B;&apos;</span>]],
    <span class="hljs-attr">objectMultiArray</span>: [
      [
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">0</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x65E0;&#x810A;&#x67F1;&#x52A8;&#x7269;&apos;</span>
        },
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">1</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x810A;&#x67F1;&#x52A8;&#x7269;&apos;</span>
        }
      ], [
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">0</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x6241;&#x6027;&#x52A8;&#x7269;&apos;</span>
        },
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">1</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x7EBF;&#x5F62;&#x52A8;&#x7269;&apos;</span>
        },
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">2</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x73AF;&#x8282;&#x52A8;&#x7269;&apos;</span>
        },
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">3</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x8F6F;&#x4F53;&#x52A8;&#x7269;&apos;</span>
        },
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">3</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x8282;&#x80A2;&#x52A8;&#x7269;&apos;</span>
        }
      ], [
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">0</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x732A;&#x8089;&#x7EE6;&#x866B;&apos;</span>
        },
        {
          <span class="hljs-attr">id</span>: <span class="hljs-number">1</span>,
          <span class="hljs-attr">name</span>: <span class="hljs-string">&apos;&#x5438;&#x8840;&#x866B;&apos;</span>
        }
      ]
    ],
    <span class="hljs-attr">multiIndex</span>: [<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>],
    <span class="hljs-attr">date</span>: <span class="hljs-string">&apos;2016-09-01&apos;</span>,
    <span class="hljs-attr">time</span>: <span class="hljs-string">&apos;12:01&apos;</span>,
    <span class="hljs-attr">region</span>: [<span class="hljs-string">&apos;&#x5E7F;&#x4E1C;&#x7701;&apos;</span>, <span class="hljs-string">&apos;&#x5E7F;&#x5DDE;&#x5E02;&apos;</span>, <span class="hljs-string">&apos;&#x6D77;&#x73E0;&#x533A;&apos;</span>],
    <span class="hljs-attr">customItem</span>: <span class="hljs-string">&apos;&#x5168;&#x90E8;&apos;</span>
  },
  <span class="hljs-attr">bindPickerChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;picker&#x53D1;&#x9001;&#x9009;&#x62E9;&#x6539;&#x53D8;&#xFF0C;&#x643A;&#x5E26;&#x503C;&#x4E3A;&apos;</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">index</span>: e.detail.value
    })
  },
  <span class="hljs-attr">bindMultiPickerChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;picker&#x53D1;&#x9001;&#x9009;&#x62E9;&#x6539;&#x53D8;&#xFF0C;&#x643A;&#x5E26;&#x503C;&#x4E3A;&apos;</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">multiIndex</span>: e.detail.value
    })
  },
  <span class="hljs-attr">bindMultiPickerColumnChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;&#x4FEE;&#x6539;&#x7684;&#x5217;&#x4E3A;&apos;</span>, e.detail.column, <span class="hljs-string">&apos;&#xFF0C;&#x503C;&#x4E3A;&apos;</span>, e.detail.value);
    <span class="hljs-keyword">var</span> data = {
      <span class="hljs-attr">multiArray</span>: <span class="hljs-keyword">this</span>.data.multiArray,
      <span class="hljs-attr">multiIndex</span>: <span class="hljs-keyword">this</span>.data.multiIndex
    };
    data.multiIndex[e.detail.column] = e.detail.value;
    <span class="hljs-keyword">switch</span> (e.detail.column) {
      <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
        <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">0</span>]) {
          <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
            data.multiArray[<span class="hljs-number">1</span>] = [<span class="hljs-string">&apos;&#x6241;&#x6027;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x7EBF;&#x5F62;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x73AF;&#x8282;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x8F6F;&#x4F53;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x8282;&#x80A2;&#x52A8;&#x7269;&apos;</span>];
            data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x732A;&#x8089;&#x7EE6;&#x866B;&apos;</span>, <span class="hljs-string">&apos;&#x5438;&#x8840;&#x866B;&apos;</span>];
            <span class="hljs-keyword">break</span>;
          <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
            data.multiArray[<span class="hljs-number">1</span>] = [<span class="hljs-string">&apos;&#x9C7C;&apos;</span>, <span class="hljs-string">&apos;&#x4E24;&#x6816;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x722C;&#x884C;&#x52A8;&#x7269;&apos;</span>];
            data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x9CAB;&#x9C7C;&apos;</span>, <span class="hljs-string">&apos;&#x5E26;&#x9C7C;&apos;</span>];
            <span class="hljs-keyword">break</span>;
        }
        data.multiIndex[<span class="hljs-number">1</span>] = <span class="hljs-number">0</span>;
        data.multiIndex[<span class="hljs-number">2</span>] = <span class="hljs-number">0</span>;
        <span class="hljs-keyword">break</span>;
      <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
        <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">0</span>]) {
          <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
            <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">1</span>]) {
              <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x732A;&#x8089;&#x7EE6;&#x866B;&apos;</span>, <span class="hljs-string">&apos;&#x5438;&#x8840;&#x866B;&apos;</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x86D4;&#x866B;&apos;</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">2</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x8682;&#x8681;&apos;</span>, <span class="hljs-string">&apos;&#x8682;&#x87E5;&apos;</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">3</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x6CB3;&#x868C;&apos;</span>, <span class="hljs-string">&apos;&#x8717;&#x725B;&apos;</span>, <span class="hljs-string">&apos;&#x86DE;&#x8753;&apos;</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">4</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x6606;&#x866B;&apos;</span>, <span class="hljs-string">&apos;&#x7532;&#x58F3;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x86DB;&#x5F62;&#x52A8;&#x7269;&apos;</span>, <span class="hljs-string">&apos;&#x591A;&#x8DB3;&#x52A8;&#x7269;&apos;</span>];
                <span class="hljs-keyword">break</span>;
            }
            <span class="hljs-keyword">break</span>;
          <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
            <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">1</span>]) {
              <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x9CAB;&#x9C7C;&apos;</span>, <span class="hljs-string">&apos;&#x5E26;&#x9C7C;&apos;</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x9752;&#x86D9;&apos;</span>, <span class="hljs-string">&apos;&#x5A03;&#x5A03;&#x9C7C;&apos;</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">2</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">&apos;&#x8725;&#x8734;&apos;</span>, <span class="hljs-string">&apos;&#x9F9F;&apos;</span>, <span class="hljs-string">&apos;&#x58C1;&#x864E;&apos;</span>];
                <span class="hljs-keyword">break</span>;
            }
            <span class="hljs-keyword">break</span>;
        }
        data.multiIndex[<span class="hljs-number">2</span>] = <span class="hljs-number">0</span>;
        <span class="hljs-built_in">console</span>.log(data.multiIndex);
        <span class="hljs-keyword">break</span>;
    }
    <span class="hljs-keyword">this</span>.setData(data);
  },
  <span class="hljs-attr">bindDateChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;picker&#x53D1;&#x9001;&#x9009;&#x62E9;&#x6539;&#x53D8;&#xFF0C;&#x643A;&#x5E26;&#x503C;&#x4E3A;&apos;</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">date</span>: e.detail.value
    })
  },
  <span class="hljs-attr">bindTimeChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;picker&#x53D1;&#x9001;&#x9009;&#x62E9;&#x6539;&#x53D8;&#xFF0C;&#x643A;&#x5E26;&#x503C;&#x4E3A;&apos;</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">time</span>: e.detail.value
    })
  },
  <span class="hljs-attr">bindRegionChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;picker&#x53D1;&#x9001;&#x9009;&#x62E9;&#x6539;&#x53D8;&#xFF0C;&#x643A;&#x5E26;&#x503C;&#x4E3A;&apos;</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">region</span>: e.detail.value
    })
  }
})
</code></pre>
<p><img src="https://developers.weixin.qq.com/miniprogram/dev/image/pic/picker.png?t=18090422" alt="picker"></p>

                            </section>      
                        </div>
                        
                    </div>
                
</body>
</html>
