<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>picker</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="picker">picker</h4>
<p>从底部弹起的滚动选择器，现支持五种选择器，通过mode来区分，分别是普通选择器，多列选择器，时间选择器，日期选择器，省市区选择器，默认是普通选择器。</p>
<p><strong>普通选择器：mode = selector</strong></p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="picker-range">range</td>
<td>Array / Object Array</td>
<td>[]</td>
<td>mode为 selector 或 multiSelector 时，range 有效</td>
<td></td>
</tr>
<tr>
<td id="picker-range-key">range-key</td>
<td>String</td>
<td></td>
<td>当 range 是一个 Object Array 时，通过 range-key 来指定 Object 中 key 的值作为选择器显示内容</td>
<td></td>
</tr>
<tr>
<td id="picker-value">value</td>
<td>Number</td>
<td>0</td>
<td>value 的值表示选择了 range 中的第几个（下标从 0 开始）</td>
<td></td>
</tr>
<tr>
<td id="picker-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value 改变时触发 change 事件，event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td id="picker-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
<td></td>
</tr>
<tr>
<td id="picker-bindcancel">bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>取消选择或点遮罩层收起 picker 时触发</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
</tbody>
</table>
<!--
| auto-fill  | String               |        | 快速填写表单字段，字段请看[定义](./form.md#autofill)    |[1.2.0](/framework/compatibility.md "基础库 1.2.0 开始支持，低版本需做兼容处理。")|
-->
<p><strong>多列选择器：mode = multiSelector</strong>（最低版本：<a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a>）</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="picker-range">range</td>
<td>二维Array / 二维Object Array</td>
<td>[]</td>
<td>mode为 selector 或 multiSelector 时，range 有效。二维数组，长度表示多少列，数组的每项表示每列的数据，如<code>[["a","b"], ["c","d"]]</code></td>
<td></td>
</tr>
<tr>
<td id="picker-range-key">range-key</td>
<td>String</td>
<td></td>
<td>当 range 是一个 二维Object Array 时，通过 range-key 来指定 Object 中 key 的值作为选择器显示内容</td>
<td></td>
</tr>
<tr>
<td id="picker-value">value</td>
<td>Array</td>
<td>[]</td>
<td>value 每一项的值表示选择了 range 对应项中的第几个（下标从 0 开始）</td>
<td></td>
</tr>
<tr>
<td id="picker-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value 改变时触发 change 事件，event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td id="picker-bindcolumnchange">bindcolumnchange</td>
<td>EventHandle</td>
<td></td>
<td>某一列的值改变时触发 columnchange 事件，event.detail = {column: column, value: value}，column 的值表示改变了第几列（下标从0开始），value 的值表示变更值的下标</td>
<td></td>
</tr>
<tr>
<td id="picker-bindcancel">bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>取消选择时触发</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td id="picker-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
</tr>
</tbody>
</table>
<p><strong>时间选择器：mode = time</strong></p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="picker-value">value</td>
<td>String</td>
<td></td>
<td>表示选中的时间，格式为"hh:mm"</td>
<td></td>
</tr>
<tr>
<td id="picker-start">start</td>
<td>String</td>
<td></td>
<td>表示有效时间范围的开始，字符串格式为"hh:mm"</td>
<td></td>
</tr>
<tr>
<td id="picker-end">end</td>
<td>String</td>
<td></td>
<td>表示有效时间范围的结束，字符串格式为"hh:mm"</td>
<td></td>
</tr>
<tr>
<td id="picker-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value 改变时触发 change 事件，event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td id="picker-bindcancel">bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>取消选择时触发</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td id="picker-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
</tr>
</tbody>
</table>
<p><strong>日期选择器：mode = date</strong></p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="picker-value">value</td>
<td>String</td>
<td>0</td>
<td>表示选中的日期，格式为"YYYY-MM-DD"</td>
<td></td>
</tr>
<tr>
<td id="picker-start">start</td>
<td>String</td>
<td></td>
<td>表示有效日期范围的开始，字符串格式为"YYYY-MM-DD"</td>
<td></td>
</tr>
<tr>
<td id="picker-end">end</td>
<td>String</td>
<td></td>
<td>表示有效日期范围的结束，字符串格式为"YYYY-MM-DD"</td>
<td></td>
</tr>
<tr>
<td id="picker-fields">fields</td>
<td>String</td>
<td>day</td>
<td>有效值 year,month,day，表示选择器的粒度</td>
<td></td>
</tr>
<tr>
<td id="picker-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value 改变时触发 change 事件，event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td id="picker-bindcancel">bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>取消选择时触发</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td id="picker-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
</tr>
</tbody>
</table>
<p><strong>fields 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>year</td>
<td>选择器粒度为年</td>
</tr>
<tr>
<td>month</td>
<td>选择器粒度为月份</td>
</tr>
<tr>
<td>day</td>
<td>选择器粒度为天</td>
</tr>
</tbody>
</table>
<p><strong>省市区选择器：mode = region</strong>（最低版本：<a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a>）</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="picker-value">value</td>
<td>Array</td>
<td>[]</td>
<td>表示选中的省市区，默认选中每一列的第一个值</td>
<td></td>
</tr>
<tr>
<td id="picker-custom-item">custom-item</td>
<td>String</td>
<td></td>
<td>可为每一列的顶部添加一个自定义的项</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="picker-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>value 改变时触发 change 事件，event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td id="picker-bindcancel">bindcancel</td>
<td>EventHandle</td>
<td></td>
<td>取消选择时触发</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td id="picker-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/pZb21cmH6qYX" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>普通选择器<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">picker</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"bindPickerChange"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{index}}"</span> <span class="hljs-attr">range</span>=<span class="hljs-string">"{{array}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"picker"</span>></span>
      当前选择：{{array[index]}}
    <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->picker</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>多列选择器<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"multiSelector"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"bindMultiPickerChange"</span> <span class="hljs-attr">bindcolumnchange</span>=<span class="hljs-string">"bindMultiPickerColumnChange"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{multiIndex}}"</span> <span class="hljs-attr">range</span>=<span class="hljs-string">"{{multiArray}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"picker"</span>></span>
      当前选择：{{multiArray[0][multiIndex[0]]}}，{{multiArray[1][multiIndex[1]]}}，{{multiArray[2][multiIndex[2]]}}
    <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->picker</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>时间选择器<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"time"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{time}}"</span> <span class="hljs-attr">start</span>=<span class="hljs-string">"09:01"</span> <span class="hljs-attr">end</span>=<span class="hljs-string">"21:01"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"bindTimeChange"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"picker"</span>></span>
      当前选择: {{time}}
    <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->picker</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>

<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>日期选择器<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"date"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{date}}"</span> <span class="hljs-attr">start</span>=<span class="hljs-string">"2015-09-01"</span> <span class="hljs-attr">end</span>=<span class="hljs-string">"2017-09-01"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"bindDateChange"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"picker"</span>></span>
      当前选择: {{date}}
    <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->picker</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>省市区选择器<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">picker</span> <span class="hljs-attr">mode</span>=<span class="hljs-string">"region"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"bindRegionChange"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{region}}"</span> <span class="hljs-attr">custom-item</span>=<span class="hljs-string">"{{customItem}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"picker"</span>></span>
      当前选择：{{region[0]}}，{{region[1]}}，{{region[2]}}
    <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->picker</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    array: [<span class="hljs-string">'美国'</span>, <span class="hljs-string">'中国'</span>, <span class="hljs-string">'巴西'</span>, <span class="hljs-string">'日本'</span>],
    objectArray: [
      {
        id: <span class="hljs-number">0</span>,
        name: <span class="hljs-string">'美国'</span>
      },
      {
        id: <span class="hljs-number">1</span>,
        name: <span class="hljs-string">'中国'</span>
      },
      {
        id: <span class="hljs-number">2</span>,
        name: <span class="hljs-string">'巴西'</span>
      },
      {
        id: <span class="hljs-number">3</span>,
        name: <span class="hljs-string">'日本'</span>
      }
    ],
    index: <span class="hljs-number">0</span>,
    multiArray: [[<span class="hljs-string">'无脊柱动物'</span>, <span class="hljs-string">'脊柱动物'</span>], [<span class="hljs-string">'扁性动物'</span>, <span class="hljs-string">'线形动物'</span>, <span class="hljs-string">'环节动物'</span>, <span class="hljs-string">'软体动物'</span>, <span class="hljs-string">'节肢动物'</span>], [<span class="hljs-string">'猪肉绦虫'</span>, <span class="hljs-string">'吸血虫'</span>]],
    objectMultiArray: [
      [
        {
          id: <span class="hljs-number">0</span>,
          name: <span class="hljs-string">'无脊柱动物'</span>
        },
        {
          id: <span class="hljs-number">1</span>,
          name: <span class="hljs-string">'脊柱动物'</span>
        }
      ], [
        {
          id: <span class="hljs-number">0</span>,
          name: <span class="hljs-string">'扁性动物'</span>
        },
        {
          id: <span class="hljs-number">1</span>,
          name: <span class="hljs-string">'线形动物'</span>
        },
        {
          id: <span class="hljs-number">2</span>,
          name: <span class="hljs-string">'环节动物'</span>
        },
        {
          id: <span class="hljs-number">3</span>,
          name: <span class="hljs-string">'软体动物'</span>
        },
        {
          id: <span class="hljs-number">3</span>,
          name: <span class="hljs-string">'节肢动物'</span>
        }
      ], [
        {
          id: <span class="hljs-number">0</span>,
          name: <span class="hljs-string">'猪肉绦虫'</span>
        },
        {
          id: <span class="hljs-number">1</span>,
          name: <span class="hljs-string">'吸血虫'</span>
        }
      ]
    ],
    multiIndex: [<span class="hljs-number">0</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>],
    date: <span class="hljs-string">'2016-09-01'</span>,
    time: <span class="hljs-string">'12:01'</span>,
    region: [<span class="hljs-string">'广东省'</span>, <span class="hljs-string">'广州市'</span>, <span class="hljs-string">'海珠区'</span>],
    customItem: <span class="hljs-string">'全部'</span>
  },
  bindPickerChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'picker发送选择改变，携带值为'</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      index: e.detail.value
    })
  },
  bindMultiPickerChange: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'picker发送选择改变，携带值为'</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      multiIndex: e.detail.value
    })
  },
  bindMultiPickerColumnChange: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'修改的列为'</span>, e.detail.column, <span class="hljs-string">'，值为'</span>, e.detail.value);
    <span class="hljs-keyword">var</span> data = {
      multiArray: <span class="hljs-keyword">this</span>.data.multiArray,
      multiIndex: <span class="hljs-keyword">this</span>.data.multiIndex
    };
    data.multiIndex[e.detail.column] = e.detail.value;
    <span class="hljs-keyword">switch</span> (e.detail.column) {
      <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
        <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">0</span>]) {
          <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
            data.multiArray[<span class="hljs-number">1</span>] = [<span class="hljs-string">'扁性动物'</span>, <span class="hljs-string">'线形动物'</span>, <span class="hljs-string">'环节动物'</span>, <span class="hljs-string">'软体动物'</span>, <span class="hljs-string">'节肢动物'</span>];
            data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'猪肉绦虫'</span>, <span class="hljs-string">'吸血虫'</span>];
            <span class="hljs-keyword">break</span>;
          <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
            data.multiArray[<span class="hljs-number">1</span>] = [<span class="hljs-string">'鱼'</span>, <span class="hljs-string">'两栖动物'</span>, <span class="hljs-string">'爬行动物'</span>];
            data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'鲫鱼'</span>, <span class="hljs-string">'带鱼'</span>];
            <span class="hljs-keyword">break</span>;
        }
        data.multiIndex[<span class="hljs-number">1</span>] = <span class="hljs-number">0</span>;
        data.multiIndex[<span class="hljs-number">2</span>] = <span class="hljs-number">0</span>;
        <span class="hljs-keyword">break</span>;
      <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
        <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">0</span>]) {
          <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
            <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">1</span>]) {
              <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'猪肉绦虫'</span>, <span class="hljs-string">'吸血虫'</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'蛔虫'</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">2</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'蚂蚁'</span>, <span class="hljs-string">'蚂蟥'</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">3</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'河蚌'</span>, <span class="hljs-string">'蜗牛'</span>, <span class="hljs-string">'蛞蝓'</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">4</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'昆虫'</span>, <span class="hljs-string">'甲壳动物'</span>, <span class="hljs-string">'蛛形动物'</span>, <span class="hljs-string">'多足动物'</span>];
                <span class="hljs-keyword">break</span>;
            }
            <span class="hljs-keyword">break</span>;
          <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
            <span class="hljs-keyword">switch</span> (data.multiIndex[<span class="hljs-number">1</span>]) {
              <span class="hljs-keyword">case</span> <span class="hljs-number">0</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'鲫鱼'</span>, <span class="hljs-string">'带鱼'</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">1</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'青蛙'</span>, <span class="hljs-string">'娃娃鱼'</span>];
                <span class="hljs-keyword">break</span>;
              <span class="hljs-keyword">case</span> <span class="hljs-number">2</span>:
                data.multiArray[<span class="hljs-number">2</span>] = [<span class="hljs-string">'蜥蜴'</span>, <span class="hljs-string">'龟'</span>, <span class="hljs-string">'壁虎'</span>];
                <span class="hljs-keyword">break</span>;
            }
            <span class="hljs-keyword">break</span>;
        }
        data.multiIndex[<span class="hljs-number">2</span>] = <span class="hljs-number">0</span>;
        <span class="hljs-built_in">console</span>.log(data.multiIndex);
        <span class="hljs-keyword">break</span>;
    }
    <span class="hljs-keyword">this</span>.setData(data);
  },
  bindDateChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'picker发送选择改变，携带值为'</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      date: e.detail.value
    })
  },
  bindTimeChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'picker发送选择改变，携带值为'</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      time: e.detail.value
    })
  },
  bindRegionChange: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'picker发送选择改变，携带值为'</span>, e.detail.value)
    <span class="hljs-keyword">this</span>.setData({
      region: e.detail.value
    })
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/picker.png?t=2018413" alt="picker"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>