<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>picker-view</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="picker-view">picker-view</h4>
<p>嵌入页面的滚动选择器</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="picker-view-value">value</td>
<td>NumberArray</td>
<td>数组中的数字依次表示 picker-view 内的 picker-view-colume 选择的第几项（下标从 0 开始），数字大于 picker-view-column 可选项长度时，选择最后一项。</td>
<td></td>
</tr>
<tr>
<td id="picker-view-indicator-style">indicator-style</td>
<td>String</td>
<td>设置选择器中间选中框的样式</td>
<td></td>
</tr>
<tr>
<td id="picker-view-indicator-class">indicator-class</td>
<td>String</td>
<td>设置选择器中间选中框的类名</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="picker-view-mask-style">mask-style</td>
<td>String</td>
<td>设置蒙层的样式</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="picker-view-mask-class">mask-class</td>
<td>String</td>
<td>设置蒙层的类名</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="picker-view-bindchange">bindchange</td>
<td>EventHandle</td>
<td>当滚动选择，value 改变时触发 change 事件，event.detail = {value: value}；value为数组，表示 picker-view 内的 picker-view-column 当前选择的是第几项（下标从 0 开始）</td>
</tr>
</tbody>
</table>
<p><strong>注意</strong>：其中只可放置<code><picker-view-column></picker-view-column></code>组件，其他节点不会显示。</p>
<h4 id="picker-view-column">picker-view-column</h4>
<p>仅可放置于<code><picker-view></picker-view></code>中，其孩子节点的高度会自动设置成与picker-view的选中框的高度一致</p>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/YfbJZcmG6zYM" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span>></span>{{year}}年{{month}}月{{day}}日<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">picker-view</span> <span class="hljs-attr">indicator-style</span>=<span class="hljs-string">"height: 50px;"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width: 100%; height: 300px;"</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{value}}"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"bindChange"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">picker-view-column</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{years}}"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"line-height: 50px"</span>></span>{{item}}年<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->picker-view-column</span>>
    <span class="hljs-tag"><<span class="hljs-name">picker-view-column</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{months}}"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"line-height: 50px"</span>></span>{{item}}月<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->picker-view-column</span>>
    <span class="hljs-tag"><<span class="hljs-name">picker-view-column</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{days}}"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"line-height: 50px"</span>></span>{{item}}日<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><!--<span class="hljs-name"-->picker-view-column</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->picker-view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-keyword">const</span> date = <span class="hljs-keyword">new</span> <span class="hljs-built_in">Date</span>()
<span class="hljs-keyword">const</span> years = []
<span class="hljs-keyword">const</span> months = []
<span class="hljs-keyword">const</span> days = []

<span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">1990</span>; i <= date.getFullYear(); i++) {
  years.push(i)
}

<span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">1</span> ; i <= <span class="hljs-number">12</span>; i++) {
  months.push(i)
}

<span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">1</span> ; i <= <span class="hljs-number">31</span>; i++) {
  days.push(i)
}

Page({
  data: {
    years: years,
    year: date.getFullYear(),
    months: months,
    month: <span class="hljs-number">2</span>,
    days: days,
    day: <span class="hljs-number">2</span>,
    value: [<span class="hljs-number">9999</span>, <span class="hljs-number">1</span>, <span class="hljs-number">1</span>],
  },
  bindChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">const</span> val = e.detail.value
    <span class="hljs-keyword">this</span>.setData({
      year: <span class="hljs-keyword">this</span>.data.years[val[<span class="hljs-number">0</span>]],
      month: <span class="hljs-keyword">this</span>.data.months[val[<span class="hljs-number">1</span>]],
      day: <span class="hljs-keyword">this</span>.data.days[val[<span class="hljs-number">2</span>]]
    })
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/picker_view.png?t=2018413" alt="picker_view"></p>
<h4 id="tips">Tips</h4>
<ol>
<li><code>tip</code>: 滚动时在iOS自带振动反馈，可在系统设置 -> 声音与触感 -> 系统触感反馈中关闭</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>