<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>progress</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="progress">progress</h4>
<p>进度条。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="progress-percent">percent</td>
<td>Float</td>
<td>无</td>
<td>百分比0~100</td>
<td></td>
</tr>
<tr>
<td id="progress-show-info">show-info</td>
<td>Boolean</td>
<td>false</td>
<td>在进度条右侧显示百分比</td>
<td></td>
</tr>
<tr>
<td id="progress-stroke-width">stroke-width</td>
<td>Number</td>
<td>6</td>
<td>进度条线的宽度，单位px</td>
<td></td>
</tr>
<tr>
<td id="progress-color">color</td>
<td>Color</td>
<td>#09BB07</td>
<td>进度条颜色 （请使用 activeColor）</td>
<td></td>
</tr>
<tr>
<td id="progress-activeColor">activeColor</td>
<td>Color</td>
<td></td>
<td>已选择的进度条的颜色</td>
<td></td>
</tr>
<tr>
<td id="progress-backgroundColor">backgroundColor</td>
<td>Color</td>
<td></td>
<td>未选择的进度条的颜色</td>
<td></td>
</tr>
<tr>
<td id="progress-active">active</td>
<td>Boolean</td>
<td>false</td>
<td>进度条从左往右的动画</td>
<td></td>
</tr>
<tr>
<td id="progress-active-mode">active-mode</td>
<td>String</td>
<td>backwards</td>
<td>backwards: 动画从头播；forwards：动画从上次结束点接着播</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.0 开始支持，低版本需做兼容处理。">1.7.0</a></td>
</tr>
</tbody>
</table>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/Oga4Hcmj6cYS" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">progress</span> <span class="hljs-attr">percent</span>=<span class="hljs-string">"20"</span> <span class="hljs-attr">show-info</span> /></span>
<span class="hljs-tag"><<span class="hljs-name">progress</span> <span class="hljs-attr">percent</span>=<span class="hljs-string">"40"</span> <span class="hljs-attr">stroke-width</span>=<span class="hljs-string">"12"</span> /></span>
<span class="hljs-tag"><<span class="hljs-name">progress</span> <span class="hljs-attr">percent</span>=<span class="hljs-string">"60"</span> <span class="hljs-attr">color</span>=<span class="hljs-string">"pink"</span> /></span>
<span class="hljs-tag"><<span class="hljs-name">progress</span> <span class="hljs-attr">percent</span>=<span class="hljs-string">"80"</span> <span class="hljs-attr">active</span> /></span>
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/progress.png?t=2018413" alt="progress"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>