<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>radio</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="radio-group">radio-group</h4>
<p>单项选择器，内部由多个<code><radio></radio></code>组成。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="radio-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td><code><radio-group></radio-group></code> 中的选中项发生变化时触发 change 事件，event.detail = {value: 选中项radio的value}</td>
</tr>
</tbody>
</table>
<h4 id="radio">radio</h4>
<p>单选项目</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="radio-value">value</td>
<td>String</td>
<td></td>
<td><code><radio></radio></code> 标识。当该<code><radio></radio></code> 选中时，<code><radio-group></radio-group></code> 的 change 事件会携带<code><radio></radio></code>的value</td>
</tr>
<tr>
<td id="radio-checked">checked</td>
<td>Boolean</td>
<td>false</td>
<td>当前是否选中</td>
</tr>
<tr>
<td id="radio-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
</tr>
<tr>
<td id="radio-color">color</td>
<td>Color</td>
<td></td>
<td>radio的颜色，同css的color</td>
</tr>
</tbody>
</table>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/tpbv9cmv6HYr" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">radio-group</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"radio-group"</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"radioChange"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">label</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"radio"</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{items}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">radio</span> <span class="hljs-attr">value</span>=<span class="hljs-string">"{{item.name}}"</span> <span class="hljs-attr">checked</span>=<span class="hljs-string">"{{item.checked}}"</span>/></span>{{item.value}}
  <span class="hljs-tag"><!--<span class="hljs-name"-->label</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->radio-group</span>>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    items: [
      {name: <span class="hljs-string">'USA'</span>, value: <span class="hljs-string">'美国'</span>},
      {name: <span class="hljs-string">'CHN'</span>, value: <span class="hljs-string">'中国'</span>, checked: <span class="hljs-string">'true'</span>},
      {name: <span class="hljs-string">'BRA'</span>, value: <span class="hljs-string">'巴西'</span>},
      {name: <span class="hljs-string">'JPN'</span>, value: <span class="hljs-string">'日本'</span>},
      {name: <span class="hljs-string">'ENG'</span>, value: <span class="hljs-string">'英国'</span>},
      {name: <span class="hljs-string">'TUR'</span>, value: <span class="hljs-string">'法国'</span>},
    ]
  },
  radioChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'radio发生change事件，携带value值为：'</span>, e.detail.value)
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/radio.png?t=2018413" alt="radio"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>