<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>rich-text</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="rich-text">rich-text</h4>
<blockquote>
<p>基础库 1.4.0 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>富文本。</p>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td>nodes</td>
<td>Array / String</td>
<td>[]</td>
<td>节点列表 / HTML String</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
</tbody>
</table>
<p>支持默认事件，包括：<code>tap</code>、<code>touchstart</code>、<code>touchmove</code>、<code>touchcancel</code>、<code>touchend</code>和<code>longtap</code></p>
<p><strong> nodes 属性推荐使用 Array 类型，由于组件会将 String 类型转换为 Array 类型，因而性能会有所下降 </strong></p>
<h5 id="nodes">nodes</h5>
<p>现支持两种节点，通过type来区分，分别是元素节点和文本节点，默认是元素节点，在富文本区域里显示的HTML节点</p>
<p><strong>元素节点：type = node</strong></p>
<table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>必填</th>
<th>备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>name</td>
<td>标签名</td>
<td>String</td>
<td>是</td>
<td>支持部分受信任的HTML节点</td>
</tr>
<tr>
<td>attrs</td>
<td>属性</td>
<td>Object</td>
<td>否</td>
<td>支持部分受信任的属性，遵循Pascal命名法</td>
</tr>
<tr>
<td>children</td>
<td>子节点列表</td>
<td>Array</td>
<td>否</td>
<td>结构和nodes一致</td>
</tr>
</tbody>
</table>
<p><strong>文本节点：type = text</strong></p>
<table>
<thead>
<tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>必填</th>
<th>备注</th>
</tr>
</thead>
<tbody>
<tr>
<td>text</td>
<td>文本</td>
<td>String</td>
<td>是</td>
<td>支持entities</td>
</tr>
</tbody>
</table>
<h5 id="受信任的html节点及属性">受信任的HTML节点及属性</h5>
<p>全局支持class和style属性，<strong>不支持id属性</strong>。</p>
<table>
<thead>
<tr>
<th>节点</th>
<th>属性</th>
</tr>
</thead>
<tbody>
<tr>
<td>a</td>
<td></td>
</tr>
<tr>
<td>abbr</td>
<td></td>
</tr>
<tr>
<td>b</td>
<td></td>
</tr>
<tr>
<td>blockquote</td>
<td></td>
</tr>
<tr>
<td>br</td>
<td></td>
</tr>
<tr>
<td>code</td>
<td></td>
</tr>
<tr>
<td>col</td>
<td>span，width</td>
</tr>
<tr>
<td>colgroup</td>
<td>span，width</td>
</tr>
<tr>
<td>dd</td>
<td></td>
</tr>
<tr>
<td>del</td>
<td></td>
</tr>
<tr>
<td>div</td>
<td></td>
</tr>
<tr>
<td>dl</td>
<td></td>
</tr>
<tr>
<td>dt</td>
<td></td>
</tr>
<tr>
<td>em</td>
<td></td>
</tr>
<tr>
<td>fieldset</td>
<td></td>
</tr>
<tr>
<td>h1</td>
<td></td>
</tr>
<tr>
<td>h2</td>
<td></td>
</tr>
<tr>
<td>h3</td>
<td></td>
</tr>
<tr>
<td>h4</td>
<td></td>
</tr>
<tr>
<td>h5</td>
<td></td>
</tr>
<tr>
<td>h6</td>
<td></td>
</tr>
<tr>
<td>hr</td>
<td></td>
</tr>
<tr>
<td>i</td>
<td></td>
</tr>
<tr>
<td>img</td>
<td>alt，src，height，width</td>
</tr>
<tr>
<td>ins</td>
<td></td>
</tr>
<tr>
<td>label</td>
<td></td>
</tr>
<tr>
<td>legend</td>
<td></td>
</tr>
<tr>
<td>li</td>
<td></td>
</tr>
<tr>
<td>ol</td>
<td>start，type</td>
</tr>
<tr>
<td>p</td>
<td></td>
</tr>
<tr>
<td>q</td>
<td></td>
</tr>
<tr>
<td>span</td>
<td></td>
</tr>
<tr>
<td>strong</td>
<td></td>
</tr>
<tr>
<td>sub</td>
<td></td>
</tr>
<tr>
<td>sup</td>
<td></td>
</tr>
<tr>
<td>table</td>
<td>width</td>
</tr>
<tr>
<td>tbody</td>
<td></td>
</tr>
<tr>
<td>td</td>
<td>colspan，height，rowspan，width</td>
</tr>
<tr>
<td>tfoot</td>
<td></td>
</tr>
<tr>
<td>th</td>
<td>colspan，height，rowspan，width</td>
</tr>
<tr>
<td>thead</td>
<td></td>
</tr>
<tr>
<td>tr</td>
<td></td>
</tr>
<tr>
<td>ul</td>
</tr>
</tbody>
</table>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/zPVmpim46wYQ" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-comment"><!-- rich-text.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">rich-text</span> <span class="hljs-attr">nodes</span>=<span class="hljs-string">"{{nodes}}"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"tap"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->rich-text</span>>
</code></pre>
<pre><code class="lang-javascript">// rich-text.js
Page({
  data: {
    nodes: [{
      name: 'div',
      attrs: {
        class: 'div_class',
        style: 'line-height: 60px; color: red;'
      },
      children: [{
        type: 'text',
        text: 'Hello World!'
      }]
    }]
  },
  tap() {
    console.log('tap')
  }
})
</code></pre>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: nodes 不推荐使用 String 类型，性能会有所下降。</li>
<li><code>tip</code>: <code>rich-text</code> 组件内屏蔽所有节点的事件。</li>
<li><code>tip</code>: attrs 属性不支持 id ，支持 class 。</li>
<li><code>tip</code>: name 属性大小写不敏感。</li>
<li><code>tip</code>: 如果使用了不受信任的HTML节点，该节点及其所有子节点将会被移除。</li>
<li><code>tip</code>: img 标签仅支持网络图片。</li>
<li><code>tip</code>: 如果在自定义组件中使用 <code>rich-text</code> 组件，那么仅自定义组件的 wxss 样式对 <code>rich-text</code> 中的 class 生效。</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>