<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>scroll-view</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="scroll-view">scroll-view</h4>
<p>可滚动视图区域。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="scroll-view-scroll-x">scroll-x</td>
<td>Boolean</td>
<td>false</td>
<td>允许横向滚动</td>
</tr>
<tr>
<td id="scroll-view-scroll-y">scroll-y</td>
<td>Boolean</td>
<td>false</td>
<td>允许纵向滚动</td>
</tr>
<tr>
<td id="scroll-view-upper-threshold">upper-threshold</td>
<td>Number</td>
<td>50</td>
<td>距顶部/左边多远时（单位px），触发 scrolltoupper 事件</td>
</tr>
<tr>
<td id="scroll-view-lower-threshold">lower-threshold</td>
<td>Number</td>
<td>50</td>
<td>距底部/右边多远时（单位px），触发 scrolltolower 事件</td>
</tr>
<tr>
<td id="scroll-view-scroll-top">scroll-top</td>
<td>Number</td>
<td></td>
<td>设置竖向滚动条位置</td>
</tr>
<tr>
<td id="scroll-view-scroll-left">scroll-left</td>
<td>Number</td>
<td></td>
<td>设置横向滚动条位置</td>
</tr>
<tr>
<td id="scroll-view-scroll-into-view">scroll-into-view</td>
<td>String</td>
<td></td>
<td>值应为某子元素id（id不能以数字开头）。设置哪个方向可滚动，则在哪个方向滚动到该元素</td>
</tr>
<tr>
<td id="scroll-view-scroll-with-animation">scroll-with-animation</td>
<td>Boolean</td>
<td>false</td>
<td>在设置滚动条位置时使用动画过渡</td>
</tr>
<tr>
<td id="scroll-view-enable-back-to-top">enable-back-to-top</td>
<td>Boolean</td>
<td>false</td>
<td>iOS点击顶部状态栏、安卓双击标题栏时，滚动条返回顶部，只支持竖向</td>
</tr>
<tr>
<td id="scroll-view-bindscrolltoupper">bindscrolltoupper</td>
<td>EventHandle</td>
<td></td>
<td>滚动到顶部/左边，会触发 scrolltoupper 事件</td>
</tr>
<tr>
<td id="scroll-view-bindscrolltolower">bindscrolltolower</td>
<td>EventHandle</td>
<td></td>
<td>滚动到底部/右边，会触发 scrolltolower 事件</td>
</tr>
<tr>
<td id="scroll-view-bindscroll">bindscroll</td>
<td>EventHandle</td>
<td></td>
<td>滚动时触发，event.detail = {scrollLeft, scrollTop, scrollHeight, scrollWidth, deltaX, deltaY}</td>
</tr>
</tbody>
</table>
<p>使用竖向滚动时，需要给<code><scroll-view></scroll-view></code>一个固定高度，通过 WXSS 设置 height。</p>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>vertical scroll<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">scroll-view</span> <span class="hljs-attr">scroll-y</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"height: 200px;"</span> <span class="hljs-attr">bindscrolltoupper</span>=<span class="hljs-string">"upper"</span> <span class="hljs-attr">bindscrolltolower</span>=<span class="hljs-string">"lower"</span> <span class="hljs-attr">bindscroll</span>=<span class="hljs-string">"scroll"</span> <span class="hljs-attr">scroll-into-view</span>=<span class="hljs-string">"{{toView}}"</span> <span class="hljs-attr">scroll-top</span>=<span class="hljs-string">"{{scrollTop}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"green"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item bc_green"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"red"</span>  <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item bc_red"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"yellow"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item bc_yellow"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"blue"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item bc_blue"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->scroll-view</span>>

  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"mini"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"tap"</span>></span>click me to scroll into view <span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">size</span>=<span class="hljs-string">"mini"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"tapMove"</span>></span>click me to scroll<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>horizontal scroll<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">scroll-view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view_H"</span> <span class="hljs-attr">scroll-x</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"width: 100%"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"green"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item_H bc_green"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"red"</span>  <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item_H bc_red"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"yellow"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item_H bc_yellow"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"blue"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"scroll-view-item_H bc_blue"</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->scroll-view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js"><span class="hljs-keyword">var</span> order = [<span class="hljs-string">'red'</span>, <span class="hljs-string">'yellow'</span>, <span class="hljs-string">'blue'</span>, <span class="hljs-string">'green'</span>, <span class="hljs-string">'red'</span>]
Page({
  data: {
    toView: <span class="hljs-string">'red'</span>,
    scrollTop: <span class="hljs-number">100</span>
  },
  upper: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(e)
  },
  lower: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(e)
  },
  scroll: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(e)
  },
  tap: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i < order.length; ++i) {
      <span class="hljs-keyword">if</span> (order[i] === <span class="hljs-keyword">this</span>.data.toView) {
        <span class="hljs-keyword">this</span>.setData({
          toView: order[i + <span class="hljs-number">1</span>]
        })
        <span class="hljs-keyword">break</span>
      }
    }
  },
  tapMove: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      scrollTop: <span class="hljs-keyword">this</span>.data.scrollTop + <span class="hljs-number">10</span>
    })
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/scroll-view.png?t=2018413" alt="scroll-view"></p>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: 请勿在 <code>scroll-view</code> 中使用 <code>textarea</code>、<code>map</code>、<code>canvas</code>、<code>video</code> 组件</li>
<li><code>tip</code>: <code>scroll-into-view</code> 的优先级高于 <code>scroll-top</code></li>
<li><code>tip</code>: 在滚动 <code>scroll-view</code> 时会阻止页面回弹，所以在 <code>scroll-view</code> 中滚动，是无法触发 <code>onPullDownRefresh</code></li>
<li><code>tip</code>: 若要使用下拉刷新，请使用页面的滚动，而不是 <code>scroll-view</code> ，这样也能通过点击顶部状态栏回到页面顶部</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>