<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>slider</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="slider">slider</h4>
<p>滑动选择器。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="slider-min">min</td>
<td>Number</td>
<td>0</td>
<td>最小值</td>
<td></td>
</tr>
<tr>
<td id="slider-max">max</td>
<td>Number</td>
<td>100</td>
<td>最大值</td>
<td></td>
</tr>
<tr>
<td id="slider-step">step</td>
<td>Number</td>
<td>1</td>
<td>步长，取值必须大于 0，并且可被(max - min)整除</td>
<td></td>
</tr>
<tr>
<td id="slider-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
<td></td>
</tr>
<tr>
<td id="slider-value">value</td>
<td>Number</td>
<td>0</td>
<td>当前取值</td>
<td></td>
</tr>
<tr>
<td id="slider-color">color</td>
<td>Color</td>
<td>#e9e9e9</td>
<td>背景条的颜色（请使用 backgroundColor）</td>
<td></td>
</tr>
<tr>
<td id="slider-selected-color">selected-color</td>
<td>Color</td>
<td>#1aad19</td>
<td>已选择的颜色（请使用 activeColor）</td>
<td></td>
</tr>
<tr>
<td id="slider-activeColor">activeColor</td>
<td>Color</td>
<td>#1aad19</td>
<td>已选择的颜色</td>
<td></td>
</tr>
<tr>
<td id="slider-backgroundColor">backgroundColor</td>
<td>Color</td>
<td>#e9e9e9</td>
<td>背景条的颜色</td>
<td></td>
</tr>
<tr>
<td id="slider-block-size">block-size</td>
<td>Number</td>
<td>28</td>
<td>滑块的大小，取值范围为 12 - 28</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="slider-block-color">block-color</td>
<td>Color</td>
<td>#ffffff</td>
<td>滑块的颜色</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="slider-show-value">show-value</td>
<td>Boolean</td>
<td>false</td>
<td>是否显示当前 value</td>
<td></td>
</tr>
<tr>
<td id="slider-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>完成一次拖动后触发的事件，event.detail = {value: value}</td>
<td></td>
</tr>
<tr>
<td id="slider-bindchanging">bindchanging</td>
<td>EventHandle</td>
<td></td>
<td>拖动过程中触发的事件，event.detail = {value: value}</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.0 开始支持，低版本需做兼容处理。">1.7.0</a></td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/3NbqVcm56OYS" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">text</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>设置step<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"body-view"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">slider</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"slider2change"</span> <span class="hljs-attr">step</span>=<span class="hljs-string">"5"</span>/></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>

<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">text</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>显示当前value<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"body-view"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">slider</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"slider3change"</span> <span class="hljs-attr">show-value</span>/></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>

<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section section_gap"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">text</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>设置最小/最大值<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"body-view"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">slider</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"slider4change"</span> <span class="hljs-attr">min</span>=<span class="hljs-string">"50"</span> <span class="hljs-attr">max</span>=<span class="hljs-string">"200"</span> <span class="hljs-attr">show-value</span>/></span>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js"><span class="hljs-keyword">var</span> pageData = {}
<span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">1</span>; i < <span class="hljs-number">5</span>; i++) {
  (<span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">index</span>) </span>{
    pageData[<span class="hljs-string">'slider'</span> + index + <span class="hljs-string">'change'</span>] = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
      <span class="hljs-built_in">console</span>.log(<span class="hljs-string">'slider'</span> + <span class="hljs-string">'index'</span> + <span class="hljs-string">'发生 change 事件，携带值为'</span>, e.detail.value)
    }
  })(i)
}
Page(pageData)
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/slider.png?t=2018413" alt="slider"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>