<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>swiper</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="swiper">swiper</h4>
<p>滑块视图容器。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="swiper-indicator-dots">indicator-dots</td>
<td>Boolean</td>
<td>false</td>
<td>是否显示面板指示点</td>
<td></td>
</tr>
<tr>
<td id="swiper-indicator-color">indicator-color</td>
<td>Color</td>
<td>rgba(0, 0, 0, .3)</td>
<td>指示点颜色</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="swiper-indicator-active-color">indicator-active-color</td>
<td>Color</td>
<td>#000000</td>
<td>当前选中的指示点颜色</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="swiper-autoplay">autoplay</td>
<td>Boolean</td>
<td>false</td>
<td>是否自动切换</td>
<td></td>
</tr>
<tr>
<td id="swiper-current">current</td>
<td>Number</td>
<td>0</td>
<td>当前所在滑块的 index</td>
<td></td>
</tr>
<tr>
<td id="swiper-current-item-id">current-item-id</td>
<td>String</td>
<td>""</td>
<td>当前所在滑块的 item-id ，不能与 current 被同时指定</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-interval">interval</td>
<td>Number</td>
<td>5000</td>
<td>自动切换时间间隔</td>
<td></td>
</tr>
<tr>
<td id="swiper-duration">duration</td>
<td>Number</td>
<td>500</td>
<td>滑动动画时长</td>
<td></td>
</tr>
<tr>
<td id="swiper-circular">circular</td>
<td>Boolean</td>
<td>false</td>
<td>是否采用衔接滑动</td>
<td></td>
</tr>
<tr>
<td id="swiper-vertical">vertical</td>
<td>Boolean</td>
<td>false</td>
<td>滑动方向是否为纵向</td>
<td></td>
</tr>
<tr>
<td id="swiper-previous-margin">previous-margin</td>
<td>String</td>
<td>"0px"</td>
<td>前边距，可用于露出前一项的一小部分，接受 px 和 rpx 值</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-next-margin">next-margin</td>
<td>String</td>
<td>"0px"</td>
<td>后边距，可用于露出后一项的一小部分，接受 px 和 rpx 值</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-display-multiple-items">display-multiple-items</td>
<td>Number</td>
<td>1</td>
<td>同时显示的滑块数量</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-skip-hidden-item-layout">skip-hidden-item-layout</td>
<td>Boolean</td>
<td>false</td>
<td>是否跳过未显示的滑块布局，设为 true 可优化复杂情况下的滑动性能，但会丢失隐藏状态滑块的布局信息</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>current 改变时会触发 change 事件，event.detail = {current: current, source: source}</td>
<td></td>
</tr>
<tr>
<td id="swiper-bindanimationfinish">bindanimationfinish</td>
<td>EventHandle</td>
<td></td>
<td>动画结束时会触发 animationfinish 事件，event.detail 同上</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
</tbody>
</table>
<p>从 <a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a> 开始，<code>change</code>事件返回<code>detail</code>中包含一个<code>source</code>字段，表示导致变更的原因，可能值如下：</p>
<ul>
<li><code>autoplay</code> 自动播放导致swiper变化；</li>
<li><code>touch</code> 用户划动引起swiper变化；</li>
<li>其他原因将用空字符串表示。</li>
</ul>
<p><strong>注意</strong>：其中只可放置<code><swiper-item></swiper-item></code>组件，否则会导致未定义的行为。</p>
<h4 id="swiper-item">swiper-item</h4>
<p>仅可放置在<code><swiper></swiper></code>组件中，宽高自动设置为100%。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="swiper-item-id">item-id</td>
<td>String</td>
<td>""</td>
<td>该 swiper-item 的标识符</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
</tbody>
</table>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">swiper</span> <span class="hljs-attr">indicator-dots</span>=<span class="hljs-string">"{{indicatorDots}}"</span>
  <span class="hljs-attr">autoplay</span>=<span class="hljs-string">"{{autoplay}}"</span> <span class="hljs-attr">interval</span>=<span class="hljs-string">"{{interval}}"</span> <span class="hljs-attr">duration</span>=<span class="hljs-string">"{{duration}}"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">block</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{imgUrls}}"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">swiper-item</span>></span>
      <span class="hljs-tag"><<span class="hljs-name">image</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"{{item}}"</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"slide-image"</span> <span class="hljs-attr">width</span>=<span class="hljs-string">"355"</span> <span class="hljs-attr">height</span>=<span class="hljs-string">"150"</span>/></span>
    <span class="hljs-tag"><!--<span class="hljs-name"-->swiper-item</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->block</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->swiper</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"changeIndicatorDots"</span>></span> indicator-dots <span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"changeAutoplay"</span>></span> autoplay <span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
<span class="hljs-tag"><<span class="hljs-name">slider</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"intervalChange"</span> <span class="hljs-attr">show-value</span> <span class="hljs-attr">min</span>=<span class="hljs-string">"500"</span> <span class="hljs-attr">max</span>=<span class="hljs-string">"2000"</span>/></span> interval
<span class="hljs-tag"><<span class="hljs-name">slider</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">"durationChange"</span> <span class="hljs-attr">show-value</span> <span class="hljs-attr">min</span>=<span class="hljs-string">"1000"</span> <span class="hljs-attr">max</span>=<span class="hljs-string">"10000"</span>/></span> duration
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    imgUrls: [
      <span class="hljs-string">'http://img02.tooopen.com/images/20150928/tooopen_sy_143912755726.jpg'</span>,
      <span class="hljs-string">'http://img06.tooopen.com/images/20160818/tooopen_sy_175866434296.jpg'</span>,
      <span class="hljs-string">'http://img06.tooopen.com/images/20160818/tooopen_sy_175833047715.jpg'</span>
    ],
    indicatorDots: <span class="hljs-literal">false</span>,
    autoplay: <span class="hljs-literal">false</span>,
    interval: <span class="hljs-number">5000</span>,
    duration: <span class="hljs-number">1000</span>
  },
  changeIndicatorDots: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      indicatorDots: !<span class="hljs-keyword">this</span>.data.indicatorDots
    })
  },
  changeAutoplay: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      autoplay: !<span class="hljs-keyword">this</span>.data.autoplay
    })
  },
  intervalChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      interval: e.detail.value
    })
  },
  durationChange: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      duration: e.detail.value
    })
  }
})
</code></pre>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: 如果在 <code>bindchange</code> 的事件回调函数中使用 <code>setData</code> 改变 <code>current</code> 值，则有可能导致 <code>setData</code> 被不停地调用，因而通常情况下请在改变 <code>current</code> 值前检测 <code>source</code> 字段来判断是否是由于用户触摸引起。</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>