<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>swiper</title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h4 id="swiper">swiper</h4>
<p>&#x6ED1;&#x5757;&#x89C6;&#x56FE;&#x5BB9;&#x5668;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="swiper-indicator-dots">indicator-dots</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x663E;&#x793A;&#x9762;&#x677F;&#x6307;&#x793A;&#x70B9;</td>
<td></td>
</tr>
<tr>
<td id="swiper-indicator-color">indicator-color</td>
<td>Color</td>
<td>rgba(0, 0, 0, .3)</td>
<td>&#x6307;&#x793A;&#x70B9;&#x989C;&#x8272;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.1.0</a></td>
</tr>
<tr>
<td id="swiper-indicator-active-color">indicator-active-color</td>
<td>Color</td>
<td>#000000</td>
<td>&#x5F53;&#x524D;&#x9009;&#x4E2D;&#x7684;&#x6307;&#x793A;&#x70B9;&#x989C;&#x8272;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.1.0</a></td>
</tr>
<tr>
<td id="swiper-autoplay">autoplay</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x81EA;&#x52A8;&#x5207;&#x6362;</td>
<td></td>
</tr>
<tr>
<td id="swiper-current">current</td>
<td>Number</td>
<td>0</td>
<td>&#x5F53;&#x524D;&#x6240;&#x5728;&#x6ED1;&#x5757;&#x7684; index</td>
<td></td>
</tr>
<tr>
<td id="swiper-current-item-id">current-item-id</td>
<td>String</td>
<td>&quot;&quot;</td>
<td>&#x5F53;&#x524D;&#x6240;&#x5728;&#x6ED1;&#x5757;&#x7684; item-id &#xFF0C;&#x4E0D;&#x80FD;&#x4E0E; current &#x88AB;&#x540C;&#x65F6;&#x6307;&#x5B9A;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-interval">interval</td>
<td>Number</td>
<td>5000</td>
<td>&#x81EA;&#x52A8;&#x5207;&#x6362;&#x65F6;&#x95F4;&#x95F4;&#x9694;</td>
<td></td>
</tr>
<tr>
<td id="swiper-duration">duration</td>
<td>Number</td>
<td>500</td>
<td>&#x6ED1;&#x52A8;&#x52A8;&#x753B;&#x65F6;&#x957F;</td>
<td></td>
</tr>
<tr>
<td id="swiper-circular">circular</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x91C7;&#x7528;&#x8854;&#x63A5;&#x6ED1;&#x52A8;</td>
<td></td>
</tr>
<tr>
<td id="swiper-vertical">vertical</td>
<td>Boolean</td>
<td>false</td>
<td>&#x6ED1;&#x52A8;&#x65B9;&#x5411;&#x662F;&#x5426;&#x4E3A;&#x7EB5;&#x5411;</td>
<td></td>
</tr>
<tr>
<td id="swiper-previous-margin">previous-margin</td>
<td>String</td>
<td>&quot;0px&quot;</td>
<td>&#x524D;&#x8FB9;&#x8DDD;&#xFF0C;&#x53EF;&#x7528;&#x4E8E;&#x9732;&#x51FA;&#x524D;&#x4E00;&#x9879;&#x7684;&#x4E00;&#x5C0F;&#x90E8;&#x5206;&#xFF0C;&#x63A5;&#x53D7; px &#x548C; rpx &#x503C;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-next-margin">next-margin</td>
<td>String</td>
<td>&quot;0px&quot;</td>
<td>&#x540E;&#x8FB9;&#x8DDD;&#xFF0C;&#x53EF;&#x7528;&#x4E8E;&#x9732;&#x51FA;&#x540E;&#x4E00;&#x9879;&#x7684;&#x4E00;&#x5C0F;&#x90E8;&#x5206;&#xFF0C;&#x63A5;&#x53D7; px &#x548C; rpx &#x503C;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-display-multiple-items">display-multiple-items</td>
<td>Number</td>
<td>1</td>
<td>&#x540C;&#x65F6;&#x663E;&#x793A;&#x7684;&#x6ED1;&#x5757;&#x6570;&#x91CF;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-skip-hidden-item-layout">skip-hidden-item-layout</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x8DF3;&#x8FC7;&#x672A;&#x663E;&#x793A;&#x7684;&#x6ED1;&#x5757;&#x5E03;&#x5C40;&#xFF0C;&#x8BBE;&#x4E3A; true &#x53EF;&#x4F18;&#x5316;&#x590D;&#x6742;&#x60C5;&#x51B5;&#x4E0B;&#x7684;&#x6ED1;&#x52A8;&#x6027;&#x80FD;&#xFF0C;&#x4F46;&#x4F1A;&#x4E22;&#x5931;&#x9690;&#x85CF;&#x72B6;&#x6001;&#x6ED1;&#x5757;&#x7684;&#x5E03;&#x5C40;&#x4FE1;&#x606F;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td id="swiper-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>current &#x6539;&#x53D8;&#x65F6;&#x4F1A;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;event.detail = {current: current, source: source}</td>
<td></td>
</tr>
<tr>
<td id="swiper-bindanimationfinish">bindanimationfinish</td>
<td>EventHandle</td>
<td></td>
<td>&#x52A8;&#x753B;&#x7ED3;&#x675F;&#x65F6;&#x4F1A;&#x89E6;&#x53D1; animationfinish &#x4E8B;&#x4EF6;&#xFF0C;event.detail &#x540C;&#x4E0A;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
</tbody>
</table>
<p>&#x4ECE; <a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a> &#x5F00;&#x59CB;&#xFF0C;<code>change</code>&#x4E8B;&#x4EF6;&#x8FD4;&#x56DE;<code>detail</code>&#x4E2D;&#x5305;&#x542B;&#x4E00;&#x4E2A;<code>source</code>&#x5B57;&#x6BB5;&#xFF0C;&#x8868;&#x793A;&#x5BFC;&#x81F4;&#x53D8;&#x66F4;&#x7684;&#x539F;&#x56E0;&#xFF0C;&#x53EF;&#x80FD;&#x503C;&#x5982;&#x4E0B;&#xFF1A;</p>
<ul>
<li><code>autoplay</code> &#x81EA;&#x52A8;&#x64AD;&#x653E;&#x5BFC;&#x81F4;swiper&#x53D8;&#x5316;&#xFF1B;</li>
<li><code>touch</code> &#x7528;&#x6237;&#x5212;&#x52A8;&#x5F15;&#x8D77;swiper&#x53D8;&#x5316;&#xFF1B;</li>
<li>&#x5176;&#x4ED6;&#x539F;&#x56E0;&#x5C06;&#x7528;&#x7A7A;&#x5B57;&#x7B26;&#x4E32;&#x8868;&#x793A;&#x3002;</li>
</ul>
<p><strong>&#x6CE8;&#x610F;</strong>&#xFF1A;&#x5176;&#x4E2D;&#x53EA;&#x53EF;&#x653E;&#x7F6E;<code>&lt;swiper-item/&gt;</code>&#x7EC4;&#x4EF6;&#xFF0C;&#x5426;&#x5219;&#x4F1A;&#x5BFC;&#x81F4;&#x672A;&#x5B9A;&#x4E49;&#x7684;&#x884C;&#x4E3A;&#x3002;</p>
<h4 id="swiper-item">swiper-item</h4>
<p>&#x4EC5;&#x53EF;&#x653E;&#x7F6E;&#x5728;<code>&lt;swiper/&gt;</code>&#x7EC4;&#x4EF6;&#x4E2D;&#xFF0C;&#x5BBD;&#x9AD8;&#x81EA;&#x52A8;&#x8BBE;&#x7F6E;&#x4E3A;100%&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="swiper-item-id">item-id</td>
<td>String</td>
<td>&quot;&quot;</td>
<td>&#x8BE5; swiper-item &#x7684;&#x6807;&#x8BC6;&#x7B26;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
</tbody>
</table>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/SeizywmX6gY0" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">swiper</span> <span class="hljs-attr">indicator-dots</span>=<span class="hljs-string">&quot;{{indicatorDots}}&quot;</span>
  <span class="hljs-attr">autoplay</span>=<span class="hljs-string">&quot;{{autoplay}}&quot;</span> <span class="hljs-attr">interval</span>=<span class="hljs-string">&quot;{{interval}}&quot;</span> <span class="hljs-attr">duration</span>=<span class="hljs-string">&quot;{{duration}}&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">block</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">&quot;{{imgUrls}}&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">swiper-item</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">image</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;{{item}}&quot;</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;slide-image&quot;</span> <span class="hljs-attr">width</span>=<span class="hljs-string">&quot;355&quot;</span> <span class="hljs-attr">height</span>=<span class="hljs-string">&quot;150&quot;</span>/&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">swiper-item</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">block</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">swiper</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;changeIndicatorDots&quot;</span>&gt;</span> indicator-dots <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;changeAutoplay&quot;</span>&gt;</span> autoplay <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">slider</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;intervalChange&quot;</span> <span class="hljs-attr">show-value</span> <span class="hljs-attr">min</span>=<span class="hljs-string">&quot;500&quot;</span> <span class="hljs-attr">max</span>=<span class="hljs-string">&quot;2000&quot;</span>/&gt;</span> interval
<span class="hljs-tag">&lt;<span class="hljs-name">slider</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;durationChange&quot;</span> <span class="hljs-attr">show-value</span> <span class="hljs-attr">min</span>=<span class="hljs-string">&quot;1000&quot;</span> <span class="hljs-attr">max</span>=<span class="hljs-string">&quot;10000&quot;</span>/&gt;</span> duration
</code></pre>
<pre><code class="language-js">Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">imgUrls</span>: [
      <span class="hljs-string">&apos;http://img02.tooopen.com/images/20150928/tooopen_sy_143912755726.jpg&apos;</span>,
      <span class="hljs-string">&apos;http://img06.tooopen.com/images/20160818/tooopen_sy_175866434296.jpg&apos;</span>,
      <span class="hljs-string">&apos;http://img06.tooopen.com/images/20160818/tooopen_sy_175833047715.jpg&apos;</span>
    ],
    <span class="hljs-attr">indicatorDots</span>: <span class="hljs-literal">false</span>,
    <span class="hljs-attr">autoplay</span>: <span class="hljs-literal">false</span>,
    <span class="hljs-attr">interval</span>: <span class="hljs-number">5000</span>,
    <span class="hljs-attr">duration</span>: <span class="hljs-number">1000</span>
  },
  <span class="hljs-attr">changeIndicatorDots</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">indicatorDots</span>: !<span class="hljs-keyword">this</span>.data.indicatorDots
    })
  },
  <span class="hljs-attr">changeAutoplay</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">autoplay</span>: !<span class="hljs-keyword">this</span>.data.autoplay
    })
  },
  <span class="hljs-attr">intervalChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">interval</span>: e.detail.value
    })
  },
  <span class="hljs-attr">durationChange</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">duration</span>: e.detail.value
    })
  }
})
</code></pre>
<h5 id="bug--tip">Bug &amp; Tip</h5>
<ol>
<li><code>tip</code>: &#x5982;&#x679C;&#x5728; <code>bindchange</code> &#x7684;&#x4E8B;&#x4EF6;&#x56DE;&#x8C03;&#x51FD;&#x6570;&#x4E2D;&#x4F7F;&#x7528; <code>setData</code> &#x6539;&#x53D8; <code>current</code> &#x503C;&#xFF0C;&#x5219;&#x6709;&#x53EF;&#x80FD;&#x5BFC;&#x81F4; <code>setData</code> &#x88AB;&#x4E0D;&#x505C;&#x5730;&#x8C03;&#x7528;&#xFF0C;&#x56E0;&#x800C;&#x901A;&#x5E38;&#x60C5;&#x51B5;&#x4E0B;&#x8BF7;&#x5728;&#x6539;&#x53D8; <code>current</code> &#x503C;&#x524D;&#x68C0;&#x6D4B; <code>source</code> &#x5B57;&#x6BB5;&#x6765;&#x5224;&#x65AD;&#x662F;&#x5426;&#x662F;&#x7531;&#x4E8E;&#x7528;&#x6237;&#x89E6;&#x6478;&#x5F15;&#x8D77;&#x3002;</li>
</ol>

                            </section>      
                        </div>
                        
                    </div>
                


</body></html>