<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>switch</title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h4 id="switch">switch</h4>
<p>&#x5F00;&#x5173;&#x9009;&#x62E9;&#x5668;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="switch-checked">checked</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x9009;&#x4E2D;</td>
<td></td>
</tr>
<tr>
<td id="switch-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x7981;&#x7528;</td>
<td></td>
</tr>
<tr>
<td id="switch-type">type</td>
<td>String</td>
<td>switch</td>
<td>&#x6837;&#x5F0F;&#xFF0C;&#x6709;&#x6548;&#x503C;&#xFF1A;switch, checkbox</td>
<td></td>
</tr>
<tr>
<td id="switch-bindchange">bindchange</td>
<td>EventHandle</td>
<td></td>
<td>checked &#x6539;&#x53D8;&#x65F6;&#x89E6;&#x53D1; change &#x4E8B;&#x4EF6;&#xFF0C;event.detail={ value:checked}</td>
<td></td>
</tr>
<tr>
<td id="switch-color">color</td>
<td>Color</td>
<td></td>
<td>switch &#x7684;&#x989C;&#x8272;&#xFF0C;&#x540C; css &#x7684; color</td>
<td></td>
</tr>
<tr>
<td id="switch-aria-label">aria-label</td>
<td>String</td>
<td></td>
<td>&#x65E0;&#x969C;&#x788D;&#x8BBF;&#x95EE;&#xFF0C;&#xFF08;&#x5C5E;&#x6027;&#xFF09;&#x5143;&#x7D20;&#x7684;&#x989D;&#x5916;&#x63CF;&#x8FF0;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 2.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">2.5.0</a></td>
</tr>
</tbody>
</table>
<p><strong>&#x793A;&#x4F8B;&#xFF1A;</strong></p>
<p><a href="https://developers.weixin.qq.com/s/6db9lcmu6VYt" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;body-view&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">switch</span> <span class="hljs-attr">checked</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;switch1Change&quot;</span> /&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">switch</span> <span class="hljs-attr">bindchange</span>=<span class="hljs-string">&quot;switch2Change&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-js">Page({
  switch1Change(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;switch1 &#x53D1;&#x751F; change &#x4E8B;&#x4EF6;&#xFF0C;&#x643A;&#x5E26;&#x503C;&#x4E3A;&apos;</span>, e.detail.value)
  },
  switch2Change(e) {
    <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&apos;switch2 &#x53D1;&#x751F; change &#x4E8B;&#x4EF6;&#xFF0C;&#x643A;&#x5E26;&#x503C;&#x4E3A;&apos;</span>, e.detail.value)
  }
})
</code></pre>
<p><img src="https://developers.weixin.qq.com/miniprogram/dev/image/pic/switch.png?t=19022017" alt="switch" onerror="this.src !== &apos;../image/pic/switch.png?t=19022017&apos; &amp;&amp; (this.src = &apos;../image/pic/switch.png?t=19022017&apos;)"></p>
<h5 id="tips">Tips</h5>
<ol>
<li><code>tip</code>: switch&#x7C7B;&#x578B;&#x5207;&#x6362;&#x65F6;&#x5728;iOS&#x81EA;&#x5E26;&#x632F;&#x52A8;&#x53CD;&#x9988;&#xFF0C;&#x53EF;&#x5728;&#x7CFB;&#x7EDF;&#x8BBE;&#x7F6E; -&gt; &#x58F0;&#x97F3;&#x4E0E;&#x89E6;&#x611F; -&gt; &#x7CFB;&#x7EDF;&#x89E6;&#x611F;&#x53CD;&#x9988;&#x4E2D;&#x5173;&#x95ED;</li>
</ol>

                            </section>
                        </div>
                        
                    </div>
                


</body></html>