<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>text</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="text">text</h4>
<p>文本。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="text-selectable">selectable</td>
<td>Boolean</td>
<td>false</td>
<td>文本是否可选</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="text-space">space</td>
<td>String</td>
<td>false</td>
<td>显示连续空格</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
<tr>
<td id="text-decode">decode</td>
<td>Boolean</td>
<td>false</td>
<td>是否解码</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
</tbody>
</table>
<p><strong>space 有效值：</strong></p>
<table>
<thead>
<tr>
<th>值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>ensp</td>
<td>中文字符空格一半大小</td>
</tr>
<tr>
<td>emsp</td>
<td>中文字符空格大小</td>
</tr>
<tr>
<td>nbsp</td>
<td>根据字体设置的空格大小</td>
</tr>
</tbody>
</table>
<h5 id="tips">Tips</h5>
<ul>
<li>decode可以解析的有 <code> </code> <code><</code> <code>></code> <code>&</code> <code>'</code> <code> </code> <code> </code></li>
<li>各个操作系统的空格标准并不一致。</li>
<li><code><text></text></code> 组件内只支持 <code><text></text></code> 嵌套。</li>
<li>除了文本节点以外的其他节点都无法长按选中。</li>
</ul>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/Egao9cm46gY6" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"body-view"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">text</span>></span>{{text}}<span class="hljs-tag"><!--<span class="hljs-name"-->text</span>>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"add"</span>></span>add line<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"remove"</span>></span>remove line<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-js"><span class="hljs-keyword">var</span> initData = <span class="hljs-string">'this is first line\nthis is second line'</span>
<span class="hljs-keyword">var</span> extraLine = [];
Page({
  data: {
    text: initData
  },
  add: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    extraLine.push(<span class="hljs-string">'other line'</span>)
    <span class="hljs-keyword">this</span>.setData({
      text: initData + <span class="hljs-string">'\n'</span> + extraLine.join(<span class="hljs-string">'\n'</span>)
    })
  },
  remove: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">if</span> (extraLine.length > <span class="hljs-number">0</span>) {
      extraLine.pop()
      <span class="hljs-keyword">this</span>.setData({
        text: initData + <span class="hljs-string">'\n'</span> + extraLine.join(<span class="hljs-string">'\n'</span>)
      })
    }
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/text.png?t=2018413" alt="text"></p>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>