<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>textarea</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="textarea">textarea</h4>
<p>多行输入框。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="textarea-value">value</td>
<td>String</td>
<td></td>
<td>输入框的内容</td>
<td></td>
</tr>
<tr>
<td id="textarea-placeholder">placeholder</td>
<td>String</td>
<td></td>
<td>输入框为空时占位符</td>
<td></td>
</tr>
<tr>
<td id="textarea-placeholder-style">placeholder-style</td>
<td>String</td>
<td></td>
<td>指定 placeholder 的样式</td>
<td></td>
</tr>
<tr>
<td id="textarea-placeholder-class">placeholder-class</td>
<td>String</td>
<td>textarea-placeholder</td>
<td>指定 placeholder 的样式类</td>
<td></td>
</tr>
<tr>
<td id="textarea-disabled">disabled</td>
<td>Boolean</td>
<td>false</td>
<td>是否禁用</td>
<td></td>
</tr>
<tr>
<td id="textarea-maxlength">maxlength</td>
<td>Number</td>
<td>140</td>
<td>最大输入长度，设置为 -1 的时候不限制最大长度</td>
<td></td>
</tr>
<tr>
<td id="textarea-auto-focus">auto-focus</td>
<td>Boolean</td>
<td>false</td>
<td>自动聚焦，拉起键盘。</td>
<td></td>
</tr>
<tr>
<td id="textarea-focus">focus</td>
<td>Boolean</td>
<td>false</td>
<td>获取焦点</td>
<td></td>
</tr>
<tr>
<td id="textarea-auto-height">auto-height</td>
<td>Boolean</td>
<td>false</td>
<td>是否自动增高，设置auto-height时，style.height不生效</td>
<td></td>
</tr>
<tr>
<td id="textarea-fixed">fixed</td>
<td>Boolean</td>
<td>false</td>
<td>如果 textarea 是在一个 <code>position:fixed</code> 的区域，需要显示指定属性 fixed 为 true</td>
<td></td>
</tr>
<tr>
<td id="textarea-cursor-spacing">cursor-spacing</td>
<td>Number</td>
<td>0</td>
<td>指定光标与键盘的距离，单位 px 。取 textarea 距离底部的距离和 cursor-spacing 指定的距离的最小值作为光标与键盘的距离</td>
<td></td>
</tr>
<tr>
<td id="textarea-cursor">cursor</td>
<td>Number</td>
<td></td>
<td>指定focus时的光标位置</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="textarea-show-confirm-bar">show-confirm-bar</td>
<td>Boolean</td>
<td>true</td>
<td>是否显示键盘上方带有”完成“按钮那一栏</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.0 开始支持，低版本需做兼容处理。">1.6.0</a></td>
</tr>
<tr>
<td id="textarea-selection-start">selection-start</td>
<td>Number</td>
<td>-1</td>
<td>光标起始位置，自动聚集时有效，需与selection-end搭配使用</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="textarea-selection-end">selection-end</td>
<td>Number</td>
<td>-1</td>
<td>光标结束位置，自动聚集时有效，需与selection-start搭配使用</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="textarea-adjust-position">adjust-position</td>
<td>Boolean</td>
<td>true</td>
<td>键盘弹起时，是否自动上推页面</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
<tr>
<td id="textarea-bindfocus">bindfocus</td>
<td>EventHandle</td>
<td></td>
<td>输入框聚焦时触发，event.detail = { value, height }，height 参数在基础库 1.9.90 起支持</td>
<td></td>
</tr>
<tr>
<td id="textarea-bindblur">bindblur</td>
<td>EventHandle</td>
<td></td>
<td>输入框失去焦点时触发，event.detail = {value, cursor}</td>
<td></td>
</tr>
<tr>
<td id="textarea-bindlinechange">bindlinechange</td>
<td>EventHandle</td>
<td></td>
<td>输入框行数变化时调用，event.detail = {height: 0, heightRpx: 0, lineCount: 0}</td>
<td></td>
</tr>
<tr>
<td id="textarea-bindinput">bindinput</td>
<td>EventHandle</td>
<td></td>
<td>当键盘输入时，触发 input 事件，event.detail = {value, cursor}，<strong> bindinput 处理函数的返回值并不会反映到 textarea 上 </strong></td>
<td></td>
</tr>
<tr>
<td id="textarea-bindconfirm">bindconfirm</td>
<td>EventHandle</td>
<td></td>
<td>点击完成时， 触发 confirm 事件，event.detail = {value: value}</td>
</tr>
</tbody>
</table>
<!--
| auto-fill         | String      |                   | 快速填写表单字段，字段请看[定义](./form.md#autofill)    | [1.2.0](/framework/compatibility.md "基础库 1.2.0 开始支持，低版本需做兼容处理。")|
-->
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/QAwRn6m86tYu" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-comment"><!--textarea.wxml--></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">textarea</span> <span class="hljs-attr">bindblur</span>=<span class="hljs-string">"bindTextAreaBlur"</span> <span class="hljs-attr">auto-height</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"自动变高"</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">textarea</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"placeholder颜色是红色的"</span> <span class="hljs-attr">placeholder-style</span>=<span class="hljs-string">"color:red;"</span>  /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">textarea</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"这是一个可以自动聚焦的textarea"</span> <span class="hljs-attr">auto-focus</span> /></span>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">textarea</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"这个只有在按钮点击的时候才聚焦"</span> <span class="hljs-attr">focus</span>=<span class="hljs-string">"{{focus}}"</span> /></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"bindButtonTap"</span>></span>使得输入框获取焦点<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">form</span> <span class="hljs-attr">bindsubmit</span>=<span class="hljs-string">"bindFormSubmit"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">textarea</span> <span class="hljs-attr">placeholder</span>=<span class="hljs-string">"form 中的 textarea"</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"textarea"</span>/></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">form-type</span>=<span class="hljs-string">"submit"</span>></span> 提交 <span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->form</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-comment">//textarea.js</span>
Page({
  data: {
    height: <span class="hljs-number">20</span>,
    focus: <span class="hljs-literal">false</span>
  },
  bindButtonTap: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      focus: <span class="hljs-literal">true</span>
    })
  },
  bindTextAreaBlur: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(e.detail.value)
  },
  bindFormSubmit: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-built_in">console</span>.log(e.detail.value.textarea)
  }
})
</code></pre>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>bug</code>: 微信版本 <code>6.3.30</code>，<code>textarea</code> 在列表渲染时，新增加的 <code>textarea</code> 在自动聚焦时的位置计算错误。</li>
<li><code>tip</code>: <code>textarea</code> 的 <code>blur</code> 事件会晚于页面上的 <code>tap</code> 事件，如果需要在 <code>button</code> 的点击事件获取 <code>textarea</code>，可以使用 <code>form</code> 的 <code>bindsubmit</code>。</li>
<li><code>tip</code>: 不建议在多行文本上对用户的输入进行修改，所以 <code>textarea</code> 的 <code>bindinput</code> 处理函数并不会将返回值反映到 <code>textarea</code> 上。</li>
<li><code>tip</code>: <code>textarea</code> 组件是由客户端创建的原生组件，它的层级是最高的，不能通过 z-index 控制层级。</li>
<li><code>tip</code>: 请勿在 <code>scroll-view</code>、<code>swiper</code>、<code>picker-view</code>、<code>movable-view</code> 中使用 <code>textarea</code> 组件。</li>
<li><code>tip</code>: <code>css</code> 动画对 <code>textarea</code> 组件无效。</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>