<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>video</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h4 id="video">video</h4>
<p>&#x89C6;&#x9891;&#x3002;&#x8BE5;&#x7EC4;&#x4EF6;&#x662F;<a href="native-component.html">&#x539F;&#x751F;&#x7EC4;&#x4EF6;</a>&#xFF0C;&#x4F7F;&#x7528;&#x65F6;&#x8BF7;&#x6CE8;&#x610F;&#x76F8;&#x5173;&#x9650;&#x5236;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td>src</td>
<td>String</td>
<td></td>
<td>&#x8981;&#x64AD;&#x653E;&#x89C6;&#x9891;&#x7684;&#x8D44;&#x6E90;&#x5730;&#x5740;&#xFF0C;&#x652F;&#x6301;&#x4E91;&#x6587;&#x4EF6;ID&#xFF08;2.2.3&#x8D77;&#xFF09;</td>
<td></td>
</tr>
<tr>
<td>initial-time</td>
<td>Number</td>
<td></td>
<td>&#x6307;&#x5B9A;&#x89C6;&#x9891;&#x521D;&#x59CB;&#x64AD;&#x653E;&#x4F4D;&#x7F6E;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.6.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.6.0</a></td>
</tr>
<tr>
<td>duration</td>
<td>Number</td>
<td></td>
<td>&#x6307;&#x5B9A;&#x89C6;&#x9891;&#x65F6;&#x957F;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.1.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.1.0</a></td>
</tr>
<tr>
<td>controls</td>
<td>Boolean</td>
<td>true</td>
<td>&#x662F;&#x5426;&#x663E;&#x793A;&#x9ED8;&#x8BA4;&#x64AD;&#x653E;&#x63A7;&#x4EF6;&#xFF08;&#x64AD;&#x653E;/&#x6682;&#x505C;&#x6309;&#x94AE;&#x3001;&#x64AD;&#x653E;&#x8FDB;&#x5EA6;&#x3001;&#x65F6;&#x95F4;&#xFF09;</td>
<td></td>
</tr>
<tr>
<td>danmu-list</td>
<td>Object Array</td>
<td></td>
<td>&#x5F39;&#x5E55;&#x5217;&#x8868;</td>
<td></td>
</tr>
<tr>
<td>danmu-btn</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x663E;&#x793A;&#x5F39;&#x5E55;&#x6309;&#x94AE;&#xFF0C;&#x53EA;&#x5728;&#x521D;&#x59CB;&#x5316;&#x65F6;&#x6709;&#x6548;&#xFF0C;&#x4E0D;&#x80FD;&#x52A8;&#x6001;&#x53D8;&#x66F4;</td>
<td></td>
</tr>
<tr>
<td>enable-danmu</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x5C55;&#x793A;&#x5F39;&#x5E55;&#xFF0C;&#x53EA;&#x5728;&#x521D;&#x59CB;&#x5316;&#x65F6;&#x6709;&#x6548;&#xFF0C;&#x4E0D;&#x80FD;&#x52A8;&#x6001;&#x53D8;&#x66F4;</td>
<td></td>
</tr>
<tr>
<td>autoplay</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x81EA;&#x52A8;&#x64AD;&#x653E;</td>
<td></td>
</tr>
<tr>
<td>loop</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x5FAA;&#x73AF;&#x64AD;&#x653E;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a></td>
</tr>
<tr>
<td>muted</td>
<td>Boolean</td>
<td>false</td>
<td>&#x662F;&#x5426;&#x9759;&#x97F3;&#x64AD;&#x653E;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a></td>
</tr>
<tr>
<td>page-gesture</td>
<td>Boolean</td>
<td>false</td>
<td>&#x5728;&#x975E;&#x5168;&#x5C4F;&#x6A21;&#x5F0F;&#x4E0B;&#xFF0C;&#x662F;&#x5426;&#x5F00;&#x542F;&#x4EAE;&#x5EA6;&#x4E0E;&#x97F3;&#x91CF;&#x8C03;&#x8282;&#x624B;&#x52BF;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.6.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.6.0</a></td>
</tr>
<tr>
<td>direction</td>
<td>Number</td>
<td></td>
<td>&#x8BBE;&#x7F6E;&#x5168;&#x5C4F;&#x65F6;&#x89C6;&#x9891;&#x7684;&#x65B9;&#x5411;&#xFF0C;&#x4E0D;&#x6307;&#x5B9A;&#x5219;&#x6839;&#x636E;&#x5BBD;&#x9AD8;&#x6BD4;&#x81EA;&#x52A8;&#x5224;&#x65AD;&#x3002;&#x6709;&#x6548;&#x503C;&#x4E3A; 0&#xFF08;&#x6B63;&#x5E38;&#x7AD6;&#x5411;&#xFF09;, 90&#xFF08;&#x5C4F;&#x5E55;&#x9006;&#x65F6;&#x9488;90&#x5EA6;&#xFF09;, -90&#xFF08;&#x5C4F;&#x5E55;&#x987A;&#x65F6;&#x9488;90&#x5EA6;&#xFF09;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.7.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.7.0</a></td>
</tr>
<tr>
<td>show-progress</td>
<td>Boolean</td>
<td>true</td>
<td>&#x82E5;&#x4E0D;&#x8BBE;&#x7F6E;&#xFF0C;&#x5BBD;&#x5EA6;&#x5927;&#x4E8E;240&#x65F6;&#x624D;&#x4F1A;&#x663E;&#x793A;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td>show-fullscreen-btn</td>
<td>Boolean</td>
<td>true</td>
<td>&#x662F;&#x5426;&#x663E;&#x793A;&#x5168;&#x5C4F;&#x6309;&#x94AE;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td>show-play-btn</td>
<td>Boolean</td>
<td>true</td>
<td>&#x662F;&#x5426;&#x663E;&#x793A;&#x89C6;&#x9891;&#x5E95;&#x90E8;&#x63A7;&#x5236;&#x680F;&#x7684;&#x64AD;&#x653E;&#x6309;&#x94AE;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td>show-center-play-btn</td>
<td>Boolean</td>
<td>true</td>
<td>&#x662F;&#x5426;&#x663E;&#x793A;&#x89C6;&#x9891;&#x4E2D;&#x95F4;&#x7684;&#x64AD;&#x653E;&#x6309;&#x94AE;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td>enable-progress-gesture</td>
<td>Boolean</td>
<td>true</td>
<td>&#x662F;&#x5426;&#x5F00;&#x542F;&#x63A7;&#x5236;&#x8FDB;&#x5EA6;&#x7684;&#x624B;&#x52BF;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.9.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.9.0</a></td>
</tr>
<tr>
<td>objectFit</td>
<td>String</td>
<td>contain</td>
<td>&#x5F53;&#x89C6;&#x9891;&#x5927;&#x5C0F;&#x4E0E; video &#x5BB9;&#x5668;&#x5927;&#x5C0F;&#x4E0D;&#x4E00;&#x81F4;&#x65F6;&#xFF0C;&#x89C6;&#x9891;&#x7684;&#x8868;&#x73B0;&#x5F62;&#x5F0F;&#x3002;contain&#xFF1A;&#x5305;&#x542B;&#xFF0C;fill&#xFF1A;&#x586B;&#x5145;&#xFF0C;cover&#xFF1A;&#x8986;&#x76D6;</td>
<td></td>
</tr>
<tr>
<td>poster</td>
<td>String</td>
<td></td>
<td>&#x89C6;&#x9891;&#x5C01;&#x9762;&#x7684;&#x56FE;&#x7247;&#x7F51;&#x7EDC;&#x8D44;&#x6E90;&#x5730;&#x5740;&#x6216;&#x4E91;&#x6587;&#x4EF6;ID&#xFF08;2.2.3&#x8D77;&#x652F;&#x6301;&#xFF09;&#x5982;&#x679C; controls &#x5C5E;&#x6027;&#x503C;&#x4E3A; false &#x5219;&#x8BBE;&#x7F6E; poster &#x65E0;&#x6548;</td>
<td></td>
</tr>
<tr>
<td>bindplay</td>
<td>EventHandle</td>
<td></td>
<td>&#x5F53;&#x5F00;&#x59CB;/&#x7EE7;&#x7EED;&#x64AD;&#x653E;&#x65F6;&#x89E6;&#x53D1;play&#x4E8B;&#x4EF6;</td>
<td></td>
</tr>
<tr>
<td>bindpause</td>
<td>EventHandle</td>
<td></td>
<td>&#x5F53;&#x6682;&#x505C;&#x64AD;&#x653E;&#x65F6;&#x89E6;&#x53D1; pause &#x4E8B;&#x4EF6;</td>
<td></td>
</tr>
<tr>
<td>bindended</td>
<td>EventHandle</td>
<td></td>
<td>&#x5F53;&#x64AD;&#x653E;&#x5230;&#x672B;&#x5C3E;&#x65F6;&#x89E6;&#x53D1; ended &#x4E8B;&#x4EF6;</td>
<td></td>
</tr>
<tr>
<td>bindtimeupdate</td>
<td>EventHandle</td>
<td></td>
<td>&#x64AD;&#x653E;&#x8FDB;&#x5EA6;&#x53D8;&#x5316;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;event.detail = {currentTime, duration} &#x3002;&#x89E6;&#x53D1;&#x9891;&#x7387; 250ms &#x4E00;&#x6B21;</td>
<td></td>
</tr>
<tr>
<td>bindfullscreenchange</td>
<td>EventHandle</td>
<td></td>
<td>&#x89C6;&#x9891;&#x8FDB;&#x5165;&#x548C;&#x9000;&#x51FA;&#x5168;&#x5C4F;&#x65F6;&#x89E6;&#x53D1;&#xFF0C;event.detail = {fullScreen, direction}&#xFF0C;direction&#x53D6;&#x4E3A; vertical &#x6216; horizontal</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.4.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.4.0</a></td>
</tr>
<tr>
<td>bindwaiting</td>
<td>EventHandle</td>
<td></td>
<td>&#x89C6;&#x9891;&#x51FA;&#x73B0;&#x7F13;&#x51B2;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.7.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.7.0</a></td>
</tr>
<tr>
<td>binderror</td>
<td>EventHandle</td>
<td></td>
<td>&#x89C6;&#x9891;&#x64AD;&#x653E;&#x51FA;&#x9519;&#x65F6;&#x89E6;&#x53D1;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.7.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.7.0</a></td>
</tr>
</tbody>
</table>
<p><code>&lt;video /&gt;</code> &#x9ED8;&#x8BA4;&#x5BBD;&#x5EA6;300px&#x3001;&#x9AD8;&#x5EA6;225px&#xFF0C;&#x53EF;&#x901A;&#x8FC7;wxss&#x8BBE;&#x7F6E;&#x5BBD;&#x9AD8;&#x3002;</p>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/X5V6Xmmk6xYB" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section tc&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">video</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;{{src}}&quot;</span>   <span class="hljs-attr">controls</span> &gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">video</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;btn-area&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;bindButtonTap&quot;</span>&gt;</span>&#x83B7;&#x53D6;&#x89C6;&#x9891;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section tc&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">video</span> <span class="hljs-attr">id</span>=<span class="hljs-string">&quot;myVideo&quot;</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;http://wxsnsdy.tc.qq.com/105/20210/snsdyvideodownload?filekey=30280201010421301f0201690402534804102ca905ce620b1241b726bc41dcff44e00204012882540400&amp;bizid=1023&amp;hy=SH&amp;fileparam=302c020101042530230204136ffd93020457e3c4ff02024ef202031e8d7f02030f42400204045a320a0201000400&quot;</span> <span class="hljs-attr">danmu-list</span>=<span class="hljs-string">&quot;{{danmuList}}&quot;</span> <span class="hljs-attr">enable-danmu</span> <span class="hljs-attr">danmu-btn</span> <span class="hljs-attr">controls</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">video</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;btn-area&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;bindButtonTap&quot;</span>&gt;</span>&#x83B7;&#x53D6;&#x89C6;&#x9891;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">bindblur</span>=<span class="hljs-string">&quot;bindInputBlur&quot;</span>/&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;bindSendDanmu&quot;</span>&gt;</span>&#x53D1;&#x9001;&#x5F39;&#x5E55;<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-javascript"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getRandomColor</span> (<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">let</span> rgb = []
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span> ; i &lt; <span class="hljs-number">3</span>; ++i){
    <span class="hljs-keyword">let</span> color = <span class="hljs-built_in">Math</span>.floor(<span class="hljs-built_in">Math</span>.random() * <span class="hljs-number">256</span>).toString(<span class="hljs-number">16</span>)
    color = color.length == <span class="hljs-number">1</span> ? <span class="hljs-string">&apos;0&apos;</span> + color : color
    rgb.push(color)
  }
  <span class="hljs-keyword">return</span> <span class="hljs-string">&apos;#&apos;</span> + rgb.join(<span class="hljs-string">&apos;&apos;</span>)
}

Page({
  <span class="hljs-attr">onReady</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">res</span>) </span>{
    <span class="hljs-keyword">this</span>.videoContext = wx.createVideoContext(<span class="hljs-string">&apos;myVideo&apos;</span>)
  },
  <span class="hljs-attr">inputValue</span>: <span class="hljs-string">&apos;&apos;</span>,
	<span class="hljs-attr">data</span>: {
		<span class="hljs-attr">src</span>: <span class="hljs-string">&apos;&apos;</span>,
    <span class="hljs-attr">danmuList</span>: [
      {
        <span class="hljs-attr">text</span>: <span class="hljs-string">&apos;&#x7B2C; 1s &#x51FA;&#x73B0;&#x7684;&#x5F39;&#x5E55;&apos;</span>,
        <span class="hljs-attr">color</span>: <span class="hljs-string">&apos;#ff0000&apos;</span>,
        <span class="hljs-attr">time</span>: <span class="hljs-number">1</span>
      },
      {
        <span class="hljs-attr">text</span>: <span class="hljs-string">&apos;&#x7B2C; 3s &#x51FA;&#x73B0;&#x7684;&#x5F39;&#x5E55;&apos;</span>,
        <span class="hljs-attr">color</span>: <span class="hljs-string">&apos;#ff00ff&apos;</span>,
        <span class="hljs-attr">time</span>: <span class="hljs-number">3</span>
    }]
	},
  <span class="hljs-attr">bindInputBlur</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.inputValue = e.detail.value
  },
  <span class="hljs-attr">bindButtonTap</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">var</span> that = <span class="hljs-keyword">this</span>
    wx.chooseVideo({
      <span class="hljs-attr">sourceType</span>: [<span class="hljs-string">&apos;album&apos;</span>, <span class="hljs-string">&apos;camera&apos;</span>],
      <span class="hljs-attr">maxDuration</span>: <span class="hljs-number">60</span>,
      <span class="hljs-attr">camera</span>: [<span class="hljs-string">&apos;front&apos;</span>,<span class="hljs-string">&apos;back&apos;</span>],
      <span class="hljs-attr">success</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">res</span>) </span>{
        that.setData({
          <span class="hljs-attr">src</span>: res.tempFilePath
        })
      }
    })
  },
  <span class="hljs-attr">bindSendDanmu</span>: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.videoContext.sendDanmu({
      <span class="hljs-attr">text</span>: <span class="hljs-keyword">this</span>.inputValue,
      <span class="hljs-attr">color</span>: getRandomColor()
    })
  }
})
</code></pre>
<p><img src="https://developers.weixin.qq.com/miniprogram/dev/image/pic/video.png?t=18091020" alt="video"></p>
<p>&#x76F8;&#x5173;api&#xFF1A;<a href="../api/api-video.html">wx.createVideoContext</a></p>
<h5 id="bug--tip">Bug &amp; Tip</h5>
<ol>
<li>&#x8BF7;&#x6CE8;&#x610F;<a href="native-component.html#&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x7684;&#x4F7F;&#x7528;&#x9650;&#x5236;">&#x539F;&#x751F;&#x7EC4;&#x4EF6;&#x4F7F;&#x7528;&#x9650;&#x5236;</a>&#x3002;</li>
</ol>

                            </section>      
                        </div>
                        
                    </div>
                
</body>
</html>
