<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>video</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="video">video</h4>
<p>视频。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="video-src">src</td>
<td>String</td>
<td></td>
<td>要播放视频的资源地址</td>
<td></td>
</tr>
<tr>
<td id="video-initial-time">initial-time</td>
<td>Number</td>
<td></td>
<td>指定视频初始播放位置</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.0 开始支持，低版本需做兼容处理。">1.6.0</a></td>
</tr>
<tr>
<td id="video-duration">duration</td>
<td>Number</td>
<td></td>
<td>指定视频时长</td>
<td><a href="../framework/compatibility.html" title="基础库 1.1.0 开始支持，低版本需做兼容处理。">1.1.0</a></td>
</tr>
<tr>
<td id="video-controls">controls</td>
<td>Boolean</td>
<td>true</td>
<td>是否显示默认播放控件（播放/暂停按钮、播放进度、时间）</td>
<td></td>
</tr>
<tr>
<td id="video-danmu-list">danmu-list</td>
<td>Object Array</td>
<td></td>
<td>弹幕列表</td>
<td></td>
</tr>
<tr>
<td id="video-danmu-btn">danmu-btn</td>
<td>Boolean</td>
<td>false</td>
<td>是否显示弹幕按钮，只在初始化时有效，不能动态变更</td>
<td></td>
</tr>
<tr>
<td id="video-enable-danmu">enable-danmu</td>
<td>Boolean</td>
<td>false</td>
<td>是否展示弹幕，只在初始化时有效，不能动态变更</td>
<td></td>
</tr>
<tr>
<td id="video-autoplay">autoplay</td>
<td>Boolean</td>
<td>false</td>
<td>是否自动播放</td>
<td></td>
</tr>
<tr>
<td id="video-loop">loop</td>
<td>Boolean</td>
<td>false</td>
<td>是否循环播放</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
<tr>
<td id="video-muted">muted</td>
<td>Boolean</td>
<td>false</td>
<td>是否静音播放</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
<tr>
<td id="video-page-gesture">page-gesture</td>
<td>Boolean</td>
<td>false</td>
<td>在非全屏模式下，是否开启亮度与音量调节手势</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.0 开始支持，低版本需做兼容处理。">1.6.0</a></td>
</tr>
<tr>
<td id="video-direction">direction</td>
<td>Number</td>
<td></td>
<td>设置全屏时视频的方向，不指定则根据宽高比自动判断。有效值为 0（正常竖向）, 90（屏幕逆时针90度）, -90（屏幕顺时针90度）</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.0 开始支持，低版本需做兼容处理。">1.7.0</a></td>
</tr>
<tr>
<td id="video-show-progress">show-progress</td>
<td>Boolean</td>
<td>true</td>
<td>若不设置，宽度大于240时才会显示</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="video-show-fullscreen-btn">show-fullscreen-btn</td>
<td>Boolean</td>
<td>true</td>
<td>是否显示全屏按钮</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="video-show-play-btn">show-play-btn</td>
<td>Boolean</td>
<td>true</td>
<td>是否显示视频底部控制栏的播放按钮</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="video-show-center-play-btn">show-center-play-btn</td>
<td>Boolean</td>
<td>true</td>
<td>是否显示视频中间的播放按钮</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="video-enable-progress-gesture">enable-progress-gesture</td>
<td>Boolean</td>
<td>true</td>
<td>是否开启控制进度的手势</td>
<td><a href="../framework/compatibility.html" title="基础库 1.9.0 开始支持，低版本需做兼容处理。">1.9.0</a></td>
</tr>
<tr>
<td id="video-objectFit">objectFit</td>
<td>String</td>
<td>contain</td>
<td>当视频大小与 video 容器大小不一致时，视频的表现形式。contain：包含，fill：填充，cover：覆盖</td>
<td></td>
</tr>
<tr>
<td id="video-poster">poster</td>
<td>String</td>
<td></td>
<td>视频封面的图片网络资源地址，如果 controls 属性值为 false 则设置 poster 无效</td>
<td></td>
</tr>
<tr>
<td id="video-bindplay">bindplay</td>
<td>EventHandle</td>
<td></td>
<td>当开始/继续播放时触发play事件</td>
<td></td>
</tr>
<tr>
<td id="video-bindpause">bindpause</td>
<td>EventHandle</td>
<td></td>
<td>当暂停播放时触发 pause 事件</td>
<td></td>
</tr>
<tr>
<td id="video-bindended">bindended</td>
<td>EventHandle</td>
<td></td>
<td>当播放到末尾时触发 ended 事件</td>
<td></td>
</tr>
<tr>
<td id="video-bindtimeupdate">bindtimeupdate</td>
<td>EventHandle</td>
<td></td>
<td>播放进度变化时触发，event.detail = {currentTime, duration} 。触发频率 250ms 一次</td>
<td></td>
</tr>
<tr>
<td id="video-bindfullscreenchange">bindfullscreenchange</td>
<td>EventHandle</td>
<td></td>
<td>当视频进入和退出全屏是触发，event.detail = {fullScreen, direction}，direction取为 vertical 或 horizontal</td>
<td><a href="../framework/compatibility.html" title="基础库 1.4.0 开始支持，低版本需做兼容处理。">1.4.0</a></td>
</tr>
<tr>
<td id="video-bindwaiting">bindwaiting</td>
<td>EventHandle</td>
<td></td>
<td>视频出现缓冲时触发</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.0 开始支持，低版本需做兼容处理。">1.7.0</a></td>
</tr>
<tr>
<td id="video-binderror">binderror</td>
<td>EventHandle</td>
<td></td>
<td>视频播放出错时触发</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.0 开始支持，低版本需做兼容处理。">1.7.0</a></td>
</tr>
</tbody>
</table>
<p><code><video></video></code> 默认宽度300px、高度225px，可通过wxss设置宽高。</p>
<p><strong>示例代码：</strong></p>
<p><a href="wechatide://minicode/X5V6Xmmk6xYB" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section tc"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">video</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"{{src}}"</span>   <span class="hljs-attr">controls</span> ></span><span class="hljs-tag"><!--<span class="hljs-name"-->video</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"bindButtonTap"</span>></span>获取视频<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>

<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section tc"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">video</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"myVideo"</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"http://wxsnsdy.tc.qq.com/105/20210/snsdyvideodownload?filekey=30280201010421301f0201690402534804102ca905ce620b1241b726bc41dcff44e00204012882540400&bizid=1023&hy=SH&fileparam=302c020101042530230204136ffd93020457e3c4ff02024ef202031e8d7f02030f42400204045a320a0201000400"</span> <span class="hljs-attr">danmu-list</span>=<span class="hljs-string">"{{danmuList}}"</span> <span class="hljs-attr">enable-danmu</span> <span class="hljs-attr">danmu-btn</span> <span class="hljs-attr">controls</span>></span><span class="hljs-tag"><!--<span class="hljs-name"-->video</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"btn-area"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"bindButtonTap"</span>></span>获取视频<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
    <span class="hljs-tag"><<span class="hljs-name">input</span> <span class="hljs-attr">bindblur</span>=<span class="hljs-string">"bindInputBlur"</span>/></span>
    <span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"bindSendDanmu"</span>></span>发送弹幕<span class="hljs-tag"><!--<span class="hljs-name"-->button</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">getRandomColor</span> (<span class="hljs-params"></span>) </span>{
  <span class="hljs-keyword">let</span> rgb = []
  <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span> ; i < <span class="hljs-number">3</span>; ++i){
    <span class="hljs-keyword">let</span> color = <span class="hljs-built_in">Math</span>.floor(<span class="hljs-built_in">Math</span>.random() * <span class="hljs-number">256</span>).toString(<span class="hljs-number">16</span>)
    color = color.length == <span class="hljs-number">1</span> ? <span class="hljs-string">'0'</span> + color : color
    rgb.push(color)
  }
  <span class="hljs-keyword">return</span> <span class="hljs-string">'#'</span> + rgb.join(<span class="hljs-string">''</span>)
}

Page({
  onReady: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">res</span>) </span>{
    <span class="hljs-keyword">this</span>.videoContext = wx.createVideoContext(<span class="hljs-string">'myVideo'</span>)
  },
  inputValue: <span class="hljs-string">''</span>,
    data: {
        src: <span class="hljs-string">''</span>,
    danmuList: [
      {
        text: <span class="hljs-string">'第 1s 出现的弹幕'</span>,
        color: <span class="hljs-string">'#ff0000'</span>,
        time: <span class="hljs-number">1</span>
      },
      {
        text: <span class="hljs-string">'第 3s 出现的弹幕'</span>,
        color: <span class="hljs-string">'#ff00ff'</span>,
        time: <span class="hljs-number">3</span>
    }]
    },
  bindInputBlur: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.inputValue = e.detail.value
  },
  bindButtonTap: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">var</span> that = <span class="hljs-keyword">this</span>
    wx.chooseVideo({
      sourceType: [<span class="hljs-string">'album'</span>, <span class="hljs-string">'camera'</span>],
      maxDuration: <span class="hljs-number">60</span>,
      camera: [<span class="hljs-string">'front'</span>,<span class="hljs-string">'back'</span>],
      success: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">res</span>) </span>{
        that.setData({
          src: res.tempFilePath
        })
      }
    })
  },
  bindSendDanmu: <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
    <span class="hljs-keyword">this</span>.videoContext.sendDanmu({
      text: <span class="hljs-keyword">this</span>.inputValue,
      color: getRandomColor()
    })
  }
})
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/video.png?t=2018413" alt="video"></p>
<p>相关api：<a href="../api/api-video.html">wx.createVideoContext</a></p>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: <code>video</code> 组件是由客户端创建的原生组件，它的层级是最高的，不能通过 z-index 控制层级。</li>
<li><code>tip</code>: 请勿在 <code>scroll-view</code>、<code>swiper</code>、<code>picker-view</code>、<code>movable-view</code> 中使用 <code>video</code> 组件。</li>
<li><code>tip</code>: <code>css</code> 动画对 <code>video</code> 组件无效。</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>