<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>视图容器</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="view">view</h4>
<p>视图容器。</p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td id="视图容器-hover-class">hover-class</td>
<td>String</td>
<td>none</td>
<td>指定按下去的样式类。当 <code>hover-class="none"</code> 时，没有点击态效果</td>
<td></td>
</tr>
<tr>
<td id="视图容器-hover-stop-propagation">hover-stop-propagation</td>
<td>Boolean</td>
<td>false</td>
<td>指定是否阻止本节点的祖先节点出现点击态</td>
<td><a href="../framework/compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td id="视图容器-hover-start-time">hover-start-time</td>
<td>Number</td>
<td>50</td>
<td>按住后多久出现点击态，单位毫秒</td>
<td></td>
</tr>
<tr>
<td id="视图容器-hover-stay-time">hover-stay-time</td>
<td>Number</td>
<td>400</td>
<td>手指松开后点击态保留时间，单位毫秒</td>
</tr>
</tbody>
</table>
<p><strong>示例：</strong></p>
<p><a href="wechatide://minicode/eJwL4bmd6mY3" target="_blank">在开发者工具中预览效果</a></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>flex-direction: row<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-wrp"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"flex-direction:row;"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-item bc_green"</span>></span>1<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-item bc_red"</span>></span>2<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-item bc_blue"</span>></span>3<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"section__title"</span>></span>flex-direction: column<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-wrp"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"height: 300px;flex-direction:column;"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-item bc_green"</span>></span>1<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-item bc_red"</span>></span>2<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"flex-item bc_blue"</span>></span>3<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
  <span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
<span class="hljs-tag"><!--<span class="hljs-name"-->view</span>>
</code></pre>
<p><img src="https://mp.weixin.qq.com/debug/wxadoc/dev/image/pic/view.png?t=2018413" alt="view"></p>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><code>tip</code>: 如果需要使用滚动视图，请使用 <a href="scroll-view.html">scroll-view</a></li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>