<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>&#x89C6;&#x56FE;&#x5BB9;&#x5668;</title>
  <link rel="stylesheet" href="../../style.css">
  <link rel="stylesheet" href="../../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h4 id="view">view</h4>
<p>&#x89C6;&#x56FE;&#x5BB9;&#x5668;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
<th>&#x6700;&#x4F4E;&#x7248;&#x672C;</th>
</tr>
</thead>
<tbody>
<tr>
<td id="&#x89C6;&#x56FE;&#x5BB9;&#x5668;-hover-class">hover-class</td>
<td>String</td>
<td>none</td>
<td>&#x6307;&#x5B9A;&#x6309;&#x4E0B;&#x53BB;&#x7684;&#x6837;&#x5F0F;&#x7C7B;&#x3002;&#x5F53; <code>hover-class=&quot;none&quot;</code> &#x65F6;&#xFF0C;&#x6CA1;&#x6709;&#x70B9;&#x51FB;&#x6001;&#x6548;&#x679C;</td>
<td></td>
</tr>
<tr>
<td id="&#x89C6;&#x56FE;&#x5BB9;&#x5668;-hover-stop-propagation">hover-stop-propagation</td>
<td>Boolean</td>
<td>false</td>
<td>&#x6307;&#x5B9A;&#x662F;&#x5426;&#x963B;&#x6B62;&#x672C;&#x8282;&#x70B9;&#x7684;&#x7956;&#x5148;&#x8282;&#x70B9;&#x51FA;&#x73B0;&#x70B9;&#x51FB;&#x6001;</td>
<td><a href="../framework/compatibility.html" title="&#x57FA;&#x7840;&#x5E93; 1.5.0 &#x5F00;&#x59CB;&#x652F;&#x6301;&#xFF0C;&#x4F4E;&#x7248;&#x672C;&#x9700;&#x505A;&#x517C;&#x5BB9;&#x5904;&#x7406;&#x3002;">1.5.0</a></td>
</tr>
<tr>
<td id="&#x89C6;&#x56FE;&#x5BB9;&#x5668;-hover-start-time">hover-start-time</td>
<td>Number</td>
<td>50</td>
<td>&#x6309;&#x4F4F;&#x540E;&#x591A;&#x4E45;&#x51FA;&#x73B0;&#x70B9;&#x51FB;&#x6001;&#xFF0C;&#x5355;&#x4F4D;&#x6BEB;&#x79D2;</td>
<td></td>
</tr>
<tr>
<td id="&#x89C6;&#x56FE;&#x5BB9;&#x5668;-hover-stay-time">hover-stay-time</td>
<td>Number</td>
<td>400</td>
<td>&#x624B;&#x6307;&#x677E;&#x5F00;&#x540E;&#x70B9;&#x51FB;&#x6001;&#x4FDD;&#x7559;&#x65F6;&#x95F4;&#xFF0C;&#x5355;&#x4F4D;&#x6BEB;&#x79D2;</td>
<td></td>
</tr>
</tbody>
</table>
<p><strong>&#x793A;&#x4F8B;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/eJwL4bmd6mY3" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>flex-direction: row<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-wrp&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;flex-direction:row;&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-item bc_green&quot;</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-item bc_red&quot;</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-item bc_blue&quot;</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;section__title&quot;</span>&gt;</span>flex-direction: column<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-wrp&quot;</span> <span class="hljs-attr">style</span>=<span class="hljs-string">&quot;height: 300px;flex-direction:column;&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-item bc_green&quot;</span>&gt;</span>1<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-item bc_red&quot;</span>&gt;</span>2<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;flex-item bc_blue&quot;</span>&gt;</span>3<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<p><img src="https://developers.weixin.qq.com/miniprogram/dev/image/pic/view.png?t=18073118" alt="view"></p>
<h5 id="bug--tip">Bug &amp; Tip</h5>
<ol>
<li><code>tip</code>: &#x5982;&#x679C;&#x9700;&#x8981;&#x4F7F;&#x7528;&#x6EDA;&#x52A8;&#x89C6;&#x56FE;&#xFF0C;&#x8BF7;&#x4F7F;&#x7528; <a href="scroll-view.html">scroll-view</a></li>
</ol>

                            </section>      
                        </div>
                        
                    </div>
                


</body></html>