<!DOCTYPE html><html lang="zh-CN"><head>
  <meta charset="UTF-8">
  <title>web-view</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="stylesheet" href="../website.css">
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h4 id="web-view">web-view</h4>
<blockquote>
<p>基础库 1.6.4 开始支持，低版本需做<a href="../framework/compatibility.html">兼容处理</a></p>
</blockquote>
<p>web-view 组件是一个可以用来承载网页的容器，会自动铺满整个小程序页面。<strong>个人类型与海外类型的小程序暂不支持使用。</strong></p>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td id="web-view-src">src</td>
<td>String</td>
<td></td>
<td>webview 指向网页的链接。需登录<a href="https://mp.weixin.qq.com/" target="_blank">小程序管理后台</a>配置域名白名单。</td>
</tr>
<tr>
<td id="web-view-bindmessage">bindmessage</td>
<td>EventHandler</td>
<td></td>
<td>网页向小程序 postMessage 时，会在特定时机（小程序后退、组件销毁、分享）触发并收到消息。e.detail = { data }</td>
</tr>
</tbody>
</table>
<p>示例代码：</p>
<pre><code><!-- wxml -->
<!-- 指向微信公众平台首页的web-view -->
<web-view src="https://mp.weixin.qq.com/"></web-view>
</code></pre><h5 id="相关接口-1">相关接口 1</h5>
<p><code><web-view></web-view></code>网页中可使用<a href="https://res.wx.qq.com/open/js/jweixin-1.3.2.js" target="_blank">JSSDK 1.3.2</a>提供的接口返回小程序页面。
支持的接口有：</p>
<table>
<thead>
<tr>
<th>接口名</th>
<th>说明</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td>wx.miniProgram.navigateTo</td>
<td>参数与小程序接口一致</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.4 开始支持，低版本需做兼容处理。">1.6.4</a></td>
</tr>
<tr>
<td>wx.miniProgram.navigateBack</td>
<td>参数与小程序接口一致</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.4 开始支持，低版本需做兼容处理。">1.6.4</a></td>
</tr>
<tr>
<td>wx.miniProgram.switchTab</td>
<td>参数与小程序接口一致</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.5 开始支持，低版本需做兼容处理。">1.6.5</a></td>
</tr>
<tr>
<td>wx.miniProgram.reLaunch</td>
<td>参数与小程序接口一致</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.5 开始支持，低版本需做兼容处理。">1.6.5</a></td>
</tr>
<tr>
<td>wx.miniProgram.redirectTo</td>
<td>参数与小程序接口一致</td>
<td><a href="../framework/compatibility.html" title="基础库 1.6.5 开始支持，低版本需做兼容处理。">1.6.5</a></td>
</tr>
<tr>
<td>wx.miniProgram.postMessage</td>
<td>向小程序发送消息</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.1 开始支持，低版本需做兼容处理。">1.7.1</a></td>
</tr>
<tr>
<td>wx.miniProgram.getEnv</td>
<td>获取当前环境</td>
<td><a href="../framework/compatibility.html" title="基础库 1.7.1 开始支持，低版本需做兼容处理。">1.7.1</a></td>
</tr>
</tbody>
</table>
<p>示例代码：</p>
<p><a href="wechatide://minicode/aRVmcimz66Yb" target="_blank">在开发者工具中预览效果</a></p>
<pre><code><!-- html -->
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>

// javascript
wx.miniProgram.navigateTo({url: '/path/to/page'})
wx.miniProgram.postMessage({ data: 'foo' })
wx.miniProgram.postMessage({ data: {foo: 'bar'} })
wx.miniProgram.getEnv(function(res) { console.log(res.miniprogram) // true })
</code></pre><h5 id="相关接口-2">相关接口 2</h5>
<p><code><web-view></web-view></code>网页中<strong>仅支持以下JSSDK接口</strong>：</p>
<table>
<thead>
<tr>
<th>接口模块</th>
<th>接口说明</th>
<th>具体接口</th>
</tr>
</thead>
<tbody>
<tr>
<td>判断客户端是否支持js</td>
<td></td>
<td>checkJSApi</td>
</tr>
<tr>
<td>图像接口</td>
<td>拍照或上传</td>
<td>chooseImage</td>
</tr>
<tr>
<td></td>
<td>预览图片</td>
<td>previewImage</td>
</tr>
<tr>
<td></td>
<td>上传图片</td>
<td>uploadImage</td>
</tr>
<tr>
<td></td>
<td>下载图片</td>
<td>downloadImage</td>
</tr>
<tr>
<td></td>
<td>获取本地图片</td>
<td>getLocalImgData</td>
</tr>
<tr>
<td>音频接口</td>
<td>开始录音</td>
<td>startRecord</td>
</tr>
<tr>
<td></td>
<td>停止录音</td>
<td>stopRecord</td>
</tr>
<tr>
<td></td>
<td>监听录音自动停止</td>
<td>onVoiceRecordEnd</td>
</tr>
<tr>
<td></td>
<td>播放语音</td>
<td>playVoice</td>
</tr>
<tr>
<td></td>
<td>暂停播放</td>
<td>pauseVoice</td>
</tr>
<tr>
<td></td>
<td>停止播放</td>
<td>stopVoice</td>
</tr>
<tr>
<td></td>
<td>监听语音播放完毕</td>
<td>onVoicePlayEnd</td>
</tr>
<tr>
<td></td>
<td>上传接口</td>
<td>uploadVoice</td>
</tr>
<tr>
<td></td>
<td>下载接口</td>
<td>downloadVoice</td>
</tr>
<tr>
<td>智能接口</td>
<td>识别音频</td>
<td>translateVoice</td>
</tr>
<tr>
<td>设备信息</td>
<td>获取网络状态</td>
<td>getNetworkType</td>
</tr>
<tr>
<td>地理位置</td>
<td>使用内置地图</td>
<td>getLocation</td>
</tr>
<tr>
<td></td>
<td>获取地理位置</td>
<td>openLocation</td>
</tr>
<tr>
<td>摇一摇周边</td>
<td>开启ibeacon</td>
<td>startSearchBeacons</td>
</tr>
<tr>
<td></td>
<td>关闭ibeacon</td>
<td>stopSearchBeacons</td>
</tr>
<tr>
<td></td>
<td>监听ibeacon</td>
<td>onSearchBeacons</td>
</tr>
<tr>
<td>微信扫一扫</td>
<td>调起微信扫一扫</td>
<td>scanQRCode</td>
</tr>
<tr>
<td>微信卡券</td>
<td>拉取使用卡券列表</td>
<td>chooseCard</td>
</tr>
<tr>
<td></td>
<td>批量添加卡券接口</td>
<td>addCard</td>
</tr>
<tr>
<td></td>
<td>查看微信卡包的卡券</td>
<td>openCard</td>
</tr>
<tr>
<td>长按识别</td>
<td>小程序圆形码</td>
<td>无</td>
</tr>
</tbody>
</table>
<h5 id="相关接口-3">相关接口 3</h5>
<p>用户分享时可获取当前<code><web-view></web-view></code>的URL，即在<code>onShareAppMessage</code>回调中返回<code>webViewUrl</code>参数。</p>
<p>示例代码：</p>
<pre><code class="lang-javascript">Page({
  onShareAppMessage(options) {
    <span class="hljs-built_in">console</span>.log(options.webViewUrl)
  }
})
</code></pre>
<h5 id="相关接口-4">相关接口 4</h5>
<p>在网页内可通过<code>window.__wxjs_environment</code>变量判断是否在小程序环境，建议在<code>WeixinJSBridgeReady</code>回调中使用，也可以使用<a href="https://res.wx.qq.com/open/js/jweixin-1.3.2.js" target="_blank">JSSDK 1.3.2</a>提供的<code>getEnv</code>接口。</p>
<p>示例代码：</p>
<pre><code class="lang-javascript"><span class="hljs-comment">// web-view下的页面内</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">ready</span>(<span class="hljs-params"></span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-built_in">window</span>.__wxjs_environment === <span class="hljs-string">'miniprogram'</span>) <span class="hljs-comment">// true</span>
}
<span class="hljs-keyword">if</span> (!<span class="hljs-built_in">window</span>.WeixinJSBridge || !WeixinJSBridge.invoke) {
  <span class="hljs-built_in">document</span>.addEventListener(<span class="hljs-string">'WeixinJSBridgeReady'</span>, ready, <span class="hljs-literal">false</span>)
} <span class="hljs-keyword">else</span> {
  ready()
}

<span class="hljs-comment">// 或者</span>
wx.miniProgram.getEnv(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">res</span>) </span>{
  <span class="hljs-built_in">console</span>.log(res.miniprogram) <span class="hljs-comment">// true</span>
})
</code></pre>
<h5 id="bug--tip">Bug & Tip</h5>
<ol>
<li><strong>网页内iframe的域名也需要配置到域名白名单。</strong></li>
<li>开发者工具上，可以在 <code><web-view></web-view></code> 组件上通过右键 - 调试，打开 <code><web-view></web-view></code> 组件的调试。</li>
<li>每个页面只能有一个<code><web-view></web-view></code>，<code><web-view></web-view></code>会自动铺满整个页面，并覆盖其他组件。</li>
<li><code><web-view></web-view></code>网页与小程序之间不支持除JSSDK提供的接口之外的通信。</li>
<li>在iOS中，若存在JSSDK接口调用无响应的情况，可在<code><web-view></web-view></code>的src后面加个#wechat_redirect解决。</li>
</ol>

                                
                                </section>
                            
    </div>
    
</div>

                        


</body></html>