<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>模块</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="wxs-模块">WXS 模块</h1>
<p>WXS 代码可以编写在 wxml 文件中的 <code><wxs></code> 标签内，或以 <code>.wxs</code> 为后缀名的文件内。</p>
<h2 id="模块">模块</h2>
<p>每一个 <code>.wxs</code> 文件和 <code><wxs></code> 标签都是一个单独的模块。</p>
<p>每个模块都有自己独立的作用域。即在一个模块里面定义的变量与函数，默认为私有的，对其他模块不可见。</p>
<p>一个模块要想对外暴露其内部的私有变量与函数，只能通过 <code>module.exports</code> 实现。</p>
<h2 id="wxs-文件">.wxs 文件</h2>
<p>在<strong>微信开发者工具</strong>里面，右键可以直接创建 <code>.wxs</code> 文件，在其中直接编写 WXS 脚本。</p>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/comm.wxs</span>

<span class="hljs-keyword">var</span> foo = <span class="hljs-string">"'hello world' from comm.wxs"</span>;
<span class="hljs-keyword">var</span> bar = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">d</span>) </span>{
  <span class="hljs-keyword">return</span> d;
}
<span class="hljs-built_in">module</span>.exports = {
  foo: foo,
  bar: bar
};
</code></pre>
<p>上述例子在 <code>/pages/comm.wxs</code> 的文件里面编写了 WXS 代码。该 <code>.wxs</code> 文件可以被其他的 <code>.wxs</code> 文件 或 WXML 中的 <code><wxs></code> 标签引用。</p>
<h3 id="module-对象">module 对象</h3>
<p>每个 <code>wxs</code> 模块均有一个内置的 <code>module</code> 对象。</p>
<h4 id="属性">属性</h4>
<ul>
<li><code>exports</code>:  通过该属性，可以对外共享本模块的私有变量与函数。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/tools.wxs</span>

<span class="hljs-keyword">var</span> foo = <span class="hljs-string">"'hello world' from tools.wxs"</span>;
<span class="hljs-keyword">var</span> bar = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">d</span>) </span>{
  <span class="hljs-keyword">return</span> d;
}
<span class="hljs-built_in">module</span>.exports = {
  FOO: foo,
  bar: bar,
};
<span class="hljs-built_in">module</span>.exports.msg = <span class="hljs-string">"some msg"</span>;
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- page/index/index.wxml --></span>

<span class="hljs-tag"><<span class="hljs-name">wxs</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"./../tools.wxs"</span> <span class="hljs-attr">module</span>=<span class="hljs-string">"tools"</span> /></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{tools.msg}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{tools.bar(tools.FOO)}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>页面输出：</p>
<pre><code>some msg
'hello world' from tools.wxs
</code></pre><h3 id="require函数">require函数</h3>
<p>在<code>.wxs</code>模块中引用其他 <code>wxs</code> 文件模块，可以使用 <code>require</code> 函数。</p>
<p>引用的时候，要注意如下几点：</p>
<ul>
<li>只能引用 <code>.wxs</code> 文件模块，且必须使用相对路径。</li>
<li><code>wxs</code> 模块均为单例，<code>wxs</code> 模块在第一次被引用时，会自动初始化为单例对象。多个页面，多个地方，多次引用，使用的都是同一个 <code>wxs</code> 模块对象。</li>
<li>如果一个 <code>wxs</code> 模块在定义之后，一直没有被引用，则该模块不会被解析与运行。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/tools.wxs</span>

<span class="hljs-keyword">var</span> foo = <span class="hljs-string">"'hello world' from tools.wxs"</span>;
<span class="hljs-keyword">var</span> bar = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">d</span>) </span>{
  <span class="hljs-keyword">return</span> d;
}
<span class="hljs-built_in">module</span>.exports = {
  FOO: foo,
  bar: bar,
};
<span class="hljs-built_in">module</span>.exports.msg = <span class="hljs-string">"some msg"</span>;
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/logic.wxs</span>

<span class="hljs-keyword">var</span> tools = <span class="hljs-built_in">require</span>(<span class="hljs-string">"./tools.wxs"</span>);

<span class="hljs-built_in">console</span>.log(tools.FOO);
<span class="hljs-built_in">console</span>.log(tools.bar(<span class="hljs-string">"logic.wxs"</span>));
<span class="hljs-built_in">console</span>.log(tools.msg);
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- /page/index/index.wxml --></span>

<span class="hljs-tag"><<span class="hljs-name">wxs</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"./../logic.wxs"</span> <span class="hljs-attr">module</span>=<span class="hljs-string">"logic"</span> /></span>
</code></pre>
<p>控制台输出：</p>
<pre><code>'hello world' from tools.wxs
logic.wxs
some msg
</code></pre><h2 id="wxs-标签"><code><wxs></code> 标签</h2>
<table>
<thead>
<tr>
<th>属性名</th>
<th>类型</th>
<th>默认值</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>module</td>
<td>String</td>
<td></td>
<td>当前 <code><wxs></code> 标签的模块名。必填字段。</td>
</tr>
<tr>
<td>src</td>
<td>String</td>
<td></td>
<td>引用 .wxs 文件的相对路径。仅当本标签为<strong>单闭合标签</strong>或<strong>标签的内容为空</strong>时有效。</td>
</tr>
</tbody>
</table>
<h3 id="module-属性">module 属性</h3>
<p>module 属性是当前 <code><wxs></code> 标签的模块名。在单个 wxml 文件内，建议其值唯一。有重复模块名则按照先后顺序覆盖（后者覆盖前者）。不同文件之间的 wxs 模块名不会相互覆盖。</p>
<p>module 属性值的命名必须符合下面两个规则：</p>
<ul>
<li>首字符必须是：字母（a-zA-Z），下划线（_）</li>
<li>剩余字符可以是：字母（a-zA-Z），下划线（_）， 数字（0-9）</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-html"><span class="hljs-comment"><!--wxml--></span>

<span class="hljs-tag"><<span class="hljs-name">wxs</span> <span class="hljs-attr">module</span>=<span class="hljs-string">"foo"</span>></span>
var some_msg = "hello world";
module.exports = {
    msg : some_msg,
}
<span class="hljs-tag"></<span class="hljs-name">wxs</span>></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{foo.msg}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>页面输出：</p>
<pre><code>hello world
</code></pre><p>上面例子声明了一个名字为 <code>foo</code> 的模块，将 <code>some_msg</code> 变量暴露出来，供当前页面使用。</p>
<h3 id="src-属性">src 属性</h3>
<p>src 属性可以用来引用其他的 <code>wxs</code> 文件模块。</p>
<p>引用的时候，要注意如下几点：</p>
<ul>
<li>只能引用 <code>.wxs</code> 文件模块，且必须使用相对路径。</li>
<li><code>wxs</code> 模块均为单例，<code>wxs</code> 模块在第一次被引用时，会自动初始化为单例对象。多个页面，多个地方，多次引用，使用的都是同一个 <code>wxs</code> 模块对象。</li>
<li>如果一个 <code>wxs</code> 模块在定义之后，一直没有被引用，则该模块不会被解析与运行。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-js"><span class="hljs-comment">// /pages/index/index.js</span>

Page({
  data: {
    msg: <span class="hljs-string">"'hello wrold' from js"</span>,
  }
})
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- /pages/index/index.wxml --></span>

<span class="hljs-tag"><<span class="hljs-name">wxs</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"./../comm.wxs"</span> <span class="hljs-attr">module</span>=<span class="hljs-string">"some_comms"</span>></span><span class="hljs-tag"></<span class="hljs-name">wxs</span>></span>
<span class="hljs-comment"><!-- 也可以直接使用单标签闭合的写法
<wxs src="./../comm.wxs" module="some_comms" />
--></span>

<span class="hljs-comment"><!-- 调用 some_comms 模块里面的 bar 函数，且参数为 some_comms 模块里面的 foo --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{some_comms.bar(some_comms.foo)}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-comment"><!-- 调用 some_comms 模块里面的 bar 函数，且参数为 page/index/index.js 里面的 msg --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{some_comms.bar(msg)}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>页面输出：</p>
<pre><code>'hello world' from comm.wxs
'hello wrold' from js
</code></pre><p>上述例子在文件 <code>/page/index/index.wxml</code> 中通过 <code><wxs></code> 标签引用了  <code>/page/comm.wxs</code> 模块。</p>
<h3 id="注意">注意</h3>
<ul>
<li><code><wxs></code> 模块只能在定义模块的 WXML 文件中被访问到。使用 <code><include></code> 或 <code><import></code> 时，<code><wxs></code> 模块不会被引入到对应的 WXML 文件中。</li>
<li><code><template></code> 标签中，只能使用定义该 <code><template></code> 的 WXML 文件中定义的 <code><wxs></code> 模块。</li>
</ul>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
