<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>模块</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="wxs-&#x6A21;&#x5757;">WXS &#x6A21;&#x5757;</h1>
<p>WXS &#x4EE3;&#x7801;&#x53EF;&#x4EE5;&#x7F16;&#x5199;&#x5728; wxml &#x6587;&#x4EF6;&#x4E2D;&#x7684; <code>&lt;wxs&gt;</code> &#x6807;&#x7B7E;&#x5185;&#xFF0C;&#x6216;&#x4EE5; <code>.wxs</code> &#x4E3A;&#x540E;&#x7F00;&#x540D;&#x7684;&#x6587;&#x4EF6;&#x5185;&#x3002;</p>
<h2 id="&#x6A21;&#x5757;">&#x6A21;&#x5757;</h2>
<p>&#x6BCF;&#x4E00;&#x4E2A; <code>.wxs</code> &#x6587;&#x4EF6;&#x548C; <code>&lt;wxs&gt;</code> &#x6807;&#x7B7E;&#x90FD;&#x662F;&#x4E00;&#x4E2A;&#x5355;&#x72EC;&#x7684;&#x6A21;&#x5757;&#x3002;</p>
<p>&#x6BCF;&#x4E2A;&#x6A21;&#x5757;&#x90FD;&#x6709;&#x81EA;&#x5DF1;&#x72EC;&#x7ACB;&#x7684;&#x4F5C;&#x7528;&#x57DF;&#x3002;&#x5373;&#x5728;&#x4E00;&#x4E2A;&#x6A21;&#x5757;&#x91CC;&#x9762;&#x5B9A;&#x4E49;&#x7684;&#x53D8;&#x91CF;&#x4E0E;&#x51FD;&#x6570;&#xFF0C;&#x9ED8;&#x8BA4;&#x4E3A;&#x79C1;&#x6709;&#x7684;&#xFF0C;&#x5BF9;&#x5176;&#x4ED6;&#x6A21;&#x5757;&#x4E0D;&#x53EF;&#x89C1;&#x3002;</p>
<p>&#x4E00;&#x4E2A;&#x6A21;&#x5757;&#x8981;&#x60F3;&#x5BF9;&#x5916;&#x66B4;&#x9732;&#x5176;&#x5185;&#x90E8;&#x7684;&#x79C1;&#x6709;&#x53D8;&#x91CF;&#x4E0E;&#x51FD;&#x6570;&#xFF0C;&#x53EA;&#x80FD;&#x901A;&#x8FC7; <code>module.exports</code> &#x5B9E;&#x73B0;&#x3002;</p>
<h2 id="wxs-&#x6587;&#x4EF6;">.wxs &#x6587;&#x4EF6;</h2>
<p>&#x5728;<strong>&#x5FAE;&#x4FE1;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;</strong>&#x91CC;&#x9762;&#xFF0C;&#x53F3;&#x952E;&#x53EF;&#x4EE5;&#x76F4;&#x63A5;&#x521B;&#x5EFA; <code>.wxs</code> &#x6587;&#x4EF6;&#xFF0C;&#x5728;&#x5176;&#x4E2D;&#x76F4;&#x63A5;&#x7F16;&#x5199; WXS &#x811A;&#x672C;&#x3002;</p>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/comm.wxs</span>

<span class="hljs-keyword">var</span> foo = <span class="hljs-string">&quot;&apos;hello world&apos; from comm.wxs&quot;</span>;
<span class="hljs-keyword">var</span> bar = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">d</span>) </span>{
  <span class="hljs-keyword">return</span> d;
}
<span class="hljs-built_in">module</span>.exports = {
  foo: foo,
  bar: bar
};
</code></pre>
<p>&#x4E0A;&#x8FF0;&#x4F8B;&#x5B50;&#x5728; <code>/pages/comm.wxs</code> &#x7684;&#x6587;&#x4EF6;&#x91CC;&#x9762;&#x7F16;&#x5199;&#x4E86; WXS &#x4EE3;&#x7801;&#x3002;&#x8BE5; <code>.wxs</code> &#x6587;&#x4EF6;&#x53EF;&#x4EE5;&#x88AB;&#x5176;&#x4ED6;&#x7684; <code>.wxs</code> &#x6587;&#x4EF6; &#x6216; WXML &#x4E2D;&#x7684; <code>&lt;wxs&gt;</code> &#x6807;&#x7B7E;&#x5F15;&#x7528;&#x3002;</p>
<h3 id="module-&#x5BF9;&#x8C61;">module &#x5BF9;&#x8C61;</h3>
<p>&#x6BCF;&#x4E2A; <code>wxs</code> &#x6A21;&#x5757;&#x5747;&#x6709;&#x4E00;&#x4E2A;&#x5185;&#x7F6E;&#x7684; <code>module</code> &#x5BF9;&#x8C61;&#x3002;</p>
<h4 id="&#x5C5E;&#x6027;">&#x5C5E;&#x6027;</h4>
<ul>
<li><code>exports</code>:  &#x901A;&#x8FC7;&#x8BE5;&#x5C5E;&#x6027;&#xFF0C;&#x53EF;&#x4EE5;&#x5BF9;&#x5916;&#x5171;&#x4EAB;&#x672C;&#x6A21;&#x5757;&#x7684;&#x79C1;&#x6709;&#x53D8;&#x91CF;&#x4E0E;&#x51FD;&#x6570;&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/KYgu1Km36pZP" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/tools.wxs</span>

<span class="hljs-keyword">var</span> foo = <span class="hljs-string">&quot;&apos;hello world&apos; from tools.wxs&quot;</span>;
<span class="hljs-keyword">var</span> bar = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">d</span>) </span>{
  <span class="hljs-keyword">return</span> d;
}
<span class="hljs-built_in">module</span>.exports = {
  FOO: foo,
  bar: bar,
};
<span class="hljs-built_in">module</span>.exports.msg = <span class="hljs-string">&quot;some msg&quot;</span>;
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment">&lt;!-- page/index/index.wxml --&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">wxs</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;./../tools.wxs&quot;</span> <span class="hljs-attr">module</span>=<span class="hljs-string">&quot;tools&quot;</span> /&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span> {{tools.msg}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span> {{tools.bar(tools.FOO)}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<p>&#x9875;&#x9762;&#x8F93;&#x51FA;&#xFF1A;</p>
<pre><code>some msg
&apos;hello world&apos; from tools.wxs
</code></pre><h3 id="require&#x51FD;&#x6570;">require&#x51FD;&#x6570;</h3>
<p>&#x5728;<code>.wxs</code>&#x6A21;&#x5757;&#x4E2D;&#x5F15;&#x7528;&#x5176;&#x4ED6; <code>wxs</code> &#x6587;&#x4EF6;&#x6A21;&#x5757;&#xFF0C;&#x53EF;&#x4EE5;&#x4F7F;&#x7528; <code>require</code> &#x51FD;&#x6570;&#x3002;</p>
<p>&#x5F15;&#x7528;&#x7684;&#x65F6;&#x5019;&#xFF0C;&#x8981;&#x6CE8;&#x610F;&#x5982;&#x4E0B;&#x51E0;&#x70B9;&#xFF1A;</p>
<ul>
<li>&#x53EA;&#x80FD;&#x5F15;&#x7528; <code>.wxs</code> &#x6587;&#x4EF6;&#x6A21;&#x5757;&#xFF0C;&#x4E14;&#x5FC5;&#x987B;&#x4F7F;&#x7528;&#x76F8;&#x5BF9;&#x8DEF;&#x5F84;&#x3002;</li>
<li><code>wxs</code> &#x6A21;&#x5757;&#x5747;&#x4E3A;&#x5355;&#x4F8B;&#xFF0C;<code>wxs</code> &#x6A21;&#x5757;&#x5728;&#x7B2C;&#x4E00;&#x6B21;&#x88AB;&#x5F15;&#x7528;&#x65F6;&#xFF0C;&#x4F1A;&#x81EA;&#x52A8;&#x521D;&#x59CB;&#x5316;&#x4E3A;&#x5355;&#x4F8B;&#x5BF9;&#x8C61;&#x3002;&#x591A;&#x4E2A;&#x9875;&#x9762;&#xFF0C;&#x591A;&#x4E2A;&#x5730;&#x65B9;&#xFF0C;&#x591A;&#x6B21;&#x5F15;&#x7528;&#xFF0C;&#x4F7F;&#x7528;&#x7684;&#x90FD;&#x662F;&#x540C;&#x4E00;&#x4E2A; <code>wxs</code> &#x6A21;&#x5757;&#x5BF9;&#x8C61;&#x3002;</li>
<li>&#x5982;&#x679C;&#x4E00;&#x4E2A; <code>wxs</code> &#x6A21;&#x5757;&#x5728;&#x5B9A;&#x4E49;&#x4E4B;&#x540E;&#xFF0C;&#x4E00;&#x76F4;&#x6CA1;&#x6709;&#x88AB;&#x5F15;&#x7528;&#xFF0C;&#x5219;&#x8BE5;&#x6A21;&#x5757;&#x4E0D;&#x4F1A;&#x88AB;&#x89E3;&#x6790;&#x4E0E;&#x8FD0;&#x884C;&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/E4g94Kme6rZ6" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/tools.wxs</span>

<span class="hljs-keyword">var</span> foo = <span class="hljs-string">&quot;&apos;hello world&apos; from tools.wxs&quot;</span>;
<span class="hljs-keyword">var</span> bar = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">d</span>) </span>{
  <span class="hljs-keyword">return</span> d;
}
<span class="hljs-built_in">module</span>.exports = {
  FOO: foo,
  bar: bar,
};
<span class="hljs-built_in">module</span>.exports.msg = <span class="hljs-string">&quot;some msg&quot;</span>;
</code></pre>
<pre><code class="lang-javascript"><span class="hljs-comment">// /pages/logic.wxs</span>

<span class="hljs-keyword">var</span> tools = <span class="hljs-built_in">require</span>(<span class="hljs-string">&quot;./tools.wxs&quot;</span>);

<span class="hljs-built_in">console</span>.log(tools.FOO);
<span class="hljs-built_in">console</span>.log(tools.bar(<span class="hljs-string">&quot;logic.wxs&quot;</span>));
<span class="hljs-built_in">console</span>.log(tools.msg);
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment">&lt;!-- /page/index/index.wxml --&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">wxs</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;./../logic.wxs&quot;</span> <span class="hljs-attr">module</span>=<span class="hljs-string">&quot;logic&quot;</span> /&gt;</span>
</code></pre>
<p>&#x63A7;&#x5236;&#x53F0;&#x8F93;&#x51FA;&#xFF1A;</p>
<pre><code>&apos;hello world&apos; from tools.wxs
logic.wxs
some msg
</code></pre><h2 id="wxs-&#x6807;&#x7B7E;"><code>&lt;wxs&gt;</code> &#x6807;&#x7B7E;</h2>
<table>
<thead>
<tr>
<th>&#x5C5E;&#x6027;&#x540D;</th>
<th>&#x7C7B;&#x578B;</th>
<th>&#x9ED8;&#x8BA4;&#x503C;</th>
<th>&#x8BF4;&#x660E;</th>
</tr>
</thead>
<tbody>
<tr>
<td>module</td>
<td>String</td>
<td></td>
<td>&#x5F53;&#x524D; <code>&lt;wxs&gt;</code> &#x6807;&#x7B7E;&#x7684;&#x6A21;&#x5757;&#x540D;&#x3002;&#x5FC5;&#x586B;&#x5B57;&#x6BB5;&#x3002;</td>
</tr>
<tr>
<td>src</td>
<td>String</td>
<td></td>
<td>&#x5F15;&#x7528; .wxs &#x6587;&#x4EF6;&#x7684;&#x76F8;&#x5BF9;&#x8DEF;&#x5F84;&#x3002;&#x4EC5;&#x5F53;&#x672C;&#x6807;&#x7B7E;&#x4E3A;<strong>&#x5355;&#x95ED;&#x5408;&#x6807;&#x7B7E;</strong>&#x6216;<strong>&#x6807;&#x7B7E;&#x7684;&#x5185;&#x5BB9;&#x4E3A;&#x7A7A;</strong>&#x65F6;&#x6709;&#x6548;&#x3002;</td>
</tr>
</tbody>
</table>
<h3 id="module-&#x5C5E;&#x6027;">module &#x5C5E;&#x6027;</h3>
<p>module &#x5C5E;&#x6027;&#x662F;&#x5F53;&#x524D; <code>&lt;wxs&gt;</code> &#x6807;&#x7B7E;&#x7684;&#x6A21;&#x5757;&#x540D;&#x3002;&#x5728;&#x5355;&#x4E2A; wxml &#x6587;&#x4EF6;&#x5185;&#xFF0C;&#x5EFA;&#x8BAE;&#x5176;&#x503C;&#x552F;&#x4E00;&#x3002;&#x6709;&#x91CD;&#x590D;&#x6A21;&#x5757;&#x540D;&#x5219;&#x6309;&#x7167;&#x5148;&#x540E;&#x987A;&#x5E8F;&#x8986;&#x76D6;&#xFF08;&#x540E;&#x8005;&#x8986;&#x76D6;&#x524D;&#x8005;&#xFF09;&#x3002;&#x4E0D;&#x540C;&#x6587;&#x4EF6;&#x4E4B;&#x95F4;&#x7684; wxs &#x6A21;&#x5757;&#x540D;&#x4E0D;&#x4F1A;&#x76F8;&#x4E92;&#x8986;&#x76D6;&#x3002;</p>
<p>module &#x5C5E;&#x6027;&#x503C;&#x7684;&#x547D;&#x540D;&#x5FC5;&#x987B;&#x7B26;&#x5408;&#x4E0B;&#x9762;&#x4E24;&#x4E2A;&#x89C4;&#x5219;&#xFF1A;</p>
<ul>
<li>&#x9996;&#x5B57;&#x7B26;&#x5FC5;&#x987B;&#x662F;&#xFF1A;&#x5B57;&#x6BCD;&#xFF08;a-zA-Z&#xFF09;&#xFF0C;&#x4E0B;&#x5212;&#x7EBF;&#xFF08;_&#xFF09;</li>
<li>&#x5269;&#x4F59;&#x5B57;&#x7B26;&#x53EF;&#x4EE5;&#x662F;&#xFF1A;&#x5B57;&#x6BCD;&#xFF08;a-zA-Z&#xFF09;&#xFF0C;&#x4E0B;&#x5212;&#x7EBF;&#xFF08;_&#xFF09;&#xFF0C; &#x6570;&#x5B57;&#xFF08;0-9&#xFF09;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/IzgmKKmn6tZ6" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="lang-html"><span class="hljs-comment">&lt;!--wxml--&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">wxs</span> <span class="hljs-attr">module</span>=<span class="hljs-string">&quot;foo&quot;</span>&gt;</span>
var some_msg = &quot;hello world&quot;;
module.exports = {
    msg : some_msg,
}
<span class="hljs-tag">&lt;/<span class="hljs-name">wxs</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span> {{foo.msg}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<p>&#x9875;&#x9762;&#x8F93;&#x51FA;&#xFF1A;</p>
<pre><code>hello world
</code></pre><p>&#x4E0A;&#x9762;&#x4F8B;&#x5B50;&#x58F0;&#x660E;&#x4E86;&#x4E00;&#x4E2A;&#x540D;&#x5B57;&#x4E3A; <code>foo</code> &#x7684;&#x6A21;&#x5757;&#xFF0C;&#x5C06; <code>some_msg</code> &#x53D8;&#x91CF;&#x66B4;&#x9732;&#x51FA;&#x6765;&#xFF0C;&#x4F9B;&#x5F53;&#x524D;&#x9875;&#x9762;&#x4F7F;&#x7528;&#x3002;</p>
<h3 id="src-&#x5C5E;&#x6027;">src &#x5C5E;&#x6027;</h3>
<p>src &#x5C5E;&#x6027;&#x53EF;&#x4EE5;&#x7528;&#x6765;&#x5F15;&#x7528;&#x5176;&#x4ED6;&#x7684; <code>wxs</code> &#x6587;&#x4EF6;&#x6A21;&#x5757;&#x3002;</p>
<p>&#x5F15;&#x7528;&#x7684;&#x65F6;&#x5019;&#xFF0C;&#x8981;&#x6CE8;&#x610F;&#x5982;&#x4E0B;&#x51E0;&#x70B9;&#xFF1A;</p>
<ul>
<li>&#x53EA;&#x80FD;&#x5F15;&#x7528; <code>.wxs</code> &#x6587;&#x4EF6;&#x6A21;&#x5757;&#xFF0C;&#x4E14;&#x5FC5;&#x987B;&#x4F7F;&#x7528;&#x76F8;&#x5BF9;&#x8DEF;&#x5F84;&#x3002;</li>
<li><code>wxs</code> &#x6A21;&#x5757;&#x5747;&#x4E3A;&#x5355;&#x4F8B;&#xFF0C;<code>wxs</code> &#x6A21;&#x5757;&#x5728;&#x7B2C;&#x4E00;&#x6B21;&#x88AB;&#x5F15;&#x7528;&#x65F6;&#xFF0C;&#x4F1A;&#x81EA;&#x52A8;&#x521D;&#x59CB;&#x5316;&#x4E3A;&#x5355;&#x4F8B;&#x5BF9;&#x8C61;&#x3002;&#x591A;&#x4E2A;&#x9875;&#x9762;&#xFF0C;&#x591A;&#x4E2A;&#x5730;&#x65B9;&#xFF0C;&#x591A;&#x6B21;&#x5F15;&#x7528;&#xFF0C;&#x4F7F;&#x7528;&#x7684;&#x90FD;&#x662F;&#x540C;&#x4E00;&#x4E2A; <code>wxs</code> &#x6A21;&#x5757;&#x5BF9;&#x8C61;&#x3002;</li>
<li>&#x5982;&#x679C;&#x4E00;&#x4E2A; <code>wxs</code> &#x6A21;&#x5757;&#x5728;&#x5B9A;&#x4E49;&#x4E4B;&#x540E;&#xFF0C;&#x4E00;&#x76F4;&#x6CA1;&#x6709;&#x88AB;&#x5F15;&#x7528;&#xFF0C;&#x5219;&#x8BE5;&#x6A21;&#x5757;&#x4E0D;&#x4F1A;&#x88AB;&#x89E3;&#x6790;&#x4E0E;&#x8FD0;&#x884C;&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<p><a href="wechatide://minicode/C7gYFKmh6vZI" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<pre><code class="lang-js"><span class="hljs-comment">// /pages/index/index.js</span>

Page({
  data: {
    msg: <span class="hljs-string">&quot;&apos;hello wrold&apos; from js&quot;</span>,
  }
})
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment">&lt;!-- /pages/index/index.wxml --&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">wxs</span> <span class="hljs-attr">src</span>=<span class="hljs-string">&quot;./../comm.wxs&quot;</span> <span class="hljs-attr">module</span>=<span class="hljs-string">&quot;some_comms&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">wxs</span>&gt;</span>
<span class="hljs-comment">&lt;!-- &#x4E5F;&#x53EF;&#x4EE5;&#x76F4;&#x63A5;&#x4F7F;&#x7528;&#x5355;&#x6807;&#x7B7E;&#x95ED;&#x5408;&#x7684;&#x5199;&#x6CD5;
&lt;wxs src=&quot;./../comm.wxs&quot; module=&quot;some_comms&quot; /&gt;
--&gt;</span>

<span class="hljs-comment">&lt;!-- &#x8C03;&#x7528; some_comms &#x6A21;&#x5757;&#x91CC;&#x9762;&#x7684; bar &#x51FD;&#x6570;&#xFF0C;&#x4E14;&#x53C2;&#x6570;&#x4E3A; some_comms &#x6A21;&#x5757;&#x91CC;&#x9762;&#x7684; foo --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span> {{some_comms.bar(some_comms.foo)}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-comment">&lt;!-- &#x8C03;&#x7528; some_comms &#x6A21;&#x5757;&#x91CC;&#x9762;&#x7684; bar &#x51FD;&#x6570;&#xFF0C;&#x4E14;&#x53C2;&#x6570;&#x4E3A; page/index/index.js &#x91CC;&#x9762;&#x7684; msg --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span> {{some_comms.bar(msg)}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<p>&#x9875;&#x9762;&#x8F93;&#x51FA;&#xFF1A;</p>
<pre><code>&apos;hello world&apos; from comm.wxs
&apos;hello wrold&apos; from js
</code></pre><p>&#x4E0A;&#x8FF0;&#x4F8B;&#x5B50;&#x5728;&#x6587;&#x4EF6; <code>/page/index/index.wxml</code> &#x4E2D;&#x901A;&#x8FC7; <code>&lt;wxs&gt;</code> &#x6807;&#x7B7E;&#x5F15;&#x7528;&#x4E86;  <code>/page/comm.wxs</code> &#x6A21;&#x5757;&#x3002;</p>
<h3 id="&#x6CE8;&#x610F;">&#x6CE8;&#x610F;</h3>
<ul>
<li><code>&lt;wxs&gt;</code> &#x6A21;&#x5757;&#x53EA;&#x80FD;&#x5728;&#x5B9A;&#x4E49;&#x6A21;&#x5757;&#x7684; WXML &#x6587;&#x4EF6;&#x4E2D;&#x88AB;&#x8BBF;&#x95EE;&#x5230;&#x3002;&#x4F7F;&#x7528; <code>&lt;include&gt;</code> &#x6216; <code>&lt;import&gt;</code> &#x65F6;&#xFF0C;<code>&lt;wxs&gt;</code> &#x6A21;&#x5757;&#x4E0D;&#x4F1A;&#x88AB;&#x5F15;&#x5165;&#x5230;&#x5BF9;&#x5E94;&#x7684; WXML &#x6587;&#x4EF6;&#x4E2D;&#x3002;</li>
<li><code>&lt;template&gt;</code> &#x6807;&#x7B7E;&#x4E2D;&#xFF0C;&#x53EA;&#x80FD;&#x4F7F;&#x7528;&#x5B9A;&#x4E49;&#x8BE5; <code>&lt;template&gt;</code> &#x7684; WXML &#x6587;&#x4EF6;&#x4E2D;&#x5B9A;&#x4E49;&#x7684; <code>&lt;wxs&gt;</code> &#x6A21;&#x5757;&#x3002;</li>
</ul>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
