<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>注释</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="注释">注释</h1>
<p>WXS 主要有 3 种注释的方法。</p>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-html"><span class="hljs-comment"><!-- wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">wxs</span> <span class="hljs-attr">module</span>=<span class="hljs-string">"sample"</span>></span>
// 方法一：单行注释

/*
方法二：多行注释
*/

/*
方法三：结尾注释。即从 /* 开始往后的所有 WXS 代码均被注释

var a = 1;
var b = 2;
var c = "fake";

<span class="hljs-tag"></<span class="hljs-name">wxs</span>></span>
</code></pre>
<p>上述例子中，所有 WXS 代码均被注释掉了。</p>
<blockquote>
<p>方法三 和 方法二 的唯一区别是，没有 <code>*/</code> 结束符。</p>
</blockquote>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
