<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>运算符</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="运算符">运算符</h1>
<h2 id="基本运算符">基本运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>, b = <span class="hljs-number">20</span>;

<span class="hljs-comment">// 加法运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">30</span> === a + b);
<span class="hljs-comment">// 减法运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">-10</span> === a - b);
<span class="hljs-comment">// 乘法运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">200</span> === a * b);
<span class="hljs-comment">// 除法运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">0.5</span> === a / b);
<span class="hljs-comment">// 取余运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">10</span> === a % b);
</code></pre>
<ul>
<li>加法运算（<code>+</code>）也可以用作字符串的拼接。</li>
</ul>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-string">'.w'</span> , b = <span class="hljs-string">'xs'</span>;

<span class="hljs-comment">// 字符串拼接</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">'.wxs'</span> === a + b);
</code></pre>
<h2 id="一元运算符">一元运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>, b = <span class="hljs-number">20</span>;

<span class="hljs-comment">// 自增运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">10</span> === a++);
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">12</span> === ++a);
<span class="hljs-comment">// 自减运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">12</span> === a--);
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">10</span> === --a);
<span class="hljs-comment">// 正值运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">10</span> === +a);
<span class="hljs-comment">// 负值运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">0</span><span class="hljs-number">-10</span> === -a);
<span class="hljs-comment">// 否运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">-11</span> === ~a);
<span class="hljs-comment">// 取反运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">false</span> === !a);
<span class="hljs-comment">// delete 运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === <span class="hljs-keyword">delete</span> a.fake);
<span class="hljs-comment">// void 运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">undefined</span> === <span class="hljs-keyword">void</span> a);
<span class="hljs-comment">// typeof 运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"number"</span> === <span class="hljs-keyword">typeof</span> a);
</code></pre>
<h2 id="位运算符">位运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>, b = <span class="hljs-number">20</span>;

<span class="hljs-comment">// 左移运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">80</span> === (a << <span class="hljs-number">3</span>));
<span class="hljs-comment">// 无符号右移运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === (a >> <span class="hljs-number">2</span>));
<span class="hljs-comment">// 带符号右移运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === (a >>> <span class="hljs-number">2</span>));
<span class="hljs-comment">// 与运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === (a & <span class="hljs-number">3</span>));
<span class="hljs-comment">// 异或运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">9</span> === (a ^ <span class="hljs-number">3</span>));
<span class="hljs-comment">// 或运算</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">11</span> === (a | <span class="hljs-number">3</span>));
</code></pre>
<h2 id="比较运算符">比较运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>, b = <span class="hljs-number">20</span>;

<span class="hljs-comment">// 小于</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === (a < b));
<span class="hljs-comment">// 大于</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">false</span> === (a > b));
<span class="hljs-comment">// 小于等于</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === (a <= b));
<span class="hljs-comment">// 大于等于</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">false</span> === (a >= b));
</code></pre>
<h2 id="等值运算符">等值运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>, b = <span class="hljs-number">20</span>;

<span class="hljs-comment">// 等号</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">false</span> === (a == b));
<span class="hljs-comment">// 非等号</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === (a != b));
<span class="hljs-comment">// 全等号</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">false</span> === (a === b));
<span class="hljs-comment">// 非全等号</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === (a !== b));
</code></pre>
<h2 id="赋值运算符">赋值运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>;

a = <span class="hljs-number">10</span>; a *= <span class="hljs-number">10</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">100</span> === a);
a = <span class="hljs-number">10</span>; a /= <span class="hljs-number">5</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === a);
a = <span class="hljs-number">10</span>; a %= <span class="hljs-number">7</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">3</span> === a);
a = <span class="hljs-number">10</span>; a += <span class="hljs-number">5</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">15</span> === a);
a = <span class="hljs-number">10</span>; a -= <span class="hljs-number">11</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">-1</span> === a);
a = <span class="hljs-number">10</span>; a <<= <span class="hljs-number">10</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">10240</span> === a);
a = <span class="hljs-number">10</span>; a >>= <span class="hljs-number">2</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === a);
a = <span class="hljs-number">10</span>; a >>>= <span class="hljs-number">2</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === a);
a = <span class="hljs-number">10</span>; a &= <span class="hljs-number">3</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === a);
a = <span class="hljs-number">10</span>; a ^= <span class="hljs-number">3</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">9</span> === a);
a = <span class="hljs-number">10</span>; a |= <span class="hljs-number">3</span>;
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">11</span> === a);
</code></pre>
<h2 id="二元逻辑运算符">二元逻辑运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>, b = <span class="hljs-number">20</span>;

<span class="hljs-comment">// 逻辑与</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">20</span> === (a && b));
<span class="hljs-comment">// 逻辑或</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">10</span> === (a || b));
</code></pre>
<h2 id="其他运算符">其他运算符</h2>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>, b = <span class="hljs-number">20</span>;

<span class="hljs-comment">//条件运算符</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">20</span> === (a >= <span class="hljs-number">10</span> ? a + <span class="hljs-number">10</span> : b + <span class="hljs-number">10</span>));
<span class="hljs-comment">//逗号运算符</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">20</span> === (a, b));
</code></pre>
<h2 id="运算符优先级">运算符优先级</h2>
<table>
<thead>
<tr>
<th>优先级</th>
<th>运算符</th>
<th>说明</th>
<th>结合性</th>
</tr>
</thead>
<tbody>
<tr>
<td>20</td>
<td><code>(</code> ... <code>)</code></td>
<td>括号</td>
<td>n/a</td>
</tr>
<tr>
<td>19</td>
<td>... <code>.</code> ...</td>
<td>成员访问</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>[</code> ... <code>]</code></td>
<td>成员访问</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>(</code> ... <code>)</code></td>
<td>函数调用</td>
<td>从左到右</td>
</tr>
<tr>
<td>17</td>
<td>... <code>++</code></td>
<td>后置递增</td>
<td>n/a</td>
</tr>
<tr>
<td></td>
<td>... <code>--</code></td>
<td>后置递减</td>
<td>n/a</td>
</tr>
<tr>
<td>16</td>
<td><code>!</code> ...</td>
<td>逻辑非</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>~</code> ...</td>
<td>按位非</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>+</code> ...</td>
<td>一元加法</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>-</code> ...</td>
<td>一元减法</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>++</code> ...</td>
<td>前置递增</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>--</code> ...</td>
<td>前置递减</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>typeof</code> ...</td>
<td>typeof</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>void</code> ...</td>
<td>void</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td><code>delete</code> ...</td>
<td>delete</td>
<td>从右到左</td>
</tr>
<tr>
<td>14</td>
<td>... <code>*</code> ...</td>
<td>乘法</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>/</code> ...</td>
<td>除法</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>%</code> ...</td>
<td>取模</td>
<td>从左到右</td>
</tr>
<tr>
<td>13</td>
<td>... <code>+</code> ...</td>
<td>加法</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>-</code> ...</td>
<td>减法</td>
<td>从左到右</td>
</tr>
<tr>
<td>12</td>
<td>... <code><<</code> ...</td>
<td>按位左移</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>>></code> ...</td>
<td>按位右移</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>>>></code> ...</td>
<td>无符号右移</td>
<td>从左到右</td>
</tr>
<tr>
<td>11</td>
<td>... <code><</code> ...</td>
<td>小于</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code><=</code> ...</td>
<td>小于等于</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>></code> ...</td>
<td>大于</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>>=</code> ...</td>
<td>大于等于</td>
<td>从左到右</td>
</tr>
<tr>
<td>10</td>
<td>... <code>==</code> ...</td>
<td>等号</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>!=</code> ...</td>
<td>非等号</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>===</code> ...</td>
<td>全等号</td>
<td>从左到右</td>
</tr>
<tr>
<td></td>
<td>... <code>!==</code> ...</td>
<td>非全等号</td>
<td>从左到右</td>
</tr>
<tr>
<td>9</td>
<td>... <code>&</code> ...</td>
<td>按位与</td>
<td>从左到右</td>
</tr>
<tr>
<td>8</td>
<td>... <code>^</code> ...</td>
<td>按位异或</td>
<td>从左到右</td>
</tr>
<tr>
<td>7</td>
<td>... <code>｜</code> ...</td>
<td>按位或</td>
<td>从左到右</td>
</tr>
<tr>
<td>6</td>
<td>... <code>&&</code> ...</td>
<td>逻辑与</td>
<td>从左到右</td>
</tr>
<tr>
<td>5</td>
<td>... <code>｜｜</code> ...</td>
<td>逻辑或</td>
<td>从左到右</td>
</tr>
<tr>
<td>4</td>
<td>... <code>?</code> ... <code>:</code> ...</td>
<td>条件运算符</td>
<td>从右到左</td>
</tr>
<tr>
<td>3</td>
<td>... <code>=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>+=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>-=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>*=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>/=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>%=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code><<=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>>>=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>>>>=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>&=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>^=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td></td>
<td>... <code>｜=</code> ...</td>
<td>赋值</td>
<td>从右到左</td>
</tr>
<tr>
<td>0</td>
<td>... <code>,</code> ...</td>
<td>逗号</td>
<td>从左到右</td>
</tr>
</tbody>
</table>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
