<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>语句</title>
  <link rel="stylesheet" href="../../../../style.css" />
  <link rel="stylesheet" href="../../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h1 id="&#x8BED;&#x53E5;">&#x8BED;&#x53E5;</h1>
<h2 id="if-&#x8BED;&#x53E5;">if &#x8BED;&#x53E5;</h2>
<p>&#x5728; WXS &#x4E2D;&#xFF0C;&#x53EF;&#x4EE5;&#x4F7F;&#x7528;&#x4EE5;&#x4E0B;&#x683C;&#x5F0F;&#x7684; <code>if</code> &#x8BED;&#x53E5; &#xFF1A;</p>
<ul>
<li>
<p><code>if (expression) statement</code> &#xFF1A;
&#x5F53; <code>expression</code> &#x4E3A; truthy &#x65F6;&#xFF0C;&#x6267;&#x884C; <code>statement</code>&#x3002;</p>
</li>
<li>
<p><code>if (expression) statement1 else statement2</code> :
&#x5F53; <code>expression</code> &#x4E3A; truthy &#x65F6;&#xFF0C;&#x6267;&#x884C; <code>statement1</code>&#x3002;
&#x5426;&#x5219;&#xFF0C;&#x6267;&#x884C; <code>statement2</code></p>
</li>
<li>
<p><code>if ... else if ... else statementN</code>
&#x901A;&#x8FC7;&#x8BE5;&#x53E5;&#x578B;&#xFF0C;&#x53EF;&#x4EE5;&#x5728; <code>statement1</code> ~ <code>statementN</code> &#x4E4B;&#x95F4;&#x9009;&#x5176;&#x4E2D;&#x4E00;&#x4E2A;&#x6267;&#x884C;&#x3002;</p>
</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x8BED;&#x6CD5;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-comment">// if ...</span>

<span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) &#x8BED;&#x53E5;;

<span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) 
  &#x8BED;&#x53E5;;

<span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) {
  &#x4EE3;&#x7801;&#x5757;;
}


<span class="hljs-comment">// if ... else </span>

<span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) &#x8BED;&#x53E5;;
<span class="hljs-keyword">else</span> &#x8BED;&#x53E5;;

<span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) 
  &#x8BED;&#x53E5;;
<span class="hljs-keyword">else</span> 
  &#x8BED;&#x53E5;;

<span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) {
  &#x4EE3;&#x7801;&#x5757;;
} <span class="hljs-keyword">else</span> {
  &#x4EE3;&#x7801;&#x5757;;
}

<span class="hljs-comment">// if ... else if ... else ...</span>

<span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) {
  &#x4EE3;&#x7801;&#x5757;;
} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) {
  &#x4EE3;&#x7801;&#x5757;;
} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (&#x8868;&#x8FBE;&#x5F0F;) {
  &#x4EE3;&#x7801;&#x5757;;
} <span class="hljs-keyword">else</span> {
  &#x4EE3;&#x7801;&#x5757;;
}

</code></pre>
<h2 id="switch-&#x8BED;&#x53E5;">switch &#x8BED;&#x53E5;</h2>
<p><strong>&#x793A;&#x4F8B;&#x8BED;&#x6CD5;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">switch</span> (&#x8868;&#x8FBE;&#x5F0F;) {
  <span class="hljs-keyword">case</span> &#x53D8;&#x91CF;:
    &#x8BED;&#x53E5;;
  <span class="hljs-keyword">case</span> &#x6570;&#x5B57;:
    &#x8BED;&#x53E5;;
    <span class="hljs-keyword">break</span>;
  <span class="hljs-keyword">case</span> &#x5B57;&#x7B26;&#x4E32;:
    &#x8BED;&#x53E5;;
  <span class="hljs-keyword">default</span>:
    &#x8BED;&#x53E5;;
}
</code></pre>
<ul>
<li><code>default</code> &#x5206;&#x652F;&#x53EF;&#x4EE5;&#x7701;&#x7565;&#x4E0D;&#x5199;&#x3002;</li>
<li><code>case</code> &#x5173;&#x952E;&#x8BCD;&#x540E;&#x9762;&#x53EA;&#x80FD;&#x4F7F;&#x7528;&#xFF1A;<code>&#x53D8;&#x91CF;</code>&#xFF0C;<code>&#x6570;&#x5B57;</code>&#xFF0C;<code>&#x5B57;&#x7B26;&#x4E32;</code>&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">var</span> exp = <span class="hljs-number">10</span>;

<span class="hljs-keyword">switch</span> ( exp ) {
<span class="hljs-keyword">case</span> <span class="hljs-string">&quot;10&quot;</span>:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&quot;string 10&quot;</span>);
  <span class="hljs-keyword">break</span>;
<span class="hljs-keyword">case</span> <span class="hljs-number">10</span>:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&quot;number 10&quot;</span>);
  <span class="hljs-keyword">break</span>;
<span class="hljs-keyword">case</span> exp:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&quot;var exp&quot;</span>);
  <span class="hljs-keyword">break</span>;
<span class="hljs-keyword">default</span>:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">&quot;default&quot;</span>);
}
</code></pre>
<p><strong>&#x8F93;&#x51FA;&#xFF1A;</strong></p>
<pre><code>number 10
</code></pre>
<h2 id="for-&#x8BED;&#x53E5;">for &#x8BED;&#x53E5;</h2>
<p><strong>&#x793A;&#x4F8B;&#x8BED;&#x6CD5;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">for</span> (&#x8BED;&#x53E5;; &#x8BED;&#x53E5;; &#x8BED;&#x53E5;)
  &#x8BED;&#x53E5;;

<span class="hljs-keyword">for</span> (&#x8BED;&#x53E5;; &#x8BED;&#x53E5;; &#x8BED;&#x53E5;) {
  &#x4EE3;&#x7801;&#x5757;;
}
</code></pre>
<ul>
<li>&#x652F;&#x6301;&#x4F7F;&#x7528; <code>break</code>&#xFF0C;<code>continue</code> &#x5173;&#x952E;&#x8BCD;&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i &lt; <span class="hljs-number">3</span>; ++i) {
  <span class="hljs-built_in">console</span>.log(i);
  <span class="hljs-keyword">if</span>( i &gt;= <span class="hljs-number">1</span>) <span class="hljs-keyword">break</span>;
}
</code></pre>
<p><strong>&#x8F93;&#x51FA;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-number">0</span>
<span class="hljs-number">1</span>
</code></pre>
<h2 id="while-&#x8BED;&#x53E5;">while &#x8BED;&#x53E5;</h2>
<p><strong>&#x793A;&#x4F8B;&#x8BED;&#x6CD5;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">while</span> (&#x8868;&#x8FBE;&#x5F0F;)
  &#x8BED;&#x53E5;;

<span class="hljs-keyword">while</span> (&#x8868;&#x8FBE;&#x5F0F;){
  &#x4EE3;&#x7801;&#x5757;;
}

<span class="hljs-keyword">do</span> {
  &#x4EE3;&#x7801;&#x5757;;
} <span class="hljs-keyword">while</span> (&#x8868;&#x8FBE;&#x5F0F;)
</code></pre>
<ul>
<li>&#x5F53;<code>&#x8868;&#x8FBE;&#x5F0F;</code>&#x4E3A; true &#x65F6;&#xFF0C;&#x5FAA;&#x73AF;&#x6267;&#x884C;<code>&#x8BED;&#x53E5;</code>&#x6216;<code>&#x4EE3;&#x7801;&#x5757;</code>&#x3002;</li>
<li>&#x652F;&#x6301;&#x4F7F;&#x7528; <code>break</code>&#xFF0C;<code>continue</code> &#x5173;&#x952E;&#x8BCD;&#x3002;</li>
</ul>

                            </section>      
                        </div>
                        
                    </div>
                
</body>
</html>
