<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>语句</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="语句">语句</h1>
<h2 id="if-语句">if 语句</h2>
<p>在 WXS 中，可以使用以下格式的 <code>if</code> 语句 ：</p>
<ul>
<li><p><code>if (expression) statement</code> ： 
  当 <code>expression</code> 为 truthy 时，执行 <code>statement</code>。</p>
</li>
<li><p><code>if (expression) statement1 else statement2</code> :
  当 <code>expression</code> 为 truthy 时，执行 <code>statement1</code>。
  否则，执行 <code>statement2</code></p>
</li>
<li><p><code>if ... else if ... else statementN</code>
  通过该句型，可以在 <code>statement1</code> ~ <code>statementN</code> 之间选其中一个执行。 </p>
</li>
</ul>
<p><strong>示例语法：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-comment">// if ...</span>

<span class="hljs-keyword">if</span> (表达式) 语句;

<span class="hljs-keyword">if</span> (表达式) 
  语句;

<span class="hljs-keyword">if</span> (表达式) {
  代码块;
}


<span class="hljs-comment">// if ... else </span>

<span class="hljs-keyword">if</span> (表达式) 语句;
<span class="hljs-keyword">else</span> 语句;

<span class="hljs-keyword">if</span> (表达式) 
  语句;
<span class="hljs-keyword">else</span> 
  语句;

<span class="hljs-keyword">if</span> (表达式) {
  代码块;
} <span class="hljs-keyword">else</span> {
  代码块;
}

<span class="hljs-comment">// if ... else if ... else ...</span>

<span class="hljs-keyword">if</span> (表达式) {
  代码块;
} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (表达式) {
  代码块;
} <span class="hljs-keyword">else</span> <span class="hljs-keyword">if</span> (表达式) {
  代码块;
} <span class="hljs-keyword">else</span> {
  代码块;
}
</code></pre>
<h2 id="switch-语句">switch 语句</h2>
<p><strong>示例语法：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">switch</span> (表达式) {
  <span class="hljs-keyword">case</span> 变量:
    语句;
  <span class="hljs-keyword">case</span> 数字:
    语句;
    <span class="hljs-keyword">break</span>;
  <span class="hljs-keyword">case</span> 字符串:
    语句;
  <span class="hljs-keyword">default</span>:
    语句;
}
</code></pre>
<ul>
<li><code>default</code> 分支可以省略不写。</li>
<li><code>case</code> 关键词后面只能使用：<code>变量</code>，<code>数字</code>，<code>字符串</code>。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> exp = <span class="hljs-number">10</span>;

<span class="hljs-keyword">switch</span> ( exp ) {
<span class="hljs-keyword">case</span> <span class="hljs-string">"10"</span>:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">"string 10"</span>);
  <span class="hljs-keyword">break</span>;
<span class="hljs-keyword">case</span> <span class="hljs-number">10</span>:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">"number 10"</span>);
  <span class="hljs-keyword">break</span>;
<span class="hljs-keyword">case</span> exp:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">"var exp"</span>);
  <span class="hljs-keyword">break</span>;
<span class="hljs-keyword">default</span>:
  <span class="hljs-built_in">console</span>.log(<span class="hljs-string">"default"</span>);
}
</code></pre>
<p><strong>输出：</strong></p>
<pre><code>number 10
</code></pre><h2 id="for-语句">for 语句</h2>
<p><strong>示例语法：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">for</span> (语句; 语句; 语句)
  语句;

<span class="hljs-keyword">for</span> (语句; 语句; 语句) {
  代码块;
}
</code></pre>
<ul>
<li>支持使用 <code>break</code>，<code>continue</code> 关键词。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">for</span> (<span class="hljs-keyword">var</span> i = <span class="hljs-number">0</span>; i < <span class="hljs-number">3</span>; ++i) {
  <span class="hljs-built_in">console</span>.log(i);
  <span class="hljs-keyword">if</span>( i >= <span class="hljs-number">1</span>) <span class="hljs-keyword">break</span>;
}
</code></pre>
<p><strong>输出：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-number">0</span>
<span class="hljs-number">1</span>
</code></pre>
<h2 id="while-语句">while 语句</h2>
<p><strong>示例语法：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">while</span> (表达式)
  语句;

<span class="hljs-keyword">while</span> (表达式){
  代码块;
}

<span class="hljs-keyword">do</span> {
  代码块;
} <span class="hljs-keyword">while</span> (表达式)
</code></pre>
<ul>
<li>当<code>表达式</code>为 true 时，循环执行<code>语句</code>或<code>代码块</code>。</li>
<li>支持使用 <code>break</code>，<code>continue</code> 关键词。</li>
</ul>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
