<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>数据类型</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="数据类型">数据类型</h1>
<p>WXS 语言目前共有以下几种数据类型：</p>
<ul>
<li><code>number</code> ： 数值</li>
<li><code>string</code> ：字符串</li>
<li><code>boolean</code>：布尔值</li>
<li><code>object</code>：对象</li>
<li><code>function</code>：函数</li>
<li><code>array</code> : 数组</li>
<li><code>date</code>：日期</li>
<li><code>regexp</code>：正则</li>
</ul>
<h2 id="number">number</h2>
<h3 id="语法">语法</h3>
<p>number 包括两种数值：整数，小数。</p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-number">10</span>;
<span class="hljs-keyword">var</span> PI = <span class="hljs-number">3.141592653589793</span>;
</code></pre>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 <code>"Number"</code>。 </li>
</ul>
<h3 id="方法">方法</h3>
<ul>
<li><code>toString</code></li>
<li><code>toLocaleString</code></li>
<li><code>valueOf</code></li>
<li><code>toFixed</code></li>
<li><code>toExponential</code></li>
<li><code>toPrecision</code></li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="string">string</h2>
<h3 id="语法">语法</h3>
<p>string 有两种写法：</p>
<pre><code class="lang-javascript"><span class="hljs-string">'hello world'</span>;
<span class="hljs-string">"hello world"</span>;
</code></pre>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 <code>"String"</code>。</li>
<li><code>length</code></li>
</ul>
<blockquote>
<p>除constructor外属性的具体含义请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h3 id="方法">方法</h3>
<ul>
<li><code>toString</code></li>
<li><code>valueOf</code></li>
<li><code>charAt</code></li>
<li><code>charCodeAt</code></li>
<li><code>concat</code></li>
<li><code>indexOf</code></li>
<li><code>lastIndexOf</code></li>
<li><code>localeCompare</code></li>
<li><code>match</code></li>
<li><code>replace</code></li>
<li><code>search</code></li>
<li><code>slice</code></li>
<li><code>split</code></li>
<li><code>substring</code></li>
<li><code>toLowerCase</code></li>
<li><code>toLocaleLowerCase</code></li>
<li><code>toUpperCase</code></li>
<li><code>toLocaleUpperCase</code></li>
<li><code>trim</code></li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="boolean">boolean</h2>
<h3 id="语法">语法</h3>
<p>布尔值只有两个特定的值：<code>true</code> 和 <code>false</code>。</p>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 <code>"Boolean"</code>。</li>
</ul>
<h3 id="方法">方法</h3>
<ul>
<li><code>toString</code></li>
<li><code>valueOf</code></li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="object">object</h2>
<h3 id="语法">语法</h3>
<p>object 是一种无序的键值对。使用方法如下所示：</p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> o = {} <span class="hljs-comment">//生成一个新的空对象</span>

<span class="hljs-comment">//生成一个新的非空对象</span>
o = {
  <span class="hljs-string">'string'</span>  : <span class="hljs-number">1</span>,  <span class="hljs-comment">//object 的 key 可以是字符串</span>
  const_var : <span class="hljs-number">2</span>,  <span class="hljs-comment">//object 的 key 也可以是符合变量定义规则的标识符</span>
  func      : {}, <span class="hljs-comment">//object 的 value 可以是任何类型</span>
};

<span class="hljs-comment">//对象属性的读操作</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">1</span> === o[<span class="hljs-string">'string'</span>]);
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">2</span> === o.const_var);

<span class="hljs-comment">//对象属性的写操作</span>
o[<span class="hljs-string">'string'</span>]++;
o[<span class="hljs-string">'string'</span>] += <span class="hljs-number">10</span>;
o.const_var++;
o.const_var += <span class="hljs-number">10</span>;

<span class="hljs-comment">//对象属性的读操作</span>
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">12</span> === o[<span class="hljs-string">'string'</span>]);
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">13</span> === o.const_var);
</code></pre>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 <code>"Object"</code>。</li>
</ul>
<pre><code class="lang-javascript"><span class="hljs-built_in">console</span>.log(<span class="hljs-string">"Object"</span> === {k:<span class="hljs-string">"1"</span>,v:<span class="hljs-string">"2"</span>}.constructor)
</code></pre>
<h3 id="方法">方法</h3>
<ul>
<li><code>toString</code>：返回字符串 <code>"[object Object]"</code>。</li>
</ul>
<h2 id="function">function</h2>
<h3 id="语法">语法</h3>
<p>function 支持以下的定义方式：</p>
<pre><code class="lang-javascript"><span class="hljs-comment">//方法 1</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">a</span> (<span class="hljs-params">x</span>) </span>{
  <span class="hljs-keyword">return</span> x;
}

<span class="hljs-comment">//方法 2</span>
<span class="hljs-keyword">var</span> b = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">x</span>) </span>{ 
  <span class="hljs-keyword">return</span> x;
}
</code></pre>
<p>function 同时也支持以下的语法（匿名函数，闭包等）：</p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">x</span>) </span>{
  <span class="hljs-keyword">return</span> <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{ <span class="hljs-keyword">return</span> x;}
}

<span class="hljs-keyword">var</span> b = a(<span class="hljs-number">100</span>);
<span class="hljs-built_in">console</span>.log( <span class="hljs-number">100</span> === b() );
</code></pre>
<h3 id="arguments">arguments</h3>
<p>function 里面可以使用  <code>arguments</code> 关键词。该关键词目前只支持以下的属性：</p>
<ul>
<li><code>length</code>: 传递给函数的参数个数。</li>
<li><code>[index]</code>: 通过 <code>index</code> 下标可以遍历传递给函数的每个参数。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{
    <span class="hljs-built_in">console</span>.log(<span class="hljs-number">3</span> === <span class="hljs-built_in">arguments</span>.length);
    <span class="hljs-built_in">console</span>.log(<span class="hljs-number">100</span> === <span class="hljs-built_in">arguments</span>[<span class="hljs-number">0</span>]);
    <span class="hljs-built_in">console</span>.log(<span class="hljs-number">200</span> === <span class="hljs-built_in">arguments</span>[<span class="hljs-number">1</span>]);
    <span class="hljs-built_in">console</span>.log(<span class="hljs-number">300</span> === <span class="hljs-built_in">arguments</span>[<span class="hljs-number">2</span>]);
};
a(<span class="hljs-number">100</span>,<span class="hljs-number">200</span>,<span class="hljs-number">300</span>);
</code></pre>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 <code>"Function"</code>。</li>
<li><code>length</code>：返回函数的形参个数。</li>
</ul>
<h3 id="方法">方法</h3>
<ul>
<li><code>toString</code>：返回字符串 <code>"[function Function]"</code>。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> func = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">a,b,c</span>) </span>{ }

<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"Function"</span> === func.constructor);
<span class="hljs-built_in">console</span>.log(<span class="hljs-number">3</span> === func.length);
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"[function Function]"</span> === func.toString());
</code></pre>
<h2 id="array">array</h2>
<h3 id="语法">语法</h3>
<p>array 支持以下的定义方式：</p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = [];      <span class="hljs-comment">//生成一个新的空数组</span>

a = [<span class="hljs-number">1</span>,<span class="hljs-string">"2"</span>,{},<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{}];  <span class="hljs-comment">//生成一个新的非空数组，数组元素可以是任何类型</span>
</code></pre>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 <code>"Array"</code>。</li>
<li><code>length</code></li>
</ul>
<blockquote>
<p>除constructor外属性的具体含义请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h3 id="方法">方法</h3>
<ul>
<li><code>toString</code></li>
<li><code>concat</code></li>
<li><code>join</code></li>
<li><code>pop</code></li>
<li><code>push</code></li>
<li><code>reverse</code></li>
<li><code>shift</code></li>
<li><code>slice</code></li>
<li><code>sort</code></li>
<li><code>splice</code></li>
<li><code>unshift</code></li>
<li><code>indexOf</code></li>
<li><code>lastIndexOf</code></li>
<li><code>every</code></li>
<li><code>some</code></li>
<li><code>forEach</code></li>
<li><code>map</code></li>
<li><code>filter</code></li>
<li><code>reduce</code></li>
<li><code>reduceRight</code></li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="date">date</h2>
<h3 id="语法">语法</h3>
<p>生成 date 对象需要使用 <code>getDate</code>函数, 返回一个当前时间的对象。</p>
<pre><code class="lang-javascript">getDate()
getDate(milliseconds)
getDate(datestring)
getDate(year, month[, date[, hours[, minutes[, seconds[, milliseconds]]]]])
</code></pre>
<ul>
<li>参数<ul>
<li><code>milliseconds</code>: 从1970年1月1日00:00:00 UTC开始计算的毫秒数</li>
<li><code>datestring</code>: 日期字符串，其格式为："month day, year hours:minutes:seconds"</li>
</ul>
</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> date = getDate(); <span class="hljs-comment">//返回当前时间对象</span>

date = getDate(<span class="hljs-number">1500000000000</span>);
<span class="hljs-comment">// Fri Jul 14 2017 10:40:00 GMT+0800 (中国标准时间)</span>
date = getDate(<span class="hljs-string">'2017-7-14'</span>);
<span class="hljs-comment">// Fri Jul 14 2017 00:00:00 GMT+0800 (中国标准时间)</span>
date = getDate(<span class="hljs-number">2017</span>, <span class="hljs-number">6</span>, <span class="hljs-number">14</span>, <span class="hljs-number">10</span>, <span class="hljs-number">40</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>);
<span class="hljs-comment">// Fri Jul 14 2017 10:40:00 GMT+0800 (中国标准时间)</span>
</code></pre>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 “Date”。</li>
</ul>
<h3 id="方法">方法</h3>
<ul>
<li><code>toString</code></li>
<li><code>toDateString</code></li>
<li><code>toTimeString</code></li>
<li><code>toLocaleString</code></li>
<li><code>toLocaleDateString</code></li>
<li><code>toLocaleTimeString</code></li>
<li><code>valueOf</code></li>
<li><code>getTime</code></li>
<li><code>getFullYear</code></li>
<li><code>getUTCFullYear</code></li>
<li><code>getMonth</code></li>
<li><code>getUTCMonth</code></li>
<li><code>getDate</code></li>
<li><code>getUTCDate</code></li>
<li><code>getDay</code></li>
<li><code>getUTCDay</code></li>
<li><code>getHours</code></li>
<li><code>getUTCHours</code></li>
<li><code>getMinutes</code></li>
<li><code>getUTCMinutes</code></li>
<li><code>getSeconds</code></li>
<li><code>getUTCSeconds</code></li>
<li><code>getMilliseconds</code></li>
<li><code>getUTCMilliseconds</code></li>
<li><code>getTimezoneOffset</code></li>
<li><code>setTime</code></li>
<li><code>setMilliseconds</code></li>
<li><code>setUTCMilliseconds</code></li>
<li><code>setSeconds</code></li>
<li><code>setUTCSeconds</code></li>
<li><code>setMinutes</code></li>
<li><code>setUTCMinutes</code></li>
<li><code>setHours</code></li>
<li><code>setUTCHours</code></li>
<li><code>setDate</code></li>
<li><code>setUTCDate</code></li>
<li><code>setMonth</code></li>
<li><code>setUTCMonth</code></li>
<li><code>setFullYear</code></li>
<li><code>setUTCFullYear</code></li>
<li><code>toUTCString</code></li>
<li><code>toISOString</code></li>
<li><code>toJSON</code></li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="regexp">regexp</h2>
<h3 id="语法">语法</h3>
<p>生成 regexp 对象需要使用 <code>getRegExp</code>函数。</p>
<pre><code class="lang-javascript">getRegExp(pattern[, flags])
</code></pre>
<ul>
<li>参数：<ul>
<li><code>pattern</code>: 正则表达式的内容。</li>
<li><code>flags</code>：修饰符。该字段只能包含以下字符:<ul>
<li><code>g</code>: global </li>
<li><code>i</code>: ignoreCase</li>
<li><code>m</code>: multiline。</li>
</ul>
</li>
</ul>
</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> a = getRegExp(<span class="hljs-string">"x"</span>, <span class="hljs-string">"img"</span>);
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"x"</span> === a.source);
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === a.global);
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === a.ignoreCase);
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span> === a.multiline);
</code></pre>
<h3 id="属性">属性</h3>
<ul>
<li><code>constructor</code>：返回字符串 <code>"RegExp"</code>。</li>
<li><code>source</code></li>
<li><code>global</code></li>
<li><code>ignoreCase</code></li>
<li><code>multiline</code></li>
<li><code>lastIndex</code></li>
</ul>
<blockquote>
<p>除constructor外属性的具体含义请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h3 id="方法">方法</h3>
<ul>
<li><code>exec</code></li>
<li><code>test</code></li>
<li><code>toString</code></li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="数据类型判断">数据类型判断</h2>
<h3 id="constructor-属性"><code>constructor</code> 属性</h3>
<p>数据类型的判断可以使用 <code>constructor</code> 属性。</p>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> number = <span class="hljs-number">10</span>;
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"Number"</span> === number.constructor );

<span class="hljs-keyword">var</span> string = <span class="hljs-string">"str"</span>;
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"String"</span> === string.constructor );

<span class="hljs-keyword">var</span> boolean = <span class="hljs-literal">true</span>;
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"Boolean"</span> === boolean.constructor );

<span class="hljs-keyword">var</span> object = {};
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"Object"</span> === object.constructor );

<span class="hljs-keyword">var</span> func = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{};
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"Function"</span> === func.constructor );

<span class="hljs-keyword">var</span> array = [];
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"Array"</span> === array.constructor );

<span class="hljs-keyword">var</span> date = getDate();
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"Date"</span> === date.constructor );

<span class="hljs-keyword">var</span> regexp = getRegExp();
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">"RegExp"</span> === regexp.constructor );
</code></pre>
<h3 id="typeof"><code>typeof</code></h3>
<p>使用 <code>typeof</code> 也可以区分部分数据类型。</p>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript"><span class="hljs-keyword">var</span> number = <span class="hljs-number">10</span>;
<span class="hljs-keyword">var</span> boolean = <span class="hljs-literal">true</span>;
<span class="hljs-keyword">var</span> object = {};
<span class="hljs-keyword">var</span> func = <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{};
<span class="hljs-keyword">var</span> array = [];
<span class="hljs-keyword">var</span> date = getDate();
<span class="hljs-keyword">var</span> regexp = getRegExp();

<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'number'</span> === <span class="hljs-keyword">typeof</span> number );
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'boolean'</span> === <span class="hljs-keyword">typeof</span> boolean );
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'object'</span> === <span class="hljs-keyword">typeof</span> object );
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'function'</span> === <span class="hljs-keyword">typeof</span> func );
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'object'</span> === <span class="hljs-keyword">typeof</span> array );
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'object'</span> === <span class="hljs-keyword">typeof</span> date );
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'object'</span> === <span class="hljs-keyword">typeof</span> regexp );

<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'undefined'</span> === <span class="hljs-keyword">typeof</span> <span class="hljs-literal">undefined</span> );
<span class="hljs-built_in">console</span>.log( <span class="hljs-string">'object'</span> === <span class="hljs-keyword">typeof</span> <span class="hljs-literal">null</span> );
</code></pre>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
