<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>数据类型</title>
  <link rel="stylesheet" href="../../../../style.css" />
  <link rel="stylesheet" href="../../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h1 id="&#x6570;&#x636E;&#x7C7B;&#x578B;">&#x6570;&#x636E;&#x7C7B;&#x578B;</h1>
<p>WXS &#x8BED;&#x8A00;&#x76EE;&#x524D;&#x5171;&#x6709;&#x4EE5;&#x4E0B;&#x51E0;&#x79CD;&#x6570;&#x636E;&#x7C7B;&#x578B;&#xFF1A;</p>
<ul>
<li><code>number</code> &#xFF1A; &#x6570;&#x503C;</li>
<li><code>string</code> &#xFF1A;&#x5B57;&#x7B26;&#x4E32;</li>
<li><code>boolean</code>&#xFF1A;&#x5E03;&#x5C14;&#x503C;</li>
<li><code>object</code>&#xFF1A;&#x5BF9;&#x8C61;</li>
<li><code>function</code>&#xFF1A;&#x51FD;&#x6570;</li>
<li><code>array</code> : &#x6570;&#x7EC4;</li>
<li><code>date</code>&#xFF1A;&#x65E5;&#x671F;</li>
<li><code>regexp</code>&#xFF1A;&#x6B63;&#x5219;</li>
</ul>
<h2 id="number">number</h2>
<h3 id="&#x8BED;&#x6CD5;">&#x8BED;&#x6CD5;</h3>
<p>number &#x5305;&#x62EC;&#x4E24;&#x79CD;&#x6570;&#x503C;&#xFF1A;&#x6574;&#x6570;&#xFF0C;&#x5C0F;&#x6570;&#x3002;</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> a = <span class="hljs-number">10</span>
<span class="hljs-keyword">const</span> PI = <span class="hljs-number">3.141592653589793</span>
</code></pre>
<h3 id="&#x5C5E;&#x6027;">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;Number&quot;</code>&#x3002;</li>
</ul>
<h3 id="&#x65B9;&#x6CD5;">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>toString</code></li>
<li><code>toLocaleString</code></li>
<li><code>valueOf</code></li>
<li><code>toFixed</code></li>
<li><code>toExponential</code></li>
<li><code>toPrecision</code></li>
</ul>
<blockquote>
<p>&#x4EE5;&#x4E0A;&#x65B9;&#x6CD5;&#x7684;&#x5177;&#x4F53;&#x4F7F;&#x7528;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h2 id="string">string</h2>
<h3 id="&#x8BED;&#x6CD5;-2">&#x8BED;&#x6CD5;</h3>
<p>string &#x6709;&#x4E24;&#x79CD;&#x5199;&#x6CD5;&#xFF1A;</p>
<pre><code class="language-javascript"><span class="hljs-string">&apos;hello world&apos;</span>
<span class="hljs-string">&apos;hello world&apos;</span>
</code></pre>
<h3 id="&#x5C5E;&#x6027;-2">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;String&quot;</code>&#x3002;</li>
<li><code>length</code></li>
</ul>
<blockquote>
<p>&#x9664;constructor&#x5916;&#x5C5E;&#x6027;&#x7684;&#x5177;&#x4F53;&#x542B;&#x4E49;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h3 id="&#x65B9;&#x6CD5;-2">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>toString</code></li>
<li><code>valueOf</code></li>
<li><code>charAt</code></li>
<li><code>charCodeAt</code></li>
<li><code>concat</code></li>
<li><code>indexOf</code></li>
<li><code>lastIndexOf</code></li>
<li><code>localeCompare</code></li>
<li><code>match</code></li>
<li><code>replace</code></li>
<li><code>search</code></li>
<li><code>slice</code></li>
<li><code>split</code></li>
<li><code>substring</code></li>
<li><code>toLowerCase</code></li>
<li><code>toLocaleLowerCase</code></li>
<li><code>toUpperCase</code></li>
<li><code>toLocaleUpperCase</code></li>
<li><code>trim</code></li>
</ul>
<blockquote>
<p>&#x4EE5;&#x4E0A;&#x65B9;&#x6CD5;&#x7684;&#x5177;&#x4F53;&#x4F7F;&#x7528;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h2 id="boolean">boolean</h2>
<h3 id="&#x8BED;&#x6CD5;-3">&#x8BED;&#x6CD5;</h3>
<p>&#x5E03;&#x5C14;&#x503C;&#x53EA;&#x6709;&#x4E24;&#x4E2A;&#x7279;&#x5B9A;&#x7684;&#x503C;&#xFF1A;<code>true</code> &#x548C; <code>false</code>&#x3002;</p>
<h3 id="&#x5C5E;&#x6027;-3">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;Boolean&quot;</code>&#x3002;</li>
</ul>
<h3 id="&#x65B9;&#x6CD5;-3">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>toString</code></li>
<li><code>valueOf</code></li>
</ul>
<blockquote>
<p>&#x4EE5;&#x4E0A;&#x65B9;&#x6CD5;&#x7684;&#x5177;&#x4F53;&#x4F7F;&#x7528;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h2 id="object">object</h2>
<h3 id="&#x8BED;&#x6CD5;-4">&#x8BED;&#x6CD5;</h3>
<p>object &#x662F;&#x4E00;&#x79CD;&#x65E0;&#x5E8F;&#x7684;&#x952E;&#x503C;&#x5BF9;&#x3002;&#x4F7F;&#x7528;&#x65B9;&#x6CD5;&#x5982;&#x4E0B;&#x6240;&#x793A;&#xFF1A;</p>
<pre><code class="language-javascript"><span class="hljs-keyword">let</span> o = {} <span class="hljs-comment">// &#x751F;&#x6210;&#x4E00;&#x4E2A;&#x65B0;&#x7684;&#x7A7A;&#x5BF9;&#x8C61;</span>

<span class="hljs-comment">// &#x751F;&#x6210;&#x4E00;&#x4E2A;&#x65B0;&#x7684;&#x975E;&#x7A7A;&#x5BF9;&#x8C61;</span>
o = {
  <span class="hljs-attr">string</span>: <span class="hljs-number">1</span>, <span class="hljs-comment">// object &#x7684; key &#x53EF;&#x4EE5;&#x662F;&#x5B57;&#x7B26;&#x4E32;</span>
  const_var: <span class="hljs-number">2</span>, <span class="hljs-comment">// object &#x7684; key &#x4E5F;&#x53EF;&#x4EE5;&#x662F;&#x7B26;&#x5408;&#x53D8;&#x91CF;&#x5B9A;&#x4E49;&#x89C4;&#x5219;&#x7684;&#x6807;&#x8BC6;&#x7B26;</span>
  func: {}, <span class="hljs-comment">// object &#x7684; value &#x53EF;&#x4EE5;&#x662F;&#x4EFB;&#x4F55;&#x7C7B;&#x578B;</span>
}

<span class="hljs-comment">// &#x5BF9;&#x8C61;&#x5C5E;&#x6027;&#x7684;&#x8BFB;&#x64CD;&#x4F5C;</span>
<span class="hljs-built_in">console</span>.log(o.string === <span class="hljs-number">1</span>)
<span class="hljs-built_in">console</span>.log(o.const_var === <span class="hljs-number">2</span>)

<span class="hljs-comment">// &#x5BF9;&#x8C61;&#x5C5E;&#x6027;&#x7684;&#x5199;&#x64CD;&#x4F5C;</span>
o.string++
o.string += <span class="hljs-number">10</span>
o.const_var++
o.const_var += <span class="hljs-number">10</span>

<span class="hljs-comment">// &#x5BF9;&#x8C61;&#x5C5E;&#x6027;&#x7684;&#x8BFB;&#x64CD;&#x4F5C;</span>
<span class="hljs-built_in">console</span>.log(o.string === <span class="hljs-number">12</span>)
<span class="hljs-built_in">console</span>.log(o.const_var === <span class="hljs-number">13</span>)
</code></pre>
<h3 id="&#x5C5E;&#x6027;-4">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;Object&quot;</code>&#x3002;</li>
</ul>
<pre><code class="language-javascript"><span class="hljs-built_in">console</span>.log({<span class="hljs-attr">k</span>: <span class="hljs-string">&apos;1&apos;</span>, <span class="hljs-attr">v</span>: <span class="hljs-string">&apos;2&apos;</span>}.constructor === <span class="hljs-string">&apos;Object&apos;</span>)
</code></pre>
<h3 id="&#x65B9;&#x6CD5;-4">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>toString</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;[object Object]&quot;</code>&#x3002;</li>
</ul>
<h2 id="function">function</h2>
<h3 id="&#x8BED;&#x6CD5;-5">&#x8BED;&#x6CD5;</h3>
<p>function &#x652F;&#x6301;&#x4EE5;&#x4E0B;&#x7684;&#x5B9A;&#x4E49;&#x65B9;&#x5F0F;&#xFF1A;</p>
<pre><code class="language-javascript"><span class="hljs-comment">// &#x65B9;&#x6CD5; 1</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">a</span>(<span class="hljs-params">x</span>) </span>{
  <span class="hljs-keyword">return</span> x
}

<span class="hljs-comment">// &#x65B9;&#x6CD5; 2</span>
<span class="hljs-keyword">const</span> b = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">x</span>) </span>{
  <span class="hljs-keyword">return</span> x
}
</code></pre>
<p>function &#x540C;&#x65F6;&#x4E5F;&#x652F;&#x6301;&#x4EE5;&#x4E0B;&#x7684;&#x8BED;&#x6CD5;&#xFF08;&#x533F;&#x540D;&#x51FD;&#x6570;&#xFF0C;&#x95ED;&#x5305;&#x7B49;&#xFF09;&#xFF1A;</p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> a = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">x</span>) </span>{
  <span class="hljs-keyword">return</span> <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{ <span class="hljs-keyword">return</span> x }
}

<span class="hljs-keyword">const</span> b = a(<span class="hljs-number">100</span>)
<span class="hljs-built_in">console</span>.log(b() === <span class="hljs-number">100</span>)
</code></pre>
<h3 id="arguments">arguments</h3>
<p>function &#x91CC;&#x9762;&#x53EF;&#x4EE5;&#x4F7F;&#x7528;  <code>arguments</code> &#x5173;&#x952E;&#x8BCD;&#x3002;&#x8BE5;&#x5173;&#x952E;&#x8BCD;&#x76EE;&#x524D;&#x53EA;&#x652F;&#x6301;&#x4EE5;&#x4E0B;&#x7684;&#x5C5E;&#x6027;&#xFF1A;</p>
<ul>
<li><code>length</code>: &#x4F20;&#x9012;&#x7ED9;&#x51FD;&#x6570;&#x7684;&#x53C2;&#x6570;&#x4E2A;&#x6570;&#x3002;</li>
<li><code>[index]</code>: &#x901A;&#x8FC7; <code>index</code> &#x4E0B;&#x6807;&#x53EF;&#x4EE5;&#x904D;&#x5386;&#x4F20;&#x9012;&#x7ED9;&#x51FD;&#x6570;&#x7684;&#x6BCF;&#x4E2A;&#x53C2;&#x6570;&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> a = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{
  <span class="hljs-built_in">console</span>.log(<span class="hljs-built_in">arguments</span>.length === <span class="hljs-number">3</span>)
  <span class="hljs-built_in">console</span>.log(<span class="hljs-built_in">arguments</span>[<span class="hljs-number">0</span>] === <span class="hljs-number">100</span>)
  <span class="hljs-built_in">console</span>.log(<span class="hljs-built_in">arguments</span>[<span class="hljs-number">1</span>] === <span class="hljs-number">200</span>)
  <span class="hljs-built_in">console</span>.log(<span class="hljs-built_in">arguments</span>[<span class="hljs-number">2</span>] === <span class="hljs-number">300</span>)
}
a(<span class="hljs-number">100</span>, <span class="hljs-number">200</span>, <span class="hljs-number">300</span>)
</code></pre>
<h3 id="&#x5C5E;&#x6027;-5">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;Function&quot;</code>&#x3002;</li>
<li><code>length</code>&#xFF1A;&#x8FD4;&#x56DE;&#x51FD;&#x6570;&#x7684;&#x5F62;&#x53C2;&#x4E2A;&#x6570;&#x3002;</li>
</ul>
<h3 id="&#x65B9;&#x6CD5;-5">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>toString</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;[function Function]&quot;</code>&#x3002;</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> func = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params">a, b, c</span>) </span>{ }

<span class="hljs-built_in">console</span>.log(func.constructor === <span class="hljs-string">&apos;Function&apos;</span>)
<span class="hljs-built_in">console</span>.log(func.length === <span class="hljs-number">3</span>)
<span class="hljs-built_in">console</span>.log(func.toString() === <span class="hljs-string">&apos;[function Function]&apos;</span>)
</code></pre>
<h2 id="array">array</h2>
<h3 id="&#x8BED;&#x6CD5;-6">&#x8BED;&#x6CD5;</h3>
<p>array &#x652F;&#x6301;&#x4EE5;&#x4E0B;&#x7684;&#x5B9A;&#x4E49;&#x65B9;&#x5F0F;&#xFF1A;</p>
<pre><code class="language-javascript"><span class="hljs-keyword">let</span> a = [] <span class="hljs-comment">// &#x751F;&#x6210;&#x4E00;&#x4E2A;&#x65B0;&#x7684;&#x7A7A;&#x6570;&#x7EC4;</span>

a = [<span class="hljs-number">1</span>, <span class="hljs-string">&apos;2&apos;</span>, {}, <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{}] <span class="hljs-comment">// &#x751F;&#x6210;&#x4E00;&#x4E2A;&#x65B0;&#x7684;&#x975E;&#x7A7A;&#x6570;&#x7EC4;&#xFF0C;&#x6570;&#x7EC4;&#x5143;&#x7D20;&#x53EF;&#x4EE5;&#x662F;&#x4EFB;&#x4F55;&#x7C7B;&#x578B;</span>
</code></pre>
<h3 id="&#x5C5E;&#x6027;-6">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;Array&quot;</code>&#x3002;</li>
<li><code>length</code></li>
</ul>
<blockquote>
<p>&#x9664;constructor&#x5916;&#x5C5E;&#x6027;&#x7684;&#x5177;&#x4F53;&#x542B;&#x4E49;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h3 id="&#x65B9;&#x6CD5;-6">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>toString</code></li>
<li><code>concat</code></li>
<li><code>join</code></li>
<li><code>pop</code></li>
<li><code>push</code></li>
<li><code>reverse</code></li>
<li><code>shift</code></li>
<li><code>slice</code></li>
<li><code>sort</code></li>
<li><code>splice</code></li>
<li><code>unshift</code></li>
<li><code>indexOf</code></li>
<li><code>lastIndexOf</code></li>
<li><code>every</code></li>
<li><code>some</code></li>
<li><code>forEach</code></li>
<li><code>map</code></li>
<li><code>filter</code></li>
<li><code>reduce</code></li>
<li><code>reduceRight</code></li>
</ul>
<blockquote>
<p>&#x4EE5;&#x4E0A;&#x65B9;&#x6CD5;&#x7684;&#x5177;&#x4F53;&#x4F7F;&#x7528;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h2 id="date">date</h2>
<h3 id="&#x8BED;&#x6CD5;-7">&#x8BED;&#x6CD5;</h3>
<p>&#x751F;&#x6210; date &#x5BF9;&#x8C61;&#x9700;&#x8981;&#x4F7F;&#x7528; <code>getDate</code>&#x51FD;&#x6570;, &#x8FD4;&#x56DE;&#x4E00;&#x4E2A;&#x5F53;&#x524D;&#x65F6;&#x95F4;&#x7684;&#x5BF9;&#x8C61;&#x3002;</p>
<pre><code>getDate()
getDate(milliseconds)
getDate(datestring)
getDate(year, month[, date[, hours[, minutes[, seconds[, milliseconds]]]]])
</code></pre>
<ul>
<li>&#x53C2;&#x6570;
<ul>
<li><code>milliseconds</code>: &#x4ECE;1970&#x5E74;1&#x6708;1&#x65E5;00:00:00 UTC&#x5F00;&#x59CB;&#x8BA1;&#x7B97;&#x7684;&#x6BEB;&#x79D2;&#x6570;</li>
<li><code>datestring</code>: &#x65E5;&#x671F;&#x5B57;&#x7B26;&#x4E32;&#xFF0C;&#x5176;&#x683C;&#x5F0F;&#x4E3A;&#xFF1A;&quot;month day, year hours:minutes:seconds&quot;</li>
</ul>
</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">let</span> date = getDate() <span class="hljs-comment">// &#x8FD4;&#x56DE;&#x5F53;&#x524D;&#x65F6;&#x95F4;&#x5BF9;&#x8C61;</span>

date = getDate(<span class="hljs-number">1500000000000</span>)
<span class="hljs-comment">// Fri Jul 14 2017 10:40:00 GMT+0800 (&#x4E2D;&#x56FD;&#x6807;&#x51C6;&#x65F6;&#x95F4;)</span>
date = getDate(<span class="hljs-string">&apos;2017-7-14&apos;</span>)
<span class="hljs-comment">// Fri Jul 14 2017 00:00:00 GMT+0800 (&#x4E2D;&#x56FD;&#x6807;&#x51C6;&#x65F6;&#x95F4;)</span>
date = getDate(<span class="hljs-number">2017</span>, <span class="hljs-number">6</span>, <span class="hljs-number">14</span>, <span class="hljs-number">10</span>, <span class="hljs-number">40</span>, <span class="hljs-number">0</span>, <span class="hljs-number">0</span>)
<span class="hljs-comment">// Fri Jul 14 2017 10:40:00 GMT+0800 (&#x4E2D;&#x56FD;&#x6807;&#x51C6;&#x65F6;&#x95F4;)</span>
</code></pre>
<h3 id="&#x5C5E;&#x6027;-7">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; &#x201C;Date&#x201D;&#x3002;</li>
</ul>
<h3 id="&#x65B9;&#x6CD5;-7">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>toString</code></li>
<li><code>toDateString</code></li>
<li><code>toTimeString</code></li>
<li><code>toLocaleString</code></li>
<li><code>toLocaleDateString</code></li>
<li><code>toLocaleTimeString</code></li>
<li><code>valueOf</code></li>
<li><code>getTime</code></li>
<li><code>getFullYear</code></li>
<li><code>getUTCFullYear</code></li>
<li><code>getMonth</code></li>
<li><code>getUTCMonth</code></li>
<li><code>getDate</code></li>
<li><code>getUTCDate</code></li>
<li><code>getDay</code></li>
<li><code>getUTCDay</code></li>
<li><code>getHours</code></li>
<li><code>getUTCHours</code></li>
<li><code>getMinutes</code></li>
<li><code>getUTCMinutes</code></li>
<li><code>getSeconds</code></li>
<li><code>getUTCSeconds</code></li>
<li><code>getMilliseconds</code></li>
<li><code>getUTCMilliseconds</code></li>
<li><code>getTimezoneOffset</code></li>
<li><code>setTime</code></li>
<li><code>setMilliseconds</code></li>
<li><code>setUTCMilliseconds</code></li>
<li><code>setSeconds</code></li>
<li><code>setUTCSeconds</code></li>
<li><code>setMinutes</code></li>
<li><code>setUTCMinutes</code></li>
<li><code>setHours</code></li>
<li><code>setUTCHours</code></li>
<li><code>setDate</code></li>
<li><code>setUTCDate</code></li>
<li><code>setMonth</code></li>
<li><code>setUTCMonth</code></li>
<li><code>setFullYear</code></li>
<li><code>setUTCFullYear</code></li>
<li><code>toUTCString</code></li>
<li><code>toISOString</code></li>
<li><code>toJSON</code></li>
</ul>
<blockquote>
<p>&#x4EE5;&#x4E0A;&#x65B9;&#x6CD5;&#x7684;&#x5177;&#x4F53;&#x4F7F;&#x7528;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h2 id="regexp">regexp</h2>
<h3 id="&#x8BED;&#x6CD5;-8">&#x8BED;&#x6CD5;</h3>
<p>&#x751F;&#x6210; regexp &#x5BF9;&#x8C61;&#x9700;&#x8981;&#x4F7F;&#x7528; <code>getRegExp</code>&#x51FD;&#x6570;&#x3002;</p>
<pre><code>getRegExp(pattern[, flags])
</code></pre>
<ul>
<li>&#x53C2;&#x6570;&#xFF1A;
<ul>
<li><code>pattern</code>: &#x6B63;&#x5219;&#x8868;&#x8FBE;&#x5F0F;&#x7684;&#x5185;&#x5BB9;&#x3002;</li>
<li><code>flags</code>&#xFF1A;&#x4FEE;&#x9970;&#x7B26;&#x3002;&#x8BE5;&#x5B57;&#x6BB5;&#x53EA;&#x80FD;&#x5305;&#x542B;&#x4EE5;&#x4E0B;&#x5B57;&#x7B26;:
<ul>
<li><code>g</code>: global</li>
<li><code>i</code>: ignoreCase</li>
<li><code>m</code>: multiline&#x3002;</li>
</ul>
</li>
</ul>
</li>
</ul>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> a = getRegExp(<span class="hljs-string">&apos;x&apos;</span>, <span class="hljs-string">&apos;img&apos;</span>)
<span class="hljs-built_in">console</span>.log(a.source === <span class="hljs-string">&apos;x&apos;</span>)
<span class="hljs-built_in">console</span>.log(a.global === <span class="hljs-literal">true</span>)
<span class="hljs-built_in">console</span>.log(a.ignoreCase === <span class="hljs-literal">true</span>)
<span class="hljs-built_in">console</span>.log(a.multiline === <span class="hljs-literal">true</span>)
</code></pre>
<h3 id="&#x5C5E;&#x6027;-8">&#x5C5E;&#x6027;</h3>
<ul>
<li><code>constructor</code>&#xFF1A;&#x8FD4;&#x56DE;&#x5B57;&#x7B26;&#x4E32; <code>&quot;RegExp&quot;</code>&#x3002;</li>
<li><code>source</code></li>
<li><code>global</code></li>
<li><code>ignoreCase</code></li>
<li><code>multiline</code></li>
<li><code>lastIndex</code></li>
</ul>
<blockquote>
<p>&#x9664;constructor&#x5916;&#x5C5E;&#x6027;&#x7684;&#x5177;&#x4F53;&#x542B;&#x4E49;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h3 id="&#x65B9;&#x6CD5;-8">&#x65B9;&#x6CD5;</h3>
<ul>
<li><code>exec</code></li>
<li><code>test</code></li>
<li><code>toString</code></li>
</ul>
<blockquote>
<p>&#x4EE5;&#x4E0A;&#x65B9;&#x6CD5;&#x7684;&#x5177;&#x4F53;&#x4F7F;&#x7528;&#x8BF7;&#x53C2;&#x8003; <code>ES5</code> &#x6807;&#x51C6;&#x3002;</p>
</blockquote>
<h2 id="&#x6570;&#x636E;&#x7C7B;&#x578B;&#x5224;&#x65AD;">&#x6570;&#x636E;&#x7C7B;&#x578B;&#x5224;&#x65AD;</h2>
<h3 id="constructor-&#x5C5E;&#x6027;"><code>constructor</code> &#x5C5E;&#x6027;</h3>
<p>&#x6570;&#x636E;&#x7C7B;&#x578B;&#x7684;&#x5224;&#x65AD;&#x53EF;&#x4EE5;&#x4F7F;&#x7528; <code>constructor</code> &#x5C5E;&#x6027;&#x3002;</p>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> number = <span class="hljs-number">10</span>
<span class="hljs-built_in">console</span>.log(number.constructor === <span class="hljs-string">&apos;Number&apos;</span>)

<span class="hljs-keyword">const</span> string = <span class="hljs-string">&apos;str&apos;</span>
<span class="hljs-built_in">console</span>.log(string.constructor === <span class="hljs-string">&apos;String&apos;</span>)

<span class="hljs-keyword">const</span> boolean = <span class="hljs-literal">true</span>
<span class="hljs-built_in">console</span>.log(boolean.constructor === <span class="hljs-string">&apos;Boolean&apos;</span>)

<span class="hljs-keyword">const</span> object = {}
<span class="hljs-built_in">console</span>.log(object.constructor === <span class="hljs-string">&apos;Object&apos;</span>)

<span class="hljs-keyword">const</span> func = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{}
<span class="hljs-built_in">console</span>.log(func.constructor === <span class="hljs-string">&apos;Function&apos;</span>)

<span class="hljs-keyword">const</span> array = []
<span class="hljs-built_in">console</span>.log(array.constructor === <span class="hljs-string">&apos;Array&apos;</span>)

<span class="hljs-keyword">const</span> date = getDate()
<span class="hljs-built_in">console</span>.log(date.constructor === <span class="hljs-string">&apos;Date&apos;</span>)

<span class="hljs-keyword">const</span> regexp = getRegExp()
<span class="hljs-built_in">console</span>.log(regexp.constructor === <span class="hljs-string">&apos;RegExp&apos;</span>)
</code></pre>
<h3 id="typeof"><code>typeof</code></h3>
<p>&#x4F7F;&#x7528; <code>typeof</code> &#x4E5F;&#x53EF;&#x4EE5;&#x533A;&#x5206;&#x90E8;&#x5206;&#x6570;&#x636E;&#x7C7B;&#x578B;&#x3002;</p>
<p><strong>&#x793A;&#x4F8B;&#x4EE3;&#x7801;&#xFF1A;</strong></p>
<pre><code class="language-javascript"><span class="hljs-keyword">const</span> number = <span class="hljs-number">10</span>
<span class="hljs-keyword">const</span> boolean = <span class="hljs-literal">true</span>
<span class="hljs-keyword">const</span> object = {}
<span class="hljs-keyword">const</span> func = <span class="hljs-function"><span class="hljs-keyword">function</span> (<span class="hljs-params"></span>) </span>{}
<span class="hljs-keyword">const</span> array = []
<span class="hljs-keyword">const</span> date = getDate()
<span class="hljs-keyword">const</span> regexp = getRegExp()

<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> number === <span class="hljs-string">&apos;number&apos;</span>)
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> boolean === <span class="hljs-string">&apos;boolean&apos;</span>)
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> object === <span class="hljs-string">&apos;object&apos;</span>)
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> func === <span class="hljs-string">&apos;function&apos;</span>)
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> array === <span class="hljs-string">&apos;object&apos;</span>)
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> date === <span class="hljs-string">&apos;object&apos;</span>)
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> regexp === <span class="hljs-string">&apos;object&apos;</span>)

<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> <span class="hljs-literal">undefined</span> === <span class="hljs-string">&apos;undefined&apos;</span>)
<span class="hljs-built_in">console</span>.log(<span class="hljs-keyword">typeof</span> <span class="hljs-literal">null</span> === <span class="hljs-string">&apos;object&apos;</span>)
</code></pre>

                            </section>
                        </div>
                        
                    </div>
                
</body>
</html>
