<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>基础类库</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="基础类库">基础类库</h1>
<h2 id="console">console</h2>
<p><code>console.log</code> 方法用于在 console 窗口输出信息。它可以接受多个参数，将它们的结果连接起来输出。</p>
<h2 id="math">Math</h2>
<h3 id="属性">属性</h3>
<ul>
<li><code>E</code></li>
<li><code>LN10</code></li>
<li><code>LN2</code></li>
<li><code>LOG2E</code></li>
<li><code>LOG10E</code></li>
<li><code>PI</code></li>
<li><code>SQRT1_2</code></li>
<li><code>SQRT2</code></li>
</ul>
<blockquote>
<p>以上属性的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h3 id="方法">方法</h3>
<ul>
<li><code>abs</code></li>
<li><code>acos</code></li>
<li><code>asin</code></li>
<li><code>atan</code></li>
<li><code>atan2</code></li>
<li><code>ceil</code></li>
<li><code>cos</code></li>
<li><code>exp</code></li>
<li><code>floor</code></li>
<li><code>log</code></li>
<li><code>max</code></li>
<li><code>min</code></li>
<li><code>pow</code></li>
<li><code>random</code></li>
<li><code>round</code></li>
<li><code>sin</code></li>
<li><code>sqrt</code></li>
<li><code>tan</code></li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="json">JSON</h2>
<h3 id="方法">方法</h3>
<ul>
<li><code>stringify(object)</code>: 将 <code>object</code> 对象转换为 <code>JSON</code> 字符串，并返回该字符串。</li>
<li><code>parse(string)</code>: 将 <code>JSON</code> 字符串转化成对象，并返回该对象。</li>
</ul>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-javascript">
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">undefined</span> === <span class="hljs-built_in">JSON</span>.stringify());
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">undefined</span> === <span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-literal">undefined</span>));
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"null"</span>===<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-literal">null</span>));

<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"111"</span>===<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-number">111</span>));
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">'"111"'</span>===<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-string">"111"</span>));
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"true"</span>===<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-literal">true</span>));
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">undefined</span>===<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{}));


<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">undefined</span>===<span class="hljs-built_in">JSON</span>.parse(<span class="hljs-built_in">JSON</span>.stringify()));
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">undefined</span>===<span class="hljs-built_in">JSON</span>.parse(<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-literal">undefined</span>)));
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">null</span>===<span class="hljs-built_in">JSON</span>.parse(<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-literal">null</span>)));

<span class="hljs-built_in">console</span>.log(<span class="hljs-number">111</span>===<span class="hljs-built_in">JSON</span>.parse(<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-number">111</span>)));
<span class="hljs-built_in">console</span>.log(<span class="hljs-string">"111"</span>===<span class="hljs-built_in">JSON</span>.parse(<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-string">"111"</span>)));
<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">true</span>===<span class="hljs-built_in">JSON</span>.parse(<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-literal">true</span>)));

<span class="hljs-built_in">console</span>.log(<span class="hljs-literal">undefined</span>===<span class="hljs-built_in">JSON</span>.parse(<span class="hljs-built_in">JSON</span>.stringify(<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params"></span>)</span>{})));
</code></pre>
<h2 id="number">Number</h2>
<h3 id="属性">属性</h3>
<ul>
<li><code>MAX_VALUE</code></li>
<li><code>MIN_VALUE</code></li>
<li><code>NEGATIVE_INFINITY</code></li>
<li><code>POSITIVE_INFINITY</code></li>
</ul>
<blockquote>
<p>以上属性的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="date">Date</h2>
<h3 id="属性">属性</h3>
<ul>
<li><code>parse</code></li>
<li><code>UTC</code> </li>
<li><code>now</code></li>
</ul>
<blockquote>
<p>以上属性的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h2 id="global">Global</h2>
<h3 id="属性">属性</h3>
<ul>
<li><code>NaN</code></li>
<li><code>Infinity</code> </li>
<li><code>undefined</code></li>
</ul>
<blockquote>
<p>以上属性的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>
<h3 id="方法">方法</h3>
<ul>
<li><code>parseInt</code></li>
<li><code>parseFloat</code></li>
<li><code>isNaN</code></li>
<li><code>isFinite</code></li>
<li><code>decodeURI</code> </li>
<li><code>decodeURIComponent</code> </li>
<li><code>encodeURI</code></li>
<li><code>encodeURIComponent</code> </li>
</ul>
<blockquote>
<p>以上方法的具体使用请参考 <code>ES5</code> 标准。</p>
</blockquote>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
