<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>WXS</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="wxs">WXS</h1>
<p>WXS（WeiXin Script）是小程序的一套脚本语言，结合 <code>WXML</code>，可以构建出页面的结构。</p>
<h3 id="注意">注意</h3>
<ol>
<li>wxs 不依赖于运行时的基础库版本，可以在所有版本的小程序中运行。</li>
<li>wxs 与 javascript 是不同的语言，有自己的语法，并不和 javascript 一致。</li>
<li>wxs 的运行环境和其他 javascript 代码是隔离的，wxs 中不能调用其他 javascript 文件中定义的函数，也不能调用小程序提供的API。</li>
<li>wxs 函数不能作为组件的事件回调。 </li>
<li>由于运行环境的差异，在 iOS 设备上小程序内的 wxs 会比 javascript 代码快 2 ~ 20 倍。在 android 设备上二者运行效率无差异。</li>
</ol>
<p>以下是一些使用 WXS 的简单示例：</p>
<h3 id="页面渲染">页面渲染</h3>
<pre><code class="lang-html"><span class="hljs-comment"><!--wxml--></span>
<span class="hljs-tag"><<span class="hljs-name">wxs</span> <span class="hljs-attr">module</span>=<span class="hljs-string">"m1"</span>></span>
var msg = "hello world";

module.exports.message = msg;
<span class="hljs-tag"></<span class="hljs-name">wxs</span>></span>

<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{m1.message}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>页面输出：</p>
<pre><code>hello world
</code></pre><h3 id="数据处理">数据处理</h3>
<pre><code class="lang-js"><span class="hljs-comment">// page.js</span>
Page({
  data: {
    array: [<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>, <span class="hljs-number">5</span>, <span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>]
  }
})
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!--wxml--></span>
<span class="hljs-comment"><!-- 下面的 getMax 函数，接受一个数组，且返回数组中最大的元素的值 --></span>
<span class="hljs-tag"><<span class="hljs-name">wxs</span> <span class="hljs-attr">module</span>=<span class="hljs-string">"m1"</span>></span>
var getMax = function(array) {
  var max = undefined;
  for (var i = 0; i <span class="hljs-tag">< <span class="hljs-attr">array.length</span>; ++<span class="hljs-attr">i</span>) {
    <span class="hljs-attr">max</span> = <span class="hljs-attr">max</span> =<span class="hljs-string">==</span> <span class="hljs-attr">undefined</span> ? 
      <span class="hljs-attr">array</span>[<span class="hljs-attr">i</span>] <span class="hljs-attr">:</span> 
      (<span class="hljs-attr">max</span> ></span>= array[i] ? max : array[i]);
  }
  return max;
}

module.exports.getMax = getMax;
<span class="hljs-tag"></<span class="hljs-name">wxs</span>></span>

<span class="hljs-comment"><!-- 调用 wxs 里面的 getMax 函数，参数为 page.js 里面的 array --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{m1.getMax(array)}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>页面输出：</p>
<pre><code>5
</code></pre>
                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
