<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>数据绑定</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="数据绑定">数据绑定</h1>
<p>WXML 中的动态数据均来自对应 Page 的 data。</p>
<h2 id="简单绑定">简单绑定</h2>
<p>数据绑定使用 Mustache 语法（双大括号）将变量包起来，可以作用于：</p>
<h3 id="内容">内容</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{ message }} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    message: <span class="hljs-string">'Hello MINA!'</span>
  }
})
</code></pre>
<h3 id="组件属性需要在双引号之内">组件属性(需要在双引号之内)</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"item-{{id}}"</span>></span> <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    id: <span class="hljs-number">0</span>
  }
})
</code></pre>
<h3 id="控制属性需要在双引号之内">控制属性(需要在双引号之内)</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:if</span>=<span class="hljs-string">"{{condition}}"</span>></span> <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    condition: <span class="hljs-literal">true</span>
  }
})
</code></pre>
<h3 id="关键字需要在双引号之内">关键字(需要在双引号之内)</h3>
<p><code>true</code>：boolean 类型的 true，代表真值。</p>
<p><code>false</code>： boolean 类型的 false，代表假值。</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">checkbox</span> <span class="hljs-attr">checked</span>=<span class="hljs-string">"{{false}}"</span>></span> <span class="hljs-tag"></<span class="hljs-name">checkbox</span>></span>
</code></pre>
<p><strong><em>特别注意：不要直接写 <code>checked="false"</code>，其计算结果是一个字符串，转成 boolean 类型后代表真值。</em></strong></p>
<h2 id="运算">运算</h2>
<p>可以在 <code>{{}}</code> 内进行简单的运算，支持的有如下几种方式：</p>
<h3 id="三元运算">三元运算</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">hidden</span>=<span class="hljs-string">"{{flag ? true : false}}"</span>></span> Hidden <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<h3 id="算数运算">算数运算</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{a + b}} + {{c}} + d <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    a: <span class="hljs-number">1</span>,
    b: <span class="hljs-number">2</span>,
    c: <span class="hljs-number">3</span>
  }
})
</code></pre>
<p>view中的内容为 <code>3 + 3 + d</code>。</p>
<h3 id="逻辑判断">逻辑判断</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:if</span>=<span class="hljs-string">"{{length > 5}}"</span>></span> <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<h3 id="字符串运算">字符串运算</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span>></span>{{"hello" + name}}<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-javascript">Page({
  data:{
    name: <span class="hljs-string">'MINA'</span>
  }
})
</code></pre>
<h3 id="数据路径运算">数据路径运算</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span>></span>{{object.key}} {{array[0]}}<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    object: {
      key: <span class="hljs-string">'Hello '</span>
    },
    array: [<span class="hljs-string">'MINA'</span>]
  }
})
</code></pre>
<h2 id="组合">组合</h2>
<p>也可以在 Mustache 内直接进行组合，构成新的对象或者数组。</p>
<h3 id="数组">数组</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[zero, 1, 2, 3, 4]}}"</span>></span> {{item}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    zero: <span class="hljs-number">0</span>
  }
})
</code></pre>
<p>最终组合成数组<code>[0, 1, 2, 3, 4]</code>。</p>
<h3 id="对象">对象</h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"objectCombine"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{for: a, bar: b}}"</span>></span><span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    a: <span class="hljs-number">1</span>,
    b: <span class="hljs-number">2</span>
  }
})
</code></pre>
<p>最终组合成的对象是 <code>{for: 1, bar: 2}</code></p>
<p>也可以用扩展运算符 <code>...</code> 来将一个对象展开</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"objectCombine"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{...obj1, ...obj2, e: 5}}"</span>></span><span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    obj1: {
      a: <span class="hljs-number">1</span>,
      b: <span class="hljs-number">2</span>
    },
    obj2: {
      c: <span class="hljs-number">3</span>,
      d: <span class="hljs-number">4</span>
    }
  }
})
</code></pre>
<p>最终组合成的对象是 <code>{a: 1, b: 2, c: 3, d: 4, e: 5}</code>。</p>
<p>如果对象的 key 和 value 相同，也可以间接地表达。</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"objectCombine"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{foo, bar}}"</span>></span><span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    foo: <span class="hljs-string">'my-foo'</span>,
    bar: <span class="hljs-string">'my-bar'</span>
  }
})
</code></pre>
<p>最终组合成的对象是 <code>{foo: 'my-foo', bar:'my-bar'}</code>。</p>
<p><strong>注意：</strong>上述方式可以随意组合，但是如有存在变量名相同的情况，后边的会覆盖前面，如：</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"objectCombine"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{...obj1, ...obj2, a, c: 6}}"</span>></span><span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    obj1: {
      a: <span class="hljs-number">1</span>,
      b: <span class="hljs-number">2</span>
    },
    obj2: {
      b: <span class="hljs-number">3</span>,
      c: <span class="hljs-number">4</span>
    },
    a: <span class="hljs-number">5</span>
  }
})
</code></pre>
<p>最终组合成的对象是 <code>{a: 5, b: 3, c: 6}</code>。</p>
<p><strong>注意：</strong> 花括号和引号之间如果有空格，将最终被解析成为字符串</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[1,2,3]}} "</span>></span>
  {{item}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>等同于</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[1,2,3] + ' '}}"</span>></span>
  {{item}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
