<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>事件</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="事件">事件</h1>
<h2 id="什么是事件">什么是事件</h2>
<ul>
<li>事件是视图层到逻辑层的通讯方式。</li>
<li>事件可以将用户的行为反馈到逻辑层进行处理。</li>
<li>事件可以绑定在组件上，当达到触发事件，就会执行逻辑层中对应的事件处理函数。</li>
<li>事件对象可以携带额外信息，如 id, dataset, touches。</li>
</ul>
<h2 id="事件的使用方式">事件的使用方式</h2>
<ul>
<li>在组件中绑定一个事件处理函数。</li>
</ul>
<p>如<code>bindtap</code>，当用户点击该组件的时候会在该页面对应的Page中找到相应的事件处理函数。</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"tapTest"</span> <span class="hljs-attr">data-hi</span>=<span class="hljs-string">"WeChat"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"tapName"</span>></span> Click me! <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<ul>
<li>在相应的Page定义中写上相应的事件处理函数，参数是event。</li>
</ul>
<pre><code class="lang-js">Page({
  tapName: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">event</span>) </span>{
    <span class="hljs-built_in">console</span>.log(event)
  }
})
</code></pre>
<ul>
<li>可以看到log出来的信息大致如下：<pre><code class="lang-json">{
<span class="hljs-string">"type"</span>:<span class="hljs-string">"tap"</span>,
<span class="hljs-string">"timeStamp"</span>:<span class="hljs-number">895</span>,
<span class="hljs-string">"target"</span>: {
  <span class="hljs-string">"id"</span>: <span class="hljs-string">"tapTest"</span>,
  <span class="hljs-string">"dataset"</span>:  {
    <span class="hljs-string">"hi"</span>:<span class="hljs-string">"WeChat"</span>
  }
},
<span class="hljs-string">"currentTarget"</span>:  {
  <span class="hljs-string">"id"</span>: <span class="hljs-string">"tapTest"</span>,
  <span class="hljs-string">"dataset"</span>: {
    <span class="hljs-string">"hi"</span>:<span class="hljs-string">"WeChat"</span>
  }
},
<span class="hljs-string">"detail"</span>: {
  <span class="hljs-string">"x"</span>:<span class="hljs-number">53</span>,
  <span class="hljs-string">"y"</span>:<span class="hljs-number">14</span>
},
<span class="hljs-string">"touches"</span>:[{
  <span class="hljs-string">"identifier"</span>:<span class="hljs-number">0</span>,
  <span class="hljs-string">"pageX"</span>:<span class="hljs-number">53</span>,
  <span class="hljs-string">"pageY"</span>:<span class="hljs-number">14</span>,
  <span class="hljs-string">"clientX"</span>:<span class="hljs-number">53</span>,
  <span class="hljs-string">"clientY"</span>:<span class="hljs-number">14</span>
}],
<span class="hljs-string">"changedTouches"</span>:[{
  <span class="hljs-string">"identifier"</span>:<span class="hljs-number">0</span>,
  <span class="hljs-string">"pageX"</span>:<span class="hljs-number">53</span>,
  <span class="hljs-string">"pageY"</span>:<span class="hljs-number">14</span>,
  <span class="hljs-string">"clientX"</span>:<span class="hljs-number">53</span>,
  <span class="hljs-string">"clientY"</span>:<span class="hljs-number">14</span>
}]
}
</code></pre>
</li>
</ul>
<h2 id="事件详解">事件详解</h2>
<h3 id="事件分类">事件分类</h3>
<p>事件分为冒泡事件和非冒泡事件：</p>
<ol>
<li>冒泡事件：当一个组件上的事件被触发后，该事件会向父节点传递。</li>
<li>非冒泡事件：当一个组件上的事件被触发后，该事件不会向父节点传递。</li>
</ol>
<p>WXML的冒泡事件列表：</p>
<table>
<thead>
<tr>
<th>类型</th>
<th>触发条件</th>
<th>最低版本</th>
</tr>
</thead>
<tbody>
<tr>
<td>touchstart</td>
<td>手指触摸动作开始</td>
<td></td>
</tr>
<tr>
<td>touchmove</td>
<td>手指触摸后移动</td>
<td></td>
</tr>
<tr>
<td>touchcancel</td>
<td>手指触摸动作被打断，如来电提醒，弹窗</td>
<td></td>
</tr>
<tr>
<td>touchend</td>
<td>手指触摸动作结束</td>
<td></td>
</tr>
<tr>
<td>tap</td>
<td>手指触摸后马上离开</td>
<td></td>
</tr>
<tr>
<td>longpress</td>
<td>手指触摸后，超过350ms再离开，如果指定了事件回调函数并触发了这个事件，tap事件将不被触发</td>
<td><a href="../../compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a></td>
</tr>
<tr>
<td>longtap</td>
<td>手指触摸后，超过350ms再离开（推荐使用longpress事件代替）</td>
<td></td>
</tr>
<tr>
<td>transitionend</td>
<td>会在 WXSS transition 或 wx.createAnimation 动画结束后触发</td>
<td></td>
</tr>
<tr>
<td>animationstart</td>
<td>会在一个 WXSS animation 动画开始时触发</td>
<td></td>
</tr>
<tr>
<td>animationiteration</td>
<td>会在一个 WXSS animation 一次迭代结束时触发</td>
<td></td>
</tr>
<tr>
<td>animationend</td>
<td>会在一个 WXSS animation 动画完成时触发</td>
<td></td>
</tr>
<tr>
<td>touchforcechange</td>
<td>在支持 3D Touch 的 iPhone 设备，重按时会触发</td>
<td><a href="../../compatibility.html" title="基础库 1.9.90 开始支持，低版本需做兼容处理。">1.9.90</a></td>
</tr>
</tbody>
</table>
<p><strong>注：除上表之外的其他组件自定义事件如无特殊声明都是非冒泡事件，如<a href="../../../component/form.html"><code><form/></code></a>的<code>submit</code>事件，<a href="../../../component/input.html"><code><input/></code></a>的<code>input</code>事件，<a href="../../../component/scroll-view.html"><code><scroll-view/></code></a>的<code>scroll</code>事件，(详见各个<a href="../../../component/">组件</a>)</strong></p>
<h3 id="事件绑定和冒泡">事件绑定和冒泡</h3>
<p>事件绑定的写法同组件的属性，以 key、value 的形式。</p>
<ul>
<li>key 以<code>bind</code>或<code>catch</code>开头，然后跟上事件的类型，如<code>bindtap</code>、<code>catchtouchstart</code>。自基础库版本 <a href="../../compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a> 起，<code>bind</code>和<code>catch</code>后可以紧跟一个冒号，其含义不变，如<code>bind:tap</code>、、<code>catch:touchstart</code>。</li>
<li>value 是一个字符串，需要在对应的 Page 中定义同名的函数。不然当触发事件的时候会报错。</li>
</ul>
<p><code>bind</code>事件绑定不会阻止冒泡事件向上冒泡，<code>catch</code>事件绑定可以阻止冒泡事件向上冒泡。</p>
<p>如在下边这个例子中，点击 inner view 会先后调用<code>handleTap3</code>和<code>handleTap2</code>(因为tap事件会冒泡到 middle view，而 middle view 阻止了 tap 事件冒泡，不再向父节点传递)，点击 middle view 会触发<code>handleTap2</code>，点击 outer view 会触发<code>handleTap1</code>。</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"outer"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"handleTap1"</span>></span>
  outer view
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"middle"</span> <span class="hljs-attr">catchtap</span>=<span class="hljs-string">"handleTap2"</span>></span>
    middle view
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"inner"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"handleTap3"</span>></span>
      inner view
    <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
  <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<h3 id="事件的捕获阶段">事件的捕获阶段</h3>
<p>自基础库版本 <a href="../../compatibility.html" title="基础库 1.5.0 开始支持，低版本需做兼容处理。">1.5.0</a> 起，触摸类事件支持捕获阶段。捕获阶段位于冒泡阶段之前，且在捕获阶段中，事件到达节点的顺序与冒泡阶段恰好相反。需要在捕获阶段监听事件时，可以采用<code>capture-bind</code>、<code>capture-catch</code>关键字，后者将中断捕获阶段和取消冒泡阶段。</p>
<p>在下面的代码中，点击 inner view 会先后调用<code>handleTap2</code>、<code>handleTap4</code>、<code>handleTap3</code>、<code>handleTap1</code>。</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"outer"</span> <span class="hljs-attr">bind:touchstart</span>=<span class="hljs-string">"handleTap1"</span> <span class="hljs-attr">capture-bind:touchstart</span>=<span class="hljs-string">"handleTap2"</span>></span>
  outer view
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"inner"</span> <span class="hljs-attr">bind:touchstart</span>=<span class="hljs-string">"handleTap3"</span> <span class="hljs-attr">capture-bind:touchstart</span>=<span class="hljs-string">"handleTap4"</span>></span>
    inner view
  <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>如果将上面代码中的第一个<code>capture-bind</code>改为<code>capture-catch</code>，将只触发<code>handleTap2</code>。</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"outer"</span> <span class="hljs-attr">bind:touchstart</span>=<span class="hljs-string">"handleTap1"</span> <span class="hljs-attr">capture-catch:touchstart</span>=<span class="hljs-string">"handleTap2"</span>></span>
  outer view
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"inner"</span> <span class="hljs-attr">bind:touchstart</span>=<span class="hljs-string">"handleTap3"</span> <span class="hljs-attr">capture-bind:touchstart</span>=<span class="hljs-string">"handleTap4"</span>></span>
    inner view
  <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<h3 id="事件对象">事件对象</h3>
<p>如无特殊说明，当组件触发事件时，逻辑层绑定该事件的处理函数会收到一个事件对象。</p>
<p><strong>BaseEvent 基础事件对象属性列表：</strong></p>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#type">type</a></td>
<td>String</td>
<td>事件类型</td>
</tr>
<tr>
<td><a href="#timeStamp">timeStamp</a></td>
<td>Integer</td>
<td>事件生成时的时间戳</td>
</tr>
<tr>
<td><a href="#target">target</a></td>
<td>Object</td>
<td>触发事件的组件的一些属性值集合</td>
</tr>
<tr>
<td><a href="#currenttarget">currentTarget</a></td>
<td>Object</td>
<td>当前组件的一些属性值集合</td>
</tr>
</tbody>
</table>
<p><strong>CustomEvent 自定义事件对象属性列表（继承 BaseEvent）：</strong></p>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#detail">detail</a></td>
<td>Object</td>
<td>额外的信息</td>
</tr>
</tbody>
</table>
<p><strong>TouchEvent 触摸事件对象属性列表（继承 BaseEvent）：</strong></p>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="#touches">touches</a></td>
<td>Array</td>
<td>触摸事件，当前停留在屏幕中的触摸点信息的数组</td>
</tr>
<tr>
<td><a href="#changedTouches">changedTouches</a></td>
<td>Array</td>
<td>触摸事件，当前变化的触摸点信息的数组</td>
</tr>
</tbody>
</table>
<p><strong>特殊事件： <code><canvas/></code> 中的触摸事件不可冒泡，所以没有 currentTarget。</strong></p>
<h3 id="type">type</h3>
<p>代表事件的类型。</p>
<h3 id="timestamp">timeStamp</h3>
<p>页面打开到触发事件所经过的毫秒数。</p>
<h3 id="target">target</h3>
<p>触发事件的源组件。</p>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>id</td>
<td>String</td>
<td>事件源组件的id</td>
</tr>
<tr>
<td>tagName</td>
<td>String</td>
<td>当前组件的类型</td>
</tr>
<tr>
<td><a href="#dataset">dataset</a></td>
<td>Object</td>
<td>事件源组件上由<code>data-</code>开头的自定义属性组成的集合</td>
</tr>
</tbody>
</table>
<h3 id="currenttarget">currentTarget</h3>
<p>事件绑定的当前组件。</p>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>id</td>
<td>String</td>
<td>当前组件的id</td>
</tr>
<tr>
<td>tagName</td>
<td>String</td>
<td>当前组件的类型</td>
</tr>
<tr>
<td><a href="#dataset">dataset</a></td>
<td>Object</td>
<td>当前组件上由<code>data-</code>开头的自定义属性组成的集合</td>
</tr>
</tbody>
</table>
<p><strong>说明： target 和 currentTarget 可以参考上例中，点击 inner view 时，<code>handleTap3</code> 收到的事件对象 target 和 currentTarget 都是 inner，而 <code>handleTap2</code> 收到的事件对象 target 就是 inner，currentTarget 就是 middle。</strong></p>
<h4 id="dataset">dataset</h4>
<p>在组件中可以定义数据，这些数据将会通过事件传递给 SERVICE。
书写方式：
以<code>data-</code>开头，多个单词由连字符<code>-</code>链接，不能有大写(大写会自动转成小写)如<code>data-element-type</code>，最终在 event.currentTarget.dataset 中会将连字符转成驼峰<code>elementType</code>。</p>
<p><strong>示例：</strong></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">data-alpha-beta</span>=<span class="hljs-string">"1"</span> <span class="hljs-attr">data-alphaBeta</span>=<span class="hljs-string">"2"</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"bindViewTap"</span>></span> DataSet Test <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-javascript">Page({
  bindViewTap:<span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">event</span>)</span>{
    event.currentTarget.dataset.alphaBeta === <span class="hljs-number">1</span> <span class="hljs-comment">// - 会转为驼峰写法</span>
    event.currentTarget.dataset.alphabeta === <span class="hljs-number">2</span> <span class="hljs-comment">// 大写会转为小写</span>
  }
})
</code></pre>
<h3 id="touches">touches</h3>
<p>touches 是一个数组，每个元素为一个 Touch 对象（canvas 触摸事件中携带的 touches 是 CanvasTouch 数组）。
表示当前停留在屏幕上的触摸点。</p>
<h4 id="touch-对象">Touch 对象</h4>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>identifier</td>
<td>Number</td>
<td>触摸点的标识符</td>
</tr>
<tr>
<td>pageX, pageY</td>
<td>Number</td>
<td>距离文档左上角的距离，文档的左上角为原点 ，横向为X轴，纵向为Y轴</td>
</tr>
<tr>
<td>clientX, clientY</td>
<td>Number</td>
<td>距离页面可显示区域（屏幕除去导航条）左上角距离，横向为X轴，纵向为Y轴</td>
</tr>
</tbody>
</table>
<h4 id="canvastouch-对象">CanvasTouch 对象</h4>
<table>
<thead>
<tr>
<th>属性</th>
<th>类型</th>
<th>说明</th>
<th>特殊说明</th>
</tr>
</thead>
<tbody>
<tr>
<td>identifier</td>
<td>Number</td>
<td>触摸点的标识符</td>
<td></td>
</tr>
<tr>
<td>x, y</td>
<td>Number</td>
<td>距离 Canvas 左上角的距离，Canvas 的左上角为原点 ，横向为X轴，纵向为Y轴</td>
</tr>
</tbody>
</table>
<h3 id="changedtouches">changedTouches</h3>
<p>changedTouches 数据格式同 touches。
表示有变化的触摸点，如从无变有（touchstart），位置变化（touchmove），从有变无（touchend、touchcancel）。</p>
<h3 id="detail">detail</h3>
<p>自定义事件所携带的数据，如表单组件的提交事件会携带用户的输入，媒体的错误事件会携带错误信息，详见<a href="wxml/wxml-component.md">组件</a>定义中各个事件的定义。</p>
<p>点击事件的<code>detail</code> 带有的 x, y 同 pageX, pageY 代表距离文档左上角的距离。</p>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
