<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>引用</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="引用">引用</h1>
<p>WXML 提供两种文件引用方式<code>import</code>和<code>include</code>。</p>
<h3 id="import">import</h3>
<p><code>import</code>可以在该文件中使用目标文件定义的<code>template</code>，如：</p>
<p>在 item.wxml 中定义了一个叫<code>item</code>的<code>template</code>：</p>
<pre><code class="lang-html"><span class="hljs-comment"><!-- item.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"item"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">text</span>></span>{{text}}<span class="hljs-tag"></<span class="hljs-name">text</span>></span>
<span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<p>在 index.wxml 中引用了 item.wxml，就可以使用<code>item</code>模板：</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">import</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"item.wxml"</span>/></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"item"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{text: 'forbar'}}"</span>/></span>
</code></pre>
<h3 id="import-的作用域">import 的作用域</h3>
<p>import 有作用域的概念，即只会 import 目标文件中定义的 template，而不会 import 目标文件 import 的 template。</p>
<p><strong>如：C import B，B import A，在C中可以使用B定义的<code>template</code>，在B中可以使用A定义的<code>template</code>，但是C不能使用A定义的<code>template</code></strong>。</p>
<pre><code class="lang-html"><span class="hljs-comment"><!-- A.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"A"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">text</span>></span> A template <span class="hljs-tag"></<span class="hljs-name">text</span>></span>
<span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- B.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">import</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"a.wxml"</span>/></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"B"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">text</span>></span> B template <span class="hljs-tag"></<span class="hljs-name">text</span>></span>
<span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- C.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">import</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"b.wxml"</span>/></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"A"</span>/></span>  <span class="hljs-comment"><!-- Error! Can not use tempalte when not import A. --></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"B"</span>/></span>
</code></pre>
<h3 id="include">include</h3>
<p><code>include</code> 可以将目标文件<strong>除了</strong> <code><template/></code> <code><wxs/></code> 外的整个代码引入，相当于是拷贝到 <code>include</code> 位置，如：</p>
<pre><code class="lang-html"><span class="hljs-comment"><!-- index.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">include</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"header.wxml"</span>/></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> body <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"><<span class="hljs-name">include</span> <span class="hljs-attr">src</span>=<span class="hljs-string">"footer.wxml"</span>/></span>
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- header.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> header <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-html"><span class="hljs-comment"><!-- footer.wxml --></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> footer <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
