<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>WXML</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="wxml">WXML</h1>
<p>WXML（WeiXin Markup Language）是框架设计的一套标签语言，结合<a href="../../../component/">基础组件</a>、<a href="event.html">事件系统</a>，可以构建出页面的结构。</p>
<p>用以下一些简单的例子来看看 WXML 具有什么能力：</p>
<h3 id="数据绑定"><a href="data.html">数据绑定</a></h3>
<pre><code class="lang-html"><span class="hljs-comment"><!--wxml--></span>
<span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{message}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js"><span class="hljs-comment">// page.js</span>
Page({
  data: {
    message: <span class="hljs-string">'Hello MINA!'</span>
  }
})
</code></pre>
<h3 id="列表渲染"><a href="list.html">列表渲染</a></h3>
<pre><code class="lang-html"><span class="hljs-comment"><!--wxml--></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{array}}"</span>></span> {{item}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js"><span class="hljs-comment">// page.js</span>
Page({
  data: {
    array: [<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>, <span class="hljs-number">5</span>]
  }
})
</code></pre>
<h3 id="条件渲染"><a href="conditional.html">条件渲染</a></h3>
<pre><code class="lang-html"><span class="hljs-comment"><!--wxml--></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:if</span>=<span class="hljs-string">"{{view == 'WEBVIEW'}}"</span>></span> WEBVIEW <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:elif</span>=<span class="hljs-string">"{{view == 'APP'}}"</span>></span> APP <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:else</span>=<span class="hljs-string">"{{view == 'MINA'}}"</span>></span> MINA <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js"><span class="hljs-comment">// page.js</span>
Page({
  data: {
    view: <span class="hljs-string">'MINA'</span>
  }
})
</code></pre>
<h3 id="模板"><a href="template.html">模板</a></h3>
<pre><code class="lang-html"><span class="hljs-comment"><!--wxml--></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">name</span>=<span class="hljs-string">"staffName"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span>></span>
    FirstName: {{firstName}}, LastName: {{lastName}}
  <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"></<span class="hljs-name">template</span>></span>

<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"staffName"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{...staffA}}"</span>></span><span class="hljs-tag"></<span class="hljs-name">template</span>></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"staffName"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{...staffB}}"</span>></span><span class="hljs-tag"></<span class="hljs-name">template</span>></span>
<span class="hljs-tag"><<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">"staffName"</span> <span class="hljs-attr">data</span>=<span class="hljs-string">"{{...staffC}}"</span>></span><span class="hljs-tag"></<span class="hljs-name">template</span>></span>
</code></pre>
<pre><code class="lang-js"><span class="hljs-comment">// page.js</span>
Page({
  data: {
    staffA: {firstName: <span class="hljs-string">'Hulk'</span>, lastName: <span class="hljs-string">'Hu'</span>},
    staffB: {firstName: <span class="hljs-string">'Shang'</span>, lastName: <span class="hljs-string">'You'</span>},
    staffC: {firstName: <span class="hljs-string">'Gideon'</span>, lastName: <span class="hljs-string">'Lin'</span>}
  }
})
</code></pre>
<h3 id="事件"><a href="event.html">事件</a></h3>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"add"</span>></span> {{count}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    count: <span class="hljs-number">1</span>
  },
  add: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      count: <span class="hljs-keyword">this</span>.data.count + <span class="hljs-number">1</span>
    })
  }
})
</code></pre>
<p>具体的能力以及使用方式在以下章节查看：</p>
<p><a href="data.html">数据绑定</a>、<a href="list.html">列表渲染</a>、<a href="conditional.html">条件渲染</a>、<a href="template.html">模板</a>、<a href="event.html">事件</a>、<a href="import.html">引用</a></p>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
