<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>WXML</title>
  <link rel="stylesheet" href="../../../../style.css" />
  <link rel="stylesheet" href="../../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                                <h1 id="wxml">WXML</h1>
<p>WXML&#xFF08;WeiXin Markup Language&#xFF09;&#x662F;&#x6846;&#x67B6;&#x8BBE;&#x8BA1;&#x7684;&#x4E00;&#x5957;&#x6807;&#x7B7E;&#x8BED;&#x8A00;&#xFF0C;&#x7ED3;&#x5408;<a href="../../../component/index.html">&#x57FA;&#x7840;&#x7EC4;&#x4EF6;</a>&#x3001;<a href="event.html">&#x4E8B;&#x4EF6;&#x7CFB;&#x7EDF;</a>&#xFF0C;&#x53EF;&#x4EE5;&#x6784;&#x5EFA;&#x51FA;&#x9875;&#x9762;&#x7684;&#x7ED3;&#x6784;&#x3002;</p>
<p>&#x7528;&#x4EE5;&#x4E0B;&#x4E00;&#x4E9B;&#x7B80;&#x5355;&#x7684;&#x4F8B;&#x5B50;&#x6765;&#x770B;&#x770B; WXML &#x5177;&#x6709;&#x4EC0;&#x4E48;&#x80FD;&#x529B;&#xFF1A;</p>
<h3 id="&#x6570;&#x636E;&#x7ED1;&#x5B9A;"><a href="data.html">&#x6570;&#x636E;&#x7ED1;&#x5B9A;</a></h3>
<pre><code class="language-html"><span class="hljs-comment">&lt;!--wxml--&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span> {{message}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-js"><span class="hljs-comment">// page.js</span>
Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">message</span>: <span class="hljs-string">&apos;Hello MINA!&apos;</span>
  }
})
</code></pre>
<h3 id="&#x5217;&#x8868;&#x6E32;&#x67D3;"><a href="list.html">&#x5217;&#x8868;&#x6E32;&#x67D3;</a></h3>
<pre><code class="language-html"><span class="hljs-comment">&lt;!--wxml--&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">&quot;{{array}}&quot;</span>&gt;</span> {{item}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-js"><span class="hljs-comment">// page.js</span>
Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">array</span>: [<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>, <span class="hljs-number">5</span>]
  }
})
</code></pre>
<h3 id="&#x6761;&#x4EF6;&#x6E32;&#x67D3;"><a href="conditional.html">&#x6761;&#x4EF6;&#x6E32;&#x67D3;</a></h3>
<pre><code class="language-html"><span class="hljs-comment">&lt;!--wxml--&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">wx:if</span>=<span class="hljs-string">&quot;{{view == &apos;WEBVIEW&apos;}}&quot;</span>&gt;</span> WEBVIEW <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">wx:elif</span>=<span class="hljs-string">&quot;{{view == &apos;APP&apos;}}&quot;</span>&gt;</span> APP <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">wx:else</span>=<span class="hljs-string">&quot;{{view == &apos;MINA&apos;}}&quot;</span>&gt;</span> MINA <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-js"><span class="hljs-comment">// page.js</span>
Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">view</span>: <span class="hljs-string">&apos;MINA&apos;</span>
  }
})
</code></pre>
<h3 id="&#x6A21;&#x677F;"><a href="template.html">&#x6A21;&#x677F;</a></h3>
<pre><code class="language-html"><span class="hljs-comment">&lt;!--wxml--&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">name</span>=<span class="hljs-string">&quot;staffName&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">view</span>&gt;</span>
    FirstName: {{firstName}}, LastName: {{lastName}}
  <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">&quot;staffName&quot;</span> <span class="hljs-attr">data</span>=<span class="hljs-string">&quot;{{...staffA}}&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">&quot;staffName&quot;</span> <span class="hljs-attr">data</span>=<span class="hljs-string">&quot;{{...staffB}}&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">template</span> <span class="hljs-attr">is</span>=<span class="hljs-string">&quot;staffName&quot;</span> <span class="hljs-attr">data</span>=<span class="hljs-string">&quot;{{...staffC}}&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">template</span>&gt;</span>
</code></pre>
<pre><code class="language-js"><span class="hljs-comment">// page.js</span>
Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">staffA</span>: {<span class="hljs-attr">firstName</span>: <span class="hljs-string">&apos;Hulk&apos;</span>, <span class="hljs-attr">lastName</span>: <span class="hljs-string">&apos;Hu&apos;</span>},
    <span class="hljs-attr">staffB</span>: {<span class="hljs-attr">firstName</span>: <span class="hljs-string">&apos;Shang&apos;</span>, <span class="hljs-attr">lastName</span>: <span class="hljs-string">&apos;You&apos;</span>},
    <span class="hljs-attr">staffC</span>: {<span class="hljs-attr">firstName</span>: <span class="hljs-string">&apos;Gideon&apos;</span>, <span class="hljs-attr">lastName</span>: <span class="hljs-string">&apos;Lin&apos;</span>}
  }
})
</code></pre>
<h3 id="&#x4E8B;&#x4EF6;"><a href="event.html">&#x4E8B;&#x4EF6;</a></h3>
<pre><code class="language-html"><span class="hljs-tag">&lt;<span class="hljs-name">view</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">&quot;add&quot;</span>&gt;</span> {{count}} <span class="hljs-tag">&lt;/<span class="hljs-name">view</span>&gt;</span>
</code></pre>
<pre><code class="language-js">Page({
  <span class="hljs-attr">data</span>: {
    <span class="hljs-attr">count</span>: <span class="hljs-number">1</span>
  },
  <span class="hljs-attr">add</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">this</span>.setData({
      <span class="hljs-attr">count</span>: <span class="hljs-keyword">this</span>.data.count + <span class="hljs-number">1</span>
    })
  }
})
</code></pre>
<p>&#x5177;&#x4F53;&#x7684;&#x80FD;&#x529B;&#x4EE5;&#x53CA;&#x4F7F;&#x7528;&#x65B9;&#x5F0F;&#x5728;&#x4EE5;&#x4E0B;&#x7AE0;&#x8282;&#x67E5;&#x770B;&#xFF1A;</p>
<p><a href="data.html">&#x6570;&#x636E;&#x7ED1;&#x5B9A;</a>&#x3001;<a href="list.html">&#x5217;&#x8868;&#x6E32;&#x67D3;</a>&#x3001;<a href="conditional.html">&#x6761;&#x4EF6;&#x6E32;&#x67D3;</a>&#x3001;<a href="template.html">&#x6A21;&#x677F;</a>&#x3001;<a href="event.html">&#x4E8B;&#x4EF6;</a>&#x3001;<a href="import.html">&#x5F15;&#x7528;</a></p>

                            </section>      
                        </div>
                        
                    </div>
                
</body>
</html>
