<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>列表渲染</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="列表渲染">列表渲染</h1>
<h3 id="wxfor">wx:for</h3>
<p>在组件上使用 <code>wx:for</code> 控制属性绑定一个数组，即可使用数组中各项的数据重复渲染该组件。</p>
<p>默认数组的当前项的下标变量名默认为 <code>index</code>，数组当前项的变量名默认为 <code>item</code></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{array}}"</span>></span>
  {{index}}: {{item.message}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    array: [{
      message: <span class="hljs-string">'foo'</span>,
    }, {
      message: <span class="hljs-string">'bar'</span>
    }]
  }
})
</code></pre>
<p>使用 <code>wx:for-item</code> 可以指定数组当前元素的变量名，</p>
<p>使用 <code>wx:for-index</code> 可以指定数组当前下标的变量名：</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{array}}"</span> <span class="hljs-attr">wx:for-index</span>=<span class="hljs-string">"idx"</span> <span class="hljs-attr">wx:for-item</span>=<span class="hljs-string">"itemName"</span>></span>
  {{idx}}: {{itemName.message}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p><code>wx:for</code> 也可以嵌套，下边是一个九九乘法表</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[1, 2, 3, 4, 5, 6, 7, 8, 9]}}"</span> <span class="hljs-attr">wx:for-item</span>=<span class="hljs-string">"i"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[1, 2, 3, 4, 5, 6, 7, 8, 9]}}"</span> <span class="hljs-attr">wx:for-item</span>=<span class="hljs-string">"j"</span>></span>
    <span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:if</span>=<span class="hljs-string">"{{i <= j}}"</span>></span>
      {{i}} * {{j}} = {{i * j}}
    <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
  <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<h3 id="block-wxfor">block wx:for</h3>
<p>类似 <code>block wx:if</code>，也可以将 <code>wx:for</code> 用在<code><block/></code>标签上，以渲染一个包含多节点的结构块。例如：</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">block</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[1, 2, 3]}}"</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{index}}: <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
  <span class="hljs-tag"><<span class="hljs-name">view</span>></span> {{item}} <span class="hljs-tag"></<span class="hljs-name">view</span>></span>
<span class="hljs-tag"></<span class="hljs-name">block</span>></span>
</code></pre>
<h3 id="wxkey">wx:key</h3>
<p>如果列表中项目的位置会动态改变或者有新的项目添加到列表中，并且希望列表中的项目保持自己的特征和状态（如 <code><input/></code> 中的输入内容，<code><switch/></code> 的选中状态），需要使用 <code>wx:key</code> 来指定列表中项目的唯一的标识符。</p>
<p><code>wx:key</code> 的值以两种形式提供</p>
<ol>
<li>字符串，代表在 for 循环的 array 中 item 的某个 property，该 property 的值需要是列表中唯一的字符串或数字，且不能动态改变。</li>
<li>保留关键字 <code>*this</code> 代表在 for 循环中的 item 本身，这种表示需要 item 本身是一个唯一的字符串或者数字，如：</li>
</ol>
<p>当数据改变触发渲染层重新渲染的时候，会校正带有 key 的组件，框架会确保他们被重新排序，而不是重新创建，以确保使组件保持自身的状态，并且提高列表渲染时的效率。</p>
<p><strong>如不提供 <code>wx:key</code>，会报一个 <code>warning</code>， 如果明确知道该列表是静态，或者不必关注其顺序，可以选择忽略。</strong></p>
<p><strong>示例代码：</strong></p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">switch</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{objectArray}}"</span> <span class="hljs-attr">wx:key</span>=<span class="hljs-string">"unique"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"display: block;"</span>></span> {{item.id}} <span class="hljs-tag"></<span class="hljs-name">switch</span>></span>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"switch"</span>></span> Switch <span class="hljs-tag"></<span class="hljs-name">button</span>></span>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"addToFront"</span>></span> Add to the front <span class="hljs-tag"></<span class="hljs-name">button</span>></span>

<span class="hljs-tag"><<span class="hljs-name">switch</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{numberArray}}"</span> <span class="hljs-attr">wx:key</span>=<span class="hljs-string">"*this"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"display: block;"</span>></span> {{item}} <span class="hljs-tag"></<span class="hljs-name">switch</span>></span>
<span class="hljs-tag"><<span class="hljs-name">button</span> <span class="hljs-attr">bindtap</span>=<span class="hljs-string">"addNumberToFront"</span>></span> Add to the front <span class="hljs-tag"></<span class="hljs-name">button</span>></span>
</code></pre>
<pre><code class="lang-js">Page({
  data: {
    objectArray: [
      {id: <span class="hljs-number">5</span>, unique: <span class="hljs-string">'unique_5'</span>},
      {id: <span class="hljs-number">4</span>, unique: <span class="hljs-string">'unique_4'</span>},
      {id: <span class="hljs-number">3</span>, unique: <span class="hljs-string">'unique_3'</span>},
      {id: <span class="hljs-number">2</span>, unique: <span class="hljs-string">'unique_2'</span>},
      {id: <span class="hljs-number">1</span>, unique: <span class="hljs-string">'unique_1'</span>},
      {id: <span class="hljs-number">0</span>, unique: <span class="hljs-string">'unique_0'</span>},
    ],
    numberArray: [<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>]
  },
  <span class="hljs-keyword">switch</span>: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">const</span> length = <span class="hljs-keyword">this</span>.data.objectArray.length
    <span class="hljs-keyword">for</span> (<span class="hljs-keyword">let</span> i = <span class="hljs-number">0</span>; i < length; ++i) {
      <span class="hljs-keyword">const</span> x = <span class="hljs-built_in">Math</span>.floor(<span class="hljs-built_in">Math</span>.random() * length)
      <span class="hljs-keyword">const</span> y = <span class="hljs-built_in">Math</span>.floor(<span class="hljs-built_in">Math</span>.random() * length)
      <span class="hljs-keyword">const</span> temp = <span class="hljs-keyword">this</span>.data.objectArray[x]
      <span class="hljs-keyword">this</span>.data.objectArray[x] = <span class="hljs-keyword">this</span>.data.objectArray[y]
      <span class="hljs-keyword">this</span>.data.objectArray[y] = temp
    }
    <span class="hljs-keyword">this</span>.setData({
      objectArray: <span class="hljs-keyword">this</span>.data.objectArray
    })
  },
  addToFront: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>) </span>{
    <span class="hljs-keyword">const</span> length = <span class="hljs-keyword">this</span>.data.objectArray.length
    <span class="hljs-keyword">this</span>.data.objectArray = [{id: length, unique: <span class="hljs-string">'unique_'</span> + length}].concat(<span class="hljs-keyword">this</span>.data.objectArray)
    <span class="hljs-keyword">this</span>.setData({
      objectArray: <span class="hljs-keyword">this</span>.data.objectArray
    })
  },
  addNumberToFront: <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e</span>)</span>{
    <span class="hljs-keyword">this</span>.data.numberArray = [ <span class="hljs-keyword">this</span>.data.numberArray.length + <span class="hljs-number">1</span> ].concat(<span class="hljs-keyword">this</span>.data.numberArray)
    <span class="hljs-keyword">this</span>.setData({
      numberArray: <span class="hljs-keyword">this</span>.data.numberArray
    })
  }
})
</code></pre>
<p><strong>注意：</strong></p>
<p>当 <code>wx:for</code> 的值为字符串时，会将字符串解析成字符串数组</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"array"</span>></span>
  {{item}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>等同于</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{['a','r','r','a','y']}}"</span>></span>
  {{item}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p><strong>注意：</strong> 花括号和引号之间如果有空格，将最终被解析成为字符串</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[1,2,3]}} "</span>></span>
  {{item}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>
<p>等同于</p>
<pre><code class="lang-html"><span class="hljs-tag"><<span class="hljs-name">view</span> <span class="hljs-attr">wx:for</span>=<span class="hljs-string">"{{[1,2,3] + ' '}}"</span> ></span>
  {{item}}
<span class="hljs-tag"></<span class="hljs-name">view</span>></span>
</code></pre>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
