<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>动画</title>
  <link rel="stylesheet" href="../../../style.css" />
  <link rel="stylesheet" href="../../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                    <div id="book-search-results">
                        <div class="search-noresults">
                            <section class="normal markdown-section">
                              <h1 id="&#x52A8;&#x753B;">&#x52A8;&#x753B;</h1>
<h2 id="&#x754C;&#x9762;&#x52A8;&#x753B;&#x7684;&#x5E38;&#x89C1;&#x65B9;&#x5F0F;">&#x754C;&#x9762;&#x52A8;&#x753B;&#x7684;&#x5E38;&#x89C1;&#x65B9;&#x5F0F;</h2>
<p>&#x5728;&#x5C0F;&#x7A0B;&#x5E8F;&#x4E2D;&#xFF0C;&#x901A;&#x5E38;&#x53EF;&#x4EE5;&#x4F7F;&#x7528; <a href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions" target="_blank">CSS &#x6E10;&#x53D8;</a> &#x548C; <a href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/CSS_Animations/Using_CSS_animations" target="_blank">CSS &#x52A8;&#x753B;</a> &#x6765;&#x521B;&#x5EFA;&#x7B80;&#x6613;&#x7684;&#x754C;&#x9762;&#x52A8;&#x753B;&#x3002;</p>
<p><a href="https://developers.weixin.qq.com/s/oHKxDPm47h5k" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>
<p>&#x540C;&#x65F6;&#xFF0C;&#x8FD8;&#x53EF;&#x4EE5;&#x4F7F;&#x7528; <a href="../../api/wx.createAnimation.html">wx.createAnimation</a> &#x63A5;&#x53E3;&#x6765;&#x52A8;&#x6001;&#x521B;&#x5EFA;&#x7B80;&#x6613;&#x7684;&#x52A8;&#x753B;&#x6548;&#x679C;&#x3002;</p>
<p>&#x52A8;&#x753B;&#x8FC7;&#x7A0B;&#x4E2D;&#xFF0C;&#x53EF;&#x4EE5;&#x4F7F;&#x7528; <code>bindtransitionend</code> <code>bindanimationstart</code> <code>bindanimationiteration</code> <code>bindanimationend</code> &#x6765;&#x76D1;&#x542C;&#x52A8;&#x753B;&#x4E8B;&#x4EF6;&#x3002;</p>
<table>
<thead>
<tr>
<th>&#x4E8B;&#x4EF6;&#x540D;</th>
<th>&#x542B;&#x4E49;</th>
</tr>
</thead>
<tbody>
<tr>
<td>transitionend</td>
<td>CSS &#x6E10;&#x53D8;&#x7ED3;&#x675F;&#x6216; <a href="../../api/wx.createAnimation.html"><code>wx.createAnimation</code></a> &#x7ED3;&#x675F;&#x4E00;&#x4E2A;&#x9636;&#x6BB5;</td>
</tr>
<tr>
<td>animationstart</td>
<td>CSS &#x52A8;&#x753B;&#x5F00;&#x59CB;</td>
</tr>
<tr>
<td>animationiteration</td>
<td>CSS &#x52A8;&#x753B;&#x7ED3;&#x675F;&#x4E00;&#x4E2A;&#x9636;&#x6BB5;</td>
</tr>
<tr>
<td>animationend</td>
<td>CSS &#x52A8;&#x753B;&#x7ED3;&#x675F;</td>
</tr>
</tbody>
</table>
<p>&#x6CE8;&#x610F;&#xFF1A;&#x8FD9;&#x51E0;&#x4E2A;&#x4E8B;&#x4EF6;&#x90FD;&#x4E0D;&#x662F;&#x5192;&#x6CE1;&#x4E8B;&#x4EF6;&#xFF0C;&#x9700;&#x8981;&#x7ED1;&#x5B9A;&#x5728;&#x771F;&#x6B63;&#x53D1;&#x751F;&#x4E86;&#x52A8;&#x753B;&#x7684;&#x8282;&#x70B9;&#x4E0A;&#x624D;&#x4F1A;&#x751F;&#x6548;&#x3002;</p>
<h2 id="&#x9AD8;&#x7EA7;&#x7684;&#x52A8;&#x753B;&#x65B9;&#x5F0F;">&#x9AD8;&#x7EA7;&#x7684;&#x52A8;&#x753B;&#x65B9;&#x5F0F;</h2>
<p>&#x5728;&#x4E00;&#x4E9B;&#x590D;&#x6742;&#x573A;&#x666F;&#x4E0B;&#xFF0C;&#x4E0A;&#x8FF0;&#x7684;&#x52A8;&#x753B;&#x65B9;&#x6CD5;&#x53EF;&#x80FD;&#x5E76;&#x4E0D;&#x9002;&#x7528;&#x3002;</p>
<p><a href="interactive-animation.html">WXS &#x54CD;&#x5E94;&#x4E8B;&#x4EF6;</a> &#x7684;&#x65B9;&#x5F0F;&#x53EF;&#x4EE5;&#x901A;&#x8FC7;&#x4F7F;&#x7528; WXS &#x6765;&#x54CD;&#x5E94;&#x4E8B;&#x4EF6;&#x7684;&#x65B9;&#x6CD5;&#x6765;&#x52A8;&#x6001;&#x8C03;&#x6574;&#x8282;&#x70B9;&#x7684; style &#x5C5E;&#x6027;&#x3002;&#x901A;&#x8FC7;&#x4E0D;&#x65AD;&#x6539;&#x53D8; style &#x5C5E;&#x6027;&#x7684;&#x503C;&#x53EF;&#x4EE5;&#x505A;&#x5230;&#x52A8;&#x753B;&#x6548;&#x679C;&#x3002;&#x540C;&#x65F6;&#xFF0C;&#x8FD9;&#x79CD;&#x65B9;&#x5F0F;&#x4E5F;&#x53EF;&#x4EE5;&#x6839;&#x636E;&#x7528;&#x6237;&#x7684;&#x89E6;&#x6478;&#x4E8B;&#x4EF6;&#x6765;&#x52A8;&#x6001;&#x5730;&#x751F;&#x6210;&#x52A8;&#x753B;&#x3002;</p>
<p>&#x4F7F;&#x7528;&#x8FDE;&#x7EED;&#x4F7F;&#x7528; setData &#x6765;&#x6539;&#x53D8;&#x754C;&#x9762;&#x7684;&#x65B9;&#x6CD5;&#x4E5F;&#x53EF;&#x4EE5;&#x8FBE;&#x5230;&#x52A8;&#x753B;&#x7684;&#x6548;&#x679C;&#x3002;&#x8FD9;&#x6837;&#x53EF;&#x4EE5;&#x4EFB;&#x610F;&#x5730;&#x6539;&#x53D8;&#x754C;&#x9762;&#xFF0C;&#x4F46;&#x901A;&#x5E38;&#x4F1A;&#x4EA7;&#x751F;&#x8F83;&#x5927;&#x7684;&#x5EF6;&#x8FDF;&#x6216;&#x5361;&#x987F;&#xFF0C;&#x751A;&#x81F3;&#x5BFC;&#x81F4;&#x5C0F;&#x7A0B;&#x5E8F;&#x50F5;&#x6B7B;&#x3002;&#x6B64;&#x65F6;&#x53EF;&#x4EE5;&#x901A;&#x8FC7;&#x5C06;&#x9875;&#x9762;&#x7684; setData &#x6539;&#x4E3A; <a href="../custom-component/index.html">&#x81EA;&#x5B9A;&#x4E49;&#x7EC4;&#x4EF6;</a> &#x4E2D;&#x7684; setData &#x6765;&#x63D0;&#x5347;&#x6027;&#x80FD;&#x3002;&#x4E0B;&#x9762;&#x7684;&#x4F8B;&#x5B50;&#x662F;&#x4F7F;&#x7528; setData &#x6765;&#x5B9E;&#x73B0;&#x79D2;&#x8868;&#x52A8;&#x753B;&#x7684;&#x793A;&#x4F8B;&#x3002;</p>
<p><a href="https://developers.weixin.qq.com/s/cRTvdPmO7d5T" title="&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;" target="_blank">&#x5728;&#x5F00;&#x53D1;&#x8005;&#x5DE5;&#x5177;&#x4E2D;&#x9884;&#x89C8;&#x6548;&#x679C;</a></p>

                            </section>
                        </div>
                        
                    </div>
                
</body>
</html>
