<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>组件</title>
  <link rel="stylesheet" href="../../style.css" />
  <link rel="stylesheet" href="../../website.css" />
  <style type="text/css">
    body {
      padding: 1em;
    }
  </style>
</head>
<body>
  
                            
<div id="book-search-results">
    <div class="search-noresults">
    
                                <section class="normal markdown-section">
                                
                                <h1 id="基础组件">基础组件</h1>
<p>框架为开发者提供了一系列基础组件，开发者可以通过组合这些基础组件进行快速开发。</p>
<p>详细介绍请参考<a href="../../component/">组件文档</a></p>

                                
                                </section>
                            
    </div>
    
</div>

                        
</body>
</html>
